Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Fix tests
  docs/how-to/development/dependencies.md
  pyproject.toml
  uv.lock
Due: prettier

resync lockfiles
  uv.lock
Due: none

fix(deps): pin django-tasks <0.12.0 to keep DatabaseBackend
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: d7d744bf9ab6f9ef832f6538609d7b225568621a
  .doctrees/environment.pickle
  .doctrees/reference/data-platform/dbt.doctree
  _downloads/f7d990db7be3f6c40758602a8c077d03/index.html
  _downloads/fbcee37c4e63cbea564f55ebb821c84e/.pre-commit-config.yaml
  _sources/reference/data-platform/dbt.md.txt
  reference/data-platform/dbt.html
  searchindex.js
Due: prettier

Ajout de uv au projet data-platform
  data-platform/.sqlfluffignore
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: none

Initialisation courbe d'apprentissage
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
Due: ruff, ruff-format, djade

Make infotri responsive
  webapp/previews/template_preview.py
  webapp/settings/base.py
  webapp/templates/ui/components/infotri/infotri.html
  webapp/templates/ui/components/infotri/svg/cartouche-fr.html
  webapp/templates/ui/tests/t_19_infotri_responsive.html
Due: ruff, ruff-format, djade

Utilisation des workspaces uv (#3058)
  .github/actions/setup-backend/action.yml
  .github/actions/setup-e2e-tools/action.yml
  .github/workflows/_backend-test-job.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  SECURITY.md
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  docs/explanations/data/README.md
  docs/how-to/development/dependencies.md
  docs/how-to/development/installation.md
  docs/reference/coding/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/ci-cd.md
  docs/reference/webapp/README.md
  pyproject.toml
  uv.lock
  webapp/Makefile
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/previews/template_preview.py
  webapp/pyproject.toml
  webapp/qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/management/commands/populate_sous_cat.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/unit_tests/search_tests/test_purge_orphan_searchterm_index.py
  webapp/uv.lock
Due: ruff, ruff-format, djade, prettier

deploy: d938b9e6aceb52810712fc84877d50c9cdf96171
  .doctrees/environment.pickle
  .doctrees/explanations/data/README.doctree
  .doctrees/how-to/development/dependencies.doctree
  .doctrees/how-to/development/installation.doctree
  .doctrees/reference/coding/README.doctree
  .doctrees/reference/data-platform/airflow.doctree
  .doctrees/reference/infrastructure/ci-cd.doctree
  .doctrees/reference/webapp/README.doctree
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
  _downloads/fbcee37c4e63cbea564f55ebb821c84e/.pre-commit-config.yaml
  _sources/explanations/data/README.md.txt
  _sources/how-to/development/dependencies.md.txt
  _sources/how-to/development/installation.md.txt
  _sources/reference/coding/README.md.txt
  _sources/reference/data-platform/airflow.md.txt
  _sources/reference/infrastructure/ci-cd.md.txt
  _sources/reference/webapp/README.md.txt
  explanations/data/README.html
  how-to/development/dependencies.html
  how-to/development/installation.html
  reference/coding/README.html
  reference/data-platform/airflow.html
  reference/infrastructure/ci-cd.html
  reference/webapp/README.html
  searchindex.js
Due: ruff, ruff-format, djade, prettier

Ajout de la documentation
  docs/reference/data-platform/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/data-platform/clone-referentials.md
  docs/reference/data-platform/sources.md
Due: prettier

Ajustement des DAGs cone etablissment et acteurs fermés
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
Due: ruff, ruff-format, djade

Modifie la logique de clone qui lance (ou pas) une comande dbt de consolidation
  data-platform/dags/acteurs/dags/compute_acteur.py
  data-platform/dags/clone/config/tasks.py
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
  data-platform/dags/clone/dags/clone_insee_commune.py
  data-platform/dags/clone/dags/clone_koumoul_epci.py
  data-platform/dags/clone/dags/clone_laposte_code_postal.py
  data-platform/dags/clone/dags/refresh_geo_models.py
  data-platform/dags/clone/tasks/airflow_logic/chain_tasks.py
  data-platform/dags/clone/tasks/airflow_logic/clone_dbt_task.py
  data-platform/dags/tests/clone/tasks/airflow_logic/test_chain_tasks.py
  data-platform/dags/tests/clone/tasks/airflow_logic/test_clone_dbt_task.py
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/ae_annuaire_entreprises/schema.yml
  docs/reference/data-platform/dbt.md
Due: ruff, ruff-format, djade, prettier

change l'ordre des clone de Annuaire entreprise pour que ce soit plus logique
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
Due: ruff, ruff-format, djade

Modifie la logique de clone qui lance (ou pas) une comande dbt de consolidation (#3169)
  data-platform/dags/acteurs/dags/compute_acteur.py
  data-platform/dags/clone/config/tasks.py
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
  data-platform/dags/clone/dags/clone_insee_commune.py
  data-platform/dags/clone/dags/clone_koumoul_epci.py
  data-platform/dags/clone/dags/clone_laposte_code_postal.py
  data-platform/dags/clone/dags/refresh_geo_models.py
  data-platform/dags/clone/tasks/airflow_logic/chain_tasks.py
  data-platform/dags/clone/tasks/airflow_logic/clone_dbt_task.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
  data-platform/dags/tests/clone/tasks/airflow_logic/test_chain_tasks.py
  data-platform/dags/tests/clone/tasks/airflow_logic/test_clone_dbt_task.py
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/ae_annuaire_entreprises/schema.yml
  docs/reference/data-platform/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/data-platform/clone-referentials.md
  docs/reference/data-platform/dbt.md
  docs/reference/data-platform/sources.md
Due: ruff, ruff-format, djade, prettier

Suite de la ré-organisation
  data-platform/dags/clone/dags/clone_ban_adresses.py
  data-platform/dags/clone/dags/clone_insee_commune.py
  data-platform/dbt/models/base/ae_annuaire_entreprises/schema.yml
  data-platform/dbt/models/base/ban/base_ban_adresses.sql
  data-platform/dbt/models/base/ban/base_ban_lieux_dits.sql
  data-platform/dbt/models/base/ban/schema.yml
  data-platform/dbt/models/exposure/ae/exposure_stats_acteur_siret_successeur.sql
  data-platform/dbt/models/exposure/ae/schema.yml
  data-platform/dbt/models/exposure/geo/schema.yml
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/ae_annuaire_entreprises/schema.yml
  data-platform/dbt/models/intermediate/ban/int_ban_adresses.sql
  data-platform/dbt/models/intermediate/ban/int_ban_villes.sql
  data-platform/dbt/models/intermediate/ban/schema.yml
  data-platform/dbt/models/intermediate/geo/schema.yml
  data-platform/dbt/models/marts/ae/marts_ae_lien_succession_resolved_vueacteur.sql
  data-platform/dbt/models/marts/ae/schema.yml
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_candidates.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_replaced.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_suggest_not_replaced_etablissement.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_suggest_not_replaced_unite.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_suggest_replaced_other_siren.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_suggest_replaced_same_siren.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_rgpd_suggest.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_villes_candidates.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_villes_suggest_new.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_villes_suggest_typo.sql
  data-platform/dbt/models/marts/enrich/schema.yml
  data-platform/dbt/models/marts/stats/schema.yml
Due: ruff, ruff-format, djade

Persister les tables de stats et les tables intermediates générées après les clones
  data-platform/dags/stats/dags/compute_stats.py
  data-platform/dbt/dbt_project.yml
  data-platform/dbt/models/exposure/stats/schema.yml
Due: ruff, ruff-format, djade

deploy: 870ecdbf9c67073a9b5d0d3e3dfadd91475bb28b
  .doctrees/environment.pickle
  .doctrees/explanations/data/flux-enrich.doctree
  .doctrees/reference/data-platform/clone-referentials.doctree
  .doctrees/reference/data-platform/dbt.doctree
  _downloads/b994d32c397418f12f69d604e073939c/enrich_siret_siren.py
  _sources/explanations/data/flux-enrich.md.txt
  _sources/reference/data-platform/clone-referentials.md.txt
  _sources/reference/data-platform/dbt.md.txt
  explanations/data/flux-enrich.html
  reference/data-platform/clone-referentials.html
  reference/data-platform/dbt.html
  searchindex.js
Due: ruff, ruff-format, djade, prettier

Première version de suggestion à partir de la table lien_suggestion
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
  data-platform/dags/enrich/config/cohorts.py
  data-platform/dags/enrich/config/columns.py
  data-platform/dags/enrich/config/dbt.py
  data-platform/dags/enrich/config/models.py
  data-platform/dags/enrich/config/tasks.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
  data-platform/dags/enrich/dags/enrich_siret_siren_lien_succession.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_lien_succession_suggest_task.py
  data-platform/dags/enrich/tasks/business_logic/enrich_lien_succession_suggest.py
  data-platform/dags/tests/enrich/tasks/test_enrich_lien_succession_suggest.py
  data-platform/dags/tests/utils/test_docs.py
  docs/reference/data-platform/README.md
  docs/reference/data-platform/enrich-acteurs-closed.md
  docs/reference/data-platform/enrich-siret-siren-lien-succession.md
  webapp/data/migrations/0024_alter_suggestioncohorte_type_action.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/views.py
Due: ruff, ruff-format, djade, prettier

Première version de suggestion à partir de la table lien_suggestion (#3177)
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
  data-platform/dags/enrich/config/cohorts.py
  data-platform/dags/enrich/config/columns.py
  data-platform/dags/enrich/config/dbt.py
  data-platform/dags/enrich/config/models.py
  data-platform/dags/enrich/config/tasks.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
  data-platform/dags/enrich/dags/enrich_siret_siren_lien_succession.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_lien_succession_suggest_task.py
  data-platform/dags/enrich/tasks/business_logic/enrich_lien_succession_suggest.py
  data-platform/dags/tests/enrich/tasks/test_enrich_lien_succession_suggest.py
  data-platform/dags/tests/utils/test_docs.py
  docs/reference/data-platform/README.md
  docs/reference/data-platform/enrich-acteurs-closed.md
  docs/reference/data-platform/enrich-siret-siren-lien-succession.md
  webapp/data/migrations/0024_alter_suggestioncohorte_type_action.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/views.py
Due: ruff, ruff-format, djade, prettier

utiliser la fonction chain au lieu de l'operateur >>
  data-platform/dags/acteurs/dags/compute_acteur.py
  data-platform/dags/acteurs/dags/export_opendata.py
  data-platform/dags/crawl/dags/crawl_urls.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
  data-platform/dags/enrich/dags/enrich_acteurs_normalize_codepostal.py
  data-platform/dags/enrich/dags/enrich_acteurs_rgpd.py
  data-platform/dags/enrich/dags/enrich_acteurs_villes.py
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

utiliser la fonction chain au lieu de l'operateur >> (#3178)
  data-platform/dags/acteurs/dags/compute_acteur.py
  data-platform/dags/acteurs/dags/export_opendata.py
  data-platform/dags/crawl/dags/crawl_urls.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
  data-platform/dags/enrich/dags/enrich_acteurs_normalize_codepostal.py
  data-platform/dags/enrich/dags/enrich_acteurs_rgpd.py
  data-platform/dags/enrich/dags/enrich_acteurs_villes.py
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

deploy: e4045ba2008fb053fb7600d7c21bbccf48d708b2
  .doctrees/environment.pickle
  _downloads/0faec3af0f1064fd597dbbc42e9b6ec0/enrich_acteurs_closed.py
  _downloads/b994d32c397418f12f69d604e073939c/enrich_siret_siren.py
Due: ruff, ruff-format, djade

deploy: 497db87d5d3d5a0b2370a405a39887efd3615701
  .doctrees/environment.pickle
Due: none

deploy: 6a3992f11447bf3b2f29c986da2e6dacb1c6531d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 6540e3fcf81129816ef3f9a3edff74b9d9d92789
  .doctrees/environment.pickle
Due: none

deploy: 45553fc973da6567204dd6326f71b53920ee8c3e
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: e2043c98024fb1e7a93d713d897b47313cfd4dc1
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: f2d1bd20c11a8bfb92b9de31446bb7f9e147e946
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 7cba1e920613f4dd037cf77a1b47f3848c64ab6f
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 25318f33d86f288505d8eb17b81cdf340f2b24fc
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

fix wagtail preview accented letters
  webapp/qfdmd/middleware.py
Due: ruff, ruff-format, djade

Corrige la preview wagtail qui bug avec un accent dans le slug (#3195)
  webapp/qfdmd/middleware.py
Due: ruff, ruff-format, djade

deploy: b09b9ccb487225abd2735d562a066c260474ae59
  .doctrees/environment.pickle
Due: none

build(deps-dev): bump black from 25.1.0 to 26.5.1
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_schema.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
  pyproject.toml
  uv.lock
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/previews/template_preview.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/management/commands/populate_sous_cat.py
Due: ruff, ruff-format, djade

Remove mobileOnly from ab-test controller, delegate to PostHog
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/templates/templatetags/carte.html
  webapp/unit_tests/core/templatetags/test_carte_tag.py
Due: ruff, ruff-format, djade, prettier

make placeholder contribuable
  webapp/core/context_processors.py
  webapp/qfdmd/forms.py
  webapp/qfdmd/migrations/0088_search_settings.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
