Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

improve
  webapp/qfdmo/views/adresses.py
Due: ruff, ruff-format, djade

Update inte tests
  webapp/integration_tests/carte/test_acteur_detail.py
Due: ruff, ruff-format, djade

bad test
  webapp/integration_tests/carte/test_acteur_detail.py
Due: ruff, ruff-format, djade

deploy: 6e136dc538e16dc77d76ea45a9f698982e750fbc
  .doctrees/environment.pickle
Due: none

deploy: ae61b1d5b12a43a497a817a1f16bff9ca6d2609d
  .doctrees/environment.pickle
Due: none

deploy: a6090d93845d038028174a313b774fa2b6900557
  .doctrees/environment.pickle
Due: none

deploy: 58050022dfcf6cf9885cb245cd671b6c9d6b0720
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 19f2be0bc3bf310ec974328772c60156b9604f9b
  .doctrees/environment.pickle
Due: none

deploy: 9dc994ec9c0548dc2f3cfed565943bf10047b23d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 1f0c73d8fa3d0214cf058ee317dfb01549fba323
  .doctrees/environment.pickle
Due: none

deploy: 1b104c766e44467772022dac79dd4b2d1d68dec6
  .doctrees/environment.pickle
Due: none

deploy: ab4cf227ad053d867d63d4b045c06266fa8db839
  .doctrees/environment.pickle
Due: none

fix tests
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

Afficher les lien des siret, siret, url
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

refacto
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/templates/data/_partials/cells/action.html
  webapp/templates/data/_partials/cells/display.html
  webapp/templates/data/_partials/cells/editable.html
  webapp/templates/data/_partials/cells/html.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

deploy: 0d475b622608e162a6b04e1bf20d83795139fefa
  .doctrees/environment.pickle
Due: none

deploy: 1dcbffefe9be7ac11dd34e858426508b050f7709
  .doctrees/environment.pickle
Due: none

refacto et affichage
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/templates/data/_partials/cells/_links.html
  webapp/templates/data/_partials/cells/action.html
  webapp/templates/data/_partials/cells/display.html
  webapp/templates/data/_partials/cells/editable.html
  webapp/templates/data/_partials/cells/html.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

Corrige le map formulaire id du formulaire sur la fiche acteur (#2695)
  webapp/core/constants.py
  webapp/integration_tests/carte/test_acteur_detail.py
  webapp/qfdmo/views/adresses.py
  webapp/qfdmo/views/formulaire.py
  webapp/templates/ui/pages/acteur.html
Due: ruff, ruff-format, djade

deploy: 969fe66b8786719ad595cc6067596c03d99e9773
  .doctrees/environment.pickle
Due: none

add lookbook example
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

manage links
  webapp/data/models/suggestions/abstract.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
Due: ruff, ruff-format, djade

Revert "Bump eslint from 9.39.4 to 10.1.0 in /webapp in the eslint group across 1 directory (#2692)"
  webapp/package-lock.json
  webapp/package.json
Due: none

Revert le Bump de eslint ^10 car eslint-config-love n'est pas prêt (#2699)
  webapp/package-lock.json
  webapp/package.json
Due: none

deploy: 7302737a7b89bb1122cc23baed17e83f0b8da9f9
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Afficher les liens des siret, siret, url (#2655)
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/abstract.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/templates/data/_partials/cells/_links.html
  webapp/templates/data/_partials/cells/action.html
  webapp/templates/data/_partials/cells/display.html
  webapp/templates/data/_partials/cells/editable.html
  webapp/templates/data/_partials/cells/html.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

deploy: 1e6ae07c17964e635f9e5dda1db1dd39af12f181
  .doctrees/environment.pickle
Due: none

ajout d'un avertissement si la page à rediriger existe déjà dans le CMS
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
Due: ruff, ruff-format, djade

Remove site
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
Due: ruff, ruff-format, djade

Préparer la dépréciation de la page de configuration de l'infotri
  webapp/infotri/urls.py
  webapp/infotri/views.py
  webapp/templates/ui/pages/infotri.html
Due: ruff, ruff-format, djade

Fix e2e
  webapp/e2e_tests/infotri.spec.ts
Due: prettier

euuuh, j'ai été vite en besogne
  webapp/infotri/urls.py
  webapp/infotri/views.py
  webapp/templates/robots.txt
  webapp/templates/ui/pages/infotri.html
  webapp/unit_tests/core/test_robots.py
Due: ruff, ruff-format, djade

revert
  webapp/e2e_tests/infotri.spec.ts
Due: prettier

revert
  webapp/infotri/urls.py
  webapp/infotri/views.py
  webapp/templates/ui/pages/infotri.html
Due: ruff, ruff-format, djade

Exclusion de la page de configuration de l'infotri de l'index google (#2702)
  webapp/templates/robots.txt
  webapp/unit_tests/core/test_robots.py
Due: ruff, ruff-format, djade

deploy: 47749b321f38c51f4a13d3040861edabd7ec9b64
  .doctrees/environment.pickle
Due: none

ajout d'un avertissement si la page à rediriger existe déjà dans le CMS (#2701)
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
Due: ruff, ruff-format, djade

deploy: c9ca19f28894671efbc828a1263ade0242d2b5ab
  .doctrees/environment.pickle
Due: none

add cache fragment + django silk + conditional toolbar
  uv.lock
  webapp/core/settings.py
  webapp/pyproject.toml
  webapp/qfdmd/signals.py
  webapp/templates/ui/components/footer/_dsfr_footer.html
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/header/header.html
Due: ruff, ruff-format, djade

Disable autosave
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
