Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Mise à jour du texte d'aide
  webapp/qfdmo/models/config.py
Due: ruff, ruff-format, djade

Supprime le bouton Infos obsolète de la carte
  webapp/core/templatetags/modal_tags.py
  webapp/previews/template_preview.py
  webapp/templates/ui/components/carte/legend.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/modals/filtres.html
  webapp/templates/ui/components/modals/infos.html
  webapp/templates/ui/components/modals/infos_avec_toggle.md
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

deploy: aa70a97ab89b164a7c06e07ad4ba656b2e2035c9
  .doctrees/environment.pickle
Due: none

deploy: 4bac9290ed55669fb81cd862ee91ed626483140c
  .doctrees/environment.pickle
Due: none

deploy: 19868be2b962d37e1b656629db97a41c733f3d83
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 2548ab9bbd894eeea5d42ec3204af1ff32a5424a
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

preview environment
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/_webapp-build-and-push-docker.yml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-down.yml
  .github/workflows/preview-up.yml
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/environments/preview/_template/database/terragrunt.hcl
  infrastructure/environments/preview/_template/object_storage/terragrunt.hcl
  infrastructure/modules/preview_database/main.tf
  infrastructure/modules/preview_database/outputs.tf
  infrastructure/modules/preview_database/variables.tf
  infrastructure/modules/preview_database/versions.tf
  infrastructure/modules/preview_object_storage/main.tf
  infrastructure/modules/preview_object_storage/outputs.tf
  infrastructure/modules/preview_object_storage/variables.tf
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/outputs.tf
  infrastructure/modules/webapp_container/variables.tf
  infrastructure/modules/webapp_container/versions.tf
Due: none

fix preview path
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/preview-down.yml
  .github/workflows/preview-up.yml
Due: none

quelques adaptations
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver-start.sh
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  data-platform/uv.lock
  uv.lock
Due: none

Gestion des configurations des dags de type source
  data-platform/dags/sources/dags/source_aliapur.py
  data-platform/dags/sources/dags/source_batribox.py
  data-platform/dags/sources/dags/source_citeo.py
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_corepile.py
  data-platform/dags/sources/dags/source_cyclevia.py
  data-platform/dags/sources/dags/source_ecodds.py
  data-platform/dags/sources/dags/source_ecologic.py
  data-platform/dags/sources/dags/source_ecomaison.py
  data-platform/dags/sources/dags/source_ecopae.py
  data-platform/dags/sources/dags/source_ecosystem.py
  data-platform/dags/sources/dags/source_ocab.py
  data-platform/dags/sources/dags/source_ocad3e.py
  data-platform/dags/sources/dags/source_pharmacies.py
  data-platform/dags/sources/dags/source_pyreo.py
  data-platform/dags/sources/dags/source_refashion.py
  data-platform/dags/sources/dags/source_s3.py
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/dags/source_soren.py
  data-platform/dags/sources/dags/source_valdelia.py
Due: ruff, ruff-format, djade

adaptation des dockerfile
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
Due: none

Migration airflow v3: docker et pyproject.toml
  data-platform/airflow-dag-processor-start.sh
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/.airflowignore
  data-platform/dags/.env.template
  data-platform/pyproject.toml
  docker-compose.yml
  uv.lock
Due: none

adaptation to avoid define a new XCom backend
  data-platform/dags/.env.template
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/shared/tasks/airflow_logic/trigger_dag_task.py
  data-platform/dags/shared/xcom/dataframe_xcom_backend.py
  data-platform/dags/shared/xcom/normalize.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  data-platform/dags/tools/dags/purge_log_db.py
  data-platform/scripts/db_cleanup.sh
  data-platform/scripts/infrastructure/purge_db_logs.sh
  docker-compose.yml
Due: ruff, ruff-format, djade

wip
  data-platform/dags/enrich/tasks/airflow_logic/enrich_config_create_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_model_suggest_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_refresh_task.py
  data-platform/dags/shared/types/serializers.py
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_candidates.sql
  docker-compose.yml
  docs/reference/data-platform/airflow.md
Due: ruff, ruff-format, djade, prettier

merge uv.lock
  uv.lock
Due: none

gestion des depreciations
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_model_table_consistency_task.py
  data-platform/dags/clone/dags/refresh_geo_models.py
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_read_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_failing_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_check_crawl_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_read_urls_from_db_task.py
  data-platform/dags/enrich/config/xcoms.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_model_suggest_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_refresh_task.py
  data-platform/dags/shared/tasks/airflow_logic/trigger_dag_task.py
  data-platform/dags/stats/dags/compute_stats.py
  data-platform/dags/suggestions/dags/apply_suggestions.py
  data-platform/dags/suggestions/dags/apply_suggestions_groupe.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

cast column to avoid numpy error while save in DB
  data-platform/dags/sources/tasks/business_logic/db_data_prepare.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/sources/tasks/business_logic/source_data_validate.py
  data-platform/dags/sources/tasks/transform/sequence_utils.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

doc d'un cas specifique
  docs/how-to/troubleshooting.md
Due: prettier

gestion des XCOM avec un backend custom
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_normalize.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  data-platform/dags/shared/xcom/__init__.py
  data-platform/dags/shared/xcom/dataframe_xcom_backend.py
Due: ruff, ruff-format, djade

Fix
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/environments/preview/_template/database/terragrunt.hcl
  infrastructure/environments/preview/_template/object_storage/terragrunt.hcl
Due: none

deploy: d6feda401c2d00f409afcbceb7b0f2261f43797f
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

wip
  webapp/qfdmo/forms.py
  webapp/qfdmo/geo_api.py
  webapp/qfdmo/models/acteur.py
  webapp/qfdmo/urls.py
  webapp/qfdmo/views/adresses.py
  webapp/qfdmo/views/carte.py
Due: ruff, ruff-format, djade

wip
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

Terraform webapp
  .github/workflows/_webapp-build-and-push-docker.yml
  Makefile
  docs/reference/infrastructure/provisioning.md
  infrastructure/environments/preview/container/terragrunt.hcl
  infrastructure/environments/preview/container_nginx/terragrunt.hcl
  infrastructure/environments/preview/container_webapp/terragrunt.hcl
  infrastructure/environments/preview/database/terraform.tfvars.example
  infrastructure/environments/preview/object_storage/terragrunt.hcl
  infrastructure/environments/root.hcl
  infrastructure/environments/variables.tf
  infrastructure/modules/container/airflow-scheduler.tf
  infrastructure/modules/container/namespace.tf
  infrastructure/modules/container/outputs.tf
  infrastructure/modules/container/secrets.tf
  infrastructure/modules/container/variables.tf
  infrastructure/modules/container_nginx/main.tf
  infrastructure/modules/container_nginx/outputs.tf
  infrastructure/modules/container_nginx/variables.tf
  infrastructure/modules/container_webapp/main.tf
  infrastructure/modules/container_webapp/outputs.tf
  infrastructure/modules/container_webapp/secrets.tf
  infrastructure/modules/container_webapp/variables.tf
  infrastructure/modules/object_storage/outputs.tf
  infrastructure/modules/object_storage/variables.tf
  infrastructure/modules/object_storage/webapp.tf
  scripts/restore_prod_to_preview.sh
  webapp/servers.conf.erb
Due: prettier

follow up claude session
  SESSION_HANDOFF_preview_environment.md
Due: prettier

deploy: cf0d007cd5adbc6914260c99b865f49ddce5a961
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 646c3696c8e303dffcbacb2056f0d8f50acd5b46
  .doctrees/environment.pickle
Due: none

deploy: fb84476e3c63ac633fd058751ce778e0b5e7357d
  .doctrees/environment.pickle
Due: none

Permettre plus de retry de health check avant de tomber en erreur (#2763)
  infrastructure/environments/preprod/container/.terraform.lock.hcl
  infrastructure/environments/preprod/container/terragrunt.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/environments/preprod/database_sample/.terraform.lock.hcl
  infrastructure/environments/preprod/object_storage/.terraform.lock.hcl
  infrastructure/environments/prod/container/.terraform.lock.hcl
  infrastructure/environments/prod/container/terragrunt.hcl
  infrastructure/environments/prod/container_registry/.terraform.lock.hcl
  infrastructure/environments/prod/database/.terraform.lock.hcl
  infrastructure/environments/prod/object_storage/.terraform.lock.hcl
  infrastructure/environments/root.hcl
  infrastructure/modules/container/airflow-webserver.tf
Due: none

deploy: 0f5292e26e0fd1fdffb9a9c0d003da0585486043
  .doctrees/environment.pickle
Due: none

deploy: aef145ba2b8dc47dd5f1f58e9af54977353f2e1e
  .doctrees/environment.pickle
Due: none

deploy: e654dd63ff15f79d9bce536e3a4c122e86878709
  .doctrees/environment.pickle
Due: none

deploy: ec9254e70cb159f9cf8f19d12f4e7766bc52f741
  .doctrees/environment.pickle
Due: none

missing migation
  webapp/qfdmo/migrations/0190_alter_carteconfig_supprimer_branding.py
Due: ruff, ruff-format, djade

Supprime le bouton Infos obsolète de la carte (#2759)
  webapp/core/templatetags/modal_tags.py
  webapp/previews/template_preview.py
  webapp/qfdmo/migrations/0190_alter_carteconfig_supprimer_branding.py
  webapp/qfdmo/models/config.py
  webapp/templates/ui/components/carte/legend.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/modals/filtres.html
  webapp/templates/ui/components/modals/infos.html
  webapp/templates/ui/components/modals/infos_avec_toggle.md
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

deploy: c8d4b7284caf9e4b32b8ac1560b89f5d79cd7d0c
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

deploy: 5333e08f89ed552da31b51e988e9a0cec5d24c51
  .doctrees/environment.pickle
Due: none
