Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Permettre de clusteriser par distance exprimé en mettre
  data-platform/dags/cluster/config/constants.py
  data-platform/dags/cluster/config/model.py
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/cluster/tasks/business_logic/misc/cluster_exclude_intra_source.py
Due: ruff, ruff-format, djade

adapt tests
  data-platform/dags/cluster/config/model.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/tests/cluster/config/test_model.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters_prepare.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_exclude_intra_source.py
  data-platform/notebooks/clustering.ipynb
Due: ruff, ruff-format, djade

Gestion des paramètre du DAG de clustering
  data-platform/dags/cluster/config/constants.py
  data-platform/dags/cluster/config/model.py
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
Due: ruff, ruff-format, djade

adding tests
  data-platform/dags/cluster/config/model.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/tests/cluster/config/test_model.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters.py
  data-platform/uv.lock
Due: ruff, ruff-format, djade

Correction de bug quand exacts_fields est empty
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/context.py
Due: ruff, ruff-format, djade

Permettre de clusteriser par distance exprimée en mètres (#2728)
  data-platform/dags/cluster/config/constants.py
  data-platform/dags/cluster/config/model.py
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/context.py
  data-platform/dags/cluster/tasks/business_logic/misc/cluster_exclude_intra_source.py
  data-platform/dags/tests/cluster/config/test_model.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters_prepare.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_exclude_intra_source.py
  data-platform/notebooks/clustering.ipynb
  data-platform/uv.lock
Due: ruff, ruff-format, djade

deploy: 476e122e12ce26fa086f7807351830d710e6f3cc
  .doctrees/environment.pickle
Due: none

a11y(produit): ajoute le fil d'ariane sur ProduitPage et FamilyPage
  webapp/templates/ui/components/produit/heading.html
Due: none

Relecture du MCP Claudé
  webapp/mcp_server/docs/00-about.md
  webapp/mcp_server/docs/10-workflow.md
  webapp/mcp_server/docs/40-actions.md
  webapp/mcp_server/docs/60-sources.md
  webapp/mcp_server/server.py
Due: ruff, ruff-format, djade, prettier

[Claude] investigation serveur MCP
  webapp/core/urls.py
  webapp/mcp_server/__init__.py
  webapp/mcp_server/apps.py
  webapp/mcp_server/docs.py
  webapp/mcp_server/docs/00-about.md
  webapp/mcp_server/docs/10-workflow.md
  webapp/mcp_server/docs/20-geocoding.md
  webapp/mcp_server/docs/30-search-api.md
  webapp/mcp_server/docs/40-actions.md
  webapp/mcp_server/docs/50-sous-categories.md
  webapp/mcp_server/docs/60-sources.md
  webapp/mcp_server/docs/70-examples.md
  webapp/mcp_server/server.py
  webapp/mcp_server/urls.py
  webapp/mcp_server/views.py
  webapp/unit_tests/mcp_server/test_mcp_server.py
  webapp/unit_tests/mcp_server/test_mcp_views.py
Due: ruff, ruff-format, djade, prettier

a11y(carte): retire tabindex="-1" du tooltip de partage de la fiche acteur
  webapp/templates/ui/components/acteur/_action_share.html
Due: none

a11y(formulaires): marque les champs facultatifs au lieu des obligatoires
  webapp/core/settings.py
Due: ruff, ruff-format, djade

a11y(carte): role="status" sur le message « pas de solution localisée »
  webapp/templates/ui/components/carte/shared/disclaimers/no_local_solution.html
Due: none

chore(deps): bump django-dsfr fork to support DSFR_MARK_OPTIONAL_FIELDS
  webapp/pyproject.toml
  webapp/uv.lock
Due: none

test(a11y): previews lookbook + tests pour les correctifs RGAA
  webapp/previews/template_preview.py
  webapp/unit_tests/core/test_accessibilite_previews.py
Due: ruff, ruff-format, djade

Carte iframe : combobox autocomplete ARIA pour le champ adresse
  webapp/previews/template_preview.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/urls.py
  webapp/qfdmo/views/autocomplete.py
  webapp/qfdmo/widgets.py
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/carte/adresse_input_form.html
  webapp/templates/ui/forms/widgets/autocomplete/address_results.html
  webapp/templates/ui/forms/widgets/autocomplete/carte_address_input.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/unit_tests/qfdmo/test_autocomplete_address_view.py
  webapp/unit_tests/qfdmo/test_carte_address_widget.py
Due: ruff, ruff-format, djade, prettier

deploy: b434da3aff14bb2f226ac374170a43d27bcdbdee
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: f8688f9e6c507499dfb9ea8e5f79ea423867e73b
  .doctrees/environment.pickle
Due: none

Formulaire : combobox autocomplete ARIA et suppression de l'autocomplete legacy
  webapp/e2e_tests/helpers.ts
  webapp/qfdmo/forms.py
  webapp/qfdmo/urls.py
  webapp/qfdmo/views/autocomplete.py
  webapp/qfdmo/widgets.py
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/carte/autocomplete_controller.ts
  webapp/static/to_compile/controllers/formulaire/formulaire_synonyme_autocomplete_controller.ts
  webapp/static/to_compile/controllers/formulaire/ss_cat_object_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/generic_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/formulaire/filtres/_object_filter.html
  webapp/templates/ui/forms/widgets/autocomplete.html
  webapp/templates/ui/forms/widgets/autocomplete/formulaire_synonyme_input.html
  webapp/templates/ui/forms/widgets/autocomplete/formulaire_synonyme_results.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/formulaire.html
  webapp/unit_tests/qfdmo/test_autocomplete_formulaire_synonyme_view.py
  webapp/unit_tests/qfdmo/test_formulaire_synonyme_widget.py
Due: ruff, ruff-format, djade, prettier

Nouvelle version du serveru MCP incluant des tools
  webapp/mcp_server/api_client.py
  webapp/mcp_server/catalog.py
  webapp/mcp_server/docs/00-about.md
  webapp/mcp_server/docs/10-workflow.md
  webapp/mcp_server/docs/20-geocoding.md
  webapp/mcp_server/docs/30-search-api.md
  webapp/mcp_server/docs/40-actions.md
  webapp/mcp_server/docs/50-sous-categories.md
  webapp/mcp_server/docs/60-sources.md
  webapp/mcp_server/docs/70-examples.md
  webapp/mcp_server/server.py
  webapp/mcp_server/tools.py
  webapp/qfdmo/fixtures/sources.json
  webapp/unit_tests/mcp_server/test_mcp_server.py
Due: ruff, ruff-format, djade, prettier

deploy: dd9bc6c952da33570e6db137abd6172ff5adf8d0
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: c0398d66f39763957c123d9b7a860699e14e3754
  .doctrees/environment.pickle
Due: none

Revert "Formulaire : combobox autocomplete ARIA et suppression de l'autocomplete legacy"
  webapp/e2e_tests/helpers.ts
  webapp/qfdmo/forms.py
  webapp/qfdmo/urls.py
  webapp/qfdmo/views/autocomplete.py
  webapp/qfdmo/widgets.py
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/carte/autocomplete_controller.ts
  webapp/static/to_compile/controllers/formulaire/formulaire_synonyme_autocomplete_controller.ts
  webapp/static/to_compile/controllers/formulaire/ss_cat_object_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/generic_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/formulaire/filtres/_object_filter.html
  webapp/templates/ui/forms/widgets/autocomplete.html
  webapp/templates/ui/forms/widgets/autocomplete/formulaire_synonyme_input.html
  webapp/templates/ui/forms/widgets/autocomplete/formulaire_synonyme_results.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/formulaire.html
  webapp/unit_tests/qfdmo/test_autocomplete_formulaire_synonyme_view.py
  webapp/unit_tests/qfdmo/test_formulaire_synonyme_widget.py
Due: ruff, ruff-format, djade, prettier

deploy: 618ed7274b8a44c710cb2dc5d6d119c9c8de2113
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 8bbb90f121b802f27631c14073f4f10dd5257944
  .doctrees/environment.pickle
Due: none

deploy: 35a8e0dc5a8412655bff43c835b2564f5f61528e
  .doctrees/environment.pickle
Due: none

deploy: 156a2f22f9b254399c3f6b5fc809f348720f0c20
  .doctrees/environment.pickle
Due: none

Add cache control
  webapp/qfdmo/views/autocomplete.py
  webapp/unit_tests/qfdmo/test_autocomplete_address_view.py
Due: ruff, ruff-format, djade

deploy: 3083e9327a6b84f14671e5449ba67b7c2c560e3b
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

fix(a11y): ajouter le skip link sur les pages utilisant base.html
  webapp/templates/ui/layout/base.html
Due: none

fix(a11y): rôles ARIA banner/main, nav du surfooter et nettoyage des landmarks
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/components/carte/mode_carte.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/formulaire/header.html
  webapp/templates/ui/components/formulaire/main.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/infotri.html
Due: none

fix mcp tools
  webapp/mcp_server/api_client.py
  webapp/mcp_server/docs/30-search-api.md
  webapp/mcp_server/tools.py
Due: ruff, ruff-format, djade, prettier

fix(a11y): titre d'iframe distinct par route + data-title configurable
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
Due: prettier

fix(a11y): aria-hidden=\"true\" sur les SVG décoratifs (logos, illustrations)
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/logo/ademe.html
  webapp/templates/ui/components/logo/republique_francaise.html
  webapp/templates/ui/components/logo/site_logo_mini.html
  webapp/templates/ui/layout/_partials/header_logos.html
Due: none

fix(a11y): rendre explicites les intitulés des liens du header et de la modale d'intégration
  webapp/templates/ui/components/header/header.html
  webapp/templates/ui/components/modals/embed.html
Due: none

test(a11y): previews Lookbook + tests e2e/unit pour le lot Mineurs
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/accessibilite/iframe_titles_demo.html
  webapp/templates/ui/components/accessibilite/landmarks_demo.html
  webapp/templates/ui/components/accessibilite/liens_explicites_demo.html
  webapp/templates/ui/components/accessibilite/skip_link_demo.html
  webapp/templates/ui/components/accessibilite/svg_decoratifs_demo.html
  webapp/unit_tests/core/test_accessibilite_mineurs_previews.py
Due: ruff, ruff-format, djade, prettier

Migration airflow v3: docker et pyproject.toml
  data-platform/airflow-dag-processor-start.sh
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/.airflowignore
  data-platform/dags/.env.template
  data-platform/pyproject.toml
  docker-compose.yml
  uv.lock
Due: none

wip
  data-platform/dags/enrich/tasks/airflow_logic/enrich_config_create_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_model_suggest_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_refresh_task.py
  data-platform/dags/shared/types/serializers.py
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_candidates.sql
  docker-compose.yml
  docs/reference/data-platform/airflow.md
Due: ruff, ruff-format, djade, prettier

Gestion des configurations des dags de type source
  data-platform/dags/sources/dags/source_aliapur.py
  data-platform/dags/sources/dags/source_batribox.py
  data-platform/dags/sources/dags/source_citeo.py
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_corepile.py
  data-platform/dags/sources/dags/source_cyclevia.py
  data-platform/dags/sources/dags/source_ecodds.py
  data-platform/dags/sources/dags/source_ecologic.py
  data-platform/dags/sources/dags/source_ecomaison.py
  data-platform/dags/sources/dags/source_ecopae.py
  data-platform/dags/sources/dags/source_ecosystem.py
  data-platform/dags/sources/dags/source_ocab.py
  data-platform/dags/sources/dags/source_ocad3e.py
  data-platform/dags/sources/dags/source_pharmacies.py
  data-platform/dags/sources/dags/source_pyreo.py
  data-platform/dags/sources/dags/source_refashion.py
  data-platform/dags/sources/dags/source_s3.py
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/dags/source_soren.py
  data-platform/dags/sources/dags/source_valdelia.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
