Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

deploy: f05d1ae748e00d2eff5c3dccea4d8128e14b53cb
  .doctrees/environment.pickle
Due: none

deploy: 4ed8976af109e459d9dc87bd6edab989129e86b5
  .doctrees/environment.pickle
Due: none

improve e2e test
  e2e_tests/acteur.spec.ts
Due: prettier

Remove useless test
  e2e_tests/iframe.spec.ts
Due: prettier

Re-enable e2e tests in CI
  e2e_tests/iframe.spec.ts
Due: prettier

Finish implementation
  core/settings.py
  qfdmd/forms.py
  qfdmd/migrations/0070_searchtag_taggedsearchtag_produitpage_search_tags.py
  qfdmd/migrations/0071_alter_produitpage_search_tags.py
  qfdmd/migrations/0072_alter_taggedsearchtag_content_object.py
  qfdmd/migrations/0073_produitpage_search_variants_and_more.py
  qfdmd/migrations/0074_alter_taggedsearchtag_options_and_more.py
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  search/__init__.py
  search/admin.py
  search/apps.py
  search/management/__init__.py
  search/management/commands/__init__.py
  search/management/commands/sync_synonymes_to_search_terms.py
  search/migrations/0001_initial.py
  search/migrations/0002_rename_fields.py
  search/migrations/0003_remove_searchterm_search_sear_linked__a1b2c3_idx_and_more.py
  search/migrations/0004_searchterm_legacy.py
  search/migrations/__init__.py
  search/mixins.py
  search/models.py
  templates/ui/components/search/_search_term.html
  templates/ui/components/search/view.html
Due: ruff, ruff-format, djade

WIP
  qfdmd/models.py
  search/mixins.py
  search/models.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/templatetags/qfdmd_tags.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/migrations/0075_remove_produitpage_search_variants.py
  qfdmd/models.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
Due: ruff, ruff-format, djade

Add testand search term support in heading
  previews/template_preview.py
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/components/produit/heading.html
  templates/ui/components/search/_search_term.html
  unit_tests/search/__init__.py
  unit_tests/search/test_search_term.py
Due: ruff, ruff-format, djade

Add tests
  e2e_tests/search.spec.ts
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
Due: ruff, ruff-format, djade, prettier

Lockfile
  package-lock.json
Due: none

Add migrations
  qfdmd/migrations/0071_searchtag_produitpage_search_variants_and_more.py
  search/migrations/0001_initial.py
Due: ruff, ruff-format, djade

Increase prefix boost
  core/settings.py
Due: ruff, ruff-format, djade

Fix templateS
  qfdmd/models.py
  templates/ui/components/search/_search_result_searchtag.html
  templates/ui/components/search/_search_result_synonyme.html
Due: ruff, ruff-format, djade

Remove removed template reference
  previews/template_preview.py
Due: ruff, ruff-format, djade

Reset migrations
  search/migrations/0001_initial.py
  search/migrations/0002_rename_fields.py
  search/migrations/0003_remove_searchterm_search_sear_linked__a1b2c3_idx_and_more.py
  search/migrations/0004_searchterm_legacy.py
Due: ruff, ruff-format, djade

PRevent error when importing synonyme
  qfdmd/views.py
Due: ruff, ruff-format, djade

fix
  qfdmd/forms.py
  qfdmd/templatetags/qfdmd_tags.py
  search/models.py
Due: ruff, ruff-format, djade

Updates for search variants
  Makefile
  qfdmd/migrations/0071_searchtag_synonyme_inheritance.py
  qfdmd/migrations/0072_remove_produitpage_search_term.py
  qfdmd/models.py
  search/migrations/0001_initial.py
  search/models.py
  search/wagtail_hooks.py
  templates/ui/components/search/_search_result_beta.html
Due: ruff, ruff-format, djade

Add tests
  qfdmd/forms.py
  qfdmd/migrations/0072_searchtag_legacy_existing_synonyme.py
  qfdmd/models.py
  qfdmd/views.py
  search/constants.py
  search/models.py
  search/wagtail_hooks.py
  templates/ui/components/search/_search_result.html
  templates/ui/components/search/_search_result_synonyme.html
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

wip
  qfdmd/models.py
Due: ruff, ruff-format, djade

Squash migrations
  qfdmd/migrations/0071_searchtag_synonyme_inheritance.py
  qfdmd/migrations/0072_produitpage_search_variants.py
  qfdmd/migrations/0072_remove_produitpage_search_term.py
  qfdmd/migrations/0073_produitpage_search_term.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/wagtail_hooks.py
  search/migrations/0001_initial.py
Due: ruff, ruff-format, djade

add back templates
  qfdmd/forms.py
  templates/ui/components/search/_search_term.html
Due: ruff, ruff-format, djade

Refactor template definition for search results
  qfdmd/models.py
  search/models.py
  templates/ui/components/search/_search_term.html
  templates/ui/components/search/view.html
Due: ruff, ruff-format, djade

TODOS
  core/views.py
  qfdmo/views/adresses.py
Due: ruff, ruff-format, djade

Remove mixin
  qfdmd/models.py
Due: ruff, ruff-format, djade

Lint
  search/models.py
Due: ruff, ruff-format, djade

remove search variants
  qfdmd/migrations/0073_remove_produitpage_search_variants.py
Due: ruff, ruff-format, djade

updates
  qfdmd/models.py
  search/models.py
Due: ruff, ruff-format, djade

Updates
  core/settings.py
  qfdmd/models.py
Due: ruff, ruff-format, djade

Update fixtures
  Makefile
  qfdmd/fixtures/synonymes.json
Due: none

Fix templating
  core/settings.py
  e2e_tests/search.spec.ts
  qfdmd/forms.py
  qfdmd/models.py
  templates/ui/components/search/_search_result_searchtag.html
Due: ruff, ruff-format, djade, prettier

Proper url parsing
  qfdmd/views.py
Due: ruff, ruff-format, djade

add migration
  qfdmd/migrations/0072_produitpage_search_variants.py
  qfdmd/wagtail_hooks.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/migrations/0071_searchtag_produitpage_search_variants_and_more.py
  qfdmd/migrations/0071_searchtag_remove_synonyme_id_and_more.py
  qfdmd/migrations/0072_synonyme_imported_as_search_tag.py
  qfdmd/models.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  search/admin.py
  search/migrations/0001_initial.py
  search/migrations/0002_alter_searchterm_options.py
  search/mixins.py
  search/models.py
Due: ruff, ruff-format, djade

Add tests
  e2e_tests/search.spec.ts
  templates/ui/components/search/view.html
Due: prettier

Fix
  qfdmd/models.py
  search/models.py
  unit_tests/search_tests/__init__.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

Fix produit page not in dex
  qfdmd/forms.py
  qfdmd/models.py
  search/models.py
  templates/ui/components/search/_search_result_searchtag.html
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
