Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

deploy: b7346be563cb93accb34574e3be328ed723472e4
  .doctrees/environment.pickle
Due: none

deploy: 746f25ffecee066e5787f8f1fa72cfd4a7a7810b
  .doctrees/comment-faire/development/fixture_generation.doctree
  .doctrees/comment-faire/development/installation.doctree
  .doctrees/comment-faire/development/useful_command.doctree
  .doctrees/environment.pickle
  _sources/comment-faire/development/fixture_generation.md.txt
  _sources/comment-faire/development/installation.md.txt
  _sources/comment-faire/development/useful_command.md.txt
  comment-faire/development/README.html
  comment-faire/development/fixture_generation.html
  comment-faire/development/installation.html
  comment-faire/development/useful_command.html
  searchindex.js
Due: prettier

WIP
  templates/ui/layout/assistant.html
Due: none

Refactor tests
  integration_tests/assistant/test_seo_meta_tags.py
  unit_tests/qfdmd/qfdmod_factory.py
Due: ruff, ruff-format, djade

Supporter les meta tags wagtail sur la page d'accueil (#2457)
  integration_tests/assistant/test_seo_meta_tags.py
  pyproject.toml
  templates/templatetags/canonical_url.html
  templates/ui/layout/assistant.html
  templates/ui/layout/error.html
  templates/ui/pages/produit.html
  templates/ui/pages/produit_page.html
  unit_tests/qfdmd/qfdmod_factory.py
  uv.lock
Due: ruff, ruff-format, djade

deploy: a475e754ec561d9813441076b374a8685f6b2247
  .doctrees/environment.pickle
Due: none

Use carte facile
  package-lock.json
  package.json
  static/to_compile/js/solution_map.ts
Due: prettier

Add overlay
  static/to_compile/js/solution_map.ts
Due: prettier

Rollback partial changes
  static/to_compile/js/solution_map.ts
Due: prettier

Use osm in django admin
  static/to_compile/js/solution_map.ts
Due: prettier

WIP
  static/to_compile/js/solution_map.ts
Due: prettier

Refactor
  static/to_compile/js/solution_map.ts
Due: prettier

Correction sur l'ajout du footer dans le pied de page en mode iframe (#2458)
  templates/ui/components/footer/base.iframe.html
  templates/ui/layout/assistant.html
Due: none

deploy: fffbabb1fbb6727857e9754db3299b5b8b19b048
  .doctrees/environment.pickle
Due: none

Hide later the search
  previews/template_preview.py
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/header.html
Due: ruff, ruff-format, djade

Corrige un problème d'alignement sur le header des fiches produit
  previews/template_preview.py
  templates/ui/pages/produit.html
  templates/ui/pages/produit_page.html
Due: ruff, ruff-format, djade

Update logos names
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/logo/combined_logos.html
  templates/ui/components/logo/combined_logos.md
Due: ruff, ruff-format, djade, prettier

fix logos
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/footer/_iframe_footer.html
  templates/ui/components/logos/logos.html
Due: ruff, ruff-format, djade

use iframe footer
  previews/template_preview.py
Due: ruff, ruff-format, djade

Rename
  previews/template_preview.py
Due: ruff, ruff-format, djade

Update logos names
  previews/template_preview.py
  templates/ui/components/logos/logos.html
Due: ruff, ruff-format, djade

fix logos
  templates/ui/components/logos/logos.html
Due: none

Gestion des styles du diff via des classes CSS (#2454)
  core/templatetags/admin_data_tags.py
  static/to_compile/styles/admin.css
Due: ruff, ruff-format, djade, prettier

deploy: c76c5b74366e353fc31c7487fb6865863fdd2bc5
  .doctrees/environment.pickle
Due: none

Remove useless changes
  templates/ui/components/footer/_embedded.html
  templates/ui/components/footer/_iframe_footer.html
Due: none

Remove useless templates
  previews/template_preview.py
  templates/ui/components/suggestions/suggestions.html
  templates/ui/components/suggestions/suggestions.md
Due: ruff, ruff-format, djade, prettier

Variables rename
  qfdmo/constants.py
  templates/ui/components/acteur/tabs/sections/adresse.html
  templates/ui/components/mini_carte/mini_carte.html
Due: ruff, ruff-format, djade

Le pinpoint de la fiche acteur en mode liste n'affiche pas la bonne localisation
  qfdmo/views/adresses.py
  templates/ui/components/acteur/tabs/sections/adresse.html
  templates/ui/components/mini_carte/mini_carte.html
Due: ruff, ruff-format, djade

Use single prefix for all usage
  qfdmo/views/adresses.py
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Remove leftover
  qfdmo/views/adresses.py
Due: ruff, ruff-format, djade

wip
  templates/ui/components/acteur/tabs/sections/adresse.html
Due: none

Fix
  templates/ui/components/acteur/tabs/sections/adresse.html
Due: none

Use mixin for map prefix
  qfdmo/views/adresses.py
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

leftover
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Passage sur Carte Faciles (#2429)
  package-lock.json
  package.json
  static/to_compile/js/solution_map.ts
Due: prettier

deploy: 291698d1dd3b6020244c8ae6eaf81fa4cfbcf2e9
  .doctrees/environment.pickle
Due: none

Finalisation du header : correction d'un décalage, ajout du logo en mode iframe (#2398)
  previews/template_preview.py
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/header.html
  templates/ui/components/logo/combined_logos.html
  templates/ui/components/logo/combined_logos.md
  templates/ui/components/suggestions/suggestions.html
  templates/ui/components/suggestions/suggestions.md
  templates/ui/pages/produit.html
  templates/ui/pages/produit_page.html
Due: ruff, ruff-format, djade, prettier

deploy: d5fd5137e56163ddf8eaed4591a1c1876f6ed2f1
  .doctrees/environment.pickle
Due: none

Add e2e
  e2e_tests/carte.spec.ts
  previews/template_preview.py
  templates/ui/tests/t_13_itineraire_button_carte_sur_mesure.html
Due: ruff, ruff-format, djade, prettier

add e2e tests
  e2e_tests/carte.spec.ts
  e2e_tests/helpers.ts
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
