Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

wip
  webapp/templates/ui/pages/carte.html
Due: none

fix waiting in e2e
  webapp/e2e_tests/helpers.ts
Due: prettier

add in modal switch
  webapp/core/templatetags/carte_tags.py
  webapp/qfdmo/views/carte.py
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade

WIP
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/navigation.spec.ts
Due: prettier

Revert "add django tasks"
  webapp/Procfile
  webapp/core/settings.py
  webapp/core/test_settings.py
  webapp/data/admin.py
  webapp/data/tasks.py
  webapp/pyproject.toml
  webapp/uv.lock
Due: ruff, ruff-format, djade

rewrite migrations
  webapp/qfdmd/migrations/0085_add_carte_block.py
Due: ruff, ruff-format, djade

reduce duplication
  Makefile
  scripts/sql/create_extensions.sql
  scripts/sql/create_wagtail_french_config.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
  webapp/qfdmo/management/commands/create_webapp_sample_db.py
Due: ruff, ruff-format, djade

fixtests
  webapp/e2e_tests/search.spec.ts
Due: prettier

fix(e2e): add explicit waitFor and timeout to navigation test
  webapp/e2e_tests/navigation.spec.ts
Due: prettier

debug e2e
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

remove leftover
  webapp/core/settings.py
Due: ruff, ruff-format, djade

various improvements
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/search.spec.ts
  webapp/playwright.config.ts
Due: prettier

fix: deduplicate MainMenu records on every migrate
  webapp/qfdmd/apps.py
  webapp/qfdmd/management/commands/fix_duplicate_mainmenu.py
Due: ruff, ruff-format, djade

fix tests backend
  scripts/sql/create_extensions.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
Due: ruff, ruff-format, djade

wIP
  Makefile
  docs/how-to/development/tests_e2e.md
  docs/reference/webapp/README.md
  scripts/sql/create_extensions.sql
  webapp/.env.template
  webapp/Makefile
  webapp/playwright.config.ts
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
  webapp/qfdmo/management/commands/create_webapp_sample_db.py
Due: ruff, ruff-format, djade, prettier

wip
  .github/workflows/_e2e.yml
  webapp/qfdmd/management/commands/fix_duplicate_mainmenu.py
Due: ruff, ruff-format, djade

Simplify
  webapp/e2e_tests/navigation.spec.ts
Due: prettier

fix(e2e): revert search spec to original — simplified version was unstable
  webapp/e2e_tests/search.spec.ts
Due: prettier

add django tasks
  webapp/Procfile
  webapp/core/settings.py
  webapp/core/test_settings.py
  webapp/data/admin.py
  webapp/data/tasks.py
  webapp/pyproject.toml
  webapp/uv.lock
Due: ruff, ruff-format, djade

fix(e2e): measure turbo-frame boundingBox not inner listbox
  webapp/e2e_tests/search.spec.ts
Due: prettier

fix(ci): pass BASE_URL when building frontend in e2e job
  .github/workflows/_e2e.yml
Due: none

lint
  webapp/qfdmd/blocks.py
Due: ruff, ruff-format, djade

missing file
  scripts/sql/create_wagtail_french_config.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
Due: ruff, ruff-format, djade

add missing migration
  webapp/qfdmd/migrations/0086_alter_produitindexpage_body_alter_produitpage_body.py
Due: ruff, ruff-format, djade

add carte block opening in modale
  webapp/core/settings.py
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0085_add_carte_block.py
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

useless change
  webapp/qfdmd/apps.py
Due: ruff, ruff-format, djade

debug e2e
  .github/actions/prepare-django-db/action.yml
Due: none

didadou
  scripts/sql/create_extensions.sql
Due: none

Improve layout
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/pages/carte.html
Due: prettier

Close modal on resize
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
  webapp/templates/ui/blocks/carte_block.html
Due: prettier

fix(preview): align seed script with existing restore scripts
  infrastructure/environments/preview/_template/database/terragrunt.hcl
  infrastructure/modules/preview_database/main.tf
  infrastructure/modules/preview_database/variables.tf
Due: none

feat(preview): lifecycle workflows (up, down, daily cleanup)
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/_webapp-build-and-push-docker.yml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-down.yml
  .github/workflows/preview-up.yml
Due: none

fix(preview): run restore before create_extensions, make text search config idempotent
  infrastructure/modules/preview_database/main.tf
  scripts/sql/create_extensions.sql
Due: none

fix(preview): remove duplicate project_id variable in preview_object_storage
  infrastructure/modules/preview_object_storage/variables.tf
Due: none

add todo
  .github/workflows/_terragrunt-apply.yml
  docs/reference/infrastructure/preview-environments.md
  infrastructure/environments/preview/_template/database/terragrunt.hcl
  infrastructure/modules/preview_database/main.tf
  infrastructure/modules/preview_database/variables.tf
Due: prettier

fix(preview): tolerate pg_restore --clean's benign pre-drop errors
  infrastructure/modules/preview_database/main.tf
Due: none

feat(preview): terraform modules and terragrunt template for per-PR envs
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/environments/preview/_template/database/terragrunt.hcl
  infrastructure/environments/preview/_template/object_storage/terragrunt.hcl
  infrastructure/environments/preview/namespace/terragrunt.hcl
  infrastructure/modules/preview_database/main.tf
  infrastructure/modules/preview_database/outputs.tf
  infrastructure/modules/preview_database/variables.tf
  infrastructure/modules/preview_namespace/main.tf
  infrastructure/modules/preview_namespace/outputs.tf
  infrastructure/modules/preview_namespace/variables.tf
  infrastructure/modules/preview_object_storage/main.tf
  infrastructure/modules/preview_object_storage/outputs.tf
  infrastructure/modules/preview_object_storage/variables.tf
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/outputs.tf
  infrastructure/modules/webapp_container/variables.tf
Due: none

fix(preview): merge seed and extensions into one resource to avoid destroy cycle
  infrastructure/modules/preview_database/main.tf
Due: none

feat(preview): bootstrap qfdmod-preview namespace, rename from lvao-preview
  docs/reference/infrastructure/preview-environments.md
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/environments/preview/namespace/.terraform.lock.hcl
  infrastructure/environments/preview/namespace/terragrunt.hcl
Due: prettier

feat(preview): bootstrap commands in infrastructure/Makefile
  docs/reference/infrastructure/preview-environments.md
  infrastructure/Makefile
Due: prettier
