Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Updates docker compose to use named volumes
  docker-compose.yml
Due: none

Gestion des droits en lecture seule pour les utilisateurs de la DB
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
Due: none

oops
  docker-compose.yml
  webapp/integration_tests/assistant/test_produit_page.py
  webapp/uv.lock
Due: ruff, ruff-format, djade

fix: restore body_classes block in assistant.html for produit-page CSS override
  docker-compose.yml
  webapp/integration_tests/assistant/test_produit_page.py
  webapp/templates/ui/layout/assistant.html
  webapp/uv.lock
Due: ruff, ruff-format, djade

correction de l'espace au dessus du breadcrumb sur les pages produit (#3121)
  webapp/integration_tests/assistant/test_produit_page.py
  webapp/templates/ui/layout/assistant.html
Due: ruff, ruff-format, djade

deploy: b8b6357fef1b62c06b11638c1a1004ae1566265c
  .doctrees/environment.pickle
Due: none

add dev.py
  webapp/.env.template
  webapp/settings/dev.py
Due: ruff, ruff-format, djade

fix(ci): set DJANGO_SETTINGS_MODULE=settings.test in backend test job
  .github/workflows/_backend-test-job.yml
Due: none

Add comment
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade

move one lever higher
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/utils/django.py
  data-platform/pyproject.toml
  docs/reference/data-platform/airflow.md
  webapp/core/asgi.py
  webapp/core/settings/__init__.py
  webapp/core/test_settings.py
  webapp/core/wsgi.py
  webapp/manage.py
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade, prettier

wIP
  webapp/core/asgi.py
  webapp/core/wsgi.py
  webapp/manage.py
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade

Move test settings
  data-platform/pyproject.toml
  docs/reference/data-platform/airflow.md
  webapp/pyproject.toml
  webapp/settings/test.py
Due: ruff, ruff-format, djade, prettier

reorganize settings into settings/ package
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade

add comment
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Make geodjango config optional
  webapp/settings/dev.py
Due: ruff, ruff-format, djade

WIP
  webapp/.env.template
  webapp/core/asgi.py
  webapp/settings/base.py
Due: ruff, ruff-format, djade

Copy du module settings dans les image docker
  data-platform/.gitignore
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
Due: none

add module file
  webapp/settings/__init__.py
Due: ruff, ruff-format, djade

fix: add settings to wheel packages
  webapp/pyproject.toml
Due: none

Update settings accordingly
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/utils/django.py
  data-platform/pyproject.toml
  docs/reference/data-platform/airflow.md
  webapp/core/asgi.py
  webapp/core/settings/__init__.py
  webapp/core/settings/airflow.py
  webapp/core/settings/base.py
  webapp/core/settings/dev.py
  webapp/core/settings/production.py
  webapp/core/test_settings.py
  webapp/core/wsgi.py
  webapp/manage.py
Due: ruff, ruff-format, djade, prettier

add template
  webapp/.env.template
Due: none

use settings.production by default
  webapp/.env.template
  webapp/manage.py
Due: ruff, ruff-format, djade

Fix tests
  .github/workflows/_backend-test-job.yml
Due: none

fix: read GDAL/GEOS/DJANGO_SETTINGS_MODULE via decouple, not raw os.environ
  webapp/manage.py
  webapp/settings/dev.py
Due: ruff, ruff-format, djade

WIP
  webapp/static/to_compile/styles/qfdmd.css
Due: prettier

fix: strip loading=lazy after frame-location & ab-test inject src
  webapp/static/to_compile/controllers/carte/frame_location_controller.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/static/to_compile/tests/frame_location_controller.test.ts
Due: prettier

Adds named volume for airflow
  docker-compose.yml
Due: none

Apply suggestion from @kolok
  .github/workflows/_backend-test-job.yml
Due: none

Restructuration des settings django (#3060)
  .github/workflows/_backend-test-job.yml
  data-platform/.gitignore
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/utils/django.py
  data-platform/pyproject.toml
  docs/reference/data-platform/airflow.md
  webapp/.env.template
  webapp/core/asgi.py
  webapp/core/wsgi.py
  webapp/manage.py
  webapp/pyproject.toml
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/test.py
Due: ruff, ruff-format, djade, prettier

deploy: 48cbc38edd4e4e7b3ae7d70030e4050a42856455
  .doctrees/environment.pickle
  .doctrees/reference/data-platform/airflow.doctree
  _sources/reference/data-platform/airflow.md.txt
  reference/data-platform/airflow.html
  searchindex.js
Due: prettier

fix: remove black gap below carte modal by hiding bottom DSFR spacer
  webapp/static/to_compile/styles/qfdmd.css
Due: prettier

Ajout d'un template pour les pages index et script de migration (#3122)
  webapp/qfdmd/management/commands/migrate_legacy_produit_index_page.py
  webapp/qfdmd/migrations/0086_rename_produitindexpage_legacyproduitindexpage.py
  webapp/qfdmd/migrations/0087_produitindexpage.py
  webapp/qfdmd/models.py
  webapp/templates/ui/pages/produit_index_page.html
Due: ruff, ruff-format, djade

deploy: a36bb9c6c389071e9310a6f52a2e14a49f2ce7aa
  .doctrees/environment.pickle
Due: none

Meilleure stabilité des tests e2e (#3021)
  .github/workflows/_e2e.yml
  Makefile
  docs/how-to/development/tests_e2e.md
  docs/reference/webapp/README.md
  scripts/sql/create_extensions.sql
  scripts/sql/create_wagtail_french_config.sql
  webapp/.env.template
  webapp/Makefile
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/navigation.spec.ts
  webapp/e2e_tests/search.spec.ts
  webapp/playwright.config.ts
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
  webapp/qfdmo/management/commands/create_webapp_sample_db.py
Due: ruff, ruff-format, djade, prettier

deploy: 1d53827d43cbc06d1d9e8d1f6943f0d8101020f5
  .doctrees/environment.pickle
  .doctrees/how-to/development/tests_e2e.doctree
  .doctrees/reference/webapp/README.doctree
  _downloads/142aa9b9f39d5f22afba640e3a2ddc4e/create_extensions.sql
  _sources/how-to/development/tests_e2e.md.txt
  _sources/reference/webapp/README.md.txt
  how-to/development/tests_e2e.html
  reference/webapp/README.html
  searchindex.js
Due: prettier

Lockfile issue
  webapp/uv.lock
Due: none

Correction d'un soucis sur le lockfile empêchant le déploiement en preprod (#3133)
  webapp/uv.lock
Due: none

deploy: 02f5a6fb4f67583e1cd77e2b714a9dad2d696f01
  .doctrees/environment.pickle
Due: none

fix
  Makefile
  scripts/sql/create_extensions.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
  webapp/qfdmd/migrations/sql/create_wagtail_french_config.sql
  webapp/qfdmo/management/commands/create_webapp_sample_db.py
Due: ruff, ruff-format, djade

Déplacement du script SQL wagtail_french dans webapp/ pour débloquer le déploiement Scalingo (#3134)
  Makefile
  scripts/sql/create_extensions.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
  webapp/qfdmd/migrations/sql/create_wagtail_french_config.sql
  webapp/qfdmo/management/commands/create_webapp_sample_db.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
