Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

remove migrations
  qfdmd/migrations/0075_synonyme_disabled.py
  qfdmd/migrations/0076_alter_synonyme_disabled.py
Due: ruff, ruff-format, djade

fixes
  qfdmd/migrations/0074_synonyme_disabled.py
Due: ruff, ruff-format, djade

debug
  qfdmd/models.py
  search/models.py
  templates/ui/components/search/search_result_produitpage.html
Due: ruff, ruff-format, djade

Update tests
  unit_tests/search_tests/test_search_term.py
  unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

Homepage
  tailwind.config.js
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
Due: prettier

Reapply "Passage de la recherche objet du header en version DSFR (#2257)" (#2471)
  core/context_processors.py
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/mixins.py
  qfdmd/urls.py
  qfdmd/views.py
  qfdmo/forms.py
  qfdmo/views/carte.py
  qfdmo/widgets.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/header/base.html
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/autocomplete_view.html
  templates/ui/forms/widgets/autocomplete/_results_item.html
  templates/ui/forms/widgets/autocomplete/input.html
  templates/ui/forms/widgets/autocomplete/results.html
  templates/ui/forms/widgets/autocomplete/results_item.html
  templates/ui/forms/widgets/autocomplete/synonyme.html
  templates/ui/forms/widgets/autocomplete/synonyme_results_item.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

add on homepage the dsfr header
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/models.py
  qfdmd/views.py
  templates/ui/components/search/autocomplete_results.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade

Improve styling
  core/context_processors.py
  core/widgets.py
  qfdmd/forms.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

almost perfect
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/search_result.html
  templates/ui/components/search/search_result_produitpage.html
  templates/ui/components/search/search_result_searchtag.html
  templates/ui/components/search/search_result_synonyme.html
Due: prettier

Improve styling
  core/context_processors.py
  qfdmd/forms.py
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/forms/widgets/autocomplete/results.html
Due: ruff, ruff-format, djade

missing template
  templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

suppression des variable CELLAR
  data-platform/dags/.env.template
Due: none

Suppression de django_setup_full() quand c'est possible
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/sources/tasks/transform/transform_column.py
  dags/utils/django.py
Due: ruff, ruff-format, djade

Changer le sys.path pour inclure les packages django pour tous les DAGs Airflow
  core/models/constants.py
  core/validators.py
  dags/airflow_local_settings.py
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/sources/config/airflow_params.py
  dags/sources/config/shared_constants.py
  dags/sources/dags/source_pharmacies.py
  dags/sources/dags/source_sinoe.py
  dags/sources/tasks/business_logic/db_data_prepare.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  dags/sources/tasks/transform/transform_column.py
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
  dags/suggestions/tasks/business_logic/db_check_suggestion_to_process.py
  dags/tests/crawl/fixtures.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_dns.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_syntax.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_suggest_prepare.py
  data/models/suggestion.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

utilisation des constantes définit dans Django
  dags/sources/dags/source_cma.py
Due: ruff, ruff-format, djade

Pas besoin de modifier le sys.path
  dags/airflow_local_settings.py
Due: ruff, ruff-format, djade

update cache management pour CI
  .github/actions/setup-frontend/action.yml
Due: none

Ajout de l'option frozen lord de l'installation des libs
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
Due: none

test dags
  .github/workflows/ci.yml
  data-platform/dags/tests/conftest.py
  uv.lock
  webapp/Makefile
Due: ruff, ruff-format, djade

CI et Makefile
  .github/actions/prepare-django-db/action.yml
  .github/actions/setup-frontend/action.yml
  .github/actions/setup-playwright/action.yml
  .github/workflows/_airflow-build-and-push-docker.yml
  .github/workflows/ci.yml
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  docker-compose.yml
  uv.lock
  webapp/Makefile
  webapp/qfdmd/migrations/0074_alter_produitindexpage_body_alter_produitpage_body.py
Due: ruff, ruff-format, djade

Ajout d'un lien de pyproject et uv.lock de root à webapp pour permettre le déploiement sur Scalingo
  pyproject.toml
  uv.lock
  webapp/pyproject.toml
  webapp/uv.lock
Due: none

gestion de working-directory dans .github/actions/setup-frontend/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/ci.yml
Due: none

pyproject à la racine
  pyproject.toml
  uv.lock
Due: none

add a new model and migration script
  previews/template_preview.py
  qfdmd/management/commands/migrate_homepage.py
  qfdmd/migrations/0075_homepagesettings.py
  qfdmd/migrations/0076_homepage.py
  qfdmd/migrations/0077_delete_homepagesettings.py
  qfdmd/models.py
  templates/ui/forms/widgets/autocomplete/input.qf.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade

Utilisation de la webapp dans airflow comme un module
  .github/actions/setup-backend/action.yml
  .github/workflows/ci.yml
  .slugignore
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/tests/conftest.py
  data-platform/dags/utils/django.py
  data-platform/pyproject.toml
  docker-compose.yml
  docs/how-to/development/installation.md
  pyproject.toml
  uv.lock
  webapp/.python-version
  webapp/.slugignore
  webapp/bin/post_compile
  webapp/pyproject.toml
Due: ruff, ruff-format, djade, prettier

Utilisation de la webapp dans airflow comme un module (#2558)
  .github/actions/setup-backend/action.yml
  .github/workflows/ci.yml
  .slugignore
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/tests/conftest.py
  data-platform/dags/utils/django.py
  data-platform/pyproject.toml
  docker-compose.yml
  docs/how-to/development/installation.md
  pyproject.toml
  uv.lock
  webapp/.python-version
  webapp/.slugignore
  webapp/bin/post_compile
  webapp/pyproject.toml
Due: ruff, ruff-format, djade, prettier

Rename
  .github/workflows/_regression-job.yml
  .github/workflows/regression.yml
Due: none

Silent copilot
  .github/workflows/_regression-job.yml
Due: none

didadou
  .github/workflows/non-regression.yml
Due: none

reflexion testing
  .github/workflows/regression.yml
Due: none

add back setup
  .github/workflows/_regression-job.yml
Due: none

Silent copilot
  .github/workflows/non-regression.yml
Due: none

wait less time
  .github/workflows/_regression-job.yml
Due: none

Add non regression split workflow
  .github/workflows/_regression_job.yml
  .github/workflows/non-regression.yml
Due: none

Temporarily run on each pr update
  .github/workflows/regression.yml
Due: none
