Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Remove leftover
  webapp/templates/ui/components/footer/_dsfr_footer.html
  webapp/templates/ui/layout/error.html
Due: none

Performance optimisations on nginx
  nginx-local-only/cache.conf
  nginx-local-only/nginx.conf
  nginx-local-only/servers.conf.template
  webapp/servers.conf.erb
Due: none

Debug ram consumption
  webapp/bin/start
Due: none

Tune number of scalingo workers
  webapp/bin/start
Due: none

WIP
  nginx-local-only/cache.conf
  webapp/qfdmd/middleware.py
  webapp/servers.conf.erb
Due: ruff, ruff-format, djade

remove wagtail cache
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/header/header.html
Due: none

Remove cache in memory
  webapp/core/settings.py
  webapp/qfdmo/geo_api.py
Due: ruff, ruff-format, djade

ddt config
  webapp/core/settings.py
  webapp/qfdmd/signals.py
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/header/header.html
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade

Remove migrate homepage script
  webapp/bin/post_deploy
Due: none

Increase ping delay
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Optimise nginx conf
  webapp/servers.conf.erb
Due: none

Add sentry client side + logs
  webapp/core/settings.py
  webapp/core/templatetags/analytics_tags.py
  webapp/package-lock.json
  webapp/package.json
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/sentry.ts
  webapp/templates/ui/analytics/sentry_data_attributes.html
  webapp/templates/ui/layout/base.html
Due: ruff, ruff-format, djade, prettier

Properly invalidate cache
  webapp/qfdmd/signals.py
  webapp/templates/ui/components/header/header.html
Due: ruff, ruff-format, djade

WIP
  webapp/core/constants.py
  webapp/qfdmd/signals.py
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade

Review
  webapp/.env.template
  webapp/core/settings.py
Due: ruff, ruff-format, djade

format
  webapp/qfdmd/signals.py
  webapp/qfdmo/geo_api.py
Due: ruff, ruff-format, djade

prod only nginx config
  Makefile
  docker-compose.yml
  nginx-local-only/cache.conf
  nginx-local-only/certs/.gitkeep
  nginx-local-only/nginx.conf
  nginx-local-only/servers.conf.template
  webapp/.env.template
  webapp/nginx/Dockerfile
  webapp/nginx/certs/.gitignore
  webapp/nginx/entrypoint.sh
  webapp/nginx/nginx.conf
  webapp/nginx/test_nginx.py
  webapp/servers.conf.erb
Due: ruff, ruff-format, djade

Le cache npm n'est plus effectif car package-lock.json est dans webapp
  .github/actions/setup-frontend/action.yml
Due: none

update nginx location
  docker-compose.yml
  webapp/nginx/Dockerfile
Due: none

fix tests
  webapp/static/to_compile/controllers/carte/search_solution_form_controller.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/tsconfig.json
Due: prettier

Le cache npm n'est plus effectif car package-lock.json est dans webapp (#2700)
  .github/actions/setup-frontend/action.yml
  webapp/static/to_compile/controllers/carte/search_solution_form_controller.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/tsconfig.json
Due: prettier

deploy: 17ac7a6796f58e9f5a0a8677022361c55581b99a
  .doctrees/environment.pickle
Due: none

update env
  docker-compose.yml
  webapp/.env.template
Due: none

prevent delaying serving when updating
  webapp/servers.conf.erb
Due: none

tune nginx config
  webapp/servers.conf.erb
Due: none

Permettre de faire des clusters sur les latutides et longitudes exactement identiques
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dbt/macros/table/macro_acteur_sources.sql
Due: ruff, ruff-format, djade

Mutualisation des configs admin DisplayedActeur / VueActeur
  webapp/qfdmo/admin/acteur.py
Due: ruff, ruff-format, djade

Permettre de faire des clusters sur les latutides et longitudes exactement identiques (#2703)
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dbt/macros/table/macro_acteur_sources.sql
  webapp/qfdmo/admin/acteur.py
Due: ruff, ruff-format, djade

deploy: 4e3b2ff6553e528a8cb5c65e13a80296f89b5d93
  .doctrees/environment.pickle
Due: none

gitkeep
  webapp/core/settings.py
  webapp/nginx/certs/.gitignore
  webapp/nginx/certs/.gitkeep
  webapp/nginx/nginx.conf
Due: ruff, ruff-format, djade

rename cache key
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Optimisations de performances (#2633)
  Makefile
  docker-compose.yml
  nginx-local-only/cache.conf
  nginx-local-only/nginx.conf
  nginx-local-only/servers.conf.template
  uv.lock
  webapp/.env.template
  webapp/bin/start
  webapp/core/constants.py
  webapp/core/settings.py
  webapp/core/templatetags/analytics_tags.py
  webapp/nginx/Dockerfile
  webapp/nginx/certs/.gitkeep
  webapp/nginx/entrypoint.sh
  webapp/nginx/nginx.conf
  webapp/nginx/test_nginx.py
  webapp/package-lock.json
  webapp/package.json
  webapp/pyproject.toml
  webapp/qfdmd/middleware.py
  webapp/qfdmd/signals.py
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/qfdmo/geo_api.py
  webapp/servers.conf.erb
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/sentry.ts
  webapp/templates/ui/analytics/sentry_data_attributes.html
  webapp/templates/ui/components/footer/_dsfr_footer.html
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/header/header.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/layout/error.html
  webapp/templates/ui/pages/home.html
  webapp/uv.lock
Due: ruff, ruff-format, djade, prettier

deploy: 9b378b386eed4182eefff6586a2a04cac4bbc4c7
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
Due: none

Fix createcachetable
  .github/actions/prepare-django-db/action.yml
Due: none

remove sendfile
  webapp/servers.conf.erb
Due: none

Corrige un problème de tests e2e avec le renommage des tables de cache (#2717)
  .github/actions/prepare-django-db/action.yml
  webapp/servers.conf.erb
Due: none

deploy: e7c835f0526bdaad883339addb3da9cdb8f01403
  .doctrees/environment.pickle
Due: none

add crm sync
  webapp/servers.conf.erb
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
