Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

ajout du header add X-Robots-Tag dans un autre bloc pour éviter qu'il soit ignoré (#3022)
  webapp/servers.conf.erb
Due: none

renommer 'En savoir plus sur ce site' en 'En savoir plus sur cet outil' (#3018)
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/templates/ui/components/footer/base.iframe.html
Due: prettier

deploy: fd29fd633287bef14c7230816c7f273da68e8724
  .doctrees/environment.pickle
Due: none

deploy: 459215fcc5def9fc09261d12af6d9fe027bbb496
  .doctrees/environment.pickle
Due: none

Les parametres de DAG dry_run et use_legacy doivent être à Faux par défaut (#3057)
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
  data-platform/dags/crawl/dags/crawl_urls.py
  data-platform/dags/sources/dags/source_aliapur.py
  data-platform/dags/sources/dags/source_batribox.py
  data-platform/dags/sources/dags/source_citeo.py
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_corepile.py
  data-platform/dags/sources/dags/source_cyclevia.py
  data-platform/dags/sources/dags/source_ecodds.py
  data-platform/dags/sources/dags/source_ecologic.py
  data-platform/dags/sources/dags/source_ecomaison.py
  data-platform/dags/sources/dags/source_ecopae.py
  data-platform/dags/sources/dags/source_ecosystem.py
  data-platform/dags/sources/dags/source_generic.py
  data-platform/dags/sources/dags/source_ocab.py
  data-platform/dags/sources/dags/source_ocad3e.py
  data-platform/dags/sources/dags/source_pharmacies.py
  data-platform/dags/sources/dags/source_pyreo.py
  data-platform/dags/sources/dags/source_refashion.py
  data-platform/dags/sources/dags/source_s3.py
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/dags/source_soren.py
  data-platform/dags/sources/dags/source_valdelia.py
  data-platform/dags/tests/cluster/config/test_model.py
  data-platform/dags/tests/cluster/helpers/configs.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

deploy: e18751796cb8cf4f2011c880a70346154dfc3d98
  .doctrees/environment.pickle
Due: none

WIP
  .github/dependabot.yml
Due: none

feat: clic sur une carte du mode focus pour ouvrir le groupe de suggestions
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
Due: prettier

fix: indentation de new_statut hors du bloc else + regénération du package-lock.json
  webapp/data/views.py
  webapp/package-lock.json
Due: ruff, ruff-format, djade

feat: action de masse sur tous les acteurs filtrés (portée filtre)
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: query builder sur la valeur suggérée en mode focus
  webapp/data/views.py
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

chore: sync package.json/lock with main after rebase
  webapp/package-lock.json
  webapp/package.json
Due: none

Fix e2e
  webapp/package-lock.json
Due: none

fix: corrige exposition d'exception (CodeQL) - utilise user_message au lieu de str(e)
  webapp/data/views.py
Due: ruff, ruff-format, djade

test: couverture e2e complète de la revue de cohorte + fixture sample DB
  webapp/Makefile
  webapp/data/management/commands/seed_review_e2e.py
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: revue au clavier, UI optimiste et accessibilité de la grille de revue
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
Due: prettier

feat: tiroir des suggestions d'un acteur depuis le mode focus
  webapp/data/urls.py
  webapp/data/views.py
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

fix: corrige l'exposition d'exception (CodeQL) et supprime le seed redondant
  webapp/data/management/commands/seed_review_demo.py
  webapp/data/management/commands/seed_review_e2e.py
  webapp/data/views.py
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade

feat: annulation des actions de masse et portée « tout sauf »
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

Ajout d'un écran qui liste les cohortes à traiter
  AGENTS.md
  docs/ai/multi-agents-architecture.md
  docs/ai/team/designer.md
  docs/ai/team/dev.md
  docs/ai/team/lead.md
  docs/ai/team/po.md
  docs/ai/team/testeur.md
  webapp/core/views.py
  webapp/data/urls.py
  webapp/data/views.py
  webapp/package-lock.json
  webapp/package.json
  webapp/static/to_compile/cohort-admin.ts
  webapp/static/to_compile/styles/cohort-admin.css
  webapp/templates/data/cohorte_admin_list.html
  webapp/unit_tests/data/test_cohorte_admin_list_view.py
Due: ruff, ruff-format, djade, prettier

test: tests e2e Playwright de la grille de revue de cohorte
  webapp/data/management/commands/seed_review_e2e.py
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
Due: ruff, ruff-format, djade, prettier

feat: accepter/rejeter les suggestions par champ depuis la grille de revue
  webapp/data/models/suggestions/source.py
  webapp/data/urls.py
  webapp/data/views.py
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: mode focus par champ sur l'écran de revue de cohorte
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
Due: prettier

feat: groupes de conditions dans le query builder du mode focus
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

a11y: corrections de l'audit accessibilité (RGAA / WCAG 2.1 AA)
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
Due: prettier

feat: filtres serveur et accès à la grille de revue depuis l'admin
  webapp/data/admin.py
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: écran de revue de cohorte en grille pivot (lecture seule)
  webapp/data/models/suggestions/source.py
  webapp/data/urls.py
  webapp/data/views.py
  webapp/package-lock.json
  webapp/package.json
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

fix: corrections issues de la revue de code (sécurité, perf, robustesse)
  webapp/data/management/commands/seed_review_demo.py
  webapp/data/management/commands/seed_review_e2e.py
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

fix: lien détail de la grille vers l'admin et commande de démo
  webapp/data/management/commands/seed_review_demo.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade

Meilleur groupage de dependabot (#3059)
  .github/dependabot.yml
Due: none

deploy: 2ddf80f94d42dcb69f655c8ed77c81c0c8154b08
  .doctrees/environment.pickle
Due: none

Use uv workspaces
  .github/actions/setup-backend/action.yml
  AGENTS.md
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  pyproject.toml
  uv.lock
  webapp/pyproject.toml
Due: prettier

revert
  .github/dependabot.yml
  SECURITY.md
  webapp/core/settings.py
Due: ruff, ruff-format, djade, prettier

lint
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/clone/config/models.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/clone/tasks/business_logic/clone_table_validate.py
  data-platform/dags/clone/tasks/business_logic/clone_view_in_use_switch.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_schema.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_view_in_use_switch.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
Due: ruff, ruff-format, djade

remove uv lock
  webapp/core/settings.py
  webapp/uv.lock
Due: ruff, ruff-format, djade

peut etre srupprimé
  webapp/qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
Due: ruff, ruff-format, djade

add djade to dependencies
  pyproject.toml
  uv.lock
Due: none

didadou
  data-platform/pyproject.toml
  pyproject.toml
  uv.lock
  webapp/Makefile
  webapp/pyproject.toml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
