Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Ne pas collecter les identifiants des dataframes vides (#2602)
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
Due: ruff, ruff-format, djade

deploy: 6c0b85d9d81590424bdfe1b9ae4bf9c52379429b
  .doctrees/environment.pickle
Due: none

Suppression des models dbt deprecier
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_siren_siret_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_rounded_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_rounded_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_history.sql
  data-platform/dbt/models/exposure/stats/schema.yml
Due: none

ajout de l'option sync_all_columns
  data-platform/dbt/models/exposure/stats/schema.yml
Due: none

Suppression de model dbt obsolète et alignement de nom par convention (#2576)
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_siren_siret_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_rounded_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_rounded_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_history.sql
  data-platform/dbt/models/exposure/stats/schema.yml
Due: none

deploy: c2c4fddbc551f7abe3e058b7e9ea0e09f34098df
  .doctrees/environment.pickle
Due: none

deploy: cbf97cb4e5f5e1056b30a7cc3bb318c90ed5dfb7
  .doctrees/environment.pickle
Due: none

deploy: 7964a6a17f58935f06b0658b6a7b1796784c3ebd
  .doctrees/environment.pickle
Due: none

Ne pas valider les formulaires Wagtail si ils n'ont pas de validateur associé
  webapp/qfdmd/signals.py
Due: ruff, ruff-format, djade

Ne pas valider les formulaires Wagtail si ils n'ont pas de validateur (#2607)
  webapp/qfdmd/signals.py
Due: ruff, ruff-format, djade

deploy: 964f622973255e3818af2b40543ea59844ae56d5
  .doctrees/environment.pickle
Due: none

Acteur avec SIRET ou SIREN non actif
  data-platform/dbt/models/marts/stats/marts_acteur_no_siren_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_no_siret_actif.sql
  data-platform/dbt/models/marts/stats/schema.yml
  data-platform/dbt/models/source/source_stats.yml
Due: none

Table listant les siren et siret bien formatté mais non disponible dans AE
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_no_siren_actif.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_no_siret_actif.sql
  data-platform/dbt/models/exposure/stats/schema.yml
Due: none

Exporter l'url des objets de type Source
  webapp/qfdmo/admin/acteur.py
  webapp/unit_tests/qfdmo/admin/test_source_export.py
Due: ruff, ruff-format, djade

Ajout de tags stats pour les models de type base
  data-platform/dbt/models/base/acteurs/schema.yml
Due: none

suppression d'une source inutilisée
  data-platform/dbt/models/source/source_stats.yml
Due: none

Exporter l'url des objets de type Source (#2608)
  webapp/qfdmo/admin/acteur.py
  webapp/unit_tests/qfdmo/admin/test_source_export.py
Due: ruff, ruff-format, djade

deploy: 4affe9d9774454da8f377defc5a314f9add10131
  .doctrees/environment.pickle
Due: none

DBT - Acteur avec SIRET ou SIREN non actif (#2581)
  data-platform/dbt/models/base/acteurs/schema.yml
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_no_siren_actif.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_no_siret_actif.sql
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/marts/stats/marts_acteur_no_siren_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_no_siret_actif.sql
  data-platform/dbt/models/marts/stats/schema.yml
Due: none

deploy: 990bad0ddd521c28672ec520b501a0f97177861c
  .doctrees/environment.pickle
Due: none

Création d'un Notebook pour générer des suggestion de cluster à partir d'un CSV
  data-platform/notebooks/clustering_from_file.ipynb
  scripts/restore_prod_locally.sh
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Création d'un Notebook pour générer des suggestions de cluster à partir d'un CSV (#2609)
  data-platform/notebooks/clustering_from_file.ipynb
  scripts/restore_prod_locally.sh
  webapp/core/settings.py
Due: ruff, ruff-format, djade

deploy: 1dee975d6f16f4bb1ef5cc7a4c955e5b9b844761
  .doctrees/environment.pickle
Due: none

Correction du notebook de clustering : localisation et acteur_type
  data-platform/notebooks/README.md
  data-platform/notebooks/clustering_from_file.ipynb
Due: prettier

Correction du notebook de clustering : localisation et acteur_type (#2610)
  data-platform/notebooks/README.md
  data-platform/notebooks/clustering_from_file.ipynb
Due: prettier

deploy: 724fc3bee03fb5dcb51ba3084faa934689748c29
  .doctrees/environment.pickle
Due: none

Migration airflow v3: docker et pyproject.toml
  data-platform/airflow-dag-processor-start.sh
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/.airflowignore
  data-platform/dags/.env.template
  data-platform/pyproject.toml
  docker-compose.yml
  uv.lock
Due: none

Gestion des configurations des dags de type source
  data-platform/dags/sources/dags/source_aliapur.py
  data-platform/dags/sources/dags/source_batribox.py
  data-platform/dags/sources/dags/source_citeo.py
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_corepile.py
  data-platform/dags/sources/dags/source_cyclevia.py
  data-platform/dags/sources/dags/source_ecodds.py
  data-platform/dags/sources/dags/source_ecologic.py
  data-platform/dags/sources/dags/source_ecomaison.py
  data-platform/dags/sources/dags/source_ecopae.py
  data-platform/dags/sources/dags/source_ecosystem.py
  data-platform/dags/sources/dags/source_ocab.py
  data-platform/dags/sources/dags/source_ocad3e.py
  data-platform/dags/sources/dags/source_pharmacies.py
  data-platform/dags/sources/dags/source_pyreo.py
  data-platform/dags/sources/dags/source_refashion.py
  data-platform/dags/sources/dags/source_s3.py
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/dags/source_soren.py
  data-platform/dags/sources/dags/source_valdelia.py
Due: ruff, ruff-format, djade

cast column to avoid numpy error while save in DB
  data-platform/dags/sources/tasks/business_logic/db_data_prepare.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/sources/tasks/business_logic/source_data_validate.py
  data-platform/dags/sources/tasks/transform/sequence_utils.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

merge uv.lock
  uv.lock
Due: none

Internationalisation des formulaires de Contact et SNCF
  webapp/bin/post_deploy
  webapp/core/settings.py
  webapp/locale/fr/LC_MESSAGES/django.po
Due: ruff, ruff-format, djade

documentation
  Makefile
  docs/reference/webapp/README.md
  docs/reference/webapp/internationalization.md
  webapp/Makefile
  webapp/locale/fr/LC_MESSAGES/django.po
Due: prettier

install gettext
  webapp/Aptfile
Due: none

post_compile vs post_deploy
  webapp/bin/post_compile
  webapp/bin/post_deploy
Due: none

Internationalisation des formulaires de Contact et SNCF (#2612)
  Makefile
  docs/reference/webapp/README.md
  docs/reference/webapp/internationalization.md
  webapp/Aptfile
  webapp/Makefile
  webapp/bin/post_compile
  webapp/core/settings.py
  webapp/locale/fr/LC_MESSAGES/django.po
Due: ruff, ruff-format, djade, prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
