Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

deploy: 2748a28f3d873bfa3219f53efdfe9faa41c99cca
  .doctrees/environment.pickle
Due: none

deploy: 982b1c38fa9c0a83e79427847f76d499c8aa10a3
  .doctrees/environment.pickle
Due: none

deploy: ca4379b0297e27319fe3066b3c99142c047a613d
  .doctrees/environment.pickle
Due: none

deploy: f5b585fdc3bb597213e872877f123bf83494e8ea
  .doctrees/environment.pickle
Due: none

deploy: b0662b3b79e40364671daaf41e5d2eb6b45afaf0
  .doctrees/environment.pickle
Due: none

Gestion d'une nouvelle DB stats sur le serveur webapp
  infrastructure/environments/preprod/database_sample/terragrunt.hcl
  infrastructure/environments/root.hcl
  infrastructure/modules/database_sample/main.tf
  infrastructure/modules/database_sample/variables.tf
Due: none

Calcule des différences de propositions de service entre acteur et revision
  dbt/models/base/acteurs/schema.yml
  dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_acteur.sql
  dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_revision.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/intermediate/stats/Untitled
  dbt/models/intermediate/stats/int_propositionservice_sous_categories_with_revision.sql
  dbt/models/intermediate/stats/int_propositonservices_with_revision.sql
  dbt/models/intermediate/stats/int_revisionpropositonservice_sous_categories_with_acteur.sql
  dbt/models/intermediate/stats/int_revisionpropositonservices_with_acteur.sql
  dbt/models/intermediate/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_vs_revision_propositon_services.sql
  dbt/models/marts/stats/schema.yml
Due: none

bad merge
  qfdmd/templatetags/qfdmd_tags.py
Due: ruff, ruff-format, djade

feedback
  Makefile
  qfdmd/models.py
Due: ruff, ruff-format, djade

Import at the top of the file
  Makefile
  qfdmd/views.py
Due: ruff, ruff-format, djade

do not repeat
  qfdmd/wagtail_hooks.py
  unit_tests/search/test_search_term.py
Due: ruff, ruff-format, djade

do not repeat
  unit_tests/search/__init__.py
  unit_tests/search/test_search_term.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

debug
  core/settings.py
Due: ruff, ruff-format, djade

adaptation du DAG et de la suggestion pour l'inspection des URLs
  dags/crawl/config/columns.py
  dags/crawl/tasks/airflow_logic/crawl_urls_read_urls_from_db_task.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  dags/utils/dataframes.py
  data/views.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

fix
  .github/actions/prepare-django-db/action.yml
  .github/workflows/ci.yml
Due: none

add request.beta check
  templates/ui/components/search/search_result_searchtag.html
Due: none

deploy: f7c8b015f83c999d5274a7ffc5e82e420ccb302d
  .doctrees/environment.pickle
  _downloads/142aa9b9f39d5f22afba640e3a2ddc4e/create_extensions.sql
Due: none

downgrade eslint à cause des dépendances
  package-lock.json
  package.json
Due: none

upload base path
  .github/workflows/_regression-job.yml
  e2e_tests/regression.spec.ts
  playwright.regression.ts
Due: prettier

wget
  .github/workflows/_regression-job.yml
Due: none

comment
  e2e_tests/regression.spec.ts
Due: prettier

Ajout de tests de non-régression
  .github/workflows/regression.yml
  .tool-versions
  e2e_tests/regression.spec.ts
  playwright.config.ts
  playwright.regression.ts
Due: prettier

didadou
  .github/workflows/non-regression.yml
Due: none

Silent copilot
  .github/workflows/non-regression.yml
Due: none

add permissions
  .github/workflows/regression.yml
Due: none

wjp
  .github/workflows/_regression-job.yml
Due: none

reflexion testing
  .github/workflows/regression.yml
Due: none

Remove duplication
  .github/workflows/regression.yml
Due: none

Add non regression split workflow
  .github/workflows/_regression_job.yml
  .github/workflows/non-regression.yml
Due: none

Fix wget issue
  .github/workflows/_regression-job.yml
Due: none

Disable node cache for now
  .github/actions/setup-frontend/action.yml
Due: none

rename
  .github/workflows/non-regression.yml
  .github/workflows/regression.yml
Due: none

WIP
  .github/workflows/_regression-job.yml
Due: none

download regerssion config locally
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
Due: none

Improve paths
  .github/workflows/regression.yml
Due: none

Silent copilot
  .github/workflows/_regression-job.yml
Due: none

Temporarily run on each pr update
  .github/workflows/regression.yml
Due: none

Rollback node version
  .tool-versions
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
