Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

suppression de l'accent du code mélange_d_inertes_produits… des sous_cat (#2635)
  data-platform/dags/sources/config/db_mapping.json
  webapp/qfdmo/fixtures/carte_configs.json
  webapp/qfdmo/fixtures/categories.json
  webapp/qfdmo/management/commands/rename_souscategorieobjet_code.py
  webapp/qfdmo/migrations/fixtures/souscategorieobjets.json
Due: ruff, ruff-format, djade

deploy: f919ed881f128b7a1e560c68f4c75576217ab4e9
  .doctrees/environment.pickle
Due: none

Ajout de la sous-cat' Smartphone au PAM pour ecologic et ecosysteme (#2634)
  data-platform/dags/sources/config/db_mapping.json
Due: none

deploy: 9dc20e9e9a302f1ace3a89549a214d1db64d6347
  .doctrees/environment.pickle
Due: none

Creation de notebook pour gérer les suggestions permettant de corriger les SIRET et SIREN
  data-platform/dags/clone/config/sql/creation/tables/create_table_ae_etablissement.sql
  data-platform/notebooks/acteur_fix_siret_vs_siren.ipynb
  data-platform/notebooks/acteur_siret_siren_space.ipynb
Due: none

identification des successions
  data-platform/dbt/models/base/ae_annuaire_entreprises/base_ae_lien_succession.sql
  data-platform/dbt/models/base/ae_annuaire_entreprises/schema.yml
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_siret_successeur.sql
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/ae_annuaire_entreprises/int_ae_lien_succession_resolved.sql
  data-platform/dbt/models/intermediate/ae_annuaire_entreprises/schema.yml
  data-platform/dbt/models/marts/stats/marts_acteur_no_siren_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_no_siret_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_siren_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_siret_actif.sql
  data-platform/dbt/models/marts/stats/marts_ae_lien_succession_resolved_vueacteur.sql
  data-platform/dbt/models/marts/stats/schema.yml
  data-platform/dbt/models/source/source_ae_annuaire_entreprises.yml
Due: none

deploy: a9e617119f5a3eb50edf057de77df7bf91de7dfc
  .doctrees/environment.pickle
Due: none

identification des successions (#2636)
  data-platform/dbt/models/base/ae_annuaire_entreprises/base_ae_lien_succession.sql
  data-platform/dbt/models/base/ae_annuaire_entreprises/schema.yml
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_siret_successeur.sql
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/ae_annuaire_entreprises/int_ae_lien_succession_resolved.sql
  data-platform/dbt/models/intermediate/ae_annuaire_entreprises/schema.yml
  data-platform/dbt/models/marts/stats/marts_acteur_no_siren_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_no_siret_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_siren_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_siret_actif.sql
  data-platform/dbt/models/marts/stats/marts_ae_lien_succession_resolved_vueacteur.sql
  data-platform/dbt/models/marts/stats/schema.yml
  data-platform/dbt/models/source/source_ae_annuaire_entreprises.yml
Due: none

deploy: 7c96f657d8e0bbad9f6722e711959ccca9b291f0
  .doctrees/environment.pickle
Due: none

deploy: 62bf701feafc6b4d012f96058cc2f323cf5c47bb
  .doctrees/environment.pickle
Due: none

deploy: d92b2d1194d657f4292a6cb50cfbdddb951fa742
  .doctrees/environment.pickle
Due: none

deploy: 83a93a8e81df1a40895dcddb0feb5d06ae254a05
  .doctrees/environment.pickle
Due: none

Notebook pour les SIRET de 9 caractères
  data-platform/notebooks/acteur_fix_siret_9char_vs_siren.ipynb
  data-platform/notebooks/acteur_fix_siret_vs_siren.ipynb
Due: none

Supprimer les espaces des sirets avec que des espaces
  data-platform/notebooks/acteur_siret_siren_space.ipynb
Due: none

Rollback de la limit à airflow v2
  data-platform/pyproject.toml
Due: none

deploy: e35ae95cbb22fb55cc140b5706f2fb33000561ea
  .doctrees/environment.pickle
Due: none

Rollback de la limit à airflow v2 (#2646)
  data-platform/pyproject.toml
Due: none

deploy: ec7eee9e885dc8f2b2c468192f7372d5b3a8a5eb
  .doctrees/environment.pickle
Due: none

deploy: 11867aca534d4aad0a55044c18eb1df100b75a5a
  .doctrees/environment.pickle
Due: none

Use file as argument
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
  webapp/redirects.csv
Due: ruff, ruff-format, djade

Add redirects
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
  webapp/redirects.csv
Due: ruff, ruff-format, djade

Régression : Ajout de la distance dans le mode liste et la fiche acteur (#2632)
  webapp/core/templatetags/carte_tags.py
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/mode_liste.spec.ts
  webapp/qfdmo/forms.py
  webapp/qfdmo/views/adresses.py
  webapp/qfdmo/views/carte.py
  webapp/templates/ui/pages/acteur.html
  webapp/unit_tests/core/templatetags/test_qfdmo_tags.py
Due: ruff, ruff-format, djade, prettier

deploy: c6eaf78aff4e416d62d3bab83b48136840e47d5b
  .doctrees/environment.pickle
Due: none

Run notebooks
  Makefile
  data-platform/pyproject.toml
  uv.lock
Due: none

Ajout de redirections massives depuis l'ancien site vers le nouveau (#2639)
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
Due: ruff, ruff-format, djade

deploy: c9076577a2d64c736870cff29e1bd8334e83b7e5
  .doctrees/environment.pickle
Due: none

Réparer les liens affichés dans le clustering
  webapp/core/templatetags/admin_data_tags.py
Due: ruff, ruff-format, djade

Suppression du controller suggestion_groupe_row
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/static/to_compile/controllers/admin/suggestion_status_controller.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

prise en compte des remarques
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/static/to_compile/controllers/admin/suggestion_status_controller.ts
  webapp/stats/schemas.py
Due: ruff, ruff-format, djade, prettier

mini update
  webapp/data/models/suggestions/source.py
Due: ruff, ruff-format, djade

refactorisation
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
Due: ruff, ruff-format, djade

refacto + tests
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

Refactoring de la gestion du tableau des suggestion groupe
  webapp/data/views.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

remove vvalues and group fields
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/views.py
  webapp/static/to_compile/js/solution_map.ts
  webapp/templates/data/_partials/suggestion_groupe.html
Due: ruff, ruff-format, djade, prettier

Suppression de l'attribut update-url
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

refacto
  webapp/data/admin.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

move values and group
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

Refactoring de la gestion du tableau des suggestion groupe (#2619)
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/admin.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/static/to_compile/controllers/admin/suggestion_status_controller.ts
  webapp/static/to_compile/js/solution_map.ts
  webapp/stats/schemas.py
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

deploy: e9d09b782330b61092bee3b8a77e37b93e7e50f4
  .doctrees/environment.pickle
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
