Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Squash migrations
  pyproject.toml
  qfdmo/migrations/0188_carteconfig_cacher_filtre_objet_carteconfig_test.py
  qfdmo/migrations/0189_carteconfig_test.py
Due: ruff, ruff-format, djade

Correction du script de migration de la homepage pour qu'il n'écrase pas les brouillons en cours (#2395)
  qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

deploy: d7e549a573403ebff239581e92e6363e2230838a
  .doctrees/environment.pickle
Due: none

Hide logo under a certain breakpoint
  templates/ui/components/header/header.html
Due: none

add search on mobile as well
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
Due: none

fix logos
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/footer/_iframe_footer.html
  templates/ui/components/footer/footer.html
  templates/ui/components/header/header.html
  templates/ui/components/logos/logos.html
Due: ruff, ruff-format, djade

Update logos names
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/header/header.html
  templates/ui/components/logo/combined_logos.html
  templates/ui/components/logo/combined_logos.md
  templates/ui/components/logo/site_logo_large.html
  templates/ui/components/logo/site_logo_large.md
  templates/ui/components/logo/site_logo_mini.html
  templates/ui/components/logo/site_logo_mini.md
  templates/ui/components/patchwork/patchwork.html
Due: ruff, ruff-format, djade, prettier

use iframe footer
  previews/template_preview.py
  templates/ui/components/footer/base.html
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/footer.html
  templates/ui/components/header/header.html
Due: ruff, ruff-format, djade

Remove grey backround behind header in iframe mode
  templates/ui/components/footer/base.iframe.html
Due: none

Corrige un problème d'alignement sur le header des fiches produit
  templates/ui/pages/produit.html
  templates/ui/pages/produit_page.html
Due: none

Différencier les notions de acteur, révision et parent au sein de suggestions
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data/migrations/0021_suggestiongroupe_parent_revision_acteur_and_more.py
  data/models/suggestion.py
  data/models/suggestions/source.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
Due: ruff, ruff-format, djade, prettier

Improve tests and API documentation
  .github/workflows/sync_databases.yml
  AGENTS.md
  api.AGENTS.md
  core/api.py
  docs/reference/README.md
  docs/reference/api_stats/README.md
  docs/reference/apis/README.md
  docs/reference/apis/qfdmo.md
  docs/reference/apis/stats.md
  integration_tests/assistant/test_home.py
  integration_tests/assistant/test_synonyme_detail.py
  integration_tests/carte/test_adresses_view.py
  integration_tests/carte/test_carte_config_bonus_reparation.py
  integration_tests/carte/test_qfdmo_api.py
  qfdmd/api.py
  unit_tests/qfdmo/carte_config_factory.py
Due: ruff, ruff-format, djade, prettier

Simplification de la doc et suppression de référence à l'API qfdmd
  api.AGENTS.md
  api.postman_collection.json
  docs/reference/apis/qfdmo.md
Due: prettier

Amélioration des tests et de la documentation des APIs (#2394)
  .github/workflows/sync_databases.yml
  AGENTS.md
  api.AGENTS.md
  api.postman_collection.json
  core/api.py
  docs/reference/README.md
  docs/reference/api_stats/README.md
  docs/reference/apis/README.md
  docs/reference/apis/qfdmo.md
  docs/reference/apis/stats.md
  integration_tests/assistant/test_home.py
  integration_tests/assistant/test_synonyme_detail.py
  integration_tests/carte/test_adresses_view.py
  integration_tests/carte/test_carte_config_bonus_reparation.py
  integration_tests/carte/test_qfdmo_api.py
  qfdmd/api.py
  unit_tests/qfdmo/carte_config_factory.py
Due: ruff, ruff-format, djade, prettier

Fix precommit
  .pre-commit-config.yaml
Due: none

PR feedback
  .pre-commit-config.yaml
  e2e_tests/carte_config.spec.ts
  e2e_tests/helpers.ts
  previews/template_preview.py
  qfdmo/models/config.py
  templates/ui/tests/t_10_bonus_legacy_parameter_script.html
  templates/ui/tests/t_9_bonus_legacy_parameter_iframe.html
Due: ruff, ruff-format, djade, prettier

Handle more case for bonus value
  qfdmo/forms.py
Due: ruff, ruff-format, djade

Add missing migration
  .pre-commit-config.yaml
  qfdmo/migrations/0188_carteconfig_cacher_filtre_objet_carteconfig_test.py
Due: ruff, ruff-format, djade

Mirror settings from official pre commit hooks
  .pre-commit-config.yaml
Due: none

Remove skiplinks
  core/context_processors.py
  templates/ui/layout/assistant.html
Due: ruff, ruff-format, djade

revert anchor
  templates/ui/layout/assistant.html
Due: none

Correction des pre-commits hook (#2399)
  .pre-commit-config.yaml
Due: none

deploy: fe4e43ef0fcf3dd45dbe0381356f1217c293c232
  .doctrees/environment.pickle
Due: none

Revert "Correction du script de migration de la homepage pour qu'il n'écrase pas les brouillons en cours (#2395)"
  qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

Revert "Correction d'un bug empêchant d'afficher des pages suite au déplacement de la page d'accueil (#2391)"
  qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

Revert "Migration de la page d'accueil vers une page de contenu Sites Faciles (#2388)"
  Makefile
  core/settings.py
  integration_tests/assistant/test_home.py
  previews/template_preview.py
  qfdmd/admin.py
  qfdmd/fixtures/suggestions.json
  qfdmd/management/commands/migrate_homepage.py
  qfdmd/migrations/0069_delete_suggestion.py
  qfdmd/models.py
  qfdmd/views.py
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
  unit_tests/qfdmd/qfdmod_factory.py
Due: ruff, ruff-format, djade

Revert des changements sur la page d'accueil (#2401)
  Makefile
  core/settings.py
  integration_tests/assistant/test_home.py
  previews/template_preview.py
  qfdmd/admin.py
  qfdmd/fixtures/suggestions.json
  qfdmd/management/commands/migrate_homepage.py
  qfdmd/migrations/0069_delete_suggestion.py
  qfdmd/models.py
  qfdmd/views.py
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
  unit_tests/qfdmd/qfdmod_factory.py
Due: ruff, ruff-format, djade

deploy: 76c29141c71b8849541b5c7a79785a4d9f44adc7
  .doctrees/environment.pickle
Due: none

Revert "Revert des changements sur la page d'accueil (#2401)"
  Makefile
  core/settings.py
  integration_tests/assistant/test_home.py
  previews/template_preview.py
  qfdmd/admin.py
  qfdmd/fixtures/suggestions.json
  qfdmd/management/commands/migrate_homepage.py
  qfdmd/migrations/0069_delete_suggestion.py
  qfdmd/models.py
  qfdmd/views.py
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
  unit_tests/qfdmd/qfdmod_factory.py
Due: ruff, ruff-format, djade

suppression de unique_together au profit de UniqueConstraint
  qfdmd/migrations/0067_alter_produitlien_unique_together_and_more.py
  qfdmd/models.py
  qfdmo/migrations/0179_alter_groupeactionconfig_unique_together_and_more.py
  qfdmo/models/config.py
Due: ruff, ruff-format, djade

Remove script
  qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

Optimisation des index de la DB
  qfdmd/migrations/0069_alter_produitlien_unique_together_and_more.py
  qfdmd/migrations/0070_alter_produitlien_produit.py
  qfdmd/models.py
  qfdmo/migrations/0188_alter_groupeactionconfig_unique_together_and_more.py
  qfdmo/migrations/0189_remove_acteur_acteur_unique_by_source_and_external_id_and_more.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Remove leftover
  core/context_processors.py
  previews/template_preview.py
  qfdmd/forms.py
Due: ruff, ruff-format, djade

Implement show on focus
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
Due: ruff, ruff-format, djade

Explain approach in docstring and less verbose approach
  core/widgets.py
Due: ruff, ruff-format, djade

Type
  core/widgets.py
Due: ruff, ruff-format, djade

Namespace forms
  core/context_processors.py
  templates/ui/components/header/header.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade

???
  tailwind.config.js
Due: prettier

Move view
  qfdmd/views.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
