Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Gestion du formatage des fichiers OpenTofu (#2318)
  .github/dependabot.yml
  .pre-commit-config.yaml
  docs/comment-faire/troubleshooting.md
Due: prettier

Ajout de la colonne manquante lors du clone de AE (#2341)
  dags/clone/config/sql/creation/tables/create_table_ae_etablissement.sql
  dags/clone/config/sql/creation/tables/create_table_ae_unite_legale.sql
  dags/clone/config/sql/creation/views/create_view_ae_etablissement_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ae_unite_legale_in_use.sql
Due: none

Gestion d'un switch entre Suggestion et SuggestionGroupe pour les DAG source (#2343)
  dags/sources/dags/source_aliapur.py
  dags/sources/dags/source_batribox.py
  dags/sources/dags/source_citeo.py
  dags/sources/dags/source_cma.py
  dags/sources/dags/source_corepile.py
  dags/sources/dags/source_cyclevia.py
  dags/sources/dags/source_ecodds.py
  dags/sources/dags/source_ecologic.py
  dags/sources/dags/source_ecomaison.py
  dags/sources/dags/source_ecopae.py
  dags/sources/dags/source_ecosystem.py
  dags/sources/dags/source_ocab.py
  dags/sources/dags/source_ocad3e.py
  dags/sources/dags/source_pharmacies.py
  dags/sources/dags/source_pyreo.py
  dags/sources/dags/source_refashion.py
  dags/sources/dags/source_s3.py
  dags/sources/dags/source_sinoe.py
  dags/sources/dags/source_soren.py
  dags/sources/dags/source_valdelia.py
  dags/sources/tasks/airflow_logic/config_management.py
  dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
Due: ruff, ruff-format, djade

Utilisation des librairies locales dans le script de pre-commit (#2340)
  .pre-commit-config.yaml
Due: none

perimetre_adomicile_codes est manquant lors de l'interprétation de SuggestionGroupe (#2342)
  data/models/suggestion.py
Due: ruff, ruff-format, djade

deploy: 13cb6f8454456cf6a5c76946ab03a1314a76bb46
  .doctrees/environment.pickle
Due: none

deploy: 89637eab0b960b59b24255ddd1a2d5aa7776cafe
  .doctrees/environment.pickle
Due: none

Enregistrement des dataframes dans entre deux tâches des tables temporaires au lieux de les enregistrer comme des xcoms
  dags/sources/tasks/airflow_logic/db_data_prepare_task.py
  dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  dags/tests/sources/tasks/business_logic/test_db_data_prepare.py
  dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

Suppression de l'étape de read_acteur
  dags/sources/tasks/airflow_logic/db_read_acteur_task.py
  dags/sources/tasks/airflow_logic/keep_acteur_changed_task.py
  dags/sources/tasks/airflow_logic/operators.py
Due: ruff, ruff-format, djade

Enregistrement des dataframes dans entre deux tâches des tables temporaires (#2368)
  dags/sources/tasks/airflow_logic/db_data_prepare_task.py
  dags/sources/tasks/airflow_logic/db_read_acteur_task.py
  dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  dags/sources/tasks/airflow_logic/keep_acteur_changed_task.py
  dags/sources/tasks/airflow_logic/operators.py
  dags/tests/sources/tasks/business_logic/test_db_data_prepare.py
  dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

deploy: 3ec2b0baf20276575147447ab74768da9b69d1db
  .doctrees/environment.pickle
Due: none

deploy: c4bd90691f0ceca08c076f712a34786b88c5ee06
  .doctrees/environment.pickle
Due: none

deploy: b3b5be4927e159eab30929a91e20fc99578b407a
  .doctrees/environment.pickle
Due: none

deploy: 12ac2745d6db056e08db6e538509a2b023216745
  .doctrees/environment.pickle
Due: none

deploy: 9d5d1facfa058045e6c01ab61b10ff337d7d16af
  .doctrees/environment.pickle
Due: none

deploy: 7c75617ec934bd9949e632e2f67662d2da653c76
  .doctrees/environment.pickle
Due: none

deploy: 6114430cb0c0c27d2d2711ec0e6279382217e9b5
  .doctrees/environment.pickle
Due: none

deploy: 8d310a96651099c70d163221c191b888231b2b71
  .doctrees/environment.pickle
Due: none

deploy: 5e12a604c3a79c9b4d92ac35ac5a5999a97d615c
  .doctrees/environment.pickle
Due: none

deploy: aa22dd6607fedffa247022948eab4b32e12f39bb
  .doctrees/environment.pickle
Due: none

Application de la valeur vide si une erreur des type Warningestretournée lors de la transformation de la colonne
  dags/sources/tasks/business_logic/source_data_normalize.py
  dags/tests/sources/tasks/business_logic/test_source_data_normalize.py
Due: ruff, ruff-format, djade

Suppression du retry lors du apply d'une suggestion
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
Due: ruff, ruff-format, djade

Application de la valeur vide lors de la levée d'exception de type Warning (#2371)
  dags/sources/tasks/business_logic/source_data_normalize.py
  dags/tests/sources/tasks/business_logic/test_source_data_normalize.py
Due: ruff, ruff-format, djade

Suppression du retry lors du apply d'une suggestion (#2372)
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
Due: ruff, ruff-format, djade

deploy: 109e0a0c4920fd5fa190c9aca4e797e6768fb97b
  .doctrees/environment.pickle
Due: none

deploy: 8ea66f1b66e63aa02cf9c45c177ab73555fdc84f
  .doctrees/environment.pickle
Due: none

Add variable to not display thewarning about internet exposure
  dags/.env.template
  infrastructure/modules/container/airflow-webserver.tf
Due: none

Ajout des variables pour ne pas afficher le warning relatif à l'exposition de Airflow sur Internet (#2373)
  dags/.env.template
  infrastructure/modules/container/airflow-webserver.tf
Due: none

deploy: 5b873f2a3b70d9069111c813b408e81e53f00e4b
  .doctrees/environment.pickle
  _downloads/53cb3d4b862676d49a89882c7f33b7d6/.env.template
Due: none

Amélioration de la recherche dans les objects de type Suggestion
  core/admin.py
  data/admin.py
Due: ruff, ruff-format, djade

Amélioration de la recherche dans les objects de type Suggestion (#2374)
  core/admin.py
  data/admin.py
Due: ruff, ruff-format, djade

deploy: 26b514cfc9a19dbad56b1ab1f39b12754e713c81
  .doctrees/environment.pickle
Due: none

deploy: b7880639e153cd8e38777f8e8f3c61c54dc7098d
  .doctrees/environment.pickle
Due: none

suppression de code mort
  data/models/suggestion.py
  data/views.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

Afficher les modif de révision qui seront effectivement faite
  data/views.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

remove useless logging
  data/views.py
Due: ruff, ruff-format, djade

manage empty values
  core/templatetags/admin_data_tags.py
  data/admin.py
  data/models/apply_models/abstract_apply_model.py
  data/models/apply_models/source_apply_model.py
  data/models/suggestion.py
  data/models/utils.py
  data/views.py
  qfdmo/models/acteur.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
  unit_tests/data/models/apply_models/test_source_apply_model.py
  unit_tests/data/test_admin_actions.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

Suppression du serializer
  data/admin.py
  data/models/suggestion.py
  data/views.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

factorisation
  data/models/suggestion.py
  data/views.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
