Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Add llm-assisted comments and tests
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/integration_tests/assistant/test_synonyme_detail.py
  webapp/qfdmd/models.py
  webapp/qfdmd/utils.py
  webapp/qfdmd/views.py
  webapp/templates/ui/components/footer/base.iframe.html
  webapp/templates/ui/components/produit/produit.html
  webapp/templates/ui/components/produit/voir_version_standalone.html
  webapp/templates/ui/pages/produit_page.html
  webapp/unit_tests/qfdmd/test_produit_page.py
  webapp/unit_tests/qfdmd/test_utils.py
Due: ruff, ruff-format, djade, prettier

add utm
  webapp/integration_tests/assistant/test_synonyme_detail.py
  webapp/qfdmd/models.py
  webapp/qfdmd/utils.py
  webapp/unit_tests/qfdmd/test_utils.py
Due: ruff, ruff-format, djade

rename
  webapp/unit_tests/qfdmd/test_qfdmd_utils.py
Due: ruff, ruff-format, djade

better conformity to mockups
  webapp/qfdmd/models.py
  webapp/templates/ui/components/footer/base.iframe.html
  webapp/templates/ui/components/produit/produit.html
  webapp/templates/ui/components/produit/voir_version_standalone.html
  webapp/templates/ui/pages/produit_page.html
Due: ruff, ruff-format, djade

add to legacy fiche dechet
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

improve
  webapp/templates/ui/components/produit/produit.html
  webapp/templates/ui/pages/produit_page.html
Due: none

Break content in iframe
  webapp/qfdmd/models.py
  webapp/templates/ui/components/produit/produit.html
  webapp/templates/ui/components/produit/voir_version_standalone.html
  webapp/templates/ui/pages/produit_page.html
Due: ruff, ruff-format, djade

deploy: 9b4d450eff52c0ac3de2f46972c8c125af311c95
  .doctrees/environment.pickle
Due: none

deploy: 9da065107584896707225ac8231f5f4c10462033
  .doctrees/environment.pickle
Due: none

Refactor controller / outlet / stimulus approach for cartes
  webapp/e2e_tests/carte_pinpoint_no_reload.spec.ts
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/carte/frame_location_controller.ts
  webapp/static/to_compile/controllers/carte/search_solution_form_controller.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/controllers/shared/location_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/static/to_compile/js/location_store.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/static/to_compile/tests/frame_location_controller.test.ts
  webapp/static/to_compile/tests/location_controller.test.ts
  webapp/static/to_compile/tests/location_store.test.ts
  webapp/static/to_compile/tests/search_solution_form_hydration.test.ts
  webapp/templates/templatetags/carte.html
  webapp/templates/ui/components/carte/shared/_search_in_zone.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/templates/ui/pages/formulaire.html
Due: prettier

Suppression des espaces autour des emails
  webapp/qfdmo/management/commands/trim_emails.py
Due: ruff, ruff-format, djade

fix(iframe): mention du terme recherché manquante sur la fiche
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
Due: prettier

deploy: 0894544223b62bf734b8d9945316068762697a3d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: fd4c0a5c6cc966e913af332c154f9a0302282ca5
  .doctrees/environment.pickle
Due: none

deploy: 83425137e19aced9625e6bd3ea96bcc131165f02
  .doctrees/environment.pickle
Due: none

deploy: b964cb45ba1cf2aa132d5df768a4f9fa1dcb4f2e
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: e0f5902542bcf4f81e4ace6ebec22a4e3ac7e461
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: b7030a04b456618064b26b34dbedf8f17a5e8bd8
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 1a32a66b95e00c00eaf5460eee81dc3f81f2fff9
  .doctrees/environment.pickle
Due: none

deploy: 8b6e6d6ad22d660ddaafef49b690fefa799260d0
  .doctrees/environment.pickle
Due: none

deploy: 5a93a79faedbd90a6ff1abac8539c06b701ade98
  .doctrees/environment.pickle
Due: none

deploy: 972737ece5d20c2c73f49b47c2b44785a96dfd2a
  .doctrees/environment.pickle
Due: none

deploy: 9182f36ee763e7a93935f909e30bb5fc110a71c1
  .doctrees/environment.pickle
Due: none

deploy: 101021f34f66eaca37b937bd8bb1f24edc017cd1
  .doctrees/environment.pickle
Due: none

deploy: a6fd57d312f3783499f80adf2ca335308afd82c6
  .doctrees/environment.pickle
Due: none

deploy: d770a8e246f7cd2eb5308878ed955e37a3cd3de0
  .doctrees/environment.pickle
Due: none

deploy: eaeeaa98223dd45028d7fcf93ebc386b2b95bf3d
  .doctrees/environment.pickle
Due: none

Ajout de documentation pour la sécurité et les Agents IA
  docs/reference/security/application.md
Due: prettier

Mise à jour de la doc application pour la sécurité
  docs/reference/security/application.md
Due: prettier

Compléter la doc
  docs/how-to/development/README.md
  docs/how-to/development/installation.md
  docs/how-to/development/secure_development.md
  docs/reference/README.md
  docs/reference/architecture/README.md
  docs/reference/architecture/data-flow.md
  docs/reference/architecture/external-services.md
  docs/reference/data-platform/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/data-platform/sources.md
  docs/reference/infrastructure/monitoring.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/README.md
  docs/reference/security/application.md
  docs/reference/security/authentication.md
  docs/reference/security/backups.md
  docs/reference/security/network.md
  docs/reference/security/secrets.md
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
