Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Compteur : sans JIT ni workers parallèles, le compte passe de 1,3 s à 0,1 s
  webapp/assistant/compte.py
  webapp/unit_tests/assistant/test_compte.py
Due: ruff, ruff-format, djade

Open data consignes : bloc CMS typé, API v1, export hebdomadaire et conversion des fiches
  data-platform/dags/acteurs/dags/export_opendata.py
  data-platform/dags/acteurs/tasks/airflow_logic/config_management.py
  data-platform/dags/acteurs/tasks/airflow_logic/export_opendata_fiches_to_s3_task.py
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_fiches_to_s3.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_export_opendata_fiches_to_s3.py
  docs/reference/apis/v1.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/opendata/README.md
  docs/reference/opendata/exposure-opendata-fiches.md
  webapp/.env.template
  webapp/assistant/consignes.py
  webapp/core/api.py
  webapp/qfdmd/api.py
  webapp/qfdmd/blocks.py
  webapp/qfdmd/consignes_migration.py
  webapp/qfdmd/migrations/0094_lieudedepot_and_consignes_block.py
  webapp/qfdmd/migrations/0095_consignes_column_width_derived.py
  webapp/qfdmd/migrations/0096_consignes_column_width_back.py
  webapp/qfdmd/migrations/0097_seed_lieux_de_depot.py
  webapp/qfdmd/models.py
  webapp/qfdmd/opendata.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_generate_consignes.html
  webapp/templates/ui/blocks/consigne.html
  webapp/templates/ui/blocks/consignes.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/qfdmd/test_consignes_block.py
  webapp/unit_tests/qfdmd/test_consignes_migration.py
  webapp/unit_tests/qfdmd/test_opendata.py
Due: ruff, ruff-format, djade, prettier

Preview : label preview:isoprod, base de production et conteneur toujours actif
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/preview-up.yml
  docs/reference/infrastructure/preview-environments.md
  infrastructure/Makefile
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/environments/preview/_template/database/terragrunt.hcl
  infrastructure/modules/preview_database/main.tf
  infrastructure/modules/preview_database/variables.tf
Due: prettier

fix: preview isoprod, lire l'ID du backup et masquer le mot de passe de la base
  infrastructure/modules/preview_database/main.tf
Due: none

Assistant : bascule vers la V2 par hôte, sans changer iframe.js
  webapp/qfdmd/middleware.py
  webapp/settings/base.py
  webapp/static/to_compile/assistant.ts
  webapp/unit_tests/assistant/test_script_redirect.py
Due: ruff, ruff-format, djade, prettier

wait for final autocomplete response in synonym search tests
  webapp/e2e_tests/search.spec.ts
Due: prettier

Fiche sans adresse : les boutons proposent la géolocalisation
  webapp/static/to_compile/controllers/assistant/geolocalisation_controller.ts
  webapp/static/to_compile/images/assistant/ui/chargement.svg
  webapp/static/to_compile/images/assistant/ui/localisation.svg
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Recherche : l'adresse devient facultative
  webapp/assistant/forms.py
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
Due: ruff, ruff-format, djade

Fiche lieu : état ouvert des accordéons, iso maquette
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/unit_tests/assistant/test_lieu.py
Due: ruff, ruff-format, djade, prettier

deploy: 044a3bbb2404954e26c4c2a92980a4f569de84fe
  .doctrees/environment.pickle
Due: none

set up db port through env variable
  Makefile
  docker-compose.yml
  docs/how-to/development/installation.md
  webapp/.env.template
  webapp/Makefile
Due: prettier

forward http to lookbook
  servers.conf.erb
  webapp/settings/base.py
Due: ruff, ruff-format, djade

read from db the gestes
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

replace suggestions
  webapp/previews/widgets.py
Due: ruff, ruff-format, djade

Use proper django forms
  webapp/assistant/forms.py
  webapp/assistant/views/geojson.py
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade

Carte : suite de la revue
  webapp/assistant/apps.py
  webapp/assistant/tests/__init__.py
  webapp/assistant/views/geojson.py
  webapp/core/storage.py
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/previews/template_preview.py
  webapp/previews/widgets.py
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
  webapp/settings/base.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/controllers/assistant/chrono_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.test.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.ts
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/static/to_compile/maplibre-worker.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/django_lookbook/preview.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade, prettier

Potential fix for pull request finding 'CodeQL / Information exposure through an exception'
  webapp/assistant/views/geojson.py
Due: ruff, ruff-format, djade

Use native geodjango for knn operator
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Update comments
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Assistant : bascule vers la V2 par hôte, sans changer iframe.js
  webapp/assistant/__init__.py
  webapp/assistant/apps.py
  webapp/assistant/urls.py
  webapp/core/urls.py
  webapp/qfdmd/middleware.py
  webapp/settings/base.py
  webapp/unit_tests/assistant/test_script_redirect.py
Due: ruff, ruff-format, djade

Correction des tests e2e suite à la correction de la recherche (#3471)
  webapp/e2e_tests/search.spec.ts
Due: prettier

deploy: 6a7f6fd9683c576a2193ab0ce60f06c4bb2e781f
  .doctrees/environment.pickle
Due: none

deploy: 1c86f5f2241f1caf01b01a9a90430017fce953e3
  .doctrees/environment.pickle
Due: none

Nouvelle interface d'administration des suggestions
  prompts/prompt_suggestion.md
Due: prettier

deploy: 4b9e70671136fbd147852bce3dfe7d62b2c8ce10
  .doctrees/environment.pickle
Due: none

unify code style
  webapp/qfdmd/middleware.py
Due: ruff, ruff-format, djade

Missing target base url
  webapp/.env.template
  webapp/assistant/urls.py
  webapp/qfdmd/middleware.py
  webapp/settings/base.py
  webapp/unit_tests/assistant/test_script_redirect.py
Due: ruff, ruff-format, djade

Assistant V2 : l'hôte d'ASSISTANT_V2_BASE_URL ajouté à ALLOWED_HOSTS
  webapp/.env.template
  webapp/assistant/urls.py
  webapp/qfdmd/middleware.py
  webapp/settings/base.py
Due: ruff, ruff-format, djade

deploy: 33a89fd3a256abf97086655efed4609c8e9ed48b
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: e0eebaceefa3d24216aa5590d2cf2192d5443b6e
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

le settings du workers est passé sur le module API
  data-platform/dags/.env.template
  infrastructure/modules/airflow_containers/airflow-webserver.tf
Due: none

le settings du workers est passé sur le module API (#3463)
  data-platform/dags/.env.template
  infrastructure/modules/airflow_containers/airflow-webserver.tf
Due: none

deploy: c923cb84f5b2cd5ea759df5503316953fce3714d
  .doctrees/environment.pickle
  _downloads/95c1cc2a3cf369594f0f2533889e0ba5/.env.template
Due: none

test: define V2_BASE_URL in script redirect fixture
  webapp/unit_tests/assistant/test_script_redirect.py
Due: ruff, ruff-format, djade

build(deps): pin @swc/core to 1.16.2
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

deploy: 101f13697cf53eb09420ccf6a50f5a0343b1aee8
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

pin @swc/core to 1.16.2 (corrige le build Scalingo) (#3483)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
