Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

deploy: 0af43c91c99995da25b5e3d467baffc6a84e2515
  .doctrees/environment.pickle
Due: none

deploy: 332aae7475440104b13b16c233d75772a7f04ca3
  .doctrees/environment.pickle
Due: none

Tracking des clics sur résultats de recherche et refacto autocomplete
  webapp/core/widgets.py
  webapp/e2e_tests/search.spec.ts
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/qfdmd/views.py
  webapp/static/to_compile/controllers/formulaire/ss_cat_object_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
  webapp/templates/ui/components/search/search_result_produitpage.html
  webapp/templates/ui/components/search/search_result_searchtag.html
  webapp/templates/ui/components/search/search_result_synonyme.html
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/templates/ui/pages/carte.html
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade, prettier

deploy: 91c35c736709cf57eb738a22b9da919d02a09b01
  .doctrees/environment.pickle
Due: none

Formatting
  scripts/db_schema_create_from_csv.py
  webapp/.eslintrc.js
  webapp/dsfr_hacks/colors.js
  webapp/e2e_tests/carte.spec.ts
  webapp/parcel-transformers/remove-ie-hack.ts
Due: ruff, ruff-format, djade, prettier

fix rebase
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

Tracking des clics sur résultats de recherche (#2722)
  scripts/db_schema_create_from_csv.py
  webapp/.eslintrc.js
  webapp/core/widgets.py
  webapp/dsfr_hacks/colors.js
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/search.spec.ts
  webapp/parcel-transformers/remove-ie-hack.ts
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/qfdmd/views.py
  webapp/static/to_compile/controllers/formulaire/ss_cat_object_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
  webapp/templates/ui/components/search/search_result_produitpage.html
  webapp/templates/ui/components/search/search_result_searchtag.html
  webapp/templates/ui/components/search/search_result_synonyme.html
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/templates/ui/pages/carte.html
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade, prettier

deploy: 2500c4335912fbd004203c54fe094a519359d6dd
  .doctrees/environment.pickle
Due: none

downgrade itertools in webapp
  data-platform/uv.lock
  webapp/pyproject.toml
  webapp/uv.lock
Due: none

downgrade itertools in webapp (#2732)
  data-platform/uv.lock
  webapp/pyproject.toml
  webapp/uv.lock
Due: none

deploy: d302032fcd99768aab0d4db13f8dcc8c0b41d79c
  .doctrees/environment.pickle
Due: none

deploy: 3af5de234a8502b83f592dc9947043091ada8835
  .doctrees/environment.pickle
Due: none

deploy: de751d49403c263113bc4a5c4ec8d4edfa5449ab
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 3a75f20e61b373c66bff8ceaac99e8338df32438
  .doctrees/environment.pickle
Due: none

review eslint dependencies
  webapp/eslint.config.js
  webapp/package-lock.json
  webapp/package.json
Due: prettier

review eslint dependencies (#2734)
  webapp/eslint.config.js
  webapp/package-lock.json
  webapp/package.json
Due: prettier

deploy: 02549cea47344d5052557d13b148b241e806b052
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Rajoute une fonction accidentellement supprimée
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

lock pandas
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: none

Debug pandas
  data-platform/dags/tests/shared/tasks/airflow_logic/test_packages_compatibility.py
Due: ruff, ruff-format, djade

CI fix
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters.py
Due: ruff, ruff-format, djade

debug
  data-platform/uv.lock
  webapp/pyproject.toml
Due: none

Corrige les tests qui ne passent plus après les mises à jour de Pandas (#2735)
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters.py
  data-platform/dags/tests/shared/tasks/airflow_logic/test_packages_compatibility.py
  data-platform/pyproject.toml
  data-platform/uv.lock
  webapp/pyproject.toml
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

deploy: 635eeebd87202a84eb210cd98d39996bc87fcbd3
  .doctrees/environment.pickle
Due: none

Corrige les tests e2e en échec suite à une mise à jour de dépendances
  webapp/playwright.config.ts
Due: prettier

Corrige les tests e2e en échec suite à une mise à jour de dépendances (#2736)
  webapp/playwright.config.ts
Due: prettier

deploy: 8401c9785ed6c8136dd3db2b08652368a04834aa
  .doctrees/environment.pickle
Due: none

deploy: 2d0b77ece0b2a5f937266a8e0127b46a0af67ca0
  .doctrees/environment.pickle
Due: none

deploy: 7a13a52602d3b173c5bb22a3e73843cd93506c55
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 4120a89a79f64b56e06138ecd7f4456dc51d3de0
  .doctrees/environment.pickle
Due: none

deploy: 0ead0ce47923cc0ec1fdce2e0f1b7ba61823dd1e
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: cb21ed93046844d2e9528a39ad67ef99275e9dd7
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 087c97f28a3734130ec19af19d83df174b98c26a
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: a014a3af9a2898b44652a28f012fa7b61525e7af
  .doctrees/environment.pickle
Due: none

deploy: bc84f82c7869a81c0a9a76267d91a678173a35ab
  .doctrees/environment.pickle
Due: none

deploy: 299909c44e7547e28ac0f554a020fa2603724e35
  .doctrees/environment.pickle
Due: none

deploy: b0738f07c178ede07fd80662b71fb1bf9e7252bf
  .doctrees/environment.pickle
Due: none

deploy: 21f761cf3011d15a4e0a87f256a2e9298b939756
  .doctrees/environment.pickle
Due: none

deploy: 8995f46a662f53bf4c81d1236dcfb0454eec26ea
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: ruff, ruff-format, djade

fix search error production
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/search/wagtail_hooks.py
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: ruff, ruff-format, djade
