Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

yolo
  pyproject.toml
  webapp/pyproject.toml
Due: none

debug e2e
  webapp/e2e_tests/helpers.ts
Due: prettier

Fix migration
  webapp/qfdmd/migrations/0071_remove_produitpage_bonus_and_more.py
Due: ruff, ruff-format, djade

Mise à jour de wagtailmenus et django (#2578)
  pyproject.toml
  uv.lock
  webapp/core/settings.py
  webapp/pyproject.toml
  webapp/qfdmd/migrations/0071_remove_produitpage_bonus_and_more.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

deploy: 8544beaa737543b0b601bb65a84c53a0f904be10
  .doctrees/environment.pickle
Due: none

disable cache
  .github/actions/prepare-django-db/action.yml
Due: none

debug e2e
  webapp/e2e_tests/fixtures.ts
  webapp/e2e_tests/helpers.ts
Due: prettier

refine gh actions
  .github/actions/start-django-server/action.yml
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/pyproject.toml
Due: prettier

debug migrations following django 6.0 update
  webapp/e2e_tests/formulaire.spec.ts
  webapp/qfdmd/migrations/0073_remove_synonyme_id_and_more.py
Due: ruff, ruff-format, djade, prettier

rewrite migrations following django 6.0 upgrade
  webapp/qfdmd/migrations/0073_remove_synonyme_id_and_more.py
Due: ruff, ruff-format, djade

WIP
  webapp/e2e_tests/formulaire.spec.ts
  webapp/playwright.config.ts
Due: prettier

Add disconnect
  webapp/static/to_compile/controllers/carte/map_controller.ts
Due: prettier

Add back cache
  .github/actions/prepare-django-db/action.yml
Due: none

Transfrom python script to ts script
  chrome-extension/src/pages/content/index.tsx
  chrome-extension/src/types.ts
  playwright.extension.config.ts
  scripts/check_carte_integrations.ts
  scripts/list-reuse-url.txt
  webapp/e2e_tests/chrome_extension.spec.ts
  webapp/static/to_compile/js/shared_constants.ts
  webapp/static/to_compile/js/shared_detection.ts
Due: prettier

DAG pour cloner la tables des liens de succession d'entreprise
  data-platform/dags/clone/config/sql/creation/tables/create_table_ae_lien_succession.sql
  data-platform/dags/clone/config/sql/creation/views/create_view_ae_lien_succession_in_use.sql
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
Due: ruff, ruff-format, djade

Creation de notebook pour gérer les suggestions permettant de corriger les SIRET et SIREN
  data-platform/dags/clone/config/sql/creation/tables/create_table_ae_etablissement.sql
  data-platform/notebooks/acteur_fix_siret_vs_siren.ipynb
  data-platform/notebooks/acteur_siret_siren_space.ipynb
Due: none

Acteur avec SIRET ou SIREN non actif
  data-platform/dbt/models/marts/stats/marts_acteur_no_siren_actif.sql
  data-platform/dbt/models/marts/stats/marts_acteur_no_siret_actif.sql
  data-platform/dbt/models/marts/stats/schema.yml
  data-platform/dbt/models/source/source_stats.yml
Due: none

Simplify carte check
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/carte_config.spec.ts
  webapp/e2e_tests/fixtures.ts
  webapp/e2e_tests/helpers.ts
Due: prettier

Fix flaky tests
  webapp/e2e_tests/carte.spec.ts
  webapp/playwright.config.ts
Due: prettier

re-enable sharding
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
  webapp/e2e_tests/helpers.ts
Due: prettier

fix test
  webapp/e2e_tests/helpers.ts
  webapp/templates/ui/components/carte/mode_liste.html
Due: prettier

useless wait
  webapp/e2e_tests/helpers.ts
Due: prettier

wip
  .github/workflows/_e2e.yml
Due: none

Wip
  .github/workflows/_e2e.yml
Due: none

debug
  .github/workflows/_e2e.yml
  webapp/e2e_tests/carte.spec.ts
Due: prettier

re-skip button
  webapp/e2e_tests/carte.spec.ts
Due: prettier

debug
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

deploy: 88fbd8130117c379e9b2c4256082ec594159191b
  .doctrees/environment.pickle
  .doctrees/how-to/development/create_webapp_sample_db.doctree
  _downloads/142aa9b9f39d5f22afba640e3a2ddc4e/create_extensions.sql
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
  _sources/how-to/development/create_webapp_sample_db.md.txt
  how-to/development/README.html
  how-to/development/create_webapp_sample_db.html
  searchindex.js
Due: ruff, ruff-format, djade, prettier

Faster CI/CD
  .github/workflows/_backend-test-job.yml
  .github/workflows/ci.yml
Due: none

Update migration script
  webapp/bin/post_deploy
  webapp/qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

replay changes
  webapp/core/context_processors.py
  webapp/core/widgets.py
  webapp/previews/template_preview.py
  webapp/qfdmd/forms.py
  webapp/qfdmd/management/commands/migrate_homepage.py
  webapp/qfdmd/migrations/0075_homepagesettings.py
  webapp/qfdmd/migrations/0076_homepage.py
  webapp/qfdmd/migrations/0077_delete_homepagesettings.py
  webapp/qfdmd/migrations/0078_homepage_inherit_contentpage.py
  webapp/qfdmd/migrations/0079_remove_homepage_hero_title.py
  webapp/qfdmd/mixins.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/views/carte.py
  webapp/qfdmo/widgets.py
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/tailwind.config.js
  webapp/templates/ui/components/header/base.html
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/components/header/combined_logos.html
  webapp/templates/ui/components/header/header.html
  webapp/templates/ui/components/search/autocomplete_header_view.html
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/autocomplete_view.html
  webapp/templates/ui/components/search/search_result.html
  webapp/templates/ui/components/search/search_result_produitpage.html
  webapp/templates/ui/components/search/search_result_searchtag.html
  webapp/templates/ui/components/search/search_result_synonyme.html
  webapp/templates/ui/forms/widgets/autocomplete/_results_item.html
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/templates/ui/forms/widgets/autocomplete/results.html
  webapp/templates/ui/forms/widgets/autocomplete/results_item.html
  webapp/templates/ui/forms/widgets/autocomplete/synonyme.html
  webapp/templates/ui/forms/widgets/autocomplete/synonyme_results_item.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

updates
  webapp/dsfr_hacks/extract_dsfr_semantic_colors.js
  webapp/dsfr_hacks/extract_dsfr_typography.js
  webapp/dsfr_hacks/semantic_colors.js
  webapp/dsfr_hacks/typography.js
  webapp/tailwind.config.js
  webapp/templates/ui/components/logo/site_logo_large.html
  webapp/templates/ui/pages/home.html
Due: prettier

Updates
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/templates/ui/forms/widgets/autocomplete/results.html
Due: none

Fix grid
  webapp/playwright.config.ts
  webapp/qfdmd/management/commands/migrate_homepage.py
  webapp/qfdmd/models.py
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

Add focus color
  webapp/tailwind.config.js
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: prettier

ADd temporariy icons
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/article-sport.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/aspirateur.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/boat.png
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/bouilloire.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/briques-batiment.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/canapetextile.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/cigarette-megot.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/doudou.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/eauenbouteille.png
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/enceintebluetooth.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/fusee-detresse.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/huile-moteur.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/lit.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/marteau.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/medicaments.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/panneau-solaire.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/petit-extincteur.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/piles.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/pot-peinture.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/repasvegetarien.png
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/seringue.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/smartphone.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/sweatencoton.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/television.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/truelle-jardin 1.svg
  webapp/TEMPORARY_ICONS_TO_DOWNLOAD_FOR_NEW_HOMEPAGE/yaourt.svg
Due: none

Add comment
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

Fallback
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade
