Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Assistant V2 : redirection des réutilisateurs existants vers l'assistant v2 (#3480)
  webapp/.env.template
  webapp/assistant/__init__.py
  webapp/assistant/apps.py
  webapp/assistant/urls.py
  webapp/core/urls.py
  webapp/qfdmd/middleware.py
  webapp/settings/base.py
  webapp/unit_tests/assistant/test_script_redirect.py
Due: ruff, ruff-format, djade

deploy: ed51cb45b0114b15f8e23fbb48a4c47cd9dec7a6
  .doctrees/environment.pickle
  _downloads/107ae6f6a70591a8435722bf4be2e286/package.json
Due: none

deploy: 90a0c99bd3c568f5bb78e35cd274b02891a11fe2
  .doctrees/environment.pickle
Due: none

fix: iframe geolocation survives the redirect to the V2 assistant host
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
Due: prettier

deploy: 00df14e3c6ecf54725b701c9a8325339f03a7e85
  .doctrees/environment.pickle
Due: none

set up db port through env variable
  Makefile
  docker-compose.yml
  docs/how-to/development/installation.md
  webapp/.env.template
  webapp/Makefile
Due: prettier

Assistant V2 : l'autocomplétion arrive avec l'API (#3434), pas de vues intermédiaires
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/adresse.py
  webapp/assistant/views/recherche.py
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/unit_tests/assistant/test_adresse.py
Due: ruff, ruff-format, djade

Assistant V2 : la carte des lieux
  webapp/assistant/objets.py
  webapp/core/storage.py
  webapp/package.json
  webapp/previews/template_preview.py
  webapp/previews/widgets.py
  webapp/qfdmo/models/acteur.py
  webapp/settings/base.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/controllers/assistant/chrono_controller.ts
  webapp/static/to_compile/images/assistant/pinpoints/bonus-ellipse.svg
  webapp/static/to_compile/images/assistant/pinpoints/bonus-pourcent.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-don.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-loc-fond.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-loc.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-loc.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-reparation.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-tri.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-vente.svg
  webapp/static/to_compile/images/assistant/ui/adresse-cercle.svg
  webapp/static/to_compile/images/assistant/ui/adresse-pin.svg
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/static/to_compile/maplibre-worker.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/previews/widgets/adresse_datalist.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
Due: ruff, ruff-format, djade, prettier

Assistant V2 : CSS sans usage (fiche, en-tête, deux jetons)
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant V2 : coquille (routes, vues, écrans)
  docs/reference/webapp/README.md
  docs/reference/webapp/assistant.md
  webapp/assistant/consignes.py
  webapp/assistant/forms.py
  webapp/assistant/lieu.py
  webapp/assistant/parcours.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/mixins.py
  webapp/assistant/views/pages.py
  webapp/package.json
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/quefaire.ts
  webapp/templates/django_lookbook/preview.html
  webapp/templates/sites_conformes_core/base.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/entete_parcours.html
  webapp/templates/ui/components/assistant/panneau_recherche.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/error.html
  webapp/templates/ui/layout/quefaire.html
  webapp/templates/ui/layout/turbo.html
  webapp/templates/ui/pages/assistant/home.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/produit.html
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/templates/ui/pages/home.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/pages/produit_index_page.html
  webapp/templates/ui/pages/produit_page.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/assistant/test_lieu.py
  webapp/unit_tests/assistant/test_pages.py
  webapp/unit_tests/assistant/test_recherche_parcours.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Lookbook : géocodage par le proxy BAN de l'assistant plutôt qu'un second client
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

Assistant V2 : en-tête de parcours, PARAMS et blocs de layout sans usage
  webapp/assistant/parcours.py
  webapp/templates/ui/components/assistant/entete_parcours.html
  webapp/templates/ui/layout/assistant.html
Due: ruff, ruff-format, djade

Assistant V2 : API publique v1, l'assistant en est le premier client
  docs/reference/apis/README.md
  docs/reference/apis/v1.md
  docs/reference/webapp/assistant.md
  webapp/assistant/adresses.py
  webapp/assistant/api.py
  webapp/assistant/forms.py
  webapp/assistant/objets.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/core/api.py
  webapp/core/urls.py
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/previews/template_preview.py
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/templates/ui/components/assistant/recherche_objet.md
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_adresse.py
  webapp/unit_tests/assistant/test_api.py
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade, prettier

Fiche objet : les trois blocs de la maquette, un bloc peut couvrir deux gestes
  webapp/assistant/consignes.py
  webapp/assistant/views/pages.py
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/assistant/test_geojson.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Solutions : aligner l'écran sur la maquette (30141:8703)
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/images/assistant/ui/chevron-droite.svg
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/pages/assistant/solutions.html
Due: prettier

Carte : conserver les lieux chargés au fil de l'exploration
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Carte : le message d'état prend le style du composant alerte
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
Due: prettier

Assistant : corrections issues de la revue
  webapp/assistant/objets.py
  webapp/assistant/parcours.py
  webapp/assistant/views/pages.py
  webapp/qfdmo/models/acteur.py
  webapp/templates/ui/layout/quefaire.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade

Assistant : plus de largeur maximale sur les conteneurs d'écran
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Carte : afficher correctement les punaises « donner »
  webapp/static/to_compile/images/assistant/pinpoints/icone-don.svg
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Carte : rafraîchir dès la fin du déplacement, sans temporisation
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Carte : supprimer les sauts au dézoom
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Assistant : Turbo Drive, transitions d'écran et carte permanente
  docs/reference/webapp/assistant.md
  webapp/assistant/views/mixins.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/carte_canvas.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_pages.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Assistant : le champ d'adresse glisse d'un écran à l'autre, sans fondu
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant : clé de la carte sur la fiche, bouton « changer le geste » inclus plutôt que recopié
  webapp/assistant/views/mixins.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/pages/assistant/solutions.html
Due: ruff, ruff-format, djade, prettier

Assistant : le bouton vert reste en place entre solutions et lieu
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bouton_changer_geste.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/solutions.html
Due: prettier

Assistant : les listes de suggestions repassent au-dessus de la carte
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Fiche : le nombre de solutions à proximité dans chaque bouton
  docs/reference/webapp/assistant.md
  webapp/assistant/consignes.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/compte.py
  webapp/static/to_compile/controllers/assistant/compteur_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
  webapp/unit_tests/assistant/test_compte.py
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Compteur : servi par l'API v1
  docs/reference/apis/v1.md
  docs/reference/webapp/assistant.md
  webapp/assistant/api.py
  webapp/assistant/compte.py
  webapp/assistant/consignes.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/compte.py
  webapp/unit_tests/assistant/test_compte.py
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Carte : cadrer la vue sur les premiers lieux trouvés autour de l'adresse
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
Due: prettier

Compteur : les erreurs 400 ne renvoient plus le slug saisi
  webapp/assistant/views/compte.py
  webapp/unit_tests/assistant/test_compte.py
Due: ruff, ruff-format, djade

Carte : les punaises apparaissent et disparaissent en fondu
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant : plus d'aperçu depuis le cache Turbo, les transitions tenaient une seule visite
  docs/reference/webapp/assistant.md
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/layout/assistant.html
  webapp/unit_tests/assistant/test_pages.py
Due: ruff, ruff-format, djade, prettier

Compteur : sans JIT ni workers parallèles, le compte passe de 1,3 s à 0,1 s
  webapp/assistant/compte.py
  webapp/unit_tests/assistant/test_compte.py
Due: ruff, ruff-format, djade

Carte : garder la vue de l'usager tant que l'adresse ne change pas
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
Due: prettier

Carte : la punaise « réparer » passe en goutte pleine verte, icône blanche
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Recherche : la liste de suggestions recouvre le message d'erreur
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
Due: none

Add border
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Fiche : 8 px entre les paragraphes d'une consigne
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
