Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

WIP
  .github/workflows/_regression-job.yml
Due: none

download regerssion config locally
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
Due: none

add permissions
  .github/workflows/regression.yml
Due: none

wjp
  .github/workflows/_regression-job.yml
Due: none

Rollback node version
  .tool-versions
Due: none

fix path
  .github/workflows/_regression-job.yml
Due: none

Silent copilot
  .github/workflows/_regression-job.yml
Due: none

replace ref for main
  .github/workflows/_regression-job.yml
Due: none

rename
  .github/workflows/non-regression.yml
  .github/workflows/regression.yml
Due: none

Ajout de tests de non-régression
  .github/workflows/regression.yml
  .tool-versions
  webapp/e2e_tests/regression.spec.ts
  webapp/playwright.config.ts
  webapp/playwright.regression.ts
Due: prettier

download file
  .github/workflows/_regression-job.yml
Due: none

Setup playwright
  .github/workflows/_regression-job.yml
Due: none

upload base path
  .github/workflows/_regression-job.yml
  webapp/e2e_tests/regression.spec.ts
  webapp/playwright.regression.ts
Due: prettier

Improve paths
  .github/workflows/regression.yml
Due: none

wget
  .github/workflows/_regression-job.yml
Due: none

Remove duplication
  .github/workflows/regression.yml
Due: none

comment
  webapp/e2e_tests/regression.spec.ts
Due: prettier

Disable node cache for now
  .github/actions/setup-frontend/action.yml
Due: none

Fix wget issue
  .github/workflows/_regression-job.yml
Due: none

remove unnecessary changes
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
Due: none

add check on status codes
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
  .gitignore
  webapp/e2e_tests/regression.spec.ts
  webapp/playwright.regression.ts
Due: prettier

upgrade regression testing artifcats to dedicated gh branch
  .github/workflows/non-regression.yml
Due: none

debug
  .github/workflows/_regression-job.yml
Due: none

debug
  webapp/e2e_tests/regression.spec.ts
Due: prettier

use tag based approach
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
  .gitignore
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/carte.spec.ts
  webapp/playwright.config.ts
  webapp/playwright.regression.ts
Due: prettier

Collect
  .github/actions/setup-e2e-tools/action.yml
  .github/actions/start-django-server/action.yml
  .github/workflows/_regression-job.yml
  .github/workflows/ci.yml
  webapp/e2e_tests/regression.spec.ts
Due: prettier

add real tests
  .gitignore
  webapp/e2e_tests/regression.spec.ts
Due: prettier

add comment
  .github/workflows/_regression-job.yml
Due: none

debug missing file
  .github/workflows/_regression-job.yml
Due: none

add better status check
  webapp/e2e_tests/regression.spec.ts
Due: prettier

add more regression tests
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/carte.spec.ts
Due: prettier

update timeout
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
  webapp/e2e_tests/regression.spec.ts
  webapp/playwright.regression.ts
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade, prettier

Revamp playwright config
  .github/workflows/_regression-job.yml
  .github/workflows/ci.yml
  .github/workflows/non-regression.yml
  webapp/playwright.config.ts
  webapp/playwright.regression.ts
Due: prettier

Refactor regression testing
  .github/workflows/_e2e.yml
  webapp/e2e_tests/fixtures.ts
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/iframe.spec.ts
  webapp/e2e_tests/regression.spec.ts
Due: prettier

debug workflow
  .github/workflows/ci.yml
Due: none

syntax error in yaml
  .github/workflows/_e2e.yml
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/_e2e.yml
  .github/workflows/review.yml
Due: none

fix dependencies
  .github/workflows/ci.yml
Due: none

use playwright fixtures
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/fixtures.ts
Due: prettier

give permissiosn
  .github/workflows/review.yml
Due: none
