Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Ajout de route pour la recherche par objets
  webapp/core/api.py
  webapp/qfdmd/views.py
  webapp/qfdmo/api.py
  webapp/search/models.py
Due: ruff, ruff-format, djade

Garder 15 jours d'historique de DAG dans Airflow
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

deploy: 70ba2a1d5ea9f878d6690e1fd1cc30728948dcb8
  .doctrees/environment.pickle
Due: none

deploy: b5e0a2b51af6ecca7694dcd342630e06ccabaf76
  .doctrees/environment.pickle
Due: none

deploy: 4b42fbd9afee201b0a0fb68d306bfc77b22f7938
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: fea35df11f940044265c2350d6b6c6394f945bad
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 9a23acda9e14451e3be50f1ce446ac9ffd844121
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 3259fd59d3488078e46618e15ec441fc4069cf23
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 3111cd9b519fd95d0e9b27e08f59a83f996ccec1
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 8d401b6aac89541dca446c4e35cf3ea3fa609d0c
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 4824a00b119afde85fcaee8886a9edc0d9c3acd3
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 82b0189d450d5d2959ad51531a63b9b10cba648e
  .doctrees/environment.pickle
Due: none

deploy: 55c591c991fc7e21d6b67493fa3dfaa500b92d7d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Makefile can be simpler
  Makefile
  docker-compose.yml
  scripts/db_restore.sh
Due: none

auto code review
  Makefile
  scripts/db_restore.sh
Due: none

Address feedback
  scripts/db_restore.sh
Due: none

Garder 15 jours d'historique de DAG dans Airflow (#3101)
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

deploy: aabdd8dd1a16bbf841b18f9038313265a3354f0f
  .doctrees/environment.pickle
Due: none

deploy: 130ed8583fb8d1cc2f687cda6c902e9737138f93
  .doctrees/environment.pickle
Due: none

deploy: 0dab8ab1e927dced3befc5fa9c4401c62bd5db39
  .doctrees/environment.pickle
Due: none

deploy: 9f10b765125a1671a8fff67dc0cd376c04d7cf87
  .doctrees/environment.pickle
Due: none

deploy: 1797991ed8539e4b90badee21e6cbd15c1fde693
  .doctrees/environment.pickle
Due: none

export synonymes as csv
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

fix: restore body_classes block in assistant.html for produit-page CSS override
  docker-compose.yml
  webapp/integration_tests/assistant/test_produit_page.py
  webapp/templates/ui/layout/assistant.html
  webapp/uv.lock
Due: ruff, ruff-format, djade

oops
  docker-compose.yml
  webapp/integration_tests/assistant/test_produit_page.py
  webapp/uv.lock
Due: ruff, ruff-format, djade

Réduction de la duplication dans les Makefile (#3089)
  Makefile
  docker-compose.yml
  scripts/db_restore.sh
Due: none

refactor: rebase ProduitIndexPage on sites-conformes base page
  webapp/qfdmd/management/commands/migrate_legacy_produit_index_page.py
  webapp/qfdmd/migrations/0086_rename_produitindexpage_legacyproduitindexpage.py
  webapp/qfdmd/migrations/0087_produitindexpage.py
  webapp/qfdmd/models.py
  webapp/templates/ui/pages/produit_index_page.html
Due: ruff, ruff-format, djade

deploy: 9c1d76fdbd78df1c75150133cf47a6f02fd7f7df
  .doctrees/environment.pickle
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
Due: none

fix migration script
  webapp/qfdmd/management/commands/migrate_legacy_produit_index_page.py
  webapp/qfdmd/models.py
  webapp/templates/ui/pages/produit_index_page.html
Due: ruff, ruff-format, djade

fix: stop pinpoint clicks from reloading the carte under A/B test
  webapp/e2e_tests/carte_pinpoint_no_reload.spec.ts
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/carte/frame_location_controller.ts
  webapp/static/to_compile/controllers/carte/search_solution_form_controller.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/controllers/shared/location_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/static/to_compile/js/location_store.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/static/to_compile/tests/frame_location_controller.test.ts
  webapp/static/to_compile/tests/location_controller.test.ts
  webapp/static/to_compile/tests/location_store.test.ts
  webapp/static/to_compile/tests/search_solution_form_hydration.test.ts
  webapp/templates/templatetags/carte.html
  webapp/templates/ui/components/carte/shared/_search_in_zone.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/templates/ui/pages/formulaire.html
Due: prettier

Correction des DAGs CMA et Généric
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_generic.py
Due: ruff, ruff-format, djade

Go up a level for dependencies
  .github/actions/setup-backend/action.yml
  .github/actions/setup-e2e-tools/action.yml
  .github/workflows/_backend-test-job.yml
  .github/workflows/ci.yml
  Makefile
  data-platform/pyproject.toml
  docs/explanations/data/README.md
  docs/how-to/development/dependencies.md
  docs/how-to/development/installation.md
  docs/reference/coding/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/ci-cd.md
  docs/reference/webapp/README.md
  pyproject.toml
  uv.lock
  webapp/Makefile
  webapp/pyproject.toml
Due: prettier

Fix tests
  docs/how-to/development/dependencies.md
  pyproject.toml
  uv.lock
Due: prettier

DAG pour enrichir les siren depuis les siret et reciproquement
  data-platform/dags/enrich/config/cohorts.py
  data-platform/dags/enrich/config/columns.py
  data-platform/dags/enrich/config/dbt.py
  data-platform/dags/enrich/config/models.py
  data-platform/dags/enrich/config/tasks.py
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_siret_siren_suggest_task.py
  data-platform/dags/enrich/tasks/business_logic/enrich_siret_siren_suggest.py
  data-platform/dbt/models/intermediate/enrich_siren_siret/int_acteur_with_siren_without_siret.sql
  data-platform/dbt/models/intermediate/enrich_siren_siret/int_acteur_with_siret_without_siren.sql
  data-platform/dbt/models/intermediate/enrich_siren_siret/schema.yml
  data-platform/dbt/models/intermediate/stats/int_acteur_with_siret.sql
  data-platform/dbt/models/intermediate/stats/schema.yml
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siren_from_siret.sql
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siret_from_siren.sql
  data-platform/dbt/models/marts/enrich_siren_siret/schema.yml
  webapp/data/migrations/0023_alter_suggestioncohorte_type_action.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

WIP
  webapp/core/settings.py
  webapp/core/urls.py
  webapp/previews/template_preview.py
  webapp/pyproject.toml
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0081_homepage.py
  webapp/qfdmd/migrations/0083_alter_produitindexpage_body_alter_produitpage_body.py
  webapp/qfdmd/migrations/0085_add_break_block_to_streamfield.py
  webapp/qfdmd/models.py
  webapp/templates/sites_conformes_content_manager/blocks/tabs.html
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/home.html
  webapp/templates/ui/pages/produit_page.html
  webapp/uv.lock
Due: ruff, ruff-format, djade

fix: focus management on acteur detail close + action links to buttons
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/templates/ui/components/acteur/_action.html
  webapp/templates/ui/components/acteur/_action_tel.html
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

fix: focus management on acteur detail close + prevent form submit
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

remove dead code
  webapp/static/to_compile/controllers/shared/location_controller.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

a11y(rgaa): fix 15 RGAA criteria on the carte page
  webapp/core/templatetags/carte_tags.py
  webapp/core/templatetags/share_tags.py
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/e2e_tests/accessibility.spec.ts
  webapp/qfdmo/forms.py
  webapp/static/to_compile/js/solution_map.ts
  webapp/templates/dsfr/form_field_snippets/checkbox_snippet.html
  webapp/templates/dsfr/form_field_snippets/checkboxselectmultiple_snippet.html
  webapp/templates/dsfr/form_field_snippets/input_snippet.html
  webapp/templates/dsfr/form_field_snippets/numbercursor_snippet.html
  webapp/templates/dsfr/form_field_snippets/radioselect_snippet.html
  webapp/templates/dsfr/form_field_snippets/segmented_control_snippet.html
  webapp/templates/templatetags/acteur_pinpoint.html
  webapp/templates/ui/components/acteur/_action_share.html
  webapp/templates/ui/components/acteur/_label.html
  webapp/templates/ui/components/acteur/_tabs.html
  webapp/templates/ui/components/acteur/tabs/_panel.html
  webapp/templates/ui/components/acteur/tabs/_section.html
  webapp/templates/ui/components/acteur/tabs/_tab.html
  webapp/templates/ui/components/acteur/tabs/sections/meta.html
  webapp/templates/ui/components/acteur/tabs/sections/services_disponibles.html
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu.html
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu_mode_liste.html
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/carte/partials/label_reparacteur_icon.html
  webapp/templates/ui/components/formulaire/filtres/reparacteurs/label.html
  webapp/templates/ui/components/formulaire/header.html
  webapp/templates/ui/components/logo/ademe.html
  webapp/templates/ui/components/modals/share.html
  webapp/templates/ui/layout/_partials/header_logos.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

fix: add type=button to acteur detail close button to prevent form submit
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: none
