Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Fix geolocation error on chrome (#2596)
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  webapp/Makefile
  webapp/e2e_tests/django-admin.spec.ts
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/jest.config.ts
  webapp/qfdmo/migrations/0189_alter_carteconfig_slug.py
  webapp/qfdmo/models/config.py
  webapp/static/to_compile/controllers/carte/address_autocomplete_controller.ts
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/js/url_utils.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/static/to_compile/tests/url_utils.test.ts
  webapp/templates/ui/components/logo/site_logo_large.html
Due: ruff, ruff-format, djade, prettier

deploy: 4133586dd9a49ed3b06e37ff5899580269950fc8
  .doctrees/environment.pickle
Due: none

Remove comment
  .github/workflows/_e2e.yml
Due: none

Various e2e fixes
  webapp/e2e_tests/django-admin.spec.ts
  webapp/e2e_tests/helpers.ts
Due: prettier

Document a bit better with todo
  .github/actions/prepare-django-db/action.yml
  webapp/Makefile
Due: none

Improve base url setting
  .github/actions/setup-e2e-tools/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/_e2e.yml
  webapp/Makefile
Due: none

better e2e base url setup
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

Correctifs sur les tests e2e (#2598)
  .github/actions/prepare-django-db/action.yml
  .github/actions/setup-e2e-tools/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
  webapp/Makefile
  webapp/e2e_tests/django-admin.spec.ts
  webapp/e2e_tests/helpers.ts
Due: prettier

deploy: cc5aec21e52c5873fc72a5b98be0becbb8598950
  .doctrees/environment.pickle
Due: none

deploy: b3a3b950744257197b4eef9a63ec6de85c2165c5
  .doctrees/environment.pickle
Due: none

test
  .github/workflows/_e2e.yml
Due: none

Update actions
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

Test e2e screenshots
  webapp/templates/ui/pages/home.html
Due: none

Fix e2e main
  .github/workflows/_e2e.yml
Due: none

WIP
  .github/workflows/_e2e.yml
Due: none

Fix test results upload
  .github/workflows/_e2e.yml
Due: none

Debug
  .github/workflows/_e2e.yml
Due: none

WIP
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

Refine working dir
  .github/workflows/_e2e.yml
Due: none

Fix: use pattern to download sharded playwright-diffs artifacts
  .github/workflows/e2e.yml
Due: none

Renommer LVAO en Que faire de mes objets et déchets
  APPLICATION.md
  README.md
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
  docs/conf.py
  docs/explanations/data/flux-enrich.md
  docs/explanations/frontend/historique.md
  docs/explanations/iframe/README.md
  docs/reference/coding/README.md
  docs/reference/opendata/changelog.md
  docs/reference/opendata/exposure-opendata-acteur.md
  docs/reference/opendata/politique-de-version-du-jeu-de-donnees-open-data-interne.md
  docs/reference/opendata/politique-de-version-du-jeu-de-donnees-open-data.md
  webapp/api.postman_collection.json
  webapp/core/api.py
  webapp/core/constants.py
  webapp/core/settings.py
  webapp/e2e_tests/browser_version.spec.ts
  webapp/e2e_tests/iframe.spec.ts
  webapp/qfdmo/admin/acteur.py
  webapp/qfdmo/api.py
  webapp/qfdmo/fixtures/sources.json
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/templates/ui/components/formulaire/search_form.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/infotri.html
  webapp/unit_tests/qfdmo/test_open_source_displayedacteur_ressource.py
Due: ruff, ruff-format, djade, prettier

Renommer LVAO en Que faire de mes objets et déchets (#2600)
  APPLICATION.md
  README.md
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
  docs/conf.py
  docs/explanations/data/flux-enrich.md
  docs/explanations/frontend/historique.md
  docs/explanations/iframe/README.md
  docs/reference/coding/README.md
  docs/reference/opendata/changelog.md
  docs/reference/opendata/exposure-opendata-acteur.md
  docs/reference/opendata/politique-de-version-du-jeu-de-donnees-open-data-interne.md
  docs/reference/opendata/politique-de-version-du-jeu-de-donnees-open-data.md
  webapp/api.postman_collection.json
  webapp/core/api.py
  webapp/core/constants.py
  webapp/core/settings.py
  webapp/e2e_tests/browser_version.spec.ts
  webapp/e2e_tests/iframe.spec.ts
  webapp/qfdmo/admin/acteur.py
  webapp/qfdmo/api.py
  webapp/qfdmo/fixtures/sources.json
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/templates/ui/components/formulaire/search_form.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/infotri.html
  webapp/unit_tests/qfdmo/test_open_source_displayedacteur_ressource.py
Due: ruff, ruff-format, djade, prettier

Ne pas sousligner les liens dans l'admin
  webapp/static/to_compile/styles/admin.css
Due: prettier

mettre la réparation avant le réemploi dans le titre
  webapp/core/constants.py
Due: ruff, ruff-format, djade

Ne pas souligner les liens dans l'admin (#2601)
  webapp/static/to_compile/styles/admin.css
Due: prettier

deploy: 45d503a4e40e139441160a18f762a165c72fdb1b
  .doctrees/environment.pickle
Due: none

DAG pour cloner la tables des liens de succession d'entreprise
  data-platform/dags/clone/config/sql/creation/tables/create_table_ae_lien_succession.sql
  data-platform/dags/clone/config/sql/creation/views/create_view_ae_lien_succession_in_use.sql
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
Due: ruff, ruff-format, djade

DAG pour cloner la tables des liens de succession d'entreprise (#2579)
  data-platform/dags/clone/config/sql/creation/tables/create_table_ae_lien_succession.sql
  data-platform/dags/clone/config/sql/creation/views/create_view_ae_lien_succession_in_use.sql
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
Due: ruff, ruff-format, djade

mettre la réparation avant le réemploi dans le titre (#2603)
  webapp/core/constants.py
Due: ruff, ruff-format, djade

deploy: 971f453cef1e6bfda78dd1bd030e2c9d5510a2bd
  .doctrees/environment.pickle
Due: none

deploy: 1cc58f3d380a1ee7d79bda1e4f069717d8533f4f
  .doctrees/environment.pickle
Due: none

Ne pas collecter les identifiants des dataframes vides
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
Due: ruff, ruff-format, djade
