Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

deploy: 0a30f871c692079898af841bc75898363af2fd72
  .doctrees/environment.pickle
Due: none

deploy: 7820851ae5853cd273c43e3098f4b60294abe760
  .doctrees/environment.pickle
Due: none

WIP
  dags/acteurs/tasks/business_logic/copy_db_data.py
  templates/ui/tests/t_1_referrer.html
Due: ruff, ruff-format, djade

debug
  dags/acteurs/tasks/business_logic/copy_db_data.py
Due: ruff, ruff-format, djade

Debug db issue
  dags/acteurs/tasks/business_logic/copy_db_data.py
Due: ruff, ruff-format, djade

Unskip tests
  e2e_tests/acteur.spec.ts
  e2e_tests/assistant.spec.ts
  e2e_tests/carte.spec.ts
Due: prettier

Debug
  dags/acteurs/tasks/business_logic/copy_db_data.py
  dags/tests/acteurs/tasks/business_logic/test_copy_db_data.py
Due: ruff, ruff-format, djade

add logs
  dags/acteurs/tasks/business_logic/copy_db_data.py
Due: ruff, ruff-format, djade

Add digital acteurs + unskip tests
  dbt/models/marts/acteurs/sample/marts_sample_displayedacteur.sql
  e2e_tests/formulaire.spec.ts
Due: prettier

unskip
  e2e_tests/formulaire.spec.ts
Due: prettier

Gestion d'un switch entre Suggestion et SuggestionGroupe pour les DAG source
  dags/sources/dags/source_aliapur.py
  dags/sources/dags/source_batribox.py
  dags/sources/dags/source_citeo.py
  dags/sources/dags/source_cma.py
  dags/sources/dags/source_corepile.py
  dags/sources/dags/source_cyclevia.py
  dags/sources/dags/source_ecodds.py
  dags/sources/dags/source_ecologic.py
  dags/sources/dags/source_ecomaison.py
  dags/sources/dags/source_ecopae.py
  dags/sources/dags/source_ecosystem.py
  dags/sources/dags/source_ocab.py
  dags/sources/dags/source_ocad3e.py
  dags/sources/dags/source_pharmacies.py
  dags/sources/dags/source_pyreo.py
  dags/sources/dags/source_refashion.py
  dags/sources/dags/source_s3.py
  dags/sources/dags/source_sinoe.py
  dags/sources/dags/source_soren.py
  dags/sources/dags/source_valdelia.py
  dags/sources/tasks/airflow_logic/config_management.py
  dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
Due: ruff, ruff-format, djade

Les Suggestions restent en statut en cours
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
Due: ruff, ruff-format, djade

Les Suggestions restent en statut en cours (#2339)
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
Due: ruff, ruff-format, djade

deploy: afc24672ddd09df5d3f35abccad94cbc207383b6
  .doctrees/environment.pickle
Due: none

Ajout de la colonne manquante lors du clonne de AE
  dags/clone/config/sql/creation/tables/create_table_ae_etablissement.sql
  dags/clone/config/sql/creation/tables/create_table_ae_unite_legale.sql
  dags/clone/config/sql/creation/views/create_view_ae_etablissement_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ae_unite_legale_in_use.sql
Due: none

Ajout de la colonne manquante lors du clone de AE (#2341)
  dags/clone/config/sql/creation/tables/create_table_ae_etablissement.sql
  dags/clone/config/sql/creation/tables/create_table_ae_unite_legale.sql
  dags/clone/config/sql/creation/views/create_view_ae_etablissement_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ae_unite_legale_in_use.sql
Due: none

deploy: b71b6cc3d7310713602f49ac629a6f8852dc6452
  .doctrees/environment.pickle
Due: none

unskip e2e tests
  .github/workflows/ci.yml
Due: none

Debug e2e
  e2e_tests/accessibility.spec.ts
  e2e_tests/acteur.spec.ts
  e2e_tests/assistant.spec.ts
  e2e_tests/carte.spec.ts
Due: prettier

Debug
  e2e_tests/carte.spec.ts
  e2e_tests/formulaire.spec.ts
  e2e_tests/helpers.ts
  e2e_tests/iframe.spec.ts
  e2e_tests/iframe_navigation.spec.ts
  previews/template_preview.py
  templates/ui/tests/t_1_referrer.html
Due: ruff, ruff-format, djade, prettier

Skip remaining failing test
  e2e_tests/formulaire.spec.ts
Due: prettier

wip
  e2e_tests/analytics.spec.ts
  e2e_tests/iframe.spec.ts
Due: prettier

debug
  e2e_tests/helpers.ts
Due: prettier

Disable tests
  .github/workflows/ci.yml
Due: none

Gestion d'un switch entre Suggestion et SuggestionGroupe pour les DAG source (#2343)
  dags/sources/dags/source_aliapur.py
  dags/sources/dags/source_batribox.py
  dags/sources/dags/source_citeo.py
  dags/sources/dags/source_cma.py
  dags/sources/dags/source_corepile.py
  dags/sources/dags/source_cyclevia.py
  dags/sources/dags/source_ecodds.py
  dags/sources/dags/source_ecologic.py
  dags/sources/dags/source_ecomaison.py
  dags/sources/dags/source_ecopae.py
  dags/sources/dags/source_ecosystem.py
  dags/sources/dags/source_ocab.py
  dags/sources/dags/source_ocad3e.py
  dags/sources/dags/source_pharmacies.py
  dags/sources/dags/source_pyreo.py
  dags/sources/dags/source_refashion.py
  dags/sources/dags/source_s3.py
  dags/sources/dags/source_sinoe.py
  dags/sources/dags/source_soren.py
  dags/sources/dags/source_valdelia.py
  dags/sources/tasks/airflow_logic/config_management.py
  dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
Due: ruff, ruff-format, djade

deploy: 10fea05daa35619dea06c3ee030050d83a02201d
  .doctrees/environment.pickle
  _downloads/3cb690fb478266c5146ba9e7ecdf563a/config_management.py
Due: ruff, ruff-format, djade

Implémentation des objects lié aux Acteur et Révision lors d'application des suggestions
  data/models/apply_models/source_apply_model.py
  data/models/suggestion.py
  unit_tests/data/models/apply_models/test_source_apply_model.py
Due: ruff, ruff-format, djade

Implémentation des objects liés aux Acteur et Révision (#2344)
  data/models/apply_models/source_apply_model.py
  data/models/suggestion.py
  unit_tests/data/models/apply_models/test_source_apply_model.py
Due: ruff, ruff-format, djade

deploy: cb957e8f35c5ce847d0647c3b408e2b5b6331c92
  .doctrees/environment.pickle
Due: none

deploy: a44b984881ac681d32dfc6570621ef135a196311
  .doctrees/comment-faire/troubleshooting.doctree
  .doctrees/environment.pickle
  _downloads/3cb690fb478266c5146ba9e7ecdf563a/config_management.py
  _sources/comment-faire/troubleshooting.md.txt
  comment-faire/troubleshooting.html
  searchindex.js
Due: ruff, ruff-format, djade, prettier

corriger une regression sur pes cartes des foches produit
  qfdmo/models/config.py
Due: ruff, ruff-format, djade

corriger une regression sur les cartes des fiches produit (#2345)
  qfdmo/models/config.py
Due: ruff, ruff-format, djade

deploy: 2690ffd69cd51d13d15ecfef988ae41fccb0e1db
  .doctrees/environment.pickle
Due: none

deploy: cb957e8f35c5ce847d0647c3b408e2b5b6331c92
  .doctrees/comment-faire/troubleshooting.doctree
  .doctrees/environment.pickle
  _downloads/3cb690fb478266c5146ba9e7ecdf563a/config_management.py
  _sources/comment-faire/troubleshooting.md.txt
  comment-faire/troubleshooting.html
  searchindex.js
Due: ruff, ruff-format, djade, prettier

Suppression de la configuration dependabot pour les pre-commit car elle n'existe pas (#2321)
  .github/dependabot.yml
Due: none

Utilisation de des applications enregistrées plutôt que INSTALL_APP (#2320)
  dags/acteurs/tasks/business_logic/copy_db_data.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
