Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

permettre le scrolling sur l'iframe de l'assistant
  webapp/templates/ui/layout/assistant.html
Due: none

Permettre le scrolling sur l'iframe de l'assistant (#2613)
  webapp/templates/ui/layout/assistant.html
Due: none

deploy: 07e5963e069a33012df7cb7480804aff0363ecf0
  .doctrees/environment.pickle
Due: none

Suppression du warning à propos de la colonne delete de l'export des sous-Categories
  webapp/qfdmo/admin/categorie_objet.py
Due: ruff, ruff-format, djade

deploy: 509502f7506fab0bf60df1000b7cabeb03df9b72
  .doctrees/environment.pickle
Due: none

deploy: dc118e5f1e63da220cc09c98173995764ef01bd5
  .doctrees/environment.pickle
Due: none

deploy: 50da93fb28f7c635c01170db418f3b1d6ee41525
  .doctrees/environment.pickle
Due: none

deploy: 769f0cf44de9e007da01b99f0e23bbe5d8b39fc2
  .doctrees/environment.pickle
Due: none

deploy: 67cdfab5577cf501b6f28a9f070998fd850535e6
  .doctrees/environment.pickle
Due: none

Suppression du warning à propos de la colonne delete de l'export des sous-Categories (#2618)
  webapp/qfdmo/admin/categorie_objet.py
Due: ruff, ruff-format, djade

deploy: 693cb5620a0422ab58feb1adee490676dd2555a0
  .doctrees/environment.pickle
Due: none

deploy: 68e500906cdcf5b82d0290cedcc610c9018a09b1
  .doctrees/environment.pickle
Due: none

Refactoring de la gestion du tableau des suggestion groupe
  webapp/data/views.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

Suppression du controller suggestion_groupe_row
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/static/to_compile/controllers/admin/suggestion_status_controller.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

Suppression de l'attribut update-url
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

move values and group
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

remove vvalues and group fields
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/views.py
  webapp/static/to_compile/js/solution_map.ts
  webapp/templates/data/_partials/suggestion_groupe.html
Due: ruff, ruff-format, djade, prettier

refacto + tests
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

deploy: 650fe27212945355774200f610cc39b306810105
  .doctrees/environment.pickle
Due: none

refacto
  webapp/data/admin.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

refactorisation
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
Due: ruff, ruff-format, djade

Passer les enrichissements d'URL sur la nouvelle architecture de SuggestionGroupe
  data-platform/dags/crawl/config/columns.py
  data-platform/dags/crawl/dags/crawl_urls.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_crawl_diff_other_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_dns_fail_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_syntax_fail_task.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  data-platform/dags/tests/crawl/tasks/business_logic/test_crawl_urls_suggest.py
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/admin.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

fix tests
  data-platform/dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  webapp/unit_tests/qfdmo/acteur_factory.py
Due: ruff, ruff-format, djade

WIP
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

Fix: use pattern to download sharded playwright-diffs artifacts
  .github/workflows/e2e.yml
Due: none

WIP
  .github/workflows/_e2e.yml
Due: none

Refine working dir
  .github/workflows/_e2e.yml
Due: none

Test e2e screenshots
  webapp/templates/ui/pages/home.html
Due: none

test
  .github/workflows/_e2e.yml
Due: none

Fix test results upload
  .github/workflows/_e2e.yml
Due: none

Fix e2e main
  .github/workflows/_e2e.yml
Due: none

Debug
  .github/workflows/_e2e.yml
Due: none

Correctif de bugs sur la fiche acteur - La fiche acteur est scrollable en mobile mode liste - La fiche acteur n'est pas visible lorsqu'on la ferme
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

unskip e2e
  webapp/e2e_tests/acteur.spec.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

WIP
  webapp/e2e_tests/acteur.spec.ts
Due: prettier

Add tests
  webapp/e2e_tests/acteur.spec.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
