Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

fix: add type=button to acteur detail close button to prevent form submit
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: none

fix: remove black gap below carte modal by hiding bottom DSFR spacer
  webapp/static/to_compile/styles/qfdmd.css
Due: prettier

Close modal on resize
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
  webapp/templates/ui/blocks/carte_block.html
Due: prettier

Improve carte styles
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/components/carte/header.html
Due: none

rewrite migrations
  webapp/qfdmd/migrations/0085_add_carte_block.py
Due: ruff, ruff-format, djade

Improve layout
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/pages/carte.html
Due: prettier

wip
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
Due: prettier

add missing migration
  webapp/qfdmd/migrations/0088_alter_legacyproduitindexpage_body_and_more.py
Due: ruff, ruff-format, djade

add carte block opening in modale
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0085_add_carte_block.py
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

Exclure typescript >= 7 de dependabot (#3375)
  .github/actions/setup-frontend/action.yml
  .github/dependabot.yml
Due: none

deploy: 055a33bf22ebe4141eadb37261fac7a61c2b3ffb
  .doctrees/environment.pickle
Due: none

deploy: ba81230738bbc9e92f541462ee8ce286746eb9c8
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Ajout d'un champ localisation dans le formulaire de contact à peupler dans Notion (#3300)
  .github/workflows/_terragrunt-apply.yml
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/modules/preview_object_storage/main.tf
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/variables.tf
  webapp/core/notion.py
  webapp/nginx/Dockerfile
  webapp/qfdmd/signals.py
Due: ruff, ruff-format, djade

deploy: 66b3a5a757182de3a7e40e049bd828269c369f51
  .doctrees/environment.pickle
Due: none

Définition de l'url de base (BASE_URL) sur les environnements de preview (#3353)
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/variables.tf
Due: none

deploy: bb6753314d6155fc03fe25eb6bf0c0abf3857794
  .doctrees/environment.pickle
Due: none

Update posthog_pageview_alert.py
  data-platform/dags/stats/dags/posthog_pageview_alert.py
Due: ruff, ruff-format, djade

deploy: df66ce11c482dedb519bf9f3c9f7983297dbcf63
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Tweak paddings
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte_block.html
Due: prettier

WIP
  webapp/qfdmo/forms.py
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/components/carte/header.html
Due: ruff, ruff-format, djade, prettier

regenerate migrations
  webapp/qfdmd/migrations/0090_conversionimmediatepage.py
Due: ruff, ruff-format, djade

improve conversion score when visiting special content pages
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/templates/sites_conformes_core/base.html
Due: prettier

feat: allow CMS pages to convert visitors on first view
  webapp/qfdmd/migrations/0088_conversionimmediatepage.py
  webapp/qfdmd/models.py
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/templates/sites_conformes_core/base.html
  webapp/unit_tests/qfdmd/test_conversion_immediate_page.py
Due: ruff, ruff-format, djade

improve comment
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

update schedule
  data-platform/dags/stats/dags/posthog_pageview_alert.py
Due: ruff, ruff-format, djade

Reorder imports
  data-platform/dags/stats/dags/posthog_pageview_alert.py
Due: ruff, ruff-format, djade

update schedule
  data-platform/dags/shared/config/schedules.py
Due: ruff, ruff-format, djade

Ajouter .parcel-cache au gitignore depuis l'utilisation des workspaces npm
  .gitignore
Due: none

deploy: 55f9fdcd7f054e5da9731c22a3042dc2d28ebfda
  .doctrees/environment.pickle
Due: none

follow pattern
  data-platform/dags/stats/dags/posthog_pageview_alert.py
Due: ruff, ruff-format, djade

Remove dead code
  webapp/static/to_compile/styles/carte.css
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
Due: prettier

Fixes
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/components/carte/header.html
Due: prettier

Add comments to PostGIS image definitions
  docker-compose.yml
Due: none

Change restart policy to 'unless-stopped'
  docker-compose.yml
Due: none

Ajout d'un DAG de monitoring du proxy posthog (#3374)
  data-platform/dags/stats/dags/posthog_pageview_alert.py
  data-platform/dags/tests/stats/test_posthog_pageview_alert.py
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/variables.tf
Due: ruff, ruff-format, djade

deploy: 6b2249899aface0b6ad855cae50fdaa70dff5527
  .doctrees/environment.pickle
Due: none

Permettre d'avoir des visiteurs orientés sur une page de contenu de Sites Conformes (#3238)
  webapp/qfdmd/migrations/0090_conversionimmediatepage.py
  webapp/qfdmd/models.py
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/templates/sites_conformes_core/base.html
  webapp/unit_tests/qfdmd/test_conversion_immediate_page.py
Due: ruff, ruff-format, djade, prettier

deploy: 89f72f9b01bc2c59db79b677d907a032123a014d
  .doctrees/environment.pickle
Due: none
