Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Test screenshots
  webapp/e2e_tests/homepage.spec.ts
Due: prettier

improve makefile
  webapp/Makefile
Due: none

Do not shard on compare
  .github/workflows/_e2e.yml
Due: none

Empty iframe header
  webapp/templates/ui/components/header/base.iframe.html
Due: none

Cleanup templates
  webapp/templates/ui/components/search/_search_term.html
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: none

wip
  .secrets.baseline
  webapp/qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

WIP
  .github/actions/prepare-django-db/action.yml
Due: none

prevent p from being sized in subtitle
  webapp/templates/ui/pages/home.html
Due: none

Visual fixes
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

Visual fixes
  webapp/templates/ui/pages/home.html
Due: none

Remove margin on p in intro
  webapp/templates/ui/pages/home.html
Due: none

Adjust paddings
  webapp/templates/ui/pages/home.html
Due: none

Adjust paddings
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

deploy: 6708d4e340844114c326e146acb3a608e1155c1a
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 48431ef23a5d2d6fac1e65bd5812174eafc64330
  .doctrees/environment.pickle
Due: none

WIP
  .secrets.baseline
  webapp/core/context_processors.py
  webapp/core/widgets.py
Due: ruff, ruff-format, djade

Amélioration des tests e2e (#2595)
  .github/actions/setup-frontend/action.yml
  .github/actions/setup-playwright/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
  webapp/Makefile
  webapp/core/management/__init__.py
  webapp/core/management/commands/__init__.py
  webapp/core/management/commands/createsuperuser_example.py
  webapp/e2e_tests/fixtures.ts
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/homepage.spec.ts
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/playwright.config.ts
Due: ruff, ruff-format, djade, prettier

deploy: 83d4d0e5b8200f7e6be5fdeb6b2c24a52078e670
  .doctrees/environment.pickle
Due: none

Restore regression
  webapp/templates/ui/components/header/base.iframe.html
Due: none

Improve nouvelle recherche buttons
  webapp/templates/ui/components/header/base.html
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/components/produit/nouvelle_recherche.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/templates/ui/pages/produit.html
Due: none

wip
  webapp/static/to_compile/js/iframe_functions.ts
Due: prettier

Do not use script url for iframe
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/carte/address_autocomplete_controller.ts
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/js/url_utils.ts
  webapp/static/to_compile/tests/url_utils.test.ts
Due: ruff, ruff-format, djade, prettier

wip
  webapp/previews/template_preview.py
  webapp/static/to_compile/js/url_utils.ts
Due: ruff, ruff-format, djade, prettier

Improve frontend tests
  .github/workflows/ci.yml
  webapp/jest.config.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
Due: prettier

doh
  .github/workflows/ci.yml
Due: none

hum
  .github/workflows/ci.yml
Due: none

Fix admin
  webapp/qfdmo/models/config.py
Due: ruff, ruff-format, djade

alter help text
  webapp/qfdmo/migrations/0189_alter_carteconfig_slug.py
Due: ruff, ruff-format, djade

homepage fixes
  webapp/core/context_processors.py
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/search.spec.ts
  webapp/templates/ui/components/header/base.html
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

Fix e2e
  webapp/e2e_tests/search.spec.ts
Due: prettier

Temporarily revert
  webapp/e2e_tests/iframe_navigation.spec.ts
Due: prettier

Fix e2e config
  .github/workflows/e2e.yml
Due: none

WWIP
  webapp/Makefile
Due: none

e2e
  webapp/e2e_tests/django-admin.spec.ts
Due: prettier

Disable cache for now
  .github/actions/prepare-django-db/action.yml
Due: none

forcee2e
  forcee2e
Due: none

Force rebuild frontend
  .github/workflows/_e2e.yml
  webapp/templates/ui/components/logo/site_logo_large.html
Due: none
