Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Fix back button issue on formulaire
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
Due: prettier

Assistant V2 : coquille (routes, vues, écrans)
  docs/reference/webapp/README.md
  docs/reference/webapp/assistant.md
  webapp/assistant/consignes.py
  webapp/assistant/forms.py
  webapp/assistant/lieu.py
  webapp/assistant/parcours.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/mixins.py
  webapp/assistant/views/pages.py
  webapp/package.json
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/quefaire.ts
  webapp/templates/django_lookbook/preview.html
  webapp/templates/sites_conformes_core/base.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/entete_parcours.html
  webapp/templates/ui/components/assistant/panneau_recherche.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/error.html
  webapp/templates/ui/layout/quefaire.html
  webapp/templates/ui/layout/turbo.html
  webapp/templates/ui/pages/assistant/home.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/produit.html
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/templates/ui/pages/home.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/pages/produit_index_page.html
  webapp/templates/ui/pages/produit_page.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/assistant/test_lieu.py
  webapp/unit_tests/assistant/test_pages.py
  webapp/unit_tests/assistant/test_recherche_parcours.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Assistant V2 : API publique v1, l'assistant en est le premier client
  docs/reference/apis/README.md
  docs/reference/apis/v1.md
  docs/reference/webapp/assistant.md
  webapp/assistant/adresses.py
  webapp/assistant/api.py
  webapp/assistant/forms.py
  webapp/assistant/objets.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/adresse.py
  webapp/assistant/views/geojson.py
  webapp/assistant/views/recherche.py
  webapp/core/api.py
  webapp/core/urls.py
  webapp/previews/template_preview.py
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/templates/ui/components/assistant/recherche_objet.md
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_adresse.py
  webapp/unit_tests/assistant/test_api.py
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade, prettier

Carte : rafraîchir dès la fin du déplacement, sans temporisation
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Carte : conserver les lieux chargés au fil de l'exploration
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Solutions : aligner l'écran sur la maquette (30141:8703)
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/images/assistant/ui/chevron-droite.svg
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/pages/assistant/solutions.html
Due: prettier

Carte : supprimer les sauts au dézoom
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Carte : afficher correctement les punaises « donner »
  webapp/static/to_compile/images/assistant/pinpoints/icone-don.svg
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant : plus de largeur maximale sur les conteneurs d'écran
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Fiche objet : les trois blocs de la maquette, un bloc peut couvrir deux gestes
  webapp/assistant/consignes.py
  webapp/assistant/views/pages.py
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/assistant/test_geojson.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Assistant : corrections issues de la revue
  webapp/assistant/objets.py
  webapp/assistant/parcours.py
  webapp/assistant/views/pages.py
  webapp/qfdmo/models/acteur.py
  webapp/templates/ui/layout/quefaire.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade

Carte : le message d'état prend le style du composant alerte
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
Due: prettier

Assistant : le champ d'adresse glisse d'un écran à l'autre, sans fondu
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant : les listes de suggestions repassent au-dessus de la carte
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant : le bouton vert reste en place entre solutions et lieu
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bouton_changer_geste.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/solutions.html
Due: prettier

Assistant : Turbo Drive, transitions d'écran et carte permanente
  docs/reference/webapp/assistant.md
  webapp/assistant/views/mixins.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/carte_canvas.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_pages.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Carte : les punaises apparaissent et disparaissent en fondu
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Carte : masquer les téléphones non publiables dès le mart
  data-platform/dbt/macros/table/macro_acteur.sql
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
Due: none

Carte : nullif en minuscules, règle sqlfluff CP03
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
Due: none

Compteur : les erreurs 400 ne renvoient plus le slug saisi
  webapp/assistant/views/compte.py
  webapp/unit_tests/assistant/test_compte.py
Due: ruff, ruff-format, djade

Compteur : servi par l'API v1
  docs/reference/apis/v1.md
  docs/reference/webapp/assistant.md
  webapp/assistant/api.py
  webapp/assistant/compte.py
  webapp/assistant/consignes.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/compte.py
  webapp/unit_tests/assistant/test_compte.py
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Assistant : plus d'aperçu depuis le cache Turbo, les transitions tenaient une seule visite
  docs/reference/webapp/assistant.md
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/layout/assistant.html
  webapp/unit_tests/assistant/test_pages.py
Due: ruff, ruff-format, djade, prettier

Fiche : le nombre de solutions à proximité dans chaque bouton
  docs/reference/webapp/assistant.md
  webapp/assistant/consignes.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/compte.py
  webapp/static/to_compile/controllers/assistant/compteur_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
  webapp/unit_tests/assistant/test_compte.py
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Carte : garder la vue de l'usager tant que l'adresse ne change pas
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
Due: prettier

deploy: 689d022426c3cf23f783f32003c8a05aad030138
  .doctrees/environment.pickle
Due: none

Adds tests for dag tasks
  data-platform/dags/tests/ml_deduplication/test_ml_deduplication_acteurs_select.py
  data-platform/dags/tests/ml_deduplication/test_ml_deduplication_clusters_select.py
  data-platform/dags/tests/ml_deduplication/test_ml_deduplication_config_create.py
  ml_deduplication/ml_deduplication/modeling/xgboost/README.md
Due: ruff, ruff-format, djade, prettier

deploy: 9d2fb8f940061a148e4c5e85046d3bc8110b6729
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Stats : les key results 2026 se gèrent dans Wagtail et s'exposent à Metabase
  data-platform/dags/stats/dags/compute_key_results.py
  webapp/stats/key_results.py
  webapp/stats/management/__init__.py
  webapp/stats/management/commands/__init__.py
  webapp/stats/management/commands/compute_key_results.py
  webapp/stats/migrations/0001_initial.py
  webapp/stats/migrations/0002_seed_and_current_view.py
  webapp/stats/migrations/__init__.py
  webapp/stats/models.py
  webapp/stats/posthog.py
  webapp/stats/wagtail_hooks.py
  webapp/unit_tests/stats/test_key_results.py
Due: ruff, ruff-format, djade

Adds tests to ML blocks
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/pyproject.toml
  ml_deduplication/tests/evaluation/test_pairwise_metrics.py
  ml_deduplication/tests/modeling/test_blocking.py
  ml_deduplication/tests/modeling/test_clustering.py
  ml_deduplication/tests/modeling/test_features_engineering.py
  ml_deduplication/tests/modeling/test_preprocessing.py
  ml_deduplication/tests/modeling/test_preprocessing_entities.py
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Adds zone selection for scaleway instance
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
  data-platform/scripts/infrastructure/ml_deduplication_cloud_init.tpl
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_create.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_destroy.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_wait.sh
Due: ruff, ruff-format, djade

set up db port through env variable
  Makefile
  docker-compose.yml
  docs/how-to/development/installation.md
  webapp/.env.template
  webapp/Makefile
Due: prettier

Rename files to avoid long lines import
  data-platform/dags/ml_deduplication/tasks/airflow_logic/acteurs_select_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/chain_tasks.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/cleanup_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/clusters_select_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/config_create_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/parents_choose_data_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/parents_choose_new_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/suggestions_failing_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/suggestions_prepare_task.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/suggestions_to_db_task.py
Due: ruff, ruff-format, djade

Fix line too long
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
Due: ruff, ruff-format, djade

déploiement d'un serverless nginx devant metabase et airflow API + webserver
  .github/workflows/_deploy-nginx.yml
  .github/workflows/_nginx-build-and-push-docker.yml
  .github/workflows/cd.yml
  .github/workflows/deploy.yml
  docs/reference/infrastructure/provisioning.md
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/metabase_containers/terragrunt.hcl
  infrastructure/environments/preprod/nginx_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/nginx_containers/terraform.tfvars.example
  infrastructure/environments/preprod/nginx_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/metabase_containers/terragrunt.hcl
  infrastructure/environments/prod/nginx_containers/.terraform.lock.hcl
  infrastructure/environments/prod/nginx_containers/terraform.tfvars.example
  infrastructure/environments/prod/nginx_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-webserver.tf
  infrastructure/modules/airflow_containers/outputs.tf
  infrastructure/modules/airflow_containers/variables.tf
  infrastructure/modules/metabase_containers/metabase.tf
  infrastructure/modules/metabase_containers/outputs.tf
  infrastructure/modules/metabase_containers/variables.tf
  infrastructure/modules/nginx_containers/namespace.tf
  infrastructure/modules/nginx_containers/nginx.tf
  infrastructure/modules/nginx_containers/outputs.tf
  infrastructure/modules/nginx_containers/variables.tf
  nginx/generate-routes.sh
  nginx/nginx.Dockerfile
  nginx/nginx.conf
Due: prettier

Updates CD to points to the new scaleway project
  .github/workflows/ml-deduplication-inference-build-and-push.yml
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
Due: ruff, ruff-format, djade

Adds --gpu parameter to docker run
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
  ml_deduplication/Dockerfile
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
Due: ruff, ruff-format, djade

Passer les secrets en variable d'environnement des commandes psql et ogr2ogr
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_csv_to_s3.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/shared/psql/utils.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_export_opendata_csv_to_s3.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/shared/psql/test_utils.py
Due: ruff, ruff-format, djade

Changes name of SCW API keys vars
  data-platform/dags/.env.template
  data-platform/scripts/infrastructure/ml_deduplication_cloud_init.tpl
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_create.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_destroy.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_wait.sh
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
