Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

latitude et longitude dans include_if_all_fields (#2490)
  dags/utils/django.py
Due: ruff, ruff-format, djade

deploy: 69383ba9e71783fcb746f17976961bb4e3337d3c
  .doctrees/environment.pickle
Due: none

lighthouse
  .github/workflows/ci.yml
  .lighthouserc.json
  package-lock.json
  package.json
Due: none

install app
  .github/workflows/ci.yml
Due: none

Updates
  qfdmd/migrations/0071_searchtag_remove_synonyme_id_and_more.py
  qfdmd/migrations/0072_synonyme_imported_as_search_tag.py
  search/migrations/0002_alter_searchterm_options.py
  templates/ui/components/search/_search_result_searchtag.html
  templates/ui/components/search/_search_result_synonyme.html
Due: ruff, ruff-format, djade

WIP
  qfdmd/migrations/0071_searchtag_produitpage_search_variants_and_more.py
  qfdmd/migrations/0071_searchtag_remove_synonyme_id_and_more.py
  qfdmd/migrations/0072_synonyme_imported_as_search_tag.py
  qfdmd/models.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  search/admin.py
  search/migrations/0001_initial.py
  search/migrations/0002_alter_searchterm_options.py
  search/mixins.py
  search/models.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/wagtail_hooks.py
  search/migrations/0001_initial.py
Due: ruff, ruff-format, djade

add migration
  qfdmd/migrations/0071_searchtag_synonyme_inheritance.py
Due: ruff, ruff-format, djade

add migration
  qfdmd/migrations/0072_produitpage_search_variants.py
  qfdmd/wagtail_hooks.py
Due: ruff, ruff-format, djade

Lint
  search/models.py
Due: ruff, ruff-format, djade

add back templates
  qfdmd/forms.py
  templates/ui/components/search/_search_term.html
Due: ruff, ruff-format, djade

Fix templateS
  qfdmd/models.py
  templates/ui/components/search/_search_result_searchtag.html
  templates/ui/components/search/_search_result_synonyme.html
Due: ruff, ruff-format, djade

ci lighthouse
  .github/workflows/ci.yml
Due: none

gitignore .lighthouse
  .gitignore
Due: none

Re-enable e2e tests in CI
  .github/actions/pg-restore/action.yml
  .github/actions/prepare-django-db/action.yml
  .github/actions/restore-django-db/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/review.yml
  dags/acteurs/tasks/business_logic/copy_db_data.py
  e2e_tests/acteur.spec.ts
  e2e_tests/assistant.spec.ts
  e2e_tests/carte.spec.ts
  e2e_tests/carte_config.spec.ts
  e2e_tests/formulaire.spec.ts
  e2e_tests/helpers.ts
  e2e_tests/iframe.spec.ts
  e2e_tests/iframe_navigation.spec.ts
  playwright.config.ts
  previews/template_preview.py
  templates/templatetags/carte.html
  templates/ui/pages/produit_page.html
  templates/ui/tests/ess_label_display.html
Due: ruff, ruff-format, djade, prettier

Remove useless test
  e2e_tests/iframe.spec.ts
Due: prettier

Correction des tests e2e (#2336)
  .github/actions/pg-restore/action.yml
  .github/actions/prepare-django-db/action.yml
  .github/actions/restore-django-db/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/review.yml
  dags/acteurs/tasks/business_logic/copy_db_data.py
  e2e_tests/acteur.spec.ts
  e2e_tests/assistant.spec.ts
  e2e_tests/carte.spec.ts
  e2e_tests/carte_config.spec.ts
  e2e_tests/formulaire.spec.ts
  e2e_tests/helpers.ts
  e2e_tests/iframe.spec.ts
  e2e_tests/iframe_navigation.spec.ts
  playwright.config.ts
  previews/template_preview.py
  templates/templatetags/carte.html
  templates/ui/pages/produit_page.html
  templates/ui/tests/ess_label_display.html
Due: ruff, ruff-format, djade, prettier

Update dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
Due: ruff, ruff-format, djade

update tests
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters_prepare.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

remove last noqa
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

Mise à jour du test est_parent
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

Ne prendre en compte que les Acteurs actifs pour clusteriser
  dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
Due: ruff, ruff-format, djade

Utilisation de est_parent plutôt que nombre_enfants
  dags/cluster/config/constants.py
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

remove useless fields
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

fix the columns to includ regarding RevisionActeur vs VueActeur
  dags/cluster/config/constants.py
  dags/cluster/dags/cluster_acteur_suggestions.py
Due: ruff, ruff-format, djade

deploy: d906e3bf0100cf322007c81c7cc6f3e046418bcd
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

Ne prendre en compte que les Acteurs actifs pour clusteriser (#2489)
  dags/cluster/config/constants.py
  dags/cluster/dags/cluster_acteur_suggestions.py
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters_prepare.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

deploy: dbd2d880518b7833cc6503c38b1fb4a816dc81f0
  .doctrees/environment.pickle
Due: none

WIP
  pyproject.toml
  uv.lock
Due: none

Bad honeypot version
  pyproject.toml
  uv.lock
Due: none

Nettoyage de dépendances : pin wagtail-honeypot et supprression api-insee (#2498)
  pyproject.toml
  uv.lock
Due: none

deploy: cf4c87c430d5032d1c37a4f1f003f1b09ab7c99d
  .doctrees/environment.pickle
Due: none

Améliorer l'implémentation de Sites Conformes : centrage
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
  templates/ui/pages/produit.html
  templates/ui/pages/produit_page.html
Due: none

Fix alignment
  templates/ui/components/produit/heading.html
  templates/ui/pages/produit_page.html
Due: none

Increase padding in search bar
  e2e_tests/homepage.spec.ts
  templates/ui/pages/home.html
Due: prettier

Add chrome extension
  chrome-extension/.eslintrc
  chrome-extension/.github/ISSUE_TEMPLATE/bug_report.md
  chrome-extension/.github/dependabot.yml
  chrome-extension/.github/stale.yml
  chrome-extension/.github/workflows/ci.yml
  chrome-extension/.gitignore
  chrome-extension/.nvmrc
  chrome-extension/LICENSE
  chrome-extension/README.md
  chrome-extension/custom-vite-plugins.ts
  chrome-extension/manifest.dev.json
  chrome-extension/manifest.json
  chrome-extension/nodemon.chrome.json
  chrome-extension/nodemon.firefox.json
  chrome-extension/package-lock.json
  chrome-extension/package.json
  chrome-extension/public/ademe-logo.svg
  chrome-extension/public/contentStyle.css
  chrome-extension/public/dev-icon-128.png
  chrome-extension/public/dev-icon-32.png
  chrome-extension/public/icon-128.png
  chrome-extension/public/icon-32.png
  chrome-extension/src/assets/img/logo.svg
  chrome-extension/src/assets/styles/tailwind.css
  chrome-extension/src/global.d.ts
  chrome-extension/src/locales/en/messages.json
  chrome-extension/src/pages/background/index.ts
  chrome-extension/src/pages/content/index.tsx
  chrome-extension/src/pages/popup/Popup.tsx
  chrome-extension/src/pages/popup/index.css
  chrome-extension/src/pages/popup/index.html
  chrome-extension/src/pages/popup/index.tsx
  chrome-extension/src/types.ts
  chrome-extension/src/vite-env.d.ts
  chrome-extension/tsconfig.json
  chrome-extension/vite.config.base.ts
  chrome-extension/vite.config.chrome.ts
  chrome-extension/vite.config.firefox.ts
  chrome-extension/yarn.lock
Due: prettier

Improve constants sharing
  chrome-extension/manifest.json
  chrome-extension/public/ademe-logo.svg
  chrome-extension/public/icon-128.png
  chrome-extension/public/icon-32.png
  chrome-extension/src/pages/background/index.ts
  chrome-extension/src/pages/content/index.tsx
  chrome-extension/src/pages/popup/Popup.tsx
  chrome-extension/src/pages/popup/index.css
  chrome-extension/src/pages/popup/index.html
  chrome-extension/src/pages/popup/index.tsx
  chrome-extension/src/types.ts
  static/to_compile/controllers/shared/analytics.ts
  static/to_compile/js/shared_constants.ts
Due: prettier

Improve
  chrome-extension/manifest.json
  chrome-extension/src/pages/content/index.tsx
  chrome-extension/src/pages/popup/Popup.tsx
  chrome-extension/src/pages/popup/index.html
  chrome-extension/src/types.ts
  static/to_compile/js/shared_constants.ts
Due: prettier

add workflow
  .github/workflows/chrome-extension-ci.yml
  chrome-extension/.github/ISSUE_TEMPLATE/bug_report.md
  chrome-extension/.github/dependabot.yml
  chrome-extension/.github/stale.yml
  chrome-extension/.github/workflows/ci.yml
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
