Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Afficher les modif de révision qui seront effectivement faite
  data/views.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Application de toutes les suggestions aux parents
  data/admin.py
  data/models/suggestion.py
Due: ruff, ruff-format, djade

Move SuggestionSourceModel
  core/templatetags/admin_suggestion_tags.py
  data/models/suggestion.py
  data/models/suggestions/source.py
  data/views.py
Due: ruff, ruff-format, djade

Review par Fabien : Partie 1
  core/templatetags/admin_data_tags.py
  data/admin.py
  data/models/suggestion.py
  qfdmo/models/acteur.py
  unit_tests/data/models/test_suggestion.py
Due: ruff, ruff-format, djade

typo
  data/views.py
Due: ruff, ruff-format, djade

factorisation
  data/models/suggestion.py
  data/views.py
Due: ruff, ruff-format, djade

afficher uniquement les Cohortes concernés par le type de suggestion
  data/admin.py
Due: ruff, ruff-format, djade

re-order filters
  data/admin.py
Due: ruff, ruff-format, djade

remove useless logging
  data/views.py
Due: ruff, ruff-format, djade

Suppression du serializer
  data/admin.py
  data/models/suggestion.py
  data/views.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

déplacement de la serialisation vers la vue
  core/templatetags/admin_suggestion_tags.py
  data/admin.py
  data/models/suggestion.py
  data/views.py
  unit_tests/data/models/test_suggestion.py
  unit_tests/data/test_suggestion_models.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

manage empty values
  core/templatetags/admin_data_tags.py
  data/admin.py
  data/models/apply_models/abstract_apply_model.py
  data/models/apply_models/source_apply_model.py
  data/models/suggestion.py
  data/models/utils.py
  data/views.py
  qfdmo/models/acteur.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
  unit_tests/data/models/apply_models/test_source_apply_model.py
  unit_tests/data/test_admin_actions.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

fix test
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

suppression de code mort
  data/models/suggestion.py
  data/views.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

copie d'une valeur sur une revision_acteur pas existante
  core/templatetags/admin_data_tags.py
  data/migrations/0020_alter_suggestiongroupe_acteur_and_more.py
  data/models/suggestion.py
  data/views.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

Application de toutes les suggestions aux parents (#2375)
  core/templatetags/admin_data_tags.py
  core/templatetags/admin_suggestion_tags.py
  data/admin.py
  data/migrations/0020_alter_suggestiongroupe_acteur_and_more.py
  data/models/apply_models/abstract_apply_model.py
  data/models/apply_models/source_apply_model.py
  data/models/suggestion.py
  data/models/suggestions/source.py
  data/models/utils.py
  data/views.py
  qfdmo/models/acteur.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
  unit_tests/data/models/apply_models/test_source_apply_model.py
  unit_tests/data/models/test_suggestion.py
  unit_tests/data/test_admin_actions.py
  unit_tests/data/test_suggestion_models.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

deploy: 9edb1bceb2bc9c79e8de09c1b6fa9f202f73a5b7
  .doctrees/environment.pickle
Due: none

Revert address autocomplete changes
  core/urls.py
  core/views.py
  core/widgets.py
  previews/template_preview.py
  static/to_compile/controllers/carte/address_autocomplete_controller.ts
  static/to_compile/controllers/shared/geolocation_controller.ts
  static/to_compile/controllers/shared/map_address_autocomplete_controller.ts
  static/to_compile/js/carte.ts
  templates/ui/forms/widgets/autocomplete/adresse.html
  templates/ui/forms/widgets/autocomplete/adresse_results_item.html
  templates/ui/layout/assistant.html
  templates/ui/layout/base.html
  templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

Refactor NextAutocompleteInput to support class attributes
  core/widgets.py
Due: ruff, ruff-format, djade

Rename
  core/context_processors.py
  previews/template_preview.py
  qfdmd/forms.py
Due: ruff, ruff-format, djade

Simplify controller
  core/widgets.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/forms/widgets/autocomplete/input.html
Due: ruff, ruff-format, djade, prettier

Add validation on endpoint url
  core/widgets.py
Due: ruff, ruff-format, djade

fix script to republish pages after run
  qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

Clone des données de contours administratifs
  dags/.env.template
  dags/clone/config/sql/creation/tables/create_table_ca_commune.sql
  dags/clone/config/sql/creation/views/create_view_ca_commune_in_use.sql
  dags/clone/dags/clone_ca_commune.py
  dags/clone/tasks/airflow_logic/clone_old_tables_remove_task.py
  dags/clone/tasks/business_logic/clone_old_tables_remove.py
  dags/clone/tasks/business_logic/clone_table_create.py
  dags/shared/config/tags.py
  docs/explications/data/README.md
Due: ruff, ruff-format, djade, prettier

Clone des données de contours administratifs
  dags/clone/dags/clone_ca_commune.py
  dags/clone/tasks/business_logic/clone_table_create.py
Due: ruff, ruff-format, djade

Clone all 'Contours Administratifs' table
  dags/clone/config/sql/creation/tables/create_table_ca_commune_associee_deleguee.sql
  dags/clone/config/sql/creation/tables/create_table_ca_departement.sql
  dags/clone/config/sql/creation/tables/create_table_ca_epci.sql
  dags/clone/config/sql/creation/tables/create_table_ca_region.sql
  dags/clone/config/sql/creation/views/create_view_ca_commune_associee_deleguee_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_departement_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_epci_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_region_in_use.sql
  dags/clone/dags/clone_ca_commune_associee_deleguee.py
  dags/clone/dags/clone_ca_departement.py
  dags/clone/dags/clone_ca_epci.py
  dags/clone/dags/clone_ca_region.py
  dags/shared/config/tags.py
Due: ruff, ruff-format, djade

Script pour vérifier les intégrations de l'iframe que faire de nos objets et déchets
  docs/comment-faire/development/README.md
  docs/comment-faire/development/integration_statuses.md
  scripts/check_carte_integrations.py
Due: ruff, ruff-format, djade, prettier

Correction d'un bug empêchant d'afficher des pages suite au déplacement de la page d'accueil (#2391)
  qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

deploy: e5e76cc8db7e8f7ee9f0941ea811380ed11a2ce9
  .doctrees/environment.pickle
Due: none

cacher filtre bojet + réparer bonus=1
  qfdmo/admin/config.py
  qfdmo/forms.py
  qfdmo/migrations/0188_carteconfig_cacher_filtre_objet.py
  qfdmo/models/config.py
Due: ruff, ruff-format, djade

Dynamic form class based on cacher filtre objet value
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Add e2e test and test case in lookbook
  e2e_tests/carte_config.spec.ts
  previews/template_preview.py
  qfdmo/admin/config.py
  qfdmo/migrations/0189_carteconfig_test.py
  qfdmo/models/config.py
  templates/ui/tests/t_10_cacher_filtre_objet.html
  templates/ui/tests/t_11_default_filtre_objet.html
  templates/ui/tests/t_9_bonus_legacy_parameter.html
Due: ruff, ruff-format, djade, prettier

Use proper script url
  previews/template_preview.py
  templates/ui/tests/t_10_cacher_filtre_objet.html
  templates/ui/tests/t_11_default_filtre_objet.html
  templates/ui/tests/t_9_bonus_legacy_parameter.html
Due: ruff, ruff-format, djade

Add tests
  e2e_tests/carte_config.spec.ts
  e2e_tests/helpers.ts
  previews/template_preview.py
  templates/ui/tests/t_10_bonus_legacy_parameter_script.html
  templates/ui/tests/t_11_cacher_filtre_objet.html
  templates/ui/tests/t_12_default_filtre_objet.html
  templates/ui/tests/t_9_bonus_legacy_parameter_iframe.html
Due: ruff, ruff-format, djade, prettier

update tests
  e2e_tests/carte_config.spec.ts
Due: prettier

t
  e2e_tests/carte_config.spec.ts
Due: prettier

Improve tests and API documentation
  .github/workflows/sync_databases.yml
  AGENTS.md
  api.AGENTS.md
  core/api.py
  docs/reference/README.md
  docs/reference/api_stats/README.md
  docs/reference/apis/README.md
  docs/reference/apis/qfdmo.md
  docs/reference/apis/stats.md
  integration_tests/assistant/test_home.py
  integration_tests/assistant/test_synonyme_detail.py
  integration_tests/carte/test_adresses_view.py
  integration_tests/carte/test_carte_config_bonus_reparation.py
  integration_tests/carte/test_qfdmo_api.py
  qfdmd/api.py
  unit_tests/qfdmo/carte_config_factory.py
Due: ruff, ruff-format, djade, prettier

Fix e2e
  e2e_tests/carte_config.spec.ts
  e2e_tests/helpers.ts
Due: prettier

Improve e2e helpers
  e2e_tests/carte_config.spec.ts
  e2e_tests/helpers.ts
Due: prettier

Update script
  qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
