Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Ajout d'un nouveau type de cluster dans la création du jeu de données
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/create_nearby_clusters_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/create_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/drop_nearby_clusters_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/nearby_clusters.sql
  ml_deduplication/ml_deduplication/dataset/sql/singleton_entities.sql
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
Due: ruff, ruff-format, djade

Passe d'optimisation 2
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
Due: ruff, ruff-format, djade

Mis à jour du blocking pour de meilleures performances
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
Due: ruff, ruff-format, djade

Ajout de la geodistance qui manquait
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/clustering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Correction oubli de méthode
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
Due: ruff, ruff-format, djade

Passe d'optimisation
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
Due: ruff, ruff-format, djade

Réorganisation des imports
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/inference/run_inference_splink.py
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/dedupe/model.py
  ml_deduplication/ml_deduplication/modeling/dedupe/xgb_model.py
  ml_deduplication/ml_deduplication/modeling/splink/splink_model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/modeling/xgboost/schema.py
  ml_deduplication/ml_deduplication/notebooks/splink_experiment.ipynb
  ml_deduplication/ml_deduplication/training/dedupe/model_selection.py
  ml_deduplication/ml_deduplication/training/dedupe/training_pipeline_dedupe.py
  ml_deduplication/ml_deduplication/training/splink/training_pipeline_splink.py
  ml_deduplication/ml_deduplication/training/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
  ml_deduplication/ml_deduplication/training/xgboost/utils.py
  ml_deduplication/pyproject.toml
Due: ruff, ruff-format, djade

Dockerisation de l'inference
  ml_deduplication/.dockerignore
  ml_deduplication/Dockerfile
  ml_deduplication/Makefile
  ml_deduplication/README.md
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/dedupe/README.md
  ml_deduplication/ml_deduplication/modeling/splink/README.md
  ml_deduplication/ml_deduplication/modeling/xgboost/README.md
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/models/xgboost/calibrator.pkl
  ml_deduplication/models/xgboost/hyperparameters.json
  ml_deduplication/models/xgboost/model.json
  ml_deduplication/models/xgboost/training_results.json
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade, prettier

Ajout de la CI
  .github/workflows/ml-deduplication-inference-build-and-push.yml
Due: none

Test dag pour provisionner l'instance
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
  data-platform/dags/shared/config/tags.py
  data-platform/scripts/infrastructure/ml_deduplication_cloud_init.tpl
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_create.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_destroy.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_wait.sh
Due: ruff, ruff-format, djade

Correction des tests e2e et simplification de la génération de la base de données sample en local (#3397)
  .github/actions/setup-playwright/action.yml
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  docs/how-to/development/create_webapp_sample_db.md
  docs/how-to/development/installation.md
  docs/how-to/development/tests_e2e.md
  docs/reference/db/db_organisation.md
  docs/reference/webapp/README.md
  scripts/e2e_prepare.sh
  scripts/e2e_run_sample_dag.sh
  scripts/restore_sample_locally.sh
  webapp/.env.template
  webapp/Makefile
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/helpers.ts
Due: ruff, ruff-format, djade, prettier

Rewrite migrations
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/migrations/0093_merge_20260911_1210.py
  webapp/qfdmd/migrations/0093_produit_legacy_imported_as_produit_page_and_more.py
Due: ruff, ruff-format, djade

Renamed block id
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Migrate on run
  webapp/bin/entrypoint.sh
Due: none

wip
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

test: follow the _repair_html -> _repaired_html rename in the legacy sync test
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
Due: ruff, ruff-format, djade

hmmm
  webapp/Dockerfile
Due: none

Add genre/nombre assignment
  webapp/qfdmd/genre_nombre.csv
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

Improve spacing around carte block
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte.html
Due: prettier

Add todos
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
Due: ruff, ruff-format, djade

Scripts de migartion des produits legacy
  webapp/Dockerfile
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Increase spacing around titles
  webapp/templates/ui/pages/produit_page.html
Due: none

WIP
  webapp/qfdmd/migrations/0093_merge_20260911_1210.py
Due: ruff, ruff-format, djade

fix: corrections de migration des produits legacy
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

capitalize only first letter
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

WIP
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/static/to_compile/styles/qfdmd.css
Due: ruff, ruff-format, djade, prettier

feat: finalisation de la migration d'un produit (déplacement dans /categories)
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
Due: ruff, ruff-format, djade

Improve naming and comments
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

test: aligner le test d'intégration sur les couleurs de badge blue-cumulus / purple-glycine
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
Due: ruff, ruff-format, djade

Remove useless commands
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
Due: ruff, ruff-format, djade

new file
  webapp/qfdmd/genre_nombre.csv
Due: none

Migrer les produits legacy de django vers Wagtail (#3160)
  webapp/bin/entrypoint.sh
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/genre_nombre.csv
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/migrations/0093_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/templates/ui/blocks/carte.html
  webapp/templates/ui/pages/produit_page.html
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

deploy: 44ffad7cc03bab39e0e67bc9df6ccf5ebd01632d
  .doctrees/environment.pickle
Due: none

Suppression de l'instance de DB airflow et de Metabase en preprod
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/modules/database/main.tf
Due: none

remove commented lines
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
Due: none

Suppression de l'instance de DB airflow et de Metabase en preprod (#3398)
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/modules/database/main.tf
Due: none

Redonner tous les droits aux utilisateurs metabase car readonly via terraform ne fonctionne pas
  infrastructure/modules/database/main.tf
Due: none

deploy: a7ea5fdfafeaaafef97a250dfd0a69a11e6375bb
  .doctrees/environment.pickle
Due: none

mise à jour des droits de lecture sur tous le schema
  infrastructure/environments/preprod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/preprod/database_sample/.terraform.lock.hcl
  infrastructure/environments/preprod/metabase_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/object_storage/.terraform.lock.hcl
  infrastructure/environments/prod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/prod/container_registry/.terraform.lock.hcl
  infrastructure/environments/prod/database/.terraform.lock.hcl
  infrastructure/environments/prod/database_sample/.terraform.lock.hcl
  infrastructure/environments/prod/metabase_containers/.terraform.lock.hcl
  infrastructure/environments/prod/object_storage/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/variables.tf
  scripts/sql/grant_metabase_default_privileges.sql
Due: none
