Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

merge migrations
  webapp/qfdmd/migrations/0092_merge_20260910_0833.py
Due: ruff, ruff-format, djade

Carte sur mesure dans une modale (#3071)
  webapp/core/templatetags/carte_tags.py
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0090_carte_block.py
  webapp/qfdmd/migrations/0091_migrate_carte_sur_mesure_to_carte.py
  webapp/qfdmd/migrations/0092_merge_20260910_0833.py
  webapp/qfdmd/models.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/views/carte.py
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
  webapp/static/to_compile/styles/carte.css
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte.html
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/components/acteur/acteur_detail.html
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade, prettier

deploy: e9dbe8a65e5eeb672c9cf8c862ac2a083a7d0e82
  .doctrees/environment.pickle
Due: none

Ajout d'une commande pour corriger des acteurs à partir d'un fichier excel
  webapp/qfdmo/management/commands/update_acteurs_fields.py
Due: ruff, ruff-format, djade

Régression erreur 500 lors de l’ajout de la redirection d’un synonyme (#3200)
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_synonyme_redirection.py
Due: ruff, ruff-format, djade

deploy: f79350ecf8022184b624c9f018ec740ece2144de
  .doctrees/environment.pickle
Due: none

ensure padding is respected on mobile
  webapp/templates/ui/components/surfooter/base.html
Due: none

deploy: 190154a458275f6efd6edc7205bca05ec79a37d0
  .doctrees/environment.pickle
Due: none

Procédure de rotation des mots de passe
  docs/how-to/infrastructure/README.md
  docs/how-to/infrastructure/rotate_db_passwords.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/pra.md
  docs/reference/security/secrets.md
Due: prettier

Procédure de rotation des mots de passe (#3382)
  docs/how-to/infrastructure/README.md
  docs/how-to/infrastructure/rotate_db_passwords.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/pra.md
  docs/reference/security/secrets.md
Due: prettier

Fix maplibre
  webapp/static/to_compile/js/solution_map.ts
Due: prettier

Déplacement des DB airflow, création d'un metabase sur Scaleway
  docs/explanations/data/README.md
  docs/how-to/infrastructure/rotate_db_passwords.md
  docs/reference/architecture/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/db/db_organisation.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/inventory.md
  docs/reference/security/pca.md
  docs/reference/security/pra.md
  docs/reference/security/providers.md
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/preprod/metabase_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/metabase_containers/terraform.tfvars.example
  infrastructure/environments/preprod/metabase_containers/terragrunt.hcl
  infrastructure/environments/prod/database/terragrunt.hcl
  infrastructure/environments/prod/metabase_containers/terraform.tfvars.example
  infrastructure/environments/prod/metabase_containers/terragrunt.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
  infrastructure/modules/metabase_containers/metabase.tf
  infrastructure/modules/metabase_containers/namespace.tf
  infrastructure/modules/metabase_containers/outputs.tf
  infrastructure/modules/metabase_containers/variables.tf
Due: prettier

fix: destroy preview environments reliably and garbage-collect closed PRs
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-down.yml
  .github/workflows/preview-up.yml
  docs/reference/infrastructure/preview-environments.md
  infrastructure/modules/webapp_container/main.tf
  scripts/infrastructure/preview_destroy.sh
Due: prettier

Ajout de la variable MB_LOAD_SAMPLE_CONTENT à faux par défaut
  infrastructure/modules/metabase_containers/metabase.tf
  infrastructure/modules/metabase_containers/variables.tf
Due: none

Déplacement des DB airflow, création d'un metabase sur Scaleway (#3384)
  docs/explanations/data/README.md
  docs/how-to/infrastructure/rotate_db_passwords.md
  docs/reference/architecture/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/db/db_organisation.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/inventory.md
  docs/reference/security/pca.md
  docs/reference/security/pra.md
  docs/reference/security/providers.md
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/preprod/metabase_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/metabase_containers/terraform.tfvars.example
  infrastructure/environments/preprod/metabase_containers/terragrunt.hcl
  infrastructure/environments/prod/database/terragrunt.hcl
  infrastructure/environments/prod/metabase_containers/terraform.tfvars.example
  infrastructure/environments/prod/metabase_containers/terragrunt.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
  infrastructure/modules/metabase_containers/metabase.tf
  infrastructure/modules/metabase_containers/namespace.tf
  infrastructure/modules/metabase_containers/outputs.tf
  infrastructure/modules/metabase_containers/variables.tf
Due: prettier

deploy: b231287493db732d3d1af410e543c9db776ce79e
  .doctrees/environment.pickle
  .doctrees/explanations/data/README.doctree
  .doctrees/how-to/infrastructure/rotate_db_passwords.doctree
  .doctrees/reference/architecture/README.doctree
  .doctrees/reference/data-platform/airflow.doctree
  .doctrees/reference/db/db_organisation.doctree
  .doctrees/reference/infrastructure/provisioning.doctree
  .doctrees/reference/security/inventory.doctree
  .doctrees/reference/security/pca.doctree
  .doctrees/reference/security/pra.doctree
  .doctrees/reference/security/providers.doctree
  _sources/explanations/data/README.md.txt
  _sources/how-to/infrastructure/rotate_db_passwords.md.txt
  _sources/reference/architecture/README.md.txt
  _sources/reference/data-platform/airflow.md.txt
  _sources/reference/db/db_organisation.md.txt
  _sources/reference/infrastructure/provisioning.md.txt
  _sources/reference/security/inventory.md.txt
  _sources/reference/security/pca.md.txt
  _sources/reference/security/pra.md.txt
  _sources/reference/security/providers.md.txt
  explanations/data/README.html
  how-to/infrastructure/rotate_db_passwords.html
  reference/architecture/README.html
  reference/data-platform/airflow.html
  reference/db/db_organisation.html
  reference/infrastructure/provisioning.html
  reference/security/inventory.html
  reference/security/pca.html
  reference/security/pra.html
  reference/security/providers.html
  searchindex.js
Due: prettier

Déplacement des DB airflow, création d'un metabase sur Scaleway
  infrastructure/modules/metabase_containers/variables.tf
Due: none

déplacer le model base_action dans dbt/models/base/acteurs
  data-platform/dags/shared/config/dag_names.py
  data-platform/dbt/models/base/acteurs/base_action.sql
  data-platform/dbt/models/base/acteurs/schema.yml
  data-platform/dbt/models/base/stats/base_action.sql
  data-platform/dbt/models/base/stats/schema.yml
  data-platform/dbt/models/source/source_stats.yml
  docs/reference/data-platform/dbt.md
Due: ruff, ruff-format, djade, prettier

3615 problème server et amélioration opentofu
  docs/how-to/troubleshooting.md
  infrastructure/environments/prod/metabase_containers/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
Due: prettier

Fix autocomplete
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/forms/widgets/autocomplete/results.html
Due: prettier

Remove scroll listener
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

Remove useless disconnect
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

Remove useless commands
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
Due: ruff, ruff-format, djade

Scripts de migartion des produits legacy
  webapp/Dockerfile
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Add genre/nombre assignment
  webapp/qfdmd/genre_nombre.csv
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

hmmm
  webapp/Dockerfile
Due: none

Improve spacing around carte block
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte.html
Due: prettier

Increase spacing around titles
  webapp/templates/ui/pages/produit_page.html
Due: none

test: aligner le test d'intégration sur les couleurs de badge blue-cumulus / purple-glycine
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
Due: ruff, ruff-format, djade

feat: finalisation de la migration d'un produit (déplacement dans /categories)
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
Due: ruff, ruff-format, djade

capitalize only first letter
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

feat: images infotri décoratives par défaut
  bin/post_deploy
  infrastructure/modules/preview_database/main.tf
  webapp/qfdmd/blocks.py
  webapp/qfdmd/management/commands/mark_infotri_decorative.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

wip
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

fix: corrections de migration des produits legacy
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Amélioration du scoring de recherche
  docs/reference/webapp/django.md
  webapp/.env.template
  webapp/qfdmd/views.py
  webapp/search/ranking.py
  webapp/settings/base.py
  webapp/templates/ui/components/search/_score_breakdown.html
  webapp/unit_tests/search_tests/test_ranking.py
Due: ruff, ruff-format, djade, prettier

WIP
  webapp/qfdmd/migrations/0093_merge_20260911_1210.py
Due: ruff, ruff-format, djade
