Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Supprimer les anciennes tables clonées
  dags/clone/tasks/business_logic/clone_old_tables_remove.py
Due: ruff, ruff-format, djade

ne pas demander la review de la tache plusieurs fois
  .github/workflows/_deploy-airflow.yml
  .github/workflows/_scaleway-container-deploy.yml
Due: none

Utiliser le client scaleway dans github action
  .github/workflows/_scaleway-container-deploy.yml
Due: none

config et doc
  .github/release-config.yml
  .github/workflows/cd.yml
  docs/comment-faire/troubleshooting.md
Due: prettier

Workflow de test
  .github/workflows/_deploy-airflow.yml
  .github/workflows/_scaleway-container-deploy.yml
  .github/workflows/deploy-airflow-preprod.yml
Due: none

cleanup de la PR
  .github/release-config.yml
  .github/workflows/cd.yml
  docs/comment-faire/troubleshooting.md
Due: prettier

simplification
  .github/workflows/_scaleway-container-deploy.yml
Due: none

Suppression du workflow de test
  .github/workflows/deploy-airflow-preprod.yml
Due: none

Utiliser la CLI Scaleway dans github action (#2295)
  .github/workflows/_deploy-airflow.yml
  .github/workflows/_scaleway-container-deploy.yml
Due: none

deploy: 6e434f341e6ea0743e37f6d47e30576899264264
  .doctrees/environment.pickle
Due: none

Fix
  qfdmd/models.py
  search/models.py
  unit_tests/search_tests/__init__.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

deploy: 0d05a32777d695f54e9c10bd422e45e63008ce12
  .doctrees/environment.pickle
Due: none

Supprimer les anciennes tables clonées (#2462)
  dags/clone/tasks/business_logic/clone_old_tables_remove.py
Due: ruff, ruff-format, djade

Suppression du dossier etl (#2461)
  etl/README.md
Due: prettier

deploy: acab43da5be7497148802ce58244fe423cb4fde8
  .doctrees/environment.pickle
Due: none

deploy: 530400669c110fccb68451a0b42942afb6e1106b
  .doctrees/environment.pickle
Due: none

Création de nouveaux indicateurs de qualite de données
  dags/shared/config/schedules.py
  dags/shared/config/tags.py
  dags/stats/dags/compute_stats.py
  dbt/models/base/stats/base_acteur_visible.sql
  dbt/models/base/stats/schema.yml
  dbt/models/exposure/stats/exposure_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/intermediate/stats/Untitled
  dbt/models/intermediate/stats/int_acteur_visible_location.sql
  dbt/models/intermediate/stats/int_acteur_visible_location_rounded.sql
  dbt/models/intermediate/stats/int_acteur_with_siren.sql
  dbt/models/intermediate/stats/int_acteur_with_siret.sql
  dbt/models/intermediate/stats/int_ae_siren_in_acteur.sql
  dbt/models/intermediate/stats/int_ae_siret_in_acteur.sql
  dbt/models/intermediate/stats/int_stacked_location.sql
  dbt/models/intermediate/stats/int_stacked_location_rounded.sql
  dbt/models/intermediate/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_siren_actif.sql
  dbt/models/marts/stats/marts_acteur_siret_actif.sql
  dbt/models/marts/stats/marts_acteur_stacked.sql
  dbt/models/marts/stats/marts_acteur_stacked_rounded.sql
  dbt/models/marts/stats/schema.yml
  dbt/models/source/source_stats.yml
Due: ruff, ruff-format, djade

[Open-Data] Ne pas exporter les adresses pour des acteurs uniquement à domicile (#2460)
  dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
Due: none

deploy: 26f4340fbe1e01d1733dff4cbea1a53a4b526f46
  .doctrees/environment.pickle
Due: none

amélioration requêtes stats
  dbt/models/exposure/stats/exposure_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_nb_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_taux_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/intermediate/stats/int_ae_siren_in_acteur.sql
  dbt/models/intermediate/stats/int_ae_siret_in_acteur.sql
Due: none

Ajout d'une Source généric à configurer entièrement selon un besoin spécific
  dags/shared/config/tags.py
  dags/sources/dags/source_generic.py
Due: ruff, ruff-format, djade

utilisation des constantes définit dans Django
  dags/sources/dags/source_cma.py
Due: ruff, ruff-format, djade

Mise à jour de la pdocumentation pour déployer les containers scaleway à partir d'un poste développeur
  docs/comment-faire/troubleshooting.md
Due: prettier

Fix: restaurer le saut de ligne dans le logo de la page d'accueil
  templates/ui/components/logo/site_logo_large.html
Due: none

Restaurer le saut de ligne dans le logo de la page d'accueil (#2469)
  templates/ui/components/logo/site_logo_large.html
Due: none

deploy: 00beedc18d8cabaf1940792dae95d2820f1ae4a9
  .doctrees/environment.pickle
Due: none

La gestion des arguments de data_tests est modifiée
  dbt/models/base/acteurs/schema.yml
  dbt/models/exposure/acteurs/carte/schema.yml
  dbt/models/exposure/acteurs/exhaustive/schema.yml
  dbt/models/exposure/acteurs/opendata/schema.yml
  dbt/models/exposure/acteurs/sample/schema.yml
  dbt/models/intermediate/acteurs/schema.yml
  dbt/models/intermediate/geo/schema.yml
  dbt/models/marts/acteurs/carte/schema.yml
  dbt/models/marts/acteurs/exhaustive/schema.yml
  dbt/models/marts/acteurs/opendata/schema.yml
  dbt/models/marts/enrich/schema.yml
Due: none

translate comment
  dbt/models/intermediate/stats/int_acteur_visible_location.sql
  dbt/models/intermediate/stats/int_acteur_visible_location_rounded.sql
  dbt/models/intermediate/stats/int_acteur_with_siren.sql
  dbt/models/intermediate/stats/int_acteur_with_siret.sql
Due: none

Rename base_acteur_visible to base_vueacteur_visible
  dbt/models/base/stats/base_acteur_visible.sql
  dbt/models/base/stats/schema.yml
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  dbt/models/intermediate/stats/int_acteur_visible_location.sql
  dbt/models/intermediate/stats/int_acteur_visible_location_rounded.sql
  dbt/models/intermediate/stats/int_acteur_with_siren.sql
  dbt/models/intermediate/stats/int_acteur_with_siret.sql
Due: none

Création de nouveaux indicateurs de qualite de données : partie 1 (#2464)
  dags/shared/config/schedules.py
  dags/shared/config/tags.py
  dags/stats/dags/compute_stats.py
  dbt/models/base/stats/schema.yml
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/intermediate/stats/Untitled
  dbt/models/intermediate/stats/int_acteur_visible_location.sql
  dbt/models/intermediate/stats/int_acteur_visible_location_rounded.sql
  dbt/models/intermediate/stats/int_acteur_with_siren.sql
  dbt/models/intermediate/stats/int_acteur_with_siret.sql
  dbt/models/intermediate/stats/int_ae_siren_in_acteur.sql
  dbt/models/intermediate/stats/int_ae_siret_in_acteur.sql
  dbt/models/intermediate/stats/int_stacked_location.sql
  dbt/models/intermediate/stats/int_stacked_location_rounded.sql
  dbt/models/intermediate/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_siren_actif.sql
  dbt/models/marts/stats/marts_acteur_siret_actif.sql
  dbt/models/marts/stats/marts_acteur_stacked.sql
  dbt/models/marts/stats/marts_acteur_stacked_rounded.sql
  dbt/models/marts/stats/schema.yml
  dbt/models/source/source_stats.yml
Due: ruff, ruff-format, djade

deploy: 74fec9c2ea937d3a1f418d69d8bee7bae277c034
  .doctrees/environment.pickle
Due: none

Move autocomplete synonyme
  core/widgets.py
  previews/template_preview.py
  qfdmo/forms.py
  qfdmo/widgets.py
Due: ruff, ruff-format, djade

Rebase and fix header
  templates/ui/components/header/header.html
Due: none

Fix underline issue in lookbook
  templates/ui/components/search/autocomplete_results.html
Due: none

Add back skpilinks
  core/context_processors.py
Due: ruff, ruff-format, djade

Refactor homepage search
  core/context_processors.py
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/mixins.py
  qfdmd/urls.py
  qfdmd/views.py
  qfdmo/forms.py
  qfdmo/views/carte.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/header/base.html
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/autocomplete_view.html
  templates/ui/forms/widgets/autocomplete/_results_item.html
  templates/ui/forms/widgets/autocomplete/input.html
  templates/ui/forms/widgets/autocomplete/results.html
  templates/ui/forms/widgets/autocomplete/results_item.html
  templates/ui/forms/widgets/autocomplete/synonyme.html
  templates/ui/forms/widgets/autocomplete/synonyme_results_item.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

Passage de la recherche objet du header en version DSFR (#2257)
  core/context_processors.py
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/mixins.py
  qfdmd/urls.py
  qfdmd/views.py
  qfdmo/forms.py
  qfdmo/views/carte.py
  qfdmo/widgets.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/header/base.html
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/autocomplete_view.html
  templates/ui/forms/widgets/autocomplete/_results_item.html
  templates/ui/forms/widgets/autocomplete/input.html
  templates/ui/forms/widgets/autocomplete/results.html
  templates/ui/forms/widgets/autocomplete/results_item.html
  templates/ui/forms/widgets/autocomplete/synonyme.html
  templates/ui/forms/widgets/autocomplete/synonyme_results_item.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

deploy: f8fa173f7fc75f21254bc313538a44996619aa8c
  .doctrees/environment.pickle
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
