Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

deploy: bc46e207b1188eebb7ce9c67ffd77b55d315745d
  .doctrees/environment.pickle
Due: none

deploy: b3a740884599e022d559c4d2e5e079db25f9be2a
  .doctrees/environment.pickle
Due: none

Improve following feedbacks
  webapp/core/constants.py
  webapp/core/templatetags/script_tags.py
  webapp/templates/ui/components/code/code.html
  webapp/templates/ui/components/modals/embed.html
Due: ruff, ruff-format, djade

simplify share following mockups
  webapp/previews/template_preview.py
  webapp/templates/ui/components/footer/base.iframe.html
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/pages/produit_page.html
  webapp/templates/ui/snippets/share_and_embed.html
Due: ruff, ruff-format, djade

Missing templates
  webapp/templates/ui/components/surfooter/base.html
  webapp/templates/ui/components/surfooter/base.iframe.html
  webapp/templates/ui/components/surfooter/surfooter.html
Due: none

Remove expiration that causes issues with some branches
  infrastructure/environments/preview/_template/object_storage/terragrunt.hcl
  infrastructure/modules/preview_object_storage/main.tf
  infrastructure/modules/preview_object_storage/variables.tf
Due: none

add infotri nginx rule
  servers.conf.erb
  webapp/nginx/test_nginx.py
Due: ruff, ruff-format, djade

Add preload to gunicorn to reduce startup time
  bin/start
Due: none

Add variable to tweak max requests jitter
  bin/start
Due: none

Passe d'optimisation 2
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
Due: ruff, ruff-format, djade

Suppression d'une clause qui empeche les nouveaux buckets de preview de se créer (#3367)
  infrastructure/environments/preview/_template/object_storage/terragrunt.hcl
  infrastructure/modules/preview_object_storage/main.tf
  infrastructure/modules/preview_object_storage/variables.tf
Due: none

deploy: 16ba3bfdc1aada47ea4fcb87c2d8a23a0ba359a4
  .doctrees/environment.pickle
Due: none

add dag to warn about posthog being down
  data-platform/dags/shared/config/schedules.py
  data-platform/dags/stats/dags/posthog_pageview_alert.py
  data-platform/dags/tests/stats/test_posthog_pageview_alert.py
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/variables.tf
Due: ruff, ruff-format, djade

rename
  data-platform/dags/stats/dags/posthog_pageview_alert.py
  data-platform/dags/tests/stats/test_posthog_pageview_alert.py
  infrastructure/modules/airflow_containers/variables.tf
Due: ruff, ruff-format, djade

ne garder que la création des utilisateurs metabase
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
Due: none

WIP : rotation des mots de passe
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
Due: none

format hcl file
  infrastructure/environments/preprod/database/terragrunt.hcl
Due: none

Création des utilisateurs metabase en ReadOnly (#3317)
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
Due: none

deploy: 9884434f14b10d0bdbbab5b747bd0544904fa7e3
  .doctrees/environment.pickle
Due: none

Maplibre 6 upgrade
  webapp/static/to_compile/js/solution_map.ts
Due: prettier

Add variables for timeout and max requests
  bin/start
Due: none

add ignore regarding js dependencies
  .github/dependabot.yml
  webapp/package.json
Due: none

add ignore regarding js dependencies
  .github/dependabot.yml
Due: none

Improve mattermost bot
  data-platform/dags/stats/dags/posthog_pageview_alert.py
  data-platform/dags/tests/stats/test_posthog_pageview_alert.py
Due: ruff, ruff-format, djade

Synchronise package-lock.json avec maplibre-gl 6
  package-lock.json
Due: none

Corrige le cache node_modules de la CI pour le workspace npm
  .github/actions/setup-frontend/action.yml
Due: none

Fine-tuning nginx / gunicorn pour améliorer les performances (#3373)
  bin/start
  servers.conf.erb
  webapp/nginx/test_nginx.py
Due: ruff, ruff-format, djade

deploy: 6f1f8d1cb94f33f0804e80d52d840740e3ccba39
  .doctrees/environment.pickle
Due: none

Add BASE_URL to preview
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/variables.tf
Due: none

Fix base url
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/variables.tf
Due: none

Format
  infrastructure/environments/preview/_template/container/terragrunt.hcl
Due: none

Ajout d'une variable pour pouvoir changer la platform de l'image docker postgis
  docker-compose.yml
Due: none

Amélioration des performances du restore de la db
  Makefile
  scripts/db_restore.sh
Due: none

Ajout d'exemple pour les var d'env manquantes airflow
  data-platform/dags/.env.template
Due: none

feedback
  webapp/core/constants.py
  webapp/core/templatetags/script_tags.py
  webapp/templates/ui/components/modals/embed.html
  webapp/templates/ui/components/modals/share.html
Due: ruff, ruff-format, djade

Migrate existing blocks
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0090_carte_block.py
  webapp/qfdmd/migrations/0091_migrate_carte_sur_mesure_to_carte.py
  webapp/qfdmd/models.py
  webapp/templates/ui/blocks/carte.html
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade, prettier

add in modal switch
  webapp/core/templatetags/carte_tags.py
  webapp/qfdmo/views/carte.py
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade

WIP
  webapp/static/to_compile/styles/qfdmd.css
Due: prettier

wip
  webapp/templates/ui/pages/carte.html
Due: none
