Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Correction de la génération et publication de la doc technique
  .github/workflows/publish-docs.yml
  Makefile
  docs/conf.py
  docs/pyproject.toml
  docs/uv.lock
Due: ruff, ruff-format, djade

build docs from docs folder
  .github/workflows/publish-docs.yml
  Makefile
  docs/Makefile
Due: none

Publication de documentation : Résolution de la CI (#2570)
  .github/workflows/publish-docs.yml
  Makefile
  docs/Makefile
  docs/conf.py
  docs/pyproject.toml
  docs/uv.lock
Due: ruff, ruff-format, djade

Fix permissions in cd
  .github/workflows/cd.yml
Due: none

fix permissions e2e flow
  .github/workflows/e2e.yml
Due: none

fix permissions e2e flow
  .github/workflows/cd.yml
Due: none

missing migration file
  webapp/qfdmd/migrations/0076_alter_synonyme_disabled.py
Due: ruff, ruff-format, djade

e2e debug
  .github/workflows/_e2e.yml
Due: none

lockfile
  uv.lock
Due: none

fixes
  webapp/qfdmd/migrations/0074_synonyme_disabled.py
Due: ruff, ruff-format, djade

rewrite migrations
  webapp/qfdmd/migrations/0072_alter_produitindexpage_body_alter_produitpage_body.py
  webapp/qfdmd/migrations/0073_produitpagesearchterm.py
  webapp/qfdmd/migrations/0073_remove_synonyme_id_and_more.py
Due: ruff, ruff-format, djade

remove migrations
  webapp/qfdmd/migrations/0075_synonyme_disabled.py
  webapp/qfdmd/migrations/0076_alter_synonyme_disabled.py
Due: ruff, ruff-format, djade

Rollback sites conforme
  pyproject.toml
  uv.lock
Due: none

exclude synonymes added on other pages
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

debug
  webapp/qfdmd/models.py
  webapp/search/models.py
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: ruff, ruff-format, djade

Add synonyme disabled
  webapp/qfdmd/migrations/0075_synonyme_disabled.py
  webapp/qfdmd/models.py
  webapp/search/models.py
  webapp/search/wagtail_hooks.py
  webapp/unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

Corrige une erreur 500 au clic sur un synonyme
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/templates/ui/components/produit/heading.html
Due: ruff, ruff-format, djade

coucou
  coucou
Due: none

Update tests
  webapp/unit_tests/search_tests/test_search_term.py
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

wip
  pyproject.toml
  uv.lock
Due: none

add e2e
  webapp/e2e_tests/search.spec.ts
Due: prettier

add todo
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Remove useless e2e utility function
  webapp/e2e_tests/assistant.spec.ts
  webapp/e2e_tests/helpers.ts
Due: prettier

Work if two results
  webapp/e2e_tests/iframe_navigation.spec.ts
Due: prettier

Only populate on current branch
  .github/workflows/_e2e.yml
Due: none

Correction des permissions de la CD (#2571)
  .github/workflows/cd.yml
  .github/workflows/e2e.yml
Due: none

deploy: ee97898c70238386c4656fd20b4e145503656fc8
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

Migration airflow v3: docker et pyproject.toml
  data-platform/airflow-dag-processor-start.sh
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/.airflowignore
  data-platform/dags/.env.template
  data-platform/pyproject.toml
  docker-compose.yml
  uv.lock
Due: none

Gestion des configurations des dags de type source
  data-platform/dags/sources/dags/source_aliapur.py
  data-platform/dags/sources/dags/source_batribox.py
  data-platform/dags/sources/dags/source_citeo.py
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_corepile.py
  data-platform/dags/sources/dags/source_cyclevia.py
  data-platform/dags/sources/dags/source_ecodds.py
  data-platform/dags/sources/dags/source_ecologic.py
  data-platform/dags/sources/dags/source_ecomaison.py
  data-platform/dags/sources/dags/source_ecopae.py
  data-platform/dags/sources/dags/source_ecosystem.py
  data-platform/dags/sources/dags/source_ocab.py
  data-platform/dags/sources/dags/source_ocad3e.py
  data-platform/dags/sources/dags/source_pharmacies.py
  data-platform/dags/sources/dags/source_pyreo.py
  data-platform/dags/sources/dags/source_refashion.py
  data-platform/dags/sources/dags/source_s3.py
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/dags/source_soren.py
  data-platform/dags/sources/dags/source_valdelia.py
Due: ruff, ruff-format, djade

cast column to avoid numpy error while save in DB
  data-platform/dags/sources/tasks/business_logic/db_data_prepare.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/sources/tasks/business_logic/source_data_validate.py
  data-platform/dags/sources/tasks/transform/sequence_utils.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

Les utilisateurs posthog ne sont plus authentifiés
  webapp/core/templatetags/analytics_tags.py
Due: ruff, ruff-format, djade

add test
  webapp/core/templatetags/analytics_tags.py
  webapp/integration_tests/core/test_analytics_tags.py
Due: ruff, ruff-format, djade

namespace commands
  Makefile
  webapp/bin/post_deploy
Due: none

Add safeguard
  webapp/qfdmd/management/commands/populate_fake_search_tags.py
Due: ruff, ruff-format, djade
