Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Prevent 500 error during synonbyme migration / redirect
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_synonyme_redirection.py
Due: ruff, ruff-format, djade

fix(admin): affiche une erreur claire si un synonyme est déjà redirigé sur une autre fiche
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_synonyme_redirection.py
Due: ruff, ruff-format, djade

build(deps-dev): bump black from 25.1.0 to 26.5.1 (#3196)
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_schema.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
  pyproject.toml
  uv.lock
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/previews/template_preview.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/management/commands/populate_sous_cat.py
Due: ruff, ruff-format, djade

build(deps): bump pillow from 12.2.0 to 12.3.0
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: 3df0f83789b839b6d1f533754e82d37ac7348da4
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

build(deps): bump pillow from 12.2.0 to 12.3.0 (#3197)
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: 2e9bbc0383d2262154e84854896029373cecc69f
  .doctrees/environment.pickle
Due: none

Ajout d'un paramètre pour corriger les dataset de la BAN
  data-platform/dags/clone/config/models.py
  data-platform/dags/clone/dags/clone_ban_adresses.py
  data-platform/dags/clone/dags/clone_ban_lieux_dits.py
  data-platform/dags/clone/tasks/airflow_logic/clone_table_create_task.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/clone/tasks/business_logic/fix_corrupted_utf8.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_fix_corrupted_utf8.py
Due: ruff, ruff-format, djade

a11y(carte): corrige le niveau de titre des sections de la fiche acteur
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/acteur/tabs/_section.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute la légende et l'en-tête manquants du tableau mode liste
  webapp/core/templatetags/carte_tags.py
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade, prettier

a11y(site): corrige le lien d'évitement sur Firefox
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/accessibilite/skip_link_demo.html
  webapp/templates/ui/components/header/header_menu.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute un titre de page pertinent
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/pages/carte.html
Due: prettier

a11y(produit): fait correspondre le title du lien info-tri à son intitulé
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/produit/_infotri.html
Due: prettier

a11y(carte): corrige la cohérence des liens (aria-label et title)
  webapp/core/templatetags/share_tags.py
  webapp/integration_tests/core/test_sharer.py
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu.html
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu_mode_liste.html
Due: ruff, ruff-format, djade

test: ajoute un test e2e pour le bouton ajouter un lieu
  webapp/e2e_tests/a11y_rgaa.spec.ts
Due: prettier

a11y(carte): utilise une balise sémantique pour la date de mise à jour
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/acteur/tabs/sections/meta.html
Due: prettier

a11y(carte): ajoute une alternative textuelle à l'illustration mode liste vide
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/carte/mode_liste.html
Due: prettier

a11y(produit): masque l'image info-tri décorative aux technologies d'assistance
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/produit/_infotri.html
Due: prettier

a11y(carte): masque le logo décoratif des onglets Labels/Sources
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/acteur/_label.html
Due: prettier

a11y(carte): ajoute un lien accueil explicite sur le logo du header
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/carte/header.html
Due: prettier

chore(carte): supprime le template header_logos.html devenu inutilisé
  webapp/templates/ui/layout/_partials/header_logos.html
Due: none

a11y(carte): nettoie les attributs restants du tooltip de partage
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/acteur/_action_share.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute des légendes pertinentes dans la modale filtres
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/qfdmo/forms.py
  webapp/templates/dsfr/form_field_snippets/segmented_control_snippet.html
Due: ruff, ruff-format, djade, prettier

a11y(recherche): le champ de recherche du header/accueil ne se coupe plus avec un espacement de texte élargi
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/search/view.html
Due: prettier

Ajout d'un paramètre pour corriger les datasets de la BAN (#3199)
  data-platform/dags/clone/config/models.py
  data-platform/dags/clone/dags/clone_ban_adresses.py
  data-platform/dags/clone/dags/clone_ban_lieux_dits.py
  data-platform/dags/clone/tasks/airflow_logic/clone_table_create_task.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/clone/tasks/business_logic/fix_corrupted_utf8.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_fix_corrupted_utf8.py
Due: ruff, ruff-format, djade

deploy: bc52226815d4d972bda511467885082bb7825cbc
  .doctrees/environment.pickle
Due: none

lors de la copie de la table, on récupère les colonnes de la table depuis le schema public uniquement
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
Due: ruff, ruff-format, djade

Implémente la courbe d'apprentissage
  ml_deduplication/.gitignore
  ml_deduplication/README.md
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade, prettier

Suppression du filtrage des etablissement avec un code étranger
  data-platform/dbt/models/base/ae/base_ae_etablissement.sql
  data-platform/dbt/models/intermediate/ae/int_ae_etablissement.sql
  data-platform/dbt/models/intermediate/ae/schema.yml
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siren_from_siret.sql
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siret_from_siren.sql
Due: none

lors de la copie de la table, on récupère les colonnes de la table depuis le schema public uniquement (#3215)
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
Due: ruff, ruff-format, djade

deploy: 758230a52a34dd39ae8e1232c21f75a894603337
  .doctrees/environment.pickle
Due: none

Modification de dataset_creation pour supprimer une des méthodes de création du jeu de donnée qui était bancale.
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/evaluation/metrics/cluster.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Correction typo
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
Due: ruff, ruff-format, djade

Suppression du filtrage des etablissements avec un code étranger (#3216)
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dbt/models/base/ae/base_ae_etablissement.sql
  data-platform/dbt/models/intermediate/ae/int_ae_etablissement.sql
  data-platform/dbt/models/intermediate/ae/schema.yml
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siren_from_siret.sql
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siret_from_siren.sql
Due: ruff, ruff-format, djade

deploy: 254c27499cccd95a992b608b131664c77236dcfe
  .doctrees/environment.pickle
Due: none

fix(admin): catch synonym redirection conflicts in inline clean() before save
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_synonyme_redirection.py
Due: ruff, ruff-format, djade

deploy: e6f77e1a1188bfab793fe142c0518b9aaa011e3e
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 94f33c97b55c89b72b745f44fb1686c36db97d9d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 6a8d791caddf135a452c2cd66715dd34af4fe260
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
