Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

WIP
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

WIP
  .github/actions/prepare-django-db/action.yml
Due: none

Adapt scripts
  webapp/Makefile
Due: none

Improve nouvelle recherche buttons
  webapp/templates/ui/components/header/base.html
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/components/produit/nouvelle_recherche.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/templates/ui/pages/produit.html
Due: none

WIP
  webapp/e2e_tests/search.spec.ts
  webapp/qfdmd/forms.py
  webapp/templates/ui/components/header/base.iframe.html
Due: ruff, ruff-format, djade, prettier

Disable cache for now
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/produit_page.html
Due: none

Review
  webapp/core/context_processors.py
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

homepage fixes
  webapp/core/context_processors.py
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/search.spec.ts
  webapp/templates/ui/components/header/base.html
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

Restore regression
  webapp/templates/ui/components/header/base.iframe.html
Due: none

Improve e2e coverage
  .github/workflows/e2e.yml
Due: none

Fix tests
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

wip
  .secrets.baseline
  webapp/qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

Wip
  webapp/Makefile
Due: none

Le lien du logo a récemment sauté (#2626)
  webapp/e2e_tests/navigation.spec.ts
  webapp/templates/ui/components/header/header.html
Due: prettier

deploy: aec53c1ed3694906f0f073b733e1514634961f66
  .doctrees/environment.pickle
Due: none

Correction sur les traductions et le plan de site (#2625)
  uv.lock
  webapp/core/settings.py
  webapp/locale/fr/LC_MESSAGES/django.po
  webapp/pyproject.toml
Due: ruff, ruff-format, djade

deploy: f46ee22f1b0405f7892af1a8923e3ed00c059218
  .doctrees/environment.pickle
Due: none

Fix backup
  scripts/infrastructure/backup-db.sh
Due: none

Correctif du script de backup de la base de donnée en local (#2627)
  scripts/infrastructure/backup-db.sh
Due: none

deploy: 5d82f3864a3d1312586bf4e5a9e6e6d2562f10dd
  .doctrees/environment.pickle
Due: none

deploy: 368262d8cbcae1b05c420c611e4ddd163d400b97
  .doctrees/environment.pickle
Due: none

Fix escape closes search results
  webapp/e2e_tests/search.spec.ts
Due: prettier

wip
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/search.spec.ts
Due: prettier

Fix lint
  webapp/qfdmd/forms.py
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Reapply "Moteur de recherches : synonymes, variantes (#2435)" (#2550)
  pyproject.toml
  uv.lock
  webapp/qfdmd/migrations/0072_searchtag_and_synonyme_inheritance.py
  webapp/qfdmd/migrations/0073_produitpagesearchterm.py
  webapp/qfdmd/migrations/0074_alter_produitindexpage_body_alter_produitpage_body.py
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Improve e2e coverage
  .github/workflows/e2e.yml
  webapp/e2e_tests/search.spec.ts
Due: prettier

Empty iframe header
  webapp/templates/ui/components/header/base.iframe.html
Due: none

Cleanup templates
  webapp/templates/ui/components/search/_search_term.html
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: none

Fix e2e
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/search.spec.ts
Due: prettier

Fix e2e
  webapp/e2e_tests/search.spec.ts
Due: prettier

Visual fixes
  webapp/templates/ui/pages/home.html
Due: none

Adapt scripts
  .github/actions/prepare-django-db/action.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
