Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

force deploy
  coucou
Due: none

unrevert some changes
  Makefile
  scripts/restore_sample_locally.sh
Due: none

WIP
  .github/actions/prepare-django-db/action.yml
  bin/post_deploy
Due: none

Re-enable cache in ci
  .github/actions/prepare-django-db/action.yml
Due: none

prevent sync prod > preprod to fail
  .github/workflows/sync_databases.yml
Due: none

Fix preprod restore
  .github/workflows/sync_databases.yml
Due: none

Mise à jour post-upgrade Sites Conformes : migration vers wagtail.search natif
  .github/actions/prepare-django-db/action.yml
  .github/workflows/ci.yml
  .github/workflows/sync_databases.yml
  Makefile
  bin/post_deploy
  core/settings.py
  scripts/sql/create_extensions.sql
Due: ruff, ruff-format, djade

feat(dag): paramètre source_db pour choisir l'origine de la base sample
  .env.template
  core/settings.py
  dags/acteurs/dags/compute_sample_acteur.py
  dags/acteurs/tasks/airflow_logic/copy_db_data_task.py
  dags/acteurs/tasks/airflow_logic/copy_db_schema_task.py
  dags/acteurs/tasks/business_logic/copy_db_data.py
  dags/acteurs/tasks/business_logic/copy_db_schema.py
Due: ruff, ruff-format, djade

disable cache
  .github/actions/prepare-django-db/action.yml
Due: none

Fix e2e vetements
  e2e_tests/acteur.spec.ts
Due: prettier

deploy: 5c06a4f7ae467638be704e68e1e43ef2f6a7cc83
  .doctrees/environment.pickle
  _downloads/142aa9b9f39d5f22afba640e3a2ddc4e/create_extensions.sql
Due: none

coucou
  coucou
Due: none

Pas besoin de modifier le sys.path
  dags/airflow_local_settings.py
Due: ruff, ruff-format, djade

utilisation des constantes définit dans Django
  dags/sources/dags/source_cma.py
Due: ruff, ruff-format, djade

Changer le sys.path pour inclure les packages django pour tous les DAGs Airflow
  core/models/constants.py
  core/validators.py
  dags/airflow_local_settings.py
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/sources/config/airflow_params.py
  dags/sources/config/shared_constants.py
  dags/sources/dags/source_pharmacies.py
  dags/sources/dags/source_sinoe.py
  dags/sources/tasks/business_logic/db_data_prepare.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  dags/sources/tasks/transform/transform_column.py
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
  dags/suggestions/tasks/business_logic/db_check_suggestion_to_process.py
  dags/tests/crawl/fixtures.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_dns.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_syntax.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_suggest_prepare.py
  data/models/suggestion.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Suppression de django_setup_full() quand c'est possible
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/sources/tasks/transform/transform_column.py
  dags/utils/django.py
Due: ruff, ruff-format, djade

suppression des variable CELLAR
  data-platform/dags/.env.template
Due: none

pyproject à la racine
  pyproject.toml
  uv.lock
Due: none

CI et Makefile
  .github/actions/prepare-django-db/action.yml
  .github/actions/setup-frontend/action.yml
  .github/actions/setup-playwright/action.yml
  .github/workflows/_airflow-build-and-push-docker.yml
  .github/workflows/ci.yml
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  docker-compose.yml
  uv.lock
  webapp/Makefile
  webapp/qfdmd/migrations/0074_alter_produitindexpage_body_alter_produitpage_body.py
Due: ruff, ruff-format, djade

update cache management pour CI
  .github/actions/setup-frontend/action.yml
Due: none

test dags
  .github/workflows/ci.yml
  data-platform/dags/tests/conftest.py
  uv.lock
  webapp/Makefile
Due: ruff, ruff-format, djade

gestion de working-directory dans .github/actions/setup-frontend/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/ci.yml
Due: none

Correction d'un test e2e qui échoue depuis qu'une fiche vetement a été migrée vers les pages wagtail (#2554)
  e2e_tests/acteur.spec.ts
Due: prettier

deploy: 3c6a51b8115e525575c3a466ad5fd3827d54222a
  .doctrees/environment.pickle
Due: none

Ajout de l'option frozen lord de l'installation des libs
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
Due: none

deploy: b3ca18b563bd06205f0b3611fbff8d9c3ed6d1fe
  .doctrees/environment.pickle
Due: none

exclude synonymes added on other pages
  qfdmd/views.py
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

missing migration file
  qfdmd/migrations/0076_alter_synonyme_disabled.py
Due: ruff, ruff-format, djade

Corrige une erreur 500 au clic sur un synonyme
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/components/produit/heading.html
Due: ruff, ruff-format, djade

Rollback sites conforme
  pyproject.toml
  uv.lock
Due: none

add todo
  qfdmd/views.py
Due: ruff, ruff-format, djade

wip
  pyproject.toml
  uv.lock
Due: none

Add synonyme disabled
  qfdmd/migrations/0075_synonyme_disabled.py
  qfdmd/models.py
  search/models.py
  search/wagtail_hooks.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

add e2e
  e2e_tests/search.spec.ts
Due: prettier

rewrite migrations
  qfdmd/migrations/0072_alter_produitindexpage_body_alter_produitpage_body.py
  qfdmd/migrations/0073_produitpagesearchterm.py
  qfdmd/migrations/0073_remove_synonyme_id_and_more.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
