Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Stop using ul / li for infotri
  webapp/templates/ui/components/produit/_infotri.html
Due: none

Help focus close button
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

Add outline on keyboard navigation
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
Due: none

Garder la connexion à la DB pour ne pas timeout
  data-platform/dbt/profiles.yml
Due: none

utiliser django_setup_full dans les fonctions
  data-platform/dags/acteurs/tasks/business_logic/check_model_table_consistency.py
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/copy_displayed_data_from_warehouse_task.py
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_csv_to_s3.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_validate.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_config_create.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_read/children.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/to_db.py
  data-platform/dags/cluster/tasks/business_logic/misc/df_sort.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  data-platform/dags/enrich/tasks/business_logic/db_read_acteur_cp.py
  data-platform/dags/enrich/tasks/business_logic/enrich_dbt_model_read.py
  data-platform/dags/sources/config/airflow_params.py
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_generic.py
  data-platform/dags/sources/dags/source_pharmacies.py
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/tasks/business_logic/db_read_acteur.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/keep_acteur_changed.py
  data-platform/dags/sources/tasks/transform/transform_df.py
  data-platform/dags/suggestions/tasks/business_logic/db_check_suggestion_to_process.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
  data-platform/dags/utils/django.py
Due: ruff, ruff-format, djade

quelques ajustement suite à l'éxécution des DAG pour test
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
  data-platform/dags/clone/tasks/business_logic/clone_table_validate.py
  data-platform/dags/enrich/tasks/business_logic/enrich_dbt_model_to_suggestions.py
  data-platform/dags/sources/tasks/business_logic/db_data_prepare.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/transform/sequence_utils.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
  data-platform/dags/utils/django.py
Due: ruff, ruff-format, djade

Garder la connexion à la DB pour ne pas timeout (#3074)
  data-platform/dbt/profiles.yml
Due: none

deploy: bc34fcb5080c5afefd890709779edba874ce397f
  .doctrees/environment.pickle
Due: none

deploy: d017c326cb9442bacea36ab95cbe5a5d15b556d0
  .doctrees/environment.pickle
Due: none

Ré-appliquer les splits par fuzzy et par distance après la division par intra-source
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters.py
Due: ruff, ruff-format, djade

Ré-appliquer les splits par fuzzy et par distance après le traitement intra-source (#2822)
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters.py
Due: ruff, ruff-format, djade

deploy: d479eb12213f57d83c38307103ee2d711de4df2a
  .doctrees/environment.pickle
Due: none

[DBT] Ne pas utiliser de source dans les models autre que ceux de base
  data-platform/dbt/dbt_project.yml
  data-platform/dbt/models/base/acteurs/base_acteurservice.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur_acteur_services.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur_labels.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur_sources.sql
  data-platform/dbt/models/base/acteurs/base_displayedperimetreadomicile.sql
  data-platform/dbt/models/base/acteurs/base_displayedpropositionservice.sql
  data-platform/dbt/models/base/acteurs/base_displayedpropositionservice_sous_categories.sql
  data-platform/dbt/models/base/acteurs/base_epci.sql
  data-platform/dbt/models/base/acteurs/base_labelqualite.sql
  data-platform/dbt/models/base/acteurs/base_souscategorieobjet.sql
  data-platform/dbt/models/base/stats/base_vueacteur.sql
  data-platform/dbt/models/base/stats/schema.yml
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_acteur.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_revision.sql
  data-platform/dbt/models/intermediate/stats/int_ae_siren_in_acteur.sql
  data-platform/dbt/models/intermediate/stats/int_ae_siret_in_acteur.sql
  data-platform/dbt/models/marts/acteurs/exhaustive/marts_exhaustive_acteur.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur_acteur_services.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur_labels.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur_sources.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedperimetreadomicile.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedpropositionservice.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedpropositionservice_sous_categories.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_candidates.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_rgpd_suggest.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_villes_candidates.sql
  data-platform/dbt/models/marts/stats/marts_ae_lien_succession_resolved_vueacteur.sql
Due: none

[DBT] Ne pas utiliser de source dans les models autre que ceux de base (#3072)
  data-platform/dbt/dbt_project.yml
  data-platform/dbt/models/base/acteurs/base_acteurservice.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur_acteur_services.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur_labels.sql
  data-platform/dbt/models/base/acteurs/base_displayedacteur_sources.sql
  data-platform/dbt/models/base/acteurs/base_displayedperimetreadomicile.sql
  data-platform/dbt/models/base/acteurs/base_displayedpropositionservice.sql
  data-platform/dbt/models/base/acteurs/base_displayedpropositionservice_sous_categories.sql
  data-platform/dbt/models/base/acteurs/base_epci.sql
  data-platform/dbt/models/base/acteurs/base_labelqualite.sql
  data-platform/dbt/models/base/acteurs/base_souscategorieobjet.sql
  data-platform/dbt/models/base/stats/base_vueacteur.sql
  data-platform/dbt/models/base/stats/schema.yml
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_acteur.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_revision.sql
  data-platform/dbt/models/intermediate/stats/int_ae_siren_in_acteur.sql
  data-platform/dbt/models/intermediate/stats/int_ae_siret_in_acteur.sql
  data-platform/dbt/models/marts/acteurs/exhaustive/marts_exhaustive_acteur.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur_acteur_services.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur_labels.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedacteur_sources.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedperimetreadomicile.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedpropositionservice.sql
  data-platform/dbt/models/marts/acteurs/sample/marts_sample_displayedpropositionservice_sous_categories.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_candidates.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_rgpd_suggest.sql
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_villes_candidates.sql
  data-platform/dbt/models/marts/stats/marts_ae_lien_succession_resolved_vueacteur.sql
Due: none

deploy: 4d9ea8131a779b9a5aa68799dbce57396b4993c1
  .doctrees/environment.pickle
Due: none

Accessibilite: ameliorations clavier (focus panneau, outline autocomplete, infotri) (#3073)
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
  webapp/templates/ui/components/produit/_infotri.html
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
Due: prettier

deploy: 53949490859f5679ef4d586c80639a052f9d0eb0
  .doctrees/environment.pickle
Due: none

Oubli d'init de django
  data-platform/dags/suggestions/tasks/business_logic/db_apply_suggestion.py
Due: ruff, ruff-format, djade

Oubli d'init de django (#3077)
  data-platform/dags/suggestions/tasks/business_logic/db_apply_suggestion.py
Due: ruff, ruff-format, djade

deploy: 83007d96d271058cb5dcfca69cfb420e65bf37fa
  .doctrees/environment.pickle
Due: none

deploy: 7726fe605dd06dba9188ccff6efa87a0f35785d7
  .doctrees/environment.pickle
Due: none

add template
  webapp/.env.template
Due: none

add comment
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Update settings accordingly
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/utils/django.py
  data-platform/pyproject.toml
  docs/reference/data-platform/airflow.md
  webapp/core/asgi.py
  webapp/core/settings/__init__.py
  webapp/core/settings/airflow.py
  webapp/core/settings/base.py
  webapp/core/settings/dev.py
  webapp/core/settings/production.py
  webapp/core/test_settings.py
  webapp/core/wsgi.py
  webapp/manage.py
Due: ruff, ruff-format, djade, prettier

move one lever higher
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/utils/django.py
  data-platform/pyproject.toml
  docs/reference/data-platform/airflow.md
  webapp/core/asgi.py
  webapp/core/settings/__init__.py
  webapp/core/test_settings.py
  webapp/core/wsgi.py
  webapp/manage.py
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade, prettier

use settings.production by default
  webapp/.env.template
  webapp/manage.py
Due: ruff, ruff-format, djade

Make geodjango config optional
  webapp/settings/dev.py
Due: ruff, ruff-format, djade

reorganize settings into settings/ package
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade

Add comment
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade

wIP
  webapp/core/asgi.py
  webapp/core/wsgi.py
  webapp/manage.py
  webapp/settings/__init__.py
  webapp/settings/airflow.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/production.py
Due: ruff, ruff-format, djade

WIP
  webapp/.env.template
  webapp/core/asgi.py
  webapp/settings/base.py
Due: ruff, ruff-format, djade

add dev.py
  webapp/.env.template
  webapp/settings/dev.py
Due: ruff, ruff-format, djade

add module file
  webapp/settings/__init__.py
Due: ruff, ruff-format, djade

Move test settings
  data-platform/pyproject.toml
  docs/reference/data-platform/airflow.md
  webapp/pyproject.toml
  webapp/settings/test.py
Due: ruff, ruff-format, djade, prettier

fix: add settings to wheel packages
  webapp/pyproject.toml
Due: none

fix(ci): set DJANGO_SETTINGS_MODULE=settings.test in backend test job
  .github/workflows/_backend-test-job.yml
Due: none

Fix tests
  .github/workflows/_backend-test-job.yml
Due: none

deploy: c5256e09c72715587aea950d0b62a7dd793dbb17
  .doctrees/environment.pickle
Due: none

deploy: 4468ecd73e8bba4de386eef70ca64808377ba5d8
  .doctrees/environment.pickle
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
