Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Potential fix for pull request finding 'CodeQL / Log Injection'
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Corrige une erreur sur les termes de recherche orphelins (#2749)
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/search/wagtail_hooks.py
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: ruff, ruff-format, djade

deploy: e0373b52c22ab12df2ebeeed9c62766da67790fe
  .doctrees/environment.pickle
Due: none

Migration manquante
  webapp/qfdmd/migrations/0082_produitpagesearchterm_cascade_delete.py
Due: ruff, ruff-format, djade

Migration manquante (#2750)
  webapp/qfdmd/migrations/0082_produitpagesearchterm_cascade_delete.py
Due: ruff, ruff-format, djade

deploy: e7dc2d357814e7e045dd49696cc8c413b26adee1
  .doctrees/environment.pickle
Due: none

deploy: 4bc4790bc4fb740ee6b7cd818872e118e39df999
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: ruff, ruff-format, djade

add tests
  webapp/.env.template
  webapp/core/context_processors.py
  webapp/core/settings.py
  webapp/e2e_tests/analytics.spec.ts
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/formulaire/ss_cat_object_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/templates/ui/layout/base.html
Due: ruff, ruff-format, djade, prettier

add utms
  webapp/e2e_tests/analytics.spec.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

Add event
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/templates/ui/pages/acteur.html
Due: prettier

Add infotri and search
  webapp/e2e_tests/analytics.spec.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

feedbacks
  webapp/e2e_tests/analytics.spec.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

Corrige la duplication du nom dans les résultats ProduitPage (Vélovélo)
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: none

Corrige l'affichage dupliqué du nom dans les résultats de recherche (Vélovélo) (#2754)
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: none

deploy: f9c52759c3c38ad3a45aa73849f0238e83400ecb
  .doctrees/environment.pickle
Due: none

Redirige le domaine legacy vers le domaine principal
  webapp/nginx/test_nginx.py
  webapp/servers.conf.erb
Due: ruff, ruff-format, djade

Redirige le domaine legacy vers le domaine principal (#2756)
  webapp/nginx/test_nginx.py
  webapp/servers.conf.erb
Due: ruff, ruff-format, djade

deploy: bb6f3904d11979964fb0fc70157249f9962ba288
  .doctrees/environment.pickle
Due: none

Fusion posthog carte et assistant (#2752)
  webapp/.env.template
  webapp/core/context_processors.py
  webapp/core/settings.py
  webapp/e2e_tests/analytics.spec.ts
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/static/to_compile/controllers/formulaire/ss_cat_object_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/acteur.html
Due: ruff, ruff-format, djade, prettier

deploy: 6bf88e867ba5e64a5da0ad531c4708616cebb965
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

Ajoute le template manquant t_18_iframe_page_properties
  webapp/templates/ui/tests/t_18_iframe_page_properties.html
Due: none

deploy: 79464cb3b6dbcc2f1db04b76edc2ce03098ae885
  .doctrees/environment.pickle
Due: none

Affiche la mini carte sur mobile dans la fiche détaillée
  webapp/e2e_tests/carte.spec.ts
  webapp/templates/ui/components/acteur/tabs/sections/adresse.html
Due: prettier

deploy: 9f609562e81df79eabb8519bb18db1704d027c79
  .doctrees/environment.pickle
Due: none

Ajoute le template manquant t_18_iframe_page_properties (#2757)
  webapp/templates/ui/tests/t_18_iframe_page_properties.html
Due: none

deploy: a86e8e084b1df3445aad9de14603930808617751
  .doctrees/environment.pickle
Due: none

Fiabilise la résolution du Frame iframe dans les tests analytics
  webapp/e2e_tests/analytics.spec.ts
Due: prettier

Fiabilise la résolution du Frame iframe dans les tests analytics (#2760)
  webapp/e2e_tests/analytics.spec.ts
Due: prettier

deploy: fe518cc7b62334e7cdde54d23107c0a9cca8b568
  .doctrees/environment.pickle
Due: none

fix(carte): exclude home pinpoint from fitBounds
  webapp/e2e_tests/carte.spec.ts
  webapp/static/to_compile/js/solution_map.ts
Due: prettier

Permettre de clusteriser par distance exprimé en mettre
  data-platform/dags/cluster/config/constants.py
  data-platform/dags/cluster/config/model.py
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/cluster/tasks/business_logic/misc/cluster_exclude_intra_source.py
Due: ruff, ruff-format, djade

adapt tests
  data-platform/dags/cluster/config/model.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/tests/cluster/config/test_model.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters_prepare.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_exclude_intra_source.py
  data-platform/notebooks/clustering.ipynb
Due: ruff, ruff-format, djade

Revert pandas to 2.1.4
  data-platform/dags/tests/shared/tasks/airflow_logic/test_packages_compatibility.py
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: ruff, ruff-format, djade

Revert pandas to 2.1.4 (#2761)
  data-platform/dags/tests/shared/tasks/airflow_logic/test_packages_compatibility.py
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: ruff, ruff-format, djade

deploy: d7f4edc4b080d2ccb5a27ec51e39e79ea023e008
  .doctrees/environment.pickle
Due: none

Permettre plus de retry de health check avant de tomber en erreur
  infrastructure/environments/preprod/container/.terraform.lock.hcl
  infrastructure/environments/preprod/container/terragrunt.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/environments/preprod/database_sample/.terraform.lock.hcl
  infrastructure/environments/preprod/object_storage/.terraform.lock.hcl
  infrastructure/environments/prod/container/.terraform.lock.hcl
  infrastructure/environments/prod/container/terragrunt.hcl
  infrastructure/environments/prod/container_registry/.terraform.lock.hcl
  infrastructure/environments/prod/database/.terraform.lock.hcl
  infrastructure/environments/prod/object_storage/.terraform.lock.hcl
  infrastructure/environments/root.hcl
  infrastructure/modules/container/airflow-webserver.tf
Due: none

deploy: 71936b3dc0bcb303d842ecad5b69383ad5b6dba3
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
