Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Fix preview
  package-lock.json
  webapp/Dockerfile
Due: none

remove accidental commit
  webapp/.env.template
Due: none

Fix following main updates
  webapp/Dockerfile
Due: none

Corrige des erreurs sur le déploiement des environnements de preview
  .github/workflows/_webapp-build-and-push-docker.yml
  webapp/.env.template
  webapp/Dockerfile
Due: none

various
  docker-compose.yml
  package-lock.json
  webapp/nginx/Dockerfile
Due: none

Ajout d'un champ localisation côté Notion à peupler
  .github/workflows/_terragrunt-apply.yml
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/modules/preview_object_storage/main.tf
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/variables.tf
  webapp/.env.template
  webapp/core/notion.py
  webapp/qfdmd/signals.py
Due: ruff, ruff-format, djade

UncommenTT
  webapp/Dockerfile
Due: none

Fix paths
  webapp/Dockerfile
Due: none

fix(admin): catch synonym redirection conflicts in inline clean() before save
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_synonyme_redirection.py
Due: ruff, ruff-format, djade

WIP : rotation des mots de passe
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/environments/root.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
Due: none

Mise à jour du provider Scaleway pour terragrunt
  infrastructure/environments/preprod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/environments/preprod/database_sample/.terraform.lock.hcl
  infrastructure/environments/preprod/object_storage/.terraform.lock.hcl
  infrastructure/environments/preview/namespace/.terraform.lock.hcl
  infrastructure/environments/prod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/prod/container_registry/.terraform.lock.hcl
  infrastructure/environments/prod/database/.terraform.lock.hcl
  infrastructure/environments/prod/database_sample/.terraform.lock.hcl
  infrastructure/environments/prod/object_storage/.terraform.lock.hcl
  infrastructure/environments/root.hcl
Due: none

fix: stop pinpoint clicks from reloading the carte under A/B test
  webapp/e2e_tests/carte_pinpoint_no_reload.spec.ts
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/carte/frame_location_controller.ts
  webapp/static/to_compile/controllers/carte/search_solution_form_controller.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/controllers/shared/location_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/static/to_compile/js/location_store.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/static/to_compile/tests/frame_location_controller.test.ts
  webapp/static/to_compile/tests/location_controller.test.ts
  webapp/static/to_compile/tests/location_store.test.ts
  webapp/static/to_compile/tests/search_solution_form_hydration.test.ts
  webapp/templates/templatetags/carte.html
  webapp/templates/ui/components/acteur/acteur_detail.html
  webapp/templates/ui/components/carte/shared/_search_in_zone.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/templates/ui/pages/formulaire.html
Due: prettier

a11y(rgaa): fix 15 RGAA criteria on the carte page
  webapp/core/templatetags/carte_tags.py
  webapp/core/templatetags/share_tags.py
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/e2e_tests/accessibility.spec.ts
  webapp/qfdmo/forms.py
  webapp/static/to_compile/js/solution_map.ts
  webapp/templates/dsfr/form_field_snippets/checkbox_snippet.html
  webapp/templates/dsfr/form_field_snippets/checkboxselectmultiple_snippet.html
  webapp/templates/dsfr/form_field_snippets/input_snippet.html
  webapp/templates/dsfr/form_field_snippets/numbercursor_snippet.html
  webapp/templates/dsfr/form_field_snippets/radioselect_snippet.html
  webapp/templates/dsfr/form_field_snippets/segmented_control_snippet.html
  webapp/templates/templatetags/acteur_pinpoint.html
  webapp/templates/ui/components/acteur/_action_share.html
  webapp/templates/ui/components/acteur/_label.html
  webapp/templates/ui/components/acteur/_tabs.html
  webapp/templates/ui/components/acteur/tabs/_panel.html
  webapp/templates/ui/components/acteur/tabs/_section.html
  webapp/templates/ui/components/acteur/tabs/_tab.html
  webapp/templates/ui/components/acteur/tabs/sections/meta.html
  webapp/templates/ui/components/acteur/tabs/sections/services_disponibles.html
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu.html
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu_mode_liste.html
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/carte/partials/label_reparacteur_icon.html
  webapp/templates/ui/components/formulaire/filtres/reparacteurs/label.html
  webapp/templates/ui/components/formulaire/header.html
  webapp/templates/ui/components/logo/ademe.html
  webapp/templates/ui/components/modals/share.html
  webapp/templates/ui/layout/_partials/header_logos.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): corrige le niveau de titre des sections de la fiche acteur
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/acteur/tabs/_section.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute la légende et l'en-tête manquants du tableau mode liste
  webapp/core/templatetags/carte_tags.py
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade, prettier

a11y(site): corrige le lien d'évitement sur Firefox
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/accessibilite/skip_link_demo.html
  webapp/templates/ui/components/header/header_menu.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute un titre de page pertinent
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/pages/carte.html
Due: prettier

a11y(produit): fait correspondre le title du lien info-tri à son intitulé
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/produit/_infotri.html
Due: prettier

a11y(carte): corrige la cohérence des liens (aria-label et title)
  webapp/core/templatetags/share_tags.py
  webapp/integration_tests/core/test_sharer.py
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu.html
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu_mode_liste.html
Due: ruff, ruff-format, djade

test: ajoute un test e2e pour le bouton ajouter un lieu
  webapp/e2e_tests/a11y_rgaa.spec.ts
Due: prettier

a11y(carte): utilise une balise sémantique pour la date de mise à jour
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/acteur/tabs/sections/meta.html
Due: prettier

a11y(carte): ajoute une alternative textuelle à l'illustration mode liste vide
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/carte/mode_liste.html
Due: prettier

a11y(produit): masque l'image info-tri décorative aux technologies d'assistance
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/produit/_infotri.html
Due: prettier

a11y(carte): masque le logo décoratif des onglets Labels/Sources
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/acteur/_label.html
Due: prettier

a11y(carte): ajoute un lien accueil explicite sur le logo du header
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/carte/header.html
Due: prettier

chore(carte): supprime le template header_logos.html devenu inutilisé
  webapp/templates/ui/layout/_partials/header_logos.html
Due: none

a11y(carte): nettoie les attributs restants du tooltip de partage
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/acteur/_action_share.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute des légendes pertinentes dans la modale filtres
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/qfdmo/forms.py
  webapp/templates/dsfr/form_field_snippets/segmented_control_snippet.html
Due: ruff, ruff-format, djade, prettier

a11y(recherche): le champ de recherche du header/accueil ne se coupe plus avec un espacement de texte élargi
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/search/view.html
Due: prettier

deploy: d5461a1c69bc27089c11d38f050ffac9a2286a58
  .doctrees/environment.pickle
Due: none

latest fix dockerfile
  webapp/Dockerfile
Due: none

Formatting
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
Due: prettier

Fix dev local
  docker-compose.yml
  webapp/nginx/Dockerfile
Due: none
