Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Fix input required
  .github/workflows/_e2e.yml
Due: none

rename with png extension
  webapp/e2e_tests/fixtures.ts
Due: prettier

invert logic
  .github/workflows/e2e.yml
Due: none

WIP
  webapp/e2e_tests/fixtures.ts
  webapp/playwright.config.ts
Due: prettier

rename job
  .github/workflows/_e2e.yml
Due: none

remove dsfr transformer
  .github/workflows/_e2e.yml
  .github/workflows/cd.yml
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

update fixture
  .github/workflows/_e2e.yml
  webapp/e2e_tests/fixtures.ts
Due: prettier

move to dedicated workflow file for e2e
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

Disable sharding for now
  .github/workflows/_e2e.yml
Due: none

prepare search index
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

dynamic job name
  .github/workflows/_e2e.yml
Due: none

do no upload when comparing to main
  .github/workflows/_e2e.yml
Due: none

remove leftover
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

debug
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

debug e2e
  .github/actions/prepare-django-db/action.yml
Due: none

debug
  .github/workflows/e2e.yml
Due: none

debug
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
  webapp/playwright.config.ts
Due: prettier

fix
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

cache frontend back
  .github/actions/setup-frontend/action.yml
Due: none

remove leftover
  .github/workflows/e2e.yml
Due: none

Improve markdown rendering
  .github/actions/setup-backend/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/e2e.yml
Due: none

Revert "Remove dsfr css to see if it changes anything"
  webapp/static/to_compile/styles/qfdmo.css
Due: prettier

lower tolerance
  webapp/playwright.config.ts
Due: prettier

Add back whole test suite
  .github/workflows/_e2e.yml
Due: none

more resilient approach
  webapp/playwright.config.ts
Due: prettier

rewrite markdown
  .github/workflows/review.yml
Due: none

Revamp gh action variables
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

Go back to 1%
  webapp/playwright.config.ts
Due: prettier

run e2e differently on main and compare
  .github/workflows/_e2e.yml
Due: none

Remove dsfr css to see if it changes anything
  webapp/static/to_compile/styles/qfdmo.css
Due: prettier

Revert "add margin to see if this changes anything"
  webapp/templates/ui/components/produit/_infotri.html
Due: none

rewrite markdown
  .github/workflows/e2e.yml
Due: none

add margin to see if this changes anything
  webapp/templates/ui/components/produit/_infotri.html
Due: none

Remove useless upload
  .github/workflows/_e2e.yml
Due: none

Adopt webapp/ paths in regression testing workflows
  .github/actions/setup-e2e-tools/action.yml
  .github/actions/start-django-server/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

fix
  .github/actions/setup-e2e-tools/action.yml
Due: none

fix
  .github/actions/setup-e2e-tools/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/ci.yml
Due: none

disable cache
  .github/actions/setup-frontend/action.yml
Due: none

Disable before synonymes
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

Ajout de tests de non-régression (#2527)
  .github/actions/prepare-django-db/action.yml
  .github/actions/setup-backend/action.yml
  .github/actions/setup-e2e-tools/action.yml
  .github/actions/setup-frontend/action.yml
  .github/actions/start-django-server/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/review.yml
  .gitignore
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/fixtures.ts
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/iframe.spec.ts
  webapp/playwright.config.ts
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade, prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
