Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

debug e2e
  .github/actions/prepare-django-db/action.yml
Due: none

deploy: 837642e8223e3ad893d39a1ac5dab432508f3853
  .doctrees/environment.pickle
Due: none

prepare search index
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

fix
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

do no upload when comparing to main
  .github/workflows/_e2e.yml
Due: none

debug
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

debug
  .github/workflows/e2e.yml
Due: none

debug
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
  playwright.config.ts
Due: prettier

dynamic job name
  .github/workflows/_e2e.yml
Due: none

cache frontend back
  .github/actions/setup-frontend/action.yml
Due: none

remove leftover
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

remove leftover
  .github/workflows/e2e.yml
Due: none

Improve markdown rendering
  .github/actions/setup-backend/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/e2e.yml
Due: none

rewrite markdown
  .github/workflows/e2e.yml
Due: none

rewrite markdown
  .github/workflows/review.yml
Due: none

more resilient approach
  playwright.config.ts
Due: prettier

Add back whole test suite
  .github/workflows/_e2e.yml
Due: none

Fix infotri script issue
  core/templatetags/script_tags.py
  templates/ui/pages/infotri.html
Due: ruff, ruff-format, djade

Add e2e
  core/templatetags/script_tags.py
  e2e_tests/infotri.spec.ts
  previews/template_preview.py
  templates/ui/tests/t_16_infotri_configurator.html
Due: ruff, ruff-format, djade, prettier

Add e2e
  e2e_tests/infotri.spec.ts
  templates/ui/tests/t_16_infotri_configurator.html
Due: prettier

Fixes
  infotri/constants.py
  infotri/views.py
  templates/ui/components/infotri/infotri.html
  templates/ui/components/infotri/svg/linge.html
  templates/ui/components/infotri/svg/textile.html
Due: ruff, ruff-format, djade

Improve responsiveness
  templates/ui/pages/infotri.html
Due: none

Provide feedback on copy
  templates/ui/pages/infotri.html
Due: none

update test
  e2e_tests/infotri.spec.ts
Due: prettier

Revamp gh action variables
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

Remove dsfr css to see if it changes anything
  static/to_compile/styles/qfdmo.css
Due: prettier

Revert "Remove dsfr css to see if it changes anything"
  static/to_compile/styles/qfdmo.css
Due: prettier

add margin to see if this changes anything
  templates/ui/components/produit/_infotri.html
Due: none

lower tolerance
  playwright.config.ts
Due: prettier

Add deploy script
  bin/post_deploy
Due: none

deploy: 2377a172f8adebd54a3451ff3eb2db64fa1c0e9e
  .doctrees/environment.pickle
Due: none

Go back to 1%
  playwright.config.ts
Due: prettier

run e2e differently on main and compare
  .github/workflows/_e2e.yml
Due: none

Suppression de la lib tqdm qui n'est plus utilisée (#2542)
  pyproject.toml
  uv.lock
Due: none

deploy: ebae062b80048526676f3fa5b7c751178c8d4177
  .doctrees/environment.pickle
Due: none

Le lien Affiché doit rediriger vers les acteurs affiché
  qfdmo/models/acteur.py
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

Le lien Affiché doit rediriger vers les acteurs affiché (#2514)
  qfdmo/models/acteur.py
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

deploy: cdfafb6f6030fd53a76d55b3f4886b21da64881e
  .doctrees/environment.pickle
Due: none

Changer le sys.path pour inclure les packages django pour tous les DAGs Airflow
  core/models/constants.py
  core/validators.py
  dags/airflow_local_settings.py
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/sources/config/airflow_params.py
  dags/sources/config/shared_constants.py
  dags/sources/dags/source_pharmacies.py
  dags/sources/dags/source_sinoe.py
  dags/sources/tasks/business_logic/db_data_prepare.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  dags/sources/tasks/transform/transform_column.py
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
  dags/suggestions/tasks/business_logic/db_check_suggestion_to_process.py
  dags/tests/crawl/fixtures.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_dns.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_syntax.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_suggest_prepare.py
  data/models/suggestion.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Suppression de django_setup_full() quand c'est possible
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/sources/tasks/transform/transform_column.py
  dags/utils/django.py
Due: ruff, ruff-format, djade
