Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

fix: stop pinpoint clicks from reloading the carte under A/B test
  webapp/e2e_tests/carte_pinpoint_no_reload.spec.ts
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/carte/frame_location_controller.ts
  webapp/static/to_compile/controllers/carte/search_solution_form_controller.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/controllers/shared/location_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/static/to_compile/js/location_store.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/static/to_compile/tests/frame_location_controller.test.ts
  webapp/static/to_compile/tests/location_controller.test.ts
  webapp/static/to_compile/tests/location_store.test.ts
  webapp/static/to_compile/tests/search_solution_form_hydration.test.ts
  webapp/templates/templatetags/carte.html
  webapp/templates/ui/components/acteur/acteur_detail.html
  webapp/templates/ui/components/carte/shared/_search_in_zone.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/templates/ui/pages/formulaire.html
Due: prettier

fix: stop pinpoint clicks from reloading the carte under A/B test
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
Due: prettier

a11y(carte): corrige le niveau de titre des sections de la fiche acteur
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/acteur/tabs/_section.html
Due: ruff, ruff-format, djade, prettier

a11y(site): corrige le lien d'évitement sur Firefox
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/accessibilite/skip_link_demo.html
  webapp/templates/ui/components/header/header_menu.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute la légende et l'en-tête manquants du tableau mode liste
  webapp/core/templatetags/carte_tags.py
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade, prettier

a11y(produit): fait correspondre le title du lien info-tri à son intitulé
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/produit/_infotri.html
Due: prettier

a11y(carte): ajoute un titre de page pertinent
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/pages/carte.html
Due: prettier

Mise en place de XGBoost fonctionelle
  .gitignore
  ml_deduplication/ml_deduplication/dataset/features_creation.py
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/dedupe/clustering.py
  ml_deduplication/ml_deduplication/modeling/dedupe/model.py
  ml_deduplication/ml_deduplication/modeling/dedupe/xgb_model.py
  ml_deduplication/ml_deduplication/modeling/splink/schemas.py
  ml_deduplication/ml_deduplication/modeling/splink/splink_model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/modeling/xgboost/utils.py
  ml_deduplication/ml_deduplication/notebooks/xgboost_experiment.ipynb
  ml_deduplication/ml_deduplication/training/dedupe/business_rules.py
  ml_deduplication/ml_deduplication/training/dedupe/features.py
  ml_deduplication/ml_deduplication/training/dedupe/model_selection.py
  ml_deduplication/ml_deduplication/training/dedupe/training_pipeline_dedupe.py
  ml_deduplication/ml_deduplication/training/settings.py
  ml_deduplication/ml_deduplication/training/splink/splink_config.py
  ml_deduplication/ml_deduplication/training/splink/training_pipeline_splink.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/ml_deduplication/training/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
  ml_deduplication/ml_deduplication/training/xgboost/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Mise à jour du provider Scaleway pour terragrunt (#3320)
  infrastructure/environments/preprod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/environments/preprod/database_sample/.terraform.lock.hcl
  infrastructure/environments/preprod/object_storage/.terraform.lock.hcl
  infrastructure/environments/preview/namespace/.terraform.lock.hcl
  infrastructure/environments/prod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/prod/container_registry/.terraform.lock.hcl
  infrastructure/environments/prod/database/.terraform.lock.hcl
  infrastructure/environments/prod/database_sample/.terraform.lock.hcl
  infrastructure/environments/prod/object_storage/.terraform.lock.hcl
  infrastructure/environments/root.hcl
Due: none

deploy: dcc0e6c675fcfcaadcb861441e1b546dc64e08d1
  .doctrees/environment.pickle
Due: none

Add sqlpares
  pyproject.toml
  uv.lock
Due: none

Correctifs de sécurité
  data-platform/pyproject.toml
  uv.lock
  webapp/pyproject.toml
Due: none

security fixes (#3350)
  data-platform/pyproject.toml
  pyproject.toml
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: 201bbfe9ad61b151948ae66f608c3ad633b688c2
  .doctrees/environment.pickle
Due: none

Corrige des erreurs sur le déploiement des environnements de preview (#3302)
  .github/workflows/_webapp-build-and-push-docker.yml
  docker-compose.yml
  webapp/.env.template
  webapp/Dockerfile
  webapp/nginx/Dockerfile
Due: none

deploy: 5d79799a028b39cbb7a8732644790a2ebdf9e47a
  .doctrees/environment.pickle
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
Due: none

mise à jour de Apache Airflow en version 3.3.1
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  uv.lock
Due: none

Mise à jour de la doc avec les modifications récentes d'architecture logicielle
  AGENTS.md
  README.md
  docs/how-to/development/create_webapp_sample_db.md
  docs/how-to/development/installation.md
  docs/how-to/development/secure_development.md
  docs/reference/coding/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/ci-cd.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/network.md
  docs/reference/webapp/README.md
Due: prettier

Add BASE_URL to preview
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/variables.tf
Due: none

Fix base url
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/variables.tf
Due: none

Format
  infrastructure/environments/preview/_template/container/terragrunt.hcl
Due: none

Fix following main updates
  webapp/Dockerfile
Due: none

Corrige des erreurs sur le déploiement des environnements de preview
  webapp/Dockerfile
Due: none

Fix preview
  package-lock.json
Due: none

remove accidental commit
  webapp/.env.template
Due: none

Fix paths
  webapp/Dockerfile
Due: none

various
  package-lock.json
  webapp/nginx/Dockerfile
Due: none

address issue
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

Improve implementation
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/static/to_compile/controllers/carte/pinpoint_controller.ts
  webapp/templates/templatetags/acteur_pinpoint.html
Due: prettier

a11y(carte): corrige la cohérence des liens (aria-label et title)
  webapp/core/templatetags/share_tags.py
  webapp/integration_tests/core/test_sharer.py
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu.html
  webapp/templates/ui/components/carte/buttons/ajouter_un_lieu_mode_liste.html
Due: ruff, ruff-format, djade

a11y(carte): ajoute un lien accueil explicite sur le logo du header
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/carte/header.html
Due: prettier

test: ajoute un test e2e pour le bouton ajouter un lieu
  webapp/e2e_tests/a11y_rgaa.spec.ts
Due: prettier

chore(carte): supprime le template header_logos.html devenu inutilisé
  webapp/templates/ui/layout/_partials/header_logos.html
Due: none

a11y(produit): masque l'image info-tri décorative aux technologies d'assistance
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/produit/_infotri.html
Due: prettier

a11y(carte): masque le logo décoratif des onglets Labels/Sources
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/acteur/_label.html
Due: prettier

a11y(recherche): le champ de recherche du header/accueil ne se coupe plus avec un espacement de texte élargi
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/search/view.html
Due: prettier
