Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Refactor
  core/context_processors.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/mixins.py
  qfdmd/views.py
Due: ruff, ruff-format, djade

Fix feedbacks
  previews/template_preview.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: ruff, ruff-format, djade, prettier

add search on mobile as well
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
Due: none

Fix search label placement
  templates/ui/components/header/header.html
Due: none

Fix form not being rendered in modal
  templates/ui/components/header/header.html
Due: none

Missing search on produit page
  previews/template_preview.py
  templates/ui/components/header/base.html
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/header.html
Due: ruff, ruff-format, djade

Ensure text is always aligned left
  templates/ui/forms/widgets/autocomplete/results.html
Due: none

ne pas demander la review de la tache plusieurs fois
  .github/workflows/_deploy-airflow.yml
  .github/workflows/_scaleway-container-deploy.yml
Due: none

Workflow de test
  .github/workflows/_deploy-airflow.yml
  .github/workflows/_scaleway-container-deploy.yml
  .github/workflows/deploy-airflow-preprod.yml
Due: none

Utiliser le client scaleway dans github action
  .github/workflows/_scaleway-container-deploy.yml
Due: none

config et doc
  .github/release-config.yml
  .github/workflows/cd.yml
  docs/comment-faire/troubleshooting.md
Due: prettier

Ne pas filtrer les anciens acteurs de LVAO dans Open-Data (#2430)
  dbt/models/marts/acteurs/opendata/marts_opendata_filtered_acteur.sql
Due: none

Ne pas filtrer les anciens acteurs de LVAO dans Open-Data (#2432)
  dbt/models/marts/acteurs/opendata/marts_opendata_filtered_acteur.sql
Due: none

deploy: 4a258ccec3ec0333a7650b0905a55d2fb8440a39
  .doctrees/environment.pickle
Due: none

WIP
  static/to_compile/controllers/shared/analytics.ts
Due: prettier

Améliorer la définition du referrer de PostHog
  docs/comment-faire/development/README.md
  docs/comment-faire/development/test_iframe_referrer.md
  previews/template_preview.py
  static/to_compile/controllers/shared/analytics.ts
  static/to_compile/js/iframe_functions.ts
  templates/ui/tests/t_1_referrer.html
Due: ruff, ruff-format, djade, prettier

Improve e2e tests
  e2e_tests/analytics.spec.ts
  e2e_tests/iframe.spec.ts
Due: prettier

Update tests accordingly
  static/to_compile/tests/iframe_functions.test.ts
Due: prettier

Add back option
  static/to_compile/js/iframe_functions.ts
Due: prettier

woopsy
  static/to_compile/embed/assistant.ts
Due: prettier

move tests
  e2e_tests/analytics.spec.ts
  e2e_tests/iframe.spec.ts
Due: prettier

nginx template
  nginx-local-only/servers.conf.template
Due: none

Updates
  e2e_tests/analytics.spec.ts
  e2e_tests/iframe.spec.ts
  previews/template_preview.py
  templates/ui/tests/t_1_referrer.html
  templates/ui/tests/t_1_referrer_assistant.html
  templates/ui/tests/t_1_referrer_carte.html
Due: ruff, ruff-format, djade, prettier

Updates
  .env.template
  docker-compose.yml
  nginx-local-only/servers.conf
  static/to_compile/controllers/shared/analytics.ts
  static/to_compile/embed/assistant.ts
  static/to_compile/js/iframe_functions.ts
Due: prettier

Améliorer la définition du referrer de PostHog (#2407)
  .env.template
  docker-compose.yml
  docs/comment-faire/development/README.md
  docs/comment-faire/development/test_iframe_referrer.md
  e2e_tests/analytics.spec.ts
  e2e_tests/iframe.spec.ts
  nginx-local-only/servers.conf.template
  previews/template_preview.py
  static/to_compile/controllers/shared/analytics.ts
  static/to_compile/js/iframe_functions.ts
  static/to_compile/tests/iframe_functions.test.ts
  templates/ui/tests/t_1_referrer.html
  templates/ui/tests/t_1_referrer_assistant.html
  templates/ui/tests/t_1_referrer_carte.html
Due: ruff, ruff-format, djade, prettier

Apply suggestion from @kolok
  dags/clone/tasks/business_logic/clone_table_create.py
Due: ruff, ruff-format, djade

Clone all 'Contours Administratifs' table
  dags/.env.template
  dags/clone/config/sql/creation/tables/create_table_ca_commune_associee_deleguee.sql
  dags/clone/config/sql/creation/tables/create_table_ca_departement.sql
  dags/clone/config/sql/creation/tables/create_table_ca_epci.sql
  dags/clone/config/sql/creation/tables/create_table_ca_region.sql
  dags/clone/config/sql/creation/views/create_view_ca_commune_associee_deleguee_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_departement_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_epci_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_region_in_use.sql
  dags/clone/dags/clone_ca_commune_associee_deleguee.py
  dags/clone/dags/clone_ca_departement.py
  dags/clone/dags/clone_ca_epci.py
  dags/clone/dags/clone_ca_region.py
  dags/clone/tasks/business_logic/clone_old_tables_remove.py
  dags/shared/config/tags.py
  docs/explications/data/README.md
Due: ruff, ruff-format, djade, prettier

Clone des données de contours administratifs
  dags/clone/config/sql/creation/tables/create_table_ca_commune.sql
  dags/clone/config/sql/creation/views/create_view_ca_commune_in_use.sql
  dags/clone/dags/clone_ca_commune.py
  dags/clone/tasks/airflow_logic/clone_old_tables_remove_task.py
  dags/clone/tasks/business_logic/clone_table_create.py
  dags/shared/config/tags.py
Due: ruff, ruff-format, djade

ajout d'un lien vers la doc ogr2ogr
  dags/clone/tasks/business_logic/clone_table_create.py
Due: ruff, ruff-format, djade

Clone des données de contours administratifs
  dags/clone/dags/clone_ca_commune.py
  dags/clone/tasks/business_logic/clone_table_create.py
Due: ruff, ruff-format, djade

Clone all 'Contours Administratifs' table
  dags/clone/tasks/business_logic/clone_table_create.py
  dags/tests/clone/tasks/business_logic/test_clone_table_create.py
Due: ruff, ruff-format, djade

Clone des données de contours administratifs (#2390)
  dags/.env.template
  dags/clone/config/sql/creation/tables/create_table_ca_commune.sql
  dags/clone/config/sql/creation/tables/create_table_ca_commune_associee_deleguee.sql
  dags/clone/config/sql/creation/tables/create_table_ca_departement.sql
  dags/clone/config/sql/creation/tables/create_table_ca_epci.sql
  dags/clone/config/sql/creation/tables/create_table_ca_region.sql
  dags/clone/config/sql/creation/views/create_view_ca_commune_associee_deleguee_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_commune_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_departement_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_epci_in_use.sql
  dags/clone/config/sql/creation/views/create_view_ca_region_in_use.sql
  dags/clone/dags/clone_ca_commune.py
  dags/clone/dags/clone_ca_commune_associee_deleguee.py
  dags/clone/dags/clone_ca_departement.py
  dags/clone/dags/clone_ca_epci.py
  dags/clone/dags/clone_ca_region.py
  dags/clone/tasks/airflow_logic/clone_old_tables_remove_task.py
  dags/clone/tasks/business_logic/clone_old_tables_remove.py
  dags/clone/tasks/business_logic/clone_table_create.py
  dags/shared/config/tags.py
  dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  docs/explications/data/README.md
Due: ruff, ruff-format, djade, prettier

deploy: a36d871636cddd40a056847a4cad248bb2a1732a
  .doctrees/environment.pickle
  .doctrees/explications/data/README.doctree
  _downloads/53cb3d4b862676d49a89882c7f33b7d6/.env.template
  _sources/explications/data/README.md.txt
  explications/data/README.html
  searchindex.js
Due: prettier

Pas besoin de charger Django pour utiliser URLValidator
  dags/sources/tasks/transform/transform_column.py
Due: ruff, ruff-format, djade

Interpretation des colonnes facebook et instagram quand website n'est pas disponible
  dags/sources/config/airflow_params.py
  dags/sources/dags/source_cma.py
  dags/sources/tasks/business_logic/source_data_normalize.py
  dags/sources/tasks/transform/transform_column.py
  dags/sources/tasks/transform/transform_df.py
  dags/tests/sources/tasks/transform/test_transform_column.py
  dags/tests/sources/tasks/transform/test_transform_df.py
Due: ruff, ruff-format, djade

déplacement de django_setup_full dans transform_column.py qui l'utilise
  dags/sources/tasks/business_logic/source_data_normalize.py
  dags/sources/tasks/transform/transform_column.py
Due: ruff, ruff-format, djade

Interpretation des colonnes facebook et instagram quand la colonne website n'est pas disponible (#2439)
  dags/sources/config/airflow_params.py
  dags/sources/dags/source_cma.py
  dags/sources/tasks/transform/transform_column.py
  dags/sources/tasks/transform/transform_df.py
  dags/tests/sources/tasks/transform/test_transform_column.py
  dags/tests/sources/tasks/transform/test_transform_df.py
Due: ruff, ruff-format, djade

deploy: 9089867bda8fce4c3a3866489d69682e87e7e055
  .doctrees/environment.pickle
Due: none
