Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Improve naming and comments
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Renamed block id
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Add genre/nombre assignment
  webapp/qfdmd/genre_nombre.csv
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

WIP
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/static/to_compile/styles/qfdmd.css
Due: ruff, ruff-format, djade, prettier

hmmm
  webapp/Dockerfile
Due: none

WIP
  webapp/qfdmd/migrations/0093_merge_20260911_1210.py
Due: ruff, ruff-format, djade

test(e2e): open the carte modal only when the produit page renders one
  webapp/e2e_tests/acteur.spec.ts
Due: prettier

Update db_mapping.json
  data-platform/dags/sources/config/db_mapping.json
Due: none

Manquait des sous-cat' dans le Mapping CMA (#3399)
  data-platform/dags/sources/config/db_mapping.json
Due: none

deploy: de7e4b5373d7d175c3f79ebeba24493f40fe8582
  .doctrees/environment.pickle
Due: none

Mise à jour de la doc avec les modifications récentes d'architecture logicielle
  AGENTS.md
  README.md
  docs/how-to/development/create_webapp_sample_db.md
  docs/how-to/development/installation.md
  docs/how-to/development/secure_development.md
  docs/reference/coding/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/ci-cd.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/network.md
  docs/reference/webapp/README.md
Due: prettier

Apply suggestion from @Lawiss : data-platform dags tests
  docs/reference/webapp/README.md
Due: prettier

suppression d'une ligne caduque
  docs/how-to/development/installation.md
Due: prettier

Nouveau EO : LEKO
  data-platform/dags/shared/config/tags.py
  data-platform/dags/sources/config/db_mapping.json
  data-platform/dags/sources/dags/source_leko.py
Due: ruff, ruff-format, djade

Typos
  data-platform/dags/sources/dags/source_leko.py
Due: ruff, ruff-format, djade

Nouveau EO : LEKO (#3401)
  data-platform/dags/shared/config/tags.py
  data-platform/dags/sources/config/db_mapping.json
  data-platform/dags/sources/dags/source_leko.py
Due: ruff, ruff-format, djade

deploy: 9848f61a14542a39a001f63ff234617e2cf249e8
  .doctrees/environment.pickle
Due: none

Transformer l'erreur d'interprétation des sous-cat en warning
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/sources/tasks/transform/exceptions.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/tests/sources/tasks/transform/test_transform_column.py
Due: ruff, ruff-format, djade

rename function to format message
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
Due: ruff, ruff-format, djade

Transformer l'erreur d'interprétation des sous-cat en warning (#3400)
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/sources/tasks/transform/exceptions.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/tests/sources/tasks/transform/test_transform_column.py
Due: ruff, ruff-format, djade

deploy: f7b89109bfd8b4235859f607de141eb894050ea6
  .doctrees/environment.pickle
Due: none

Increase spacing around titles
  webapp/templates/ui/pages/produit_page.html
Due: none

Remove useless commands
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
Due: ruff, ruff-format, djade

fix: corrections de migration des produits legacy
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Improve spacing around carte block
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte.html
Due: prettier

Fix sample db + e2e tests
  .github/actions/setup-playwright/action.yml
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  docs/how-to/development/create_webapp_sample_db.md
  docs/how-to/development/installation.md
  docs/how-to/development/tests_e2e.md
  docs/reference/db/db_organisation.md
  docs/reference/webapp/README.md
  scripts/e2e_prepare.sh
  scripts/e2e_run_sample_dag.sh
  scripts/restore_sample_locally.sh
  webapp/.env.template
  webapp/Makefile
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/helpers.ts
Due: ruff, ruff-format, djade, prettier

Scripts de migartion des produits legacy
  webapp/Dockerfile
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

capitalize only first letter
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

wip
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Rewrite migrations
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/migrations/0093_merge_20260911_1210.py
  webapp/qfdmd/migrations/0093_produit_legacy_imported_as_produit_page_and_more.py
Due: ruff, ruff-format, djade

Migrate on run
  webapp/bin/entrypoint.sh
Due: none

Add todos
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
Due: ruff, ruff-format, djade

feat: finalisation de la migration d'un produit (déplacement dans /categories)
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
Due: ruff, ruff-format, djade

test: aligner le test d'intégration sur les couleurs de badge blue-cumulus / purple-glycine
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
