Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

WIP
  .github/actions/prepare-django-db/action.yml
Due: none

wip
  .github/actions/prepare-django-db/action.yml
Due: none

Ajout de la documentation
  data-platform/dags/enrich/dags/enrich_siret_siren.py
Due: ruff, ruff-format, djade

ajout de la documentation du DAG
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/tests/utils/test_docs.py
  data-platform/dags/utils/docs.py
  docker-compose.yml
  docs/reference/data-platform/README.md
  docs/reference/data-platform/enrich-siret-siren.md
Due: ruff, ruff-format, djade, prettier

Proposer des sirets à partir des siren et vis versa
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_siret_siren_suggest_task.py
  data-platform/dags/enrich/tasks/business_logic/enrich_siret_siren_suggest.py
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siret_from_siren.sql
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

DAG pour enrichir les siren depuis les siret et reciproquement
  data-platform/dags/enrich/config/cohorts.py
  data-platform/dags/enrich/config/columns.py
  data-platform/dags/enrich/config/dbt.py
  data-platform/dags/enrich/config/models.py
  data-platform/dags/enrich/config/tasks.py
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_siret_siren_suggest_task.py
  data-platform/dags/enrich/tasks/business_logic/enrich_siret_siren_suggest.py
  data-platform/dbt/models/intermediate/enrich_siren_siret/int_acteur_with_siren_without_siret.sql
  data-platform/dbt/models/intermediate/enrich_siren_siret/int_acteur_with_siret_without_siren.sql
  data-platform/dbt/models/intermediate/enrich_siren_siret/schema.yml
  data-platform/dbt/models/intermediate/stats/int_acteur_with_siret.sql
  data-platform/dbt/models/intermediate/stats/schema.yml
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siren_from_siret.sql
  data-platform/dbt/models/marts/enrich_siren_siret/marts_enrich_siret_from_siren.sql
  data-platform/dbt/models/marts/enrich_siren_siret/schema.yml
  webapp/data/migrations/0023_alter_suggestioncohorte_type_action.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

fix pour faire suite à la revue
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
  data-platform/dags/clone/dags/clone_ban_adresses.py
  data-platform/dags/clone/dags/clone_ban_lieux_dits.py
  data-platform/dags/shared/config/schedules.py
  data-platform/dags/utils/docs.py
  data-platform/dbt/models/intermediate/enrich_siren_siret/int_acteur_with_siren_without_siret.sql
  data-platform/dbt/models/intermediate/enrich_siren_siret/int_acteur_with_siret_without_siren.sql
  data-platform/dbt/models/intermediate/enrich_siren_siret/schema.yml
  data-platform/dbt/models/marts/enrich_siren_siret/schema.yml
  webapp/settings/airflow.py
Due: ruff, ruff-format, djade

Ajout des tests de DBT
  data-platform/dags/enrich/config/models.py
  data-platform/dags/enrich/config/tasks.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
  data-platform/dags/enrich/dags/enrich_acteurs_rgpd.py
  data-platform/dags/enrich/dags/enrich_acteurs_villes.py
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_refresh_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_task.py
  data-platform/dags/enrich/tasks/business_logic/enrich_siret_siren_suggest.py
Due: ruff, ruff-format, djade

deploy: 7d6fbafd7fb8f27b41bfe1a5c86ebec1402ae775
  .doctrees/environment.pickle
Due: none

deploy: e2a9d84e314226d5bc8a08527c47dcc2c179fdfb
  .doctrees/environment.pickle
Due: none

deploy: 9c4c0cba1847e62d0a4f60e93eb2d3e6a0c7e54a
  .doctrees/environment.pickle
Due: none

PR feedback
  .github/workflows/_terragrunt-apply.yml
Due: none

re-enable cache
  .github/actions/prepare-django-db/action.yml
Due: none

Corrige la CI en échec pour les e2e (#3151)
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
  webapp/qfdmd/management/commands/populate_fake_search_tags.py
  webapp/qfdmd/management/commands/populate_search_terms.py
Due: ruff, ruff-format, djade

deploy: f333ee42907eba1e9de20ef1ae3d8d101bc04050
  .doctrees/environment.pickle
Due: none

Corrige la CI en échec pour les e2e (#3151)
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/management/commands/populate_fake_search_tags.py
  webapp/qfdmd/management/commands/populate_search_terms.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
Due: ruff, ruff-format, djade

DAG pour générer des suggestion à partir de la tabels lien succession
  data-platform/dags/acteurs/dags/compute_acteur.py
  data-platform/dags/acteurs/dags/export_opendata.py
  data-platform/dags/clone/dags/clone_ae_etablissement.py
  data-platform/dags/clone/dags/clone_ae_lien_succession.py
  data-platform/dags/clone/dags/clone_ae_unite_legale.py
  data-platform/dags/crawl/dags/crawl_urls.py
  data-platform/dags/enrich/config/cohorts.py
  data-platform/dags/enrich/config/columns.py
  data-platform/dags/enrich/config/dbt.py
  data-platform/dags/enrich/config/models.py
  data-platform/dags/enrich/config/tasks.py
  data-platform/dags/enrich/dags/enrich_acteurs_closed.py
  data-platform/dags/enrich/dags/enrich_acteurs_normalize_codepostal.py
  data-platform/dags/enrich/dags/enrich_acteurs_rgpd.py
  data-platform/dags/enrich/dags/enrich_acteurs_villes.py
  data-platform/dags/enrich/dags/enrich_siret_siren.py
  data-platform/dags/enrich/dags/enrich_siret_siren_lien_succession.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_lien_succession_suggest_task.py
  data-platform/dags/enrich/tasks/business_logic/enrich_lien_succession_suggest.py
  data-platform/dags/tests/enrich/tasks/test_enrich_lien_succession_suggest.py
  data-platform/dags/tests/utils/test_docs.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  docs/reference/data-platform/README.md
  docs/reference/data-platform/enrich-acteurs-closed.md
  docs/reference/data-platform/enrich-siret-siren-lien-succession.md
  webapp/data/migrations/0024_alter_suggestioncohorte_type_action.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/views.py
Due: ruff, ruff-format, djade, prettier

Vérifier si le DAG refresh_geo_models n'est pas stacké avant d'en lancer un autre
  data-platform/dags/clone/tasks/airflow_logic/chain_tasks.py
Due: ruff, ruff-format, djade

add tests
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

WIP
  webapp/.env.template
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/settings/test.py
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
Due: ruff, ruff-format, djade

fix env for tests
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/test.py
Due: ruff, ruff-format, djade

Move validate command input step earlier to fail fast
  .github/workflows/_terragrunt-apply.yml
Due: none

Pin opentofu/setup-opentofu to v2.0.2 commit hash
  .github/workflows/_terragrunt-apply.yml
Due: none

Fix foreign server port: use localhost check instead of ENVIRONMENT
  webapp/core/utils.py
  webapp/qfdmo/migrations/0159_connect_public_to_warehouse.py
  webapp/qfdmo/migrations/0164_rebuild_remote_server.py
  webapp/qfdmo/migrations/0191_rebuild_remote_server_fix_port.py
Due: ruff, ruff-format, djade

Corrige la CI en échec pour les e2e (#3151)
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
Due: ruff, ruff-format, djade

fix(preview): hard-fail seed when sample data is missing, bump seed_version
  infrastructure/modules/preview_database/main.tf
Due: none

fix(qfdmd): publish revision after legacy produit sync
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

deploy: 4a29b189e980b700ca3b40cc170bcb379145707b
  .doctrees/environment.pickle
Due: none

deploy: 564a86e8a92793747274f57e60fec328c3c88ad8
  .doctrees/environment.pickle
Due: none

Move notebooks on dedicated folder
  .gitignore
  data-platform/notebooks/deduplication.ipynb
  data-platform/notebooks/deduplication/.python-version
  data-platform/notebooks/deduplication/README.md
  data-platform/notebooks/deduplication/Untitled.ipynb
  data-platform/notebooks/deduplication/__init__.py
  data-platform/notebooks/deduplication/deduplication_old.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: ruff, ruff-format, djade, prettier

Adds business rules to dataset creation
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
Due: none

Updates dataset creation and training notebook
  .gitignore
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
  data-platform/notebooks/deduplication/training.ipynb
  data-platform/uv.lock
Due: none

Updates dataset creation to have a cluster_id
  .gitignore
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
  data-platform/uv.lock
Due: none

First complete version of dataset creation notebook
  data-platform/notebooks/deduplication/dataset_creation.ipynb
Due: none

Updates dataset creation and adds training pipeline
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
  data-platform/notebooks/deduplication/training_pipeline.py
Due: ruff, ruff-format, djade

Updates gitignore
  .gitignore
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
