Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Utilisation de logger au lieu de logging
  core/notion.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_validate_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_normalize_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_new_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_read_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
  dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/to_db.py
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  dags/tools/dags/airflow_cleanup_db.py
  qfdmo/management/commands/source_code_modification.py
Due: ruff, ruff-format, djade

Restauration de la base de données local avec les données de preprod
  .github/workflows/sync_databases.yml
  .gitignore
  Makefile
  docs/comment-faire/development/fixture_generation.md
  docs/comment-faire/development/installation.md
  docs/comment-faire/development/useful_command.md
  scripts/infrastructure/backup-db.sh
Due: prettier

correction d'une faute d'ortographe sur le widget info-tri (#2442)
  templates/ui/pages/infotri.html
Due: none

deploy: d51b0fe8bb1e21b8a60e6a7549308ce6686a6dc6
  .doctrees/environment.pickle
Due: none

deploy: d6c88f623ddc7d3a14a1ba893319a08c7fe7d376
  .doctrees/environment.pickle
Due: none

Gestion des styles du diff via des classes CSS
  core/templatetags/admin_data_tags.py
  static/to_compile/styles/admin.css
Due: ruff, ruff-format, djade, prettier

deploy: 5079a324cdc6ee6150d6c63e064e95fb3fb29fd1
  .doctrees/environment.pickle
Due: none

Update infotri.html
  templates/ui/pages/infotri.html
Due: none

Ajout d'un saut à la ligne dans le texte d'intro du widget info-tri (#2455)
  templates/ui/pages/infotri.html
Due: none

deploy: fbae29b809c18ac19075a4536ce2e3c24662fc9e
  .doctrees/environment.pickle
Due: none

deploy: 309272394fa3714398135cfc0ad90993a667c2f5
  .doctrees/environment.pickle
Due: none

deploy: c0b35537611c064f32961b4c5a3db7e9d9b47058
  .doctrees/environment.pickle
Due: none

deploy: 40f8c6abf16d98c90b1cd10f659f17f1fc194c17
  .buildinfo
  .doctrees/environment.pickle
  explications/data/flux-dbt.html
  explications/data/flux-enrich.html
  explications/frontend/routing-nginx-cache.html
  genindex.html
  reference/data/clustering-deduplication.html
  reference/data/systeme-de-suggestions.html
  reference/db/architecture.html
  reference/db/db_organisation.html
  reference/infrastructure/ci-cd.html
  search.html
Due: none

deploy: 0d8c48dd44787edf45f36875266d5454d730ae62
  .doctrees/environment.pickle
Due: none

deploy: 4654b0edd551b2115f492a28379dac4a9a358e10
  .doctrees/environment.pickle
Due: none

deploy: 4822e4553f58237fa18cd3b0d7c780359802b192
  .doctrees/environment.pickle
Due: none

deploy: da48571454350a42ac2fc00db0cdd05f5925dbd3
  .doctrees/environment.pickle
Due: none

deploy: 9164e9d25e05dfeb450d40af61abba892f3dffa6
  .doctrees/environment.pickle
Due: none

meta tags
  templates/ui/layout/assistant.html
  templates/ui/pages/produit.html
  templates/ui/pages/produit_page.html
Due: none

Merge canonical
  templates/ui/layout/assistant.html
  templates/ui/pages/produit.html
Due: none

add integration test
  integration_tests/assistant/test_seo_meta_tags.py
Due: ruff, ruff-format, djade

Test metatags
  integration_tests/assistant/test_seo_meta_tags.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, djade

Prevent failing tests
  templates/templatetags/canonical_url.html
  templates/ui/pages/produit.html
Due: none

Prevent call to seo variable on error pages
  templates/ui/layout/assistant.html
  templates/ui/layout/error.html
Due: none

fix logos
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/footer/_iframe_footer.html
  templates/ui/components/footer/footer.html
  templates/ui/components/header/header.html
  templates/ui/components/logos/logos.html
Due: ruff, ruff-format, djade

Update logos names
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/header/header.html
  templates/ui/components/logo/combined_logos.html
  templates/ui/components/logo/combined_logos.md
  templates/ui/components/logo/site_logo_large.html
  templates/ui/components/logo/site_logo_large.md
  templates/ui/components/logo/site_logo_mini.html
  templates/ui/components/logo/site_logo_mini.md
  templates/ui/components/patchwork/patchwork.html
Due: ruff, ruff-format, djade, prettier

use iframe footer
  previews/template_preview.py
  templates/ui/components/footer/base.html
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/footer.html
  templates/ui/components/header/header.html
Due: ruff, ruff-format, djade

Rename
  previews/template_preview.py
Due: ruff, ruff-format, djade

Remove grey backround behind header in iframe mode
  templates/ui/components/footer/base.iframe.html
Due: none

Refactor footer logos
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/footer/_iframe_footer.html
  templates/ui/components/footer/_standalone.html
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/combined_logos.html
  templates/ui/components/footer/combined_logos.md
  templates/ui/components/header/_logo_ademe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/combined_logos.md
  templates/ui/components/header/header.html
  templates/ui/components/logo/_base.html
  templates/ui/components/logo/_cursor.html
  templates/ui/components/logo/ademe.html
  templates/ui/components/logo/combined_logos.html
  templates/ui/components/logo/republique_francaise.html
  templates/ui/components/logo/site_logo_large.html
  templates/ui/components/logo/site_logo_mini.html
Due: ruff, ruff-format, djade, prettier

Refactor footer logos
  templates/ui/components/header/combined_logos.html
Due: none

Update templates/ui/components/footer/combined_logos.md
  templates/ui/components/footer/combined_logos.md
Due: prettier

Bad rebase
  previews/template_preview.py
Due: ruff, ruff-format, djade

Avoir le footer avec le style DSFR (les logos + le bouton “En savoir plus”) (#2397)
  previews/template_preview.py
  templates/ui/components/footer/_embedded.html
  templates/ui/components/footer/_standalone.html
  templates/ui/components/footer/base.html
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/combined_logos.html
  templates/ui/components/footer/combined_logos.md
  templates/ui/components/footer/footer.html
  templates/ui/components/header/_logo_ademe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/combined_logos.md
  templates/ui/components/header/header.html
  templates/ui/components/logo/_cursor.html
  templates/ui/components/logo/ademe.html
  templates/ui/components/logo/header.html
  templates/ui/components/logo/homepage.html
  templates/ui/components/logo/republique_francaise.html
  templates/ui/components/logo/site_logo_large.html
  templates/ui/components/logo/site_logo_large.md
  templates/ui/components/logo/site_logo_mini.html
  templates/ui/components/logo/site_logo_mini.md
  templates/ui/components/patchwork/patchwork.html
Due: ruff, ruff-format, djade, prettier

deploy: 955cd1dca2738c5fe5bc4f5b77ac76006a8ec265
  .doctrees/environment.pickle
Due: none

Suppression du modèle de page Famille (#2436)
  qfdmd/management/commands/migrate_familypage_to_produitpage.py
  qfdmd/migrations/0070_produitpage_est_famille.py
  qfdmd/models.py
Due: ruff, ruff-format, djade

deploy: fc587d25366a5bce24491ea681f82d44207a66d5
  .doctrees/environment.pickle
Due: none

Remove debug
  templates/ui/components/footer/base.iframe.html
  templates/ui/layout/assistant.html
Due: none

Utilisation de logger au lieu de logging (#2452)
  core/notion.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_validate_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_normalize_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_new_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_read_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
  dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/to_db.py
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  dags/tools/dags/airflow_cleanup_db.py
  qfdmo/management/commands/source_code_modification.py
Due: ruff, ruff-format, djade

Restauration de la base de données local avec les données de preprod (#2453)
  .github/workflows/sync_databases.yml
  .gitignore
  Makefile
  docs/comment-faire/development/fixture_generation.md
  docs/comment-faire/development/installation.md
  docs/comment-faire/development/useful_command.md
  scripts/infrastructure/backup-db.sh
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
