Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Ajout du champ parent_revision_acteur aux models Suggestion et usage de SuggestionSourceModel dans Airflow
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data/migrations/0021_suggestiongroupe_parent_revision_acteur_and_more.py
  data/models/suggestion.py
  data/models/suggestions/source.py
Due: ruff, ruff-format, djade

Mise à jour suite à revue
  data/models/suggestion.py
  data/views.py
  qfdmo/models/acteur.py
  templates/data/_partials/suggestion_groupe_details.html
  templates/ui/components/acteur/tabs/sections/meta.html
Due: ruff, ruff-format, djade

Afficher une colonne pour les corrections et une colonne pour les parents (#2456)
  core/templatetags/admin_data_tags.py
  core/templatetags/carte_tags.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data/migrations/0021_suggestiongroupe_parent_revision_acteur_and_more.py
  data/models/suggestion.py
  data/models/suggestions/source.py
  data/views.py
  qfdmo/models/acteur.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  static/to_compile/js/solution_map.ts
  static/to_compile/styles/admin.css
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
  templates/data/_partials/suggestion_groupe_refresh_stream.html
  templates/templatetags/acteur_pinpoint.html
  templates/ui/components/carte/pinpoints/svg/hand-pinpoint.html
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

Permettre de reporter certaines suggestion selon le modèle cible
  core/templatetags/admin_suggestion_tags.py
  data/models/suggestions/source.py
  data/views.py
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

Affichage des valeurs même quand elles ne sont pas éditables
  core/templatetags/admin_suggestion_tags.py
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

fix tests and more
  integration_tests/carte/test_acteur_detail.py
  integration_tests/carte/test_qfdmo_api.py
  qfdmo/models/acteur.py
  unit_tests/qfdmo/acteur_factory.py
Due: ruff, ruff-format, djade

Ajout des champs latitude et longitude à DisplayedActeur
  dbt/models/exposure/acteurs/carte/exposure_carte_acteur.sql
  dbt/models/exposure/acteurs/carte/schema.yml
  dbt/models/exposure/acteurs/exhaustive/exposure_exhaustive_acteur.sql
  dbt/models/marts/acteurs/exhaustive/marts_exhaustive_acteur.sql
  qfdmo/admin/acteur.py
  qfdmo/migrations/0184_displayedacteur_latitude_displayedacteur_longitude_and_more.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

deploy: ee4bfe1505d9876ebdaea163e60f925f2dab0e41
  .doctrees/environment.pickle
Due: none

Meilleur report des suggestions de la source vers la correction et le parent (#2459)
  core/templatetags/admin_suggestion_tags.py
  data/models/suggestions/source.py
  data/views.py
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

deploy: 12cdf6ce99476f533502748918c4704ad1fe8a40
  .doctrees/environment.pickle
Due: none

deploy: fd843d7048d539796859ab878df31744a117ecbd
  .doctrees/environment.pickle
Due: none

améliorationd e la modélisation des suggestions
  data/models/suggestions/source.py
  data/views.py
Due: ruff, ruff-format, djade

Re-enable e2e tests in CI
  .github/actions/pg-restore/action.yml
  .github/actions/prepare-django-db/action.yml
  .github/actions/restore-django-db/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/review.yml
  dags/acteurs/tasks/business_logic/copy_db_data.py
  e2e_tests/acteur.spec.ts
  e2e_tests/assistant.spec.ts
  e2e_tests/carte.spec.ts
  e2e_tests/carte_config.spec.ts
  e2e_tests/formulaire.spec.ts
  e2e_tests/helpers.ts
  e2e_tests/iframe.spec.ts
  e2e_tests/iframe_navigation.spec.ts
  playwright.config.ts
  previews/template_preview.py
  templates/templatetags/carte.html
  templates/ui/pages/produit_page.html
  templates/ui/tests/ess_label_display.html
Due: ruff, ruff-format, djade, prettier

Remove useless test
  e2e_tests/iframe.spec.ts
Due: prettier

fix
  qfdmd/forms.py
  qfdmd/templatetags/qfdmd_tags.py
  search/models.py
Due: ruff, ruff-format, djade

Reset migrations
  search/migrations/0001_initial.py
  search/migrations/0002_rename_fields.py
  search/migrations/0003_remove_searchterm_search_sear_linked__a1b2c3_idx_and_more.py
  search/migrations/0004_searchterm_legacy.py
Due: ruff, ruff-format, djade

Finish implementation
  core/settings.py
  qfdmd/forms.py
  qfdmd/migrations/0070_searchtag_taggedsearchtag_produitpage_search_tags.py
  qfdmd/migrations/0071_alter_produitpage_search_tags.py
  qfdmd/migrations/0072_alter_taggedsearchtag_content_object.py
  qfdmd/migrations/0073_produitpage_search_variants_and_more.py
  qfdmd/migrations/0074_alter_taggedsearchtag_options_and_more.py
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  search/__init__.py
  search/admin.py
  search/apps.py
  search/management/__init__.py
  search/management/commands/__init__.py
  search/management/commands/sync_synonymes_to_search_terms.py
  search/migrations/0001_initial.py
  search/migrations/0002_rename_fields.py
  search/migrations/0003_remove_searchterm_search_sear_linked__a1b2c3_idx_and_more.py
  search/migrations/0004_searchterm_legacy.py
  search/migrations/__init__.py
  search/mixins.py
  search/models.py
  templates/ui/components/search/_search_term.html
  templates/ui/components/search/view.html
Due: ruff, ruff-format, djade

WIP
  qfdmd/models.py
  search/mixins.py
  search/models.py
Due: ruff, ruff-format, djade

Remove mixin
  qfdmd/models.py
Due: ruff, ruff-format, djade

Reset qfdmd migrations
  qfdmd/migrations/0071_alter_produitpage_search_tags.py
  qfdmd/migrations/0071_searchtag_taggedsearchtag_produitpage_search_tags.py
  qfdmd/migrations/0072_alter_taggedsearchtag_content_object.py
  qfdmd/migrations/0073_produitpage_search_variants_and_more.py
  qfdmd/migrations/0074_alter_taggedsearchtag_options_and_more.py
  qfdmd/migrations/0075_remove_produitpage_search_variants.py
Due: ruff, ruff-format, djade

Add testand search term support in heading
  previews/template_preview.py
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/components/produit/heading.html
  templates/ui/components/search/_search_term.html
  unit_tests/search/__init__.py
  unit_tests/search/test_search_term.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/templatetags/qfdmd_tags.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/migrations/0075_remove_produitpage_search_variants.py
  qfdmd/models.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
Due: ruff, ruff-format, djade

Fix
  qfdmd/models.py
  search/models.py
  unit_tests/search_tests/__init__.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

Add migrations
  qfdmd/migrations/0071_searchtag_produitpage_search_variants_and_more.py
  search/migrations/0001_initial.py
Due: ruff, ruff-format, djade

add fork as dependency
  core/constants.py
  core/settings.py
  package-lock.json
  pyproject.toml
  qfdmd/forms.py
  qfdmd/views.py
  search/models.py
  uv.lock
Due: ruff, ruff-format, djade

Nettoyage de fonction et champs inutilisé et utilisation de VueActeur
  dags/cluster/dags/cluster_acteur_suggestions.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parents_choose_data.py
  dags/tests/utils/test_django.py
  dags/utils/django.py
Due: ruff, ruff-format, djade

Nettoyage de fonction et champs inutilisé et utilisation de VueActeur (#2491)
  dags/cluster/dags/cluster_acteur_suggestions.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parents_choose_data.py
  dags/tests/utils/test_django.py
  dags/utils/django.py
Due: ruff, ruff-format, djade

deploy: 83943247b477512ce85be2cfc67158ebc7629f83
  .doctrees/environment.pickle
Due: none

Calcul de la distance à la solution la plus proche par geste
  dbt/models/base/stats/base_action.sql
  dbt/models/base/stats/base_random_position.sql
  dbt/models/base/stats/base_vueacteur_visible.sql
  dbt/models/base/stats/base_vuepropositionservice.sql
  dbt/models/base/stats/base_vuepropositionservice_visible.sql
  dbt/models/base/stats/schema.yml
  dbt/models/marts/stats/marts_distance_first_action.sql
  dbt/models/marts/stats/schema.yml
  dbt/models/source/source_stats.yml
Due: none

SQL pour calculer la métrique incrémentale
  dbt/models/exposure/stats/exposure_stats_distance_nb_acteur_by_action.sql
  dbt/models/exposure/stats/schema.yml
Due: none

Ajout de documentation pour la sécurité et les Agents IA
  docs/reference/security/application.md
Due: prettier

Calcul de la distance à la solution la plus proche par geste (#2487)
  dbt/models/base/stats/base_action.sql
  dbt/models/base/stats/base_random_position.sql
  dbt/models/base/stats/base_vueacteur_visible.sql
  dbt/models/base/stats/base_vuepropositionservice.sql
  dbt/models/base/stats/base_vuepropositionservice_visible.sql
  dbt/models/base/stats/schema.yml
  dbt/models/exposure/stats/exposure_stats_distance_nb_acteur_by_action.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/marts/stats/marts_distance_first_action.sql
  dbt/models/marts/stats/schema.yml
  dbt/models/source/source_stats.yml
Due: none

deploy: a105a10ab8cdf1cb5ef6a07f400e5a78081405ee
  .doctrees/environment.pickle
Due: none

Proposition pour tagger différemment les versions à déployer en preprod
  .github/workflows/cd.yml
  .github/workflows/review.yml
Due: none

Le type d'acteur renvoyé par la CMA est artisan
  dags/sources/dags/source_cma.py
Due: ruff, ruff-format, djade

Le type d'acteur renvoyé par la CMA est artisan (#2496)
  dags/sources/dags/source_cma.py
Due: ruff, ruff-format, djade

deploy: 4af5bbed07ba83045af7189fd61f91d0a7d6d6e3
  .doctrees/environment.pickle
Due: none

refacto suite au retour de review
  dags/utils/django.py
Due: ruff, ruff-format, djade

latitude et longitude dans include_if_all_fields
  dags/utils/django.py
Due: ruff, ruff-format, djade
