Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

deploy: a000fa06d0642fe5633b56c8d5673f97044eec43
  .doctrees/environment.pickle
Due: none

deploy: 42156e792399afafea3f58883f637a40ffad83db
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: d9817f26b7e196247be438ef53490bf5a8cc30a5
  .doctrees/environment.pickle
Due: none

feat: allow CMS pages to convert visitors on first view
  webapp/qfdmd/migrations/0088_conversionimmediatepage.py
  webapp/qfdmd/models.py
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/templates/sites_conformes_core/base.html
  webapp/unit_tests/qfdmd/test_conversion_immediate_page.py
Due: ruff, ruff-format, djade

Refactore la classe du modèle pour pouvoir sauvegarder/charger un modèle entraîné.
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/pairs_query.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
Due: ruff, ruff-format, djade

Rend l'infotri responsive sur petits écrans (#3179)
  webapp/previews/template_preview.py
  webapp/settings/base.py
  webapp/templates/ui/components/infotri/infotri.html
  webapp/templates/ui/components/infotri/svg/backlink.html
  webapp/templates/ui/components/infotri/svg/cartouche-fr.html
  webapp/templates/ui/tests/t_19_infotri_responsive.html
Due: ruff, ruff-format, djade

deploy: 65b88a836d371028f576149f23d4ad362bc847bd
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

fix: point dependabot uv ecosystem at workspace root
  .github/dependabot.yml
Due: none

Improve layout
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/pages/carte.html
Due: prettier

Close modal on resize
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
  webapp/templates/ui/blocks/carte_block.html
Due: prettier

fix: remove black gap below carte modal by hiding bottom DSFR spacer
  webapp/static/to_compile/styles/qfdmd.css
Due: prettier

WIP
  webapp/static/to_compile/styles/qfdmd.css
Due: prettier

add in modal switch
  webapp/core/templatetags/carte_tags.py
  webapp/qfdmo/views/carte.py
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade

add missing migration
  webapp/qfdmd/migrations/0088_alter_legacyproduitindexpage_body_and_more.py
Due: ruff, ruff-format, djade

wip
  webapp/templates/ui/pages/carte.html
Due: none

rewrite migrations
  webapp/qfdmd/migrations/0085_add_carte_block.py
Due: ruff, ruff-format, djade

fix: add type=button to acteur detail close button to prevent form submit
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: none

add carte block opening in modale
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0085_add_carte_block.py
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
  webapp/templates/ui/blocks/carte_block.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

wip
  webapp/static/to_compile/controllers/carte/responsive_controller.ts
Due: prettier

Corrige la CI en échec pour les e2e (#3151)
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
Due: ruff, ruff-format, djade

WIP
  webapp/.env.template
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/settings/test.py
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
Due: ruff, ruff-format, djade

add tests
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

fix(qfdmd): publish revision after legacy produit sync
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

fix env for tests
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/settings/test.py
Due: ruff, ruff-format, djade

Fix search
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

fix: harden sync_from_legacy_produit against malformed/embedded legacy HTML
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

fix: wrap bare consigne text in <p> so live card layout matches preview
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

fix: use main synonyme's slug for migrated page, not Produit.slug
  webapp/qfdmd/legacy_migration.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
Due: ruff, ruff-format, djade

fix: sync sous_categorie_objet from legacy Produit onto migrated pages
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

corrige dependabot depuis le passage aux workspace uv (#3239)
  .github/dependabot.yml
Due: none

deploy: 95bedab7ba1aed48d92a08c2a0bc53a22285e4b9
  .doctrees/environment.pickle
Due: none

feat: report genre/nombre for migrated pages' main synonymes
  webapp/.env.template
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/unit_tests/qfdmd/test_report_genre_nombre_migrated_pages.py
Due: ruff, ruff-format, djade

feat: report genre/nombre for every synonyme, not just main ones
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
  webapp/unit_tests/qfdmd/test_report_genre_nombre_synonymes.py
Due: ruff, ruff-format, djade

fix: initialize seo_title independently of meta_description
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

fix: exclude main synonyme from the search tags import on migration
  webapp/qfdmd/legacy_migration.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
Due: ruff, ruff-format, djade

deploy: 0aff8b5301e0a7894ac0da11e5eb128ef60fc389
  .doctrees/environment.pickle
Due: none

deploy: 1cf1c098b6f9bdf95f42ade20dece59776deacef
  .doctrees/environment.pickle
Due: none

deploy: 273c41d2a81f18475de16c3ba4517293429e2e6c
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: c1b9a30257e039d232766cdb6d831101e0f02f74
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 254be5a10645a23879ff7e482ea0c1391def2b6a
  .doctrees/environment.pickle
Due: none
