Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Cleanup config and uv run
  .pre-commit-config.yaml
  .python-version
  iframe.html
  iframe_without_js.html
  pyproject.toml
  uv.lock
  webapp/.env.template
  webapp/Makefile
  webapp/Procfile.all.dev
  webapp/Procfile.django.dev
  webapp/api.postman_collection.json
  webapp/core/settings.py
  webapp/pyproject.toml
  webapp/uv.lock
Due: ruff, ruff-format, djade

Build docker
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  data-platform/uv.lock
  webapp/pyproject.toml
  webapp/uv.lock
Due: none

Cleanup config and uv run
  .pre-commit-config.yaml
Due: none

webapp as package
  data-platform/pyproject.toml
  webapp/pyproject.toml
Due: none

Update docs and CI
  .github/actions/setup-backend/action.yml
  .github/actions/setup-e2e-tools/action.yml
  .github/dependabot.yml
  .github/workflows/_backend-test-job.yml
  .github/workflows/_e2e.yml
  .github/workflows/ci.yml
  AGENTS.md
  Makefile
  data-platform/Makefile
  data-platform/pyproject.toml
  docs/explanations/data/README.md
  docs/how-to/development/dependencies.md
  docs/how-to/development/installation.md
  docs/reference/coding/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/ci-cd.md
  docs/reference/webapp/README.md
  webapp/Makefile
  webapp/uv.lock
Due: prettier

Adaptation pour le lancement des tests
  .github/actions/setup-backend/action.yml
  .github/workflows/_backend-test-job.yml
  .github/workflows/sync_databases.yml
  Makefile
  data-platform/Makefile
  data-platform/pyproject.toml
  data-platform/uv.lock
  webapp/Makefile
  webapp/core/airflow_settings.py
  webapp/core/test_settings.py
  webapp/pyproject.toml
Due: ruff, ruff-format, djade

Rationnalisation des environnements de développement (#2659)
  .github/actions/setup-backend/action.yml
  .github/actions/setup-e2e-tools/action.yml
  .github/dependabot.yml
  .github/workflows/_backend-test-job.yml
  .github/workflows/_e2e.yml
  .github/workflows/ci.yml
  .github/workflows/sync_databases.yml
  .pre-commit-config.yaml
  .python-version
  AGENTS.md
  Makefile
  data-platform/Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  data-platform/uv.lock
  docs/explanations/data/README.md
  docs/how-to/development/dependencies.md
  docs/how-to/development/installation.md
  docs/reference/coding/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/ci-cd.md
  docs/reference/webapp/README.md
  iframe.html
  iframe_without_js.html
  pyproject.toml
  uv.lock
  webapp/.env.template
  webapp/Makefile
  webapp/Procfile.all.dev
  webapp/Procfile.django.dev
  webapp/api.postman_collection.json
  webapp/core/airflow_settings.py
  webapp/core/settings.py
  webapp/core/test_settings.py
  webapp/pyproject.toml
  webapp/uv.lock
Due: ruff, ruff-format, djade, prettier

deploy: dde149eb0900df25a04eac519aa2f0bc413bb74d
  .doctrees/environment.pickle
  .doctrees/explanations/data/README.doctree
  .doctrees/explanations/iframe/README.doctree
  .doctrees/how-to/development/dependencies.doctree
  .doctrees/how-to/development/installation.doctree
  .doctrees/reference/coding/README.doctree
  .doctrees/reference/data-platform/airflow.doctree
  .doctrees/reference/infrastructure/ci-cd.doctree
  .doctrees/reference/webapp/README.doctree
  _downloads/45990ed11a18783b8200711548e90bca/iframe_without_js.html
  _downloads/74f0e95940be56938e2c01502a4c8781/iframe.html
  _sources/explanations/data/README.md.txt
  _sources/how-to/development/dependencies.md.txt
  _sources/how-to/development/installation.md.txt
  _sources/reference/coding/README.md.txt
  _sources/reference/data-platform/airflow.md.txt
  _sources/reference/infrastructure/ci-cd.md.txt
  _sources/reference/webapp/README.md.txt
  explanations/data/README.html
  explanations/iframe/README.html
  how-to/development/dependencies.html
  how-to/development/installation.html
  reference/coding/README.html
  reference/data-platform/airflow.html
  reference/infrastructure/README.html
  reference/infrastructure/ci-cd.html
  reference/webapp/README.html
  searchindex.js
Due: prettier

Fix indexing
  webapp/qfdmd/signals.py
Due: ruff, ruff-format, djade

trigger indexing on page publishing
  webapp/qfdmd/signals.py
Due: ruff, ruff-format, djade

Add test for signals
  webapp/unit_tests/qfdmd/test_signals.py
Due: ruff, ruff-format, djade

Add todo regarding unindexing existing tags
  webapp/qfdmd/signals.py
Due: ruff, ruff-format, djade

Améliorer l'indexation à la publication d'une page wagtail (#2653)
  webapp/qfdmd/signals.py
  webapp/unit_tests/qfdmd/test_signals.py
Due: ruff, ruff-format, djade

deploy: 1e75b20c15d689f40f07271bab61e56badb4f314
  .doctrees/environment.pickle
Due: none

deploy: 905f0a7e0316f5cb667b68ec661280828ef585f3
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 2b744c3cfa2a533eac6fa079281da9068eb1e4fc
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: bef8f249da8bc95a6285413e9e266de38202f050
  .doctrees/environment.pickle
Due: none

deploy: 78dfc0b41c67b7706d6a6ca3a34783074383c134
  .doctrees/environment.pickle
Due: none

deploy: 3659f4bb271f0a239a343075311bfe09144a2507
  .doctrees/environment.pickle
Due: none

deploy: d03aa008d15a5a5b3fb91b372f111def860bb6df
  .doctrees/environment.pickle
Due: none

deploy: 1ebaa1e07907788b0fedb3e28284767decf13a36
  .doctrees/environment.pickle
Due: none

Handle accents in fuzzy search
  webapp/bin/post_deploy
  webapp/qfdmd/views.py
  webapp/unit_tests/conftest.py
Due: ruff, ruff-format, djade

deps
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: 522d0b635aa80fff052b58027fd3926395fe43ad
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: a86614270006350df2a72f5c87456e3b3dffa799
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: ec14022af80dca4da3ca7f117f685e019f8ef7e8
  .doctrees/environment.pickle
Due: none

Utilisation de la derniere version de django modelsearch avec la gestion des accents (#2643)
  uv.lock
  webapp/bin/post_deploy
  webapp/pyproject.toml
  webapp/qfdmd/views.py
  webapp/unit_tests/conftest.py
Due: ruff, ruff-format, djade

deploy: 8c832beac533f1c26ccc0194f3022db6f48b8d5a
  .doctrees/environment.pickle
Due: none

Correction de la recherche dans les tests e2e - ajout de l'activation de l'extension unaccent et trigram sur la db sample
  .github/actions/prepare-django-db/action.yml
Due: none

deps
  webapp/package-lock.json
  webapp/package.json
Due: none

Remove debug toolbar
  webapp/templates/ui/components/formulaire/results.html
Due: none

create dedicated css for formulaire
  webapp/static/to_compile/styles/carte.css
  webapp/templates/ui/pages/formulaire.html
Due: prettier

Correction de la recherche dans les tests e2e (#2680)
  .github/actions/prepare-django-db/action.yml
  webapp/package-lock.json
  webapp/package.json
Due: none

deploy: 9c2ef99b8c2d9a88c2b352c0a7f308b5aa38be6f
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Correction sur le Formulaire : carte masquée et titre tronqué (#2682)
  webapp/static/to_compile/styles/carte.css
  webapp/templates/ui/components/formulaire/results.html
  webapp/templates/ui/pages/formulaire.html
Due: prettier

deploy: 3c3e8a26115b53cadf34e9a6fc3ea55a78ccafca
  .doctrees/environment.pickle
Due: none

format
  webapp/data/admin.py
  webapp/data/migrations/0014_alter_suggestioncohorte_type_action.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/manage.py
  webapp/previews/template_preview.py
  webapp/qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/qfdmo/admin/acteur.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/management/commands/populate_sous_cat.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

deploy: 37cb49b40bc09c6c62e6b7765bf4412a5fb8ad41
  .doctrees/environment.pickle
Due: none

deploy: 169295d56f44b8cdcb0774cd379132d37c7ea526
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

Corrige le map formulaire id du formulaire sur la fiche acteur
  webapp/core/constants.py
  webapp/qfdmo/views/adresses.py
  webapp/qfdmo/views/formulaire.py
  webapp/templates/ui/pages/acteur.html
Due: ruff, ruff-format, djade
