Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Les utilisateurs posthog ne sont plus authentifiés (#2574)
  webapp/core/templatetags/analytics_tags.py
  webapp/integration_tests/core/test_analytics_tags.py
Due: ruff, ruff-format, djade

deploy: c3845f7bf3d807e21b46f22c09e1043d276bd5e3
  .doctrees/environment.pickle
Due: none

Set env at the root level
  .env.template
  webapp/Makefile
Due: none

WIP
  pyproject.toml
  uv.lock
Due: none

Add todo for db sample
  docs/how-to/development/create_webapp_sample_db.md
Due: prettier

Add modelsearch
  uv.lock
  webapp/pyproject.toml
Due: none

Correction des DAGs de clone de table à partir de fichiers geodata
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
Due: ruff, ruff-format, djade

Enable e2e only on frontend pr
  .github/workflows/e2e.yml
Due: none

fix playwright config
  webapp/playwright.config.ts
Due: prettier

Suppression des models dbt deprecier
  data-platform/dbt/models/exposure/stats/exposure_stats_acteur_siren_siret_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_rounded_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_rounded_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_actif_history.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_history.sql
  data-platform/dbt/models/exposure/stats/schema.yml
Due: none

Allow search for searchterms
  webapp/search/wagtail_hooks.py
Due: ruff, ruff-format, djade

Fix ranking issue
  webapp/qfdmd/models.py
  webapp/search/models.py
Due: ruff, ruff-format, djade

wip
  webapp/search/models.py
Due: ruff, ruff-format, djade

Update modelsaerch
  uv.lock
  webapp/pyproject.toml
Due: none

Disable cache for db in CI|
  .github/actions/prepare-django-db/action.yml
  Makefile
  webapp/Makefile
  webapp/e2e_tests/carte.spec.ts
  webapp/playwright.config.ts
Due: prettier

Add local server for e2e
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/formulaire.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/playwright.config.ts
Due: prettier

disable server temporarily
  webapp/playwright.config.ts
Due: prettier

ajout de l'option sync_all_columns
  data-platform/dbt/models/exposure/stats/schema.yml
Due: none

Ajout d'espace de stockage poursupporter les DAG de clone de Annuaire Entreprise
  infrastructure/modules/container/airflow-scheduler.tf
Due: none

Mise à jour de la documentation pour déployer les containers scaleway
  docs/how-to/troubleshooting.md
Due: prettier

Add chrome extension
  chrome-extension/.eslintrc
  chrome-extension/.github/ISSUE_TEMPLATE/bug_report.md
  chrome-extension/.github/dependabot.yml
  chrome-extension/.github/stale.yml
  chrome-extension/.github/workflows/ci.yml
  chrome-extension/.gitignore
  chrome-extension/.nvmrc
  chrome-extension/LICENSE
  chrome-extension/README.md
  chrome-extension/custom-vite-plugins.ts
  chrome-extension/manifest.dev.json
  chrome-extension/manifest.json
  chrome-extension/nodemon.chrome.json
  chrome-extension/nodemon.firefox.json
  chrome-extension/package-lock.json
  chrome-extension/package.json
  chrome-extension/public/ademe-logo.svg
  chrome-extension/public/contentStyle.css
  chrome-extension/public/dev-icon-128.png
  chrome-extension/public/dev-icon-32.png
  chrome-extension/public/icon-128.png
  chrome-extension/public/icon-32.png
  chrome-extension/src/assets/img/logo.svg
  chrome-extension/src/assets/styles/tailwind.css
  chrome-extension/src/global.d.ts
  chrome-extension/src/locales/en/messages.json
  chrome-extension/src/pages/background/index.ts
  chrome-extension/src/pages/content/index.tsx
  chrome-extension/src/pages/popup/Popup.tsx
  chrome-extension/src/pages/popup/index.css
  chrome-extension/src/pages/popup/index.html
  chrome-extension/src/pages/popup/index.tsx
  chrome-extension/src/types.ts
  chrome-extension/src/vite-env.d.ts
  chrome-extension/tsconfig.json
  chrome-extension/vite.config.base.ts
  chrome-extension/vite.config.chrome.ts
  chrome-extension/vite.config.firefox.ts
  chrome-extension/yarn.lock
Due: prettier

Improve constants sharing
  chrome-extension/manifest.json
  chrome-extension/public/ademe-logo.svg
  chrome-extension/public/icon-128.png
  chrome-extension/public/icon-32.png
  chrome-extension/src/pages/background/index.ts
  chrome-extension/src/pages/content/index.tsx
  chrome-extension/src/pages/popup/Popup.tsx
  chrome-extension/src/pages/popup/index.css
  chrome-extension/src/pages/popup/index.html
  chrome-extension/src/pages/popup/index.tsx
  chrome-extension/src/types.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/shared_constants.ts
Due: prettier

add workflow
  .github/workflows/chrome-extension-ci.yml
  chrome-extension/.github/ISSUE_TEMPLATE/bug_report.md
  chrome-extension/.github/dependabot.yml
  chrome-extension/.github/stale.yml
  chrome-extension/.github/workflows/ci.yml
Due: prettier

Improve
  chrome-extension/manifest.json
  chrome-extension/src/pages/content/index.tsx
  chrome-extension/src/pages/popup/Popup.tsx
  chrome-extension/src/pages/popup/index.html
  chrome-extension/src/types.ts
  webapp/static/to_compile/js/shared_constants.ts
Due: prettier

Add e2e
  .github/workflows/chrome-extension-ci.yml
  playwright.extension.config.ts
  webapp/e2e_tests/chrome_extension.spec.ts
  webapp/package.json
  webapp/playwright.config.ts
Due: prettier

Fix ci
  chrome-extension/package-lock.json
  chrome-extension/package.json
Due: none

Add missing depdenencies
  chrome-extension/package-lock.json
Due: none

Rebase it
  chrome-extension/README.md
  chrome-extension/src/types.ts
  chrome-extension/yarn.lock
Due: prettier

use dev server
  .github/workflows/_e2e.yml
  Makefile
  webapp/playwright.config.ts
Due: prettier

wpi
  webapp/playwright.config.ts
Due: prettier

Correction des DAGs de clone de table à partir de fichiers geodata (#2575)
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
Due: ruff, ruff-format, djade

deploy: dfb4ea3bd59ffd6e306781666a617dcb252c4e35
  .doctrees/environment.pickle
Due: none

Ajout d'espace de stockage pour supporter les DAG de clone de Annuaire Entreprise (#2577)
  infrastructure/modules/container/airflow-scheduler.tf
Due: none

deploy: 9be8c885e416d0bea4fba55ea5746a0bd1b1936a
  .doctrees/environment.pickle
Due: none

deploy: 31298a1a236e183a91c529a5b843fffcdada550e
  .doctrees/environment.pickle
Due: none

deploy: ae1f281b93196d0189171673f2cbb0f4897e73d9
  .doctrees/environment.pickle
Due: none

Mise à jour de la documentation pour déployer les containers scaleway (#2468)
  docs/how-to/troubleshooting.md
Due: prettier

deploy: 9699f8951814cde4ff7034fb47eb5a93cffde023
  .doctrees/environment.pickle
  .doctrees/how-to/troubleshooting.doctree
  _sources/how-to/troubleshooting.md.txt
  how-to/troubleshooting.html
  searchindex.js
Due: prettier

upgrade django, and wagtailmenus
  uv.lock
  webapp/core/settings.py
  webapp/pyproject.toml
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade
