Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Réparer les actions applicables à un ensemble de SuggestionGroupe
  webapp/data/admin.py
  webapp/data/models/suggestion.py
  webapp/unit_tests/data/models/test_suggestion.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

Handle empty slug
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Accessibilité RGAA : retours bloquants (#2777)
  webapp/core/settings.py
  webapp/previews/template_preview.py
  webapp/pyproject.toml
  webapp/templates/ui/components/acteur/_action_share.html
  webapp/templates/ui/components/carte/shared/disclaimers/no_local_solution.html
  webapp/templates/ui/components/produit/heading.html
  webapp/unit_tests/core/test_accessibilite_previews.py
  webapp/uv.lock
Due: ruff, ruff-format, djade

Utilisation du nouvel autocomplete pour le champ adresse de la carte (#2793)
  webapp/e2e_tests/carte_address_combobox.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/qfdmo/forms.py
  webapp/qfdmo/urls.py
  webapp/qfdmo/views/autocomplete.py
  webapp/qfdmo/widgets.py
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/carte/adresse_input_form.html
  webapp/templates/ui/components/formulaire/adresse_input_form.html
  webapp/templates/ui/components/formulaire/search_form.html
  webapp/templates/ui/forms/widgets/autocomplete/address_results.html
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/templates/ui/forms/widgets/autocomplete/results.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/unit_tests/qfdmo/test_autocomplete_address_view.py
  webapp/unit_tests/qfdmo/test_carte_address_widget.py
Due: ruff, ruff-format, djade, prettier

A/B test mode carte/liste par défaut sur les pages produit en mobile (#2795)
  AGENTS.md
  docs/reference/webapp/ab-testing.md
  webapp/core/templatetags/carte_tags.py
  webapp/core/url_utils.py
  webapp/qfdmd/migrations/0083_produitpage_ab_test_carte_default_view.py
  webapp/qfdmd/models.py
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/carte.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/templates/templatetags/carte.html
  webapp/unit_tests/core/templatetags/test_carte_tag.py
  webapp/unit_tests/core/test_url_utils.py
Due: ruff, ruff-format, djade, prettier

Recherche: Correction d'une erreur 500 sur l'import des synonymes de recherche (page vélo) (#2853)
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Affiche la famille dans les résultats de recherche pour tous les utilisateurs (#2827)
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
  webapp/templates/ui/components/search/search_result_searchtag.html
Due: none

correctifs des non-conformités RGAA mineures (#2794)
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/e2e_tests/iframe.spec.ts
  webapp/e2e_tests/search.spec.ts
  webapp/previews/template_preview.py
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/templates/ui/components/accessibilite/iframe_titles_demo.html
  webapp/templates/ui/components/accessibilite/landmarks_demo.html
  webapp/templates/ui/components/accessibilite/liens_explicites_demo.html
  webapp/templates/ui/components/accessibilite/skip_link_demo.html
  webapp/templates/ui/components/accessibilite/svg_decoratifs_demo.html
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/components/carte/mode_carte.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/formulaire/header.html
  webapp/templates/ui/components/formulaire/main.html
  webapp/templates/ui/components/header/header.html
  webapp/templates/ui/components/logo/ademe.html
  webapp/templates/ui/components/logo/republique_francaise.html
  webapp/templates/ui/components/logo/site_logo_mini.html
  webapp/templates/ui/components/modals/embed.html
  webapp/templates/ui/layout/_partials/header_logos.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/infotri.html
  webapp/unit_tests/core/test_accessibilite_mineurs_previews.py
Due: ruff, ruff-format, djade, prettier

deploy: 97fd650cd23a3b12c0a04139b4c38136ce4e5c56
  .doctrees/environment.pickle
  .doctrees/reference/webapp/ab-testing.doctree
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
  _sources/reference/webapp/ab-testing.md.txt
  objects.inv
  reference/webapp/ab-testing.html
  searchindex.js
Due: ruff, ruff-format, djade, prettier

Missing merge migration
  webapp/qfdmd/migrations/0084_merge_20260527_0000.py
Due: ruff, ruff-format, djade

deploy: cd330de55e7b1aea0b3da98b84d48ff086376208
  .doctrees/environment.pickle
Due: none

Mise à jour du fichier de lock terragrunt après dépploiement de Airflow v3 en prod
  infrastructure/environments/prod/database/.terraform.lock.hcl
Due: none

deploy: cf33deb4214f551cf250becaa496aba2c38a67ee
  .doctrees/environment.pickle
Due: none

Ajout d'une légende à la carte dans l'administration des suggestion groupe
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: none

deploy: 1ac3667feb31c29921a0e69d71dacd0045dc6140
  .doctrees/environment.pickle
Due: none

Bump PyJWT from 2.11 to 2.13.0 in /webapp
  webapp/uv.lock
Due: none

Bump pygments from 2.19.2 to 2.20.0 in /webapp
  webapp/uv.lock
Due: none

deploy: 8a03fd6686c8efec82fbddc9769118a80b177cc9
  .doctrees/environment.pickle
Due: none

deploy: 2130cf6d39463b207f0d0cbb68979e0056446774
  .doctrees/environment.pickle
Due: none

deploy: d0e63769e02039a9f9316c4be48334dec243a493
  .doctrees/environment.pickle
Due: none

déplacer les imports dans les fonctions pour alléger la charge du DAG processor
  data-platform/dags/acteurs/tasks/business_logic/check_model_table_consistency.py
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/copy_displayed_data_from_warehouse_task.py
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_csv_to_s3.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_validate.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_config_create.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_read/children.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/to_db.py
  data-platform/dags/cluster/tasks/business_logic/misc/df_sort.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  data-platform/dags/enrich/tasks/business_logic/db_read_acteur_cp.py
  data-platform/dags/enrich/tasks/business_logic/enrich_dbt_model_read.py
  data-platform/dags/sources/tasks/business_logic/db_read_acteur.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/keep_acteur_changed.py
  data-platform/dags/sources/tasks/transform/transform_df.py
  data-platform/dags/suggestions/tasks/business_logic/db_check_suggestion_to_process.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
  data-platform/dags/utils/django.py
Due: ruff, ruff-format, djade

Problème d'encodage des propositions de service depuis le passage à Airflow v3
  data-platform/dags/shared/xcom/normalize.py
  data-platform/dags/suggestions/tasks/business_logic/db_apply_suggestion.py
  data-platform/dags/tests/shared/xcom/test_xcom_normalize.py
  data-platform/uv.lock
  webapp/data/management/__init__.py
  webapp/data/management/commands/__init__.py
  webapp/data/management/commands/resolve_su_ps_codes.py
Due: ruff, ruff-format, djade

Problème d'encodage des propositions de service depuis le passage à Airflow v3 (#2870)
  data-platform/dags/shared/xcom/normalize.py
  data-platform/dags/suggestions/tasks/business_logic/db_apply_suggestion.py
  data-platform/dags/tests/shared/xcom/test_xcom_normalize.py
  data-platform/uv.lock
  webapp/data/management/__init__.py
  webapp/data/management/commands/__init__.py
  webapp/data/management/commands/resolve_su_ps_codes.py
Due: ruff, ruff-format, djade

deploy: c86ab191c67c4c2936eeac316afd5dea8571154e
  .doctrees/environment.pickle
Due: none

deploy: 7b58793492a8b68ba93a82efc5d56379daadfcbc
  .doctrees/environment.pickle
Due: none

deploy: d874fa1bcd943e217d0333d0cfee211d3f26f379
  .doctrees/environment.pickle
Due: none

Suppression de l'environnement airflow et modification du nom des environnement
  infrastructure/environments/airflowv3/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/airflowv3/airflow_containers/terraform.tfvars.example
  infrastructure/environments/airflowv3/airflow_containers/terragrunt.hcl
  infrastructure/environments/airflowv3/database/.terraform.lock.hcl
  infrastructure/environments/airflowv3/database/terraform.tfvars.example
  infrastructure/environments/airflowv3/database/terragrunt.hcl
  infrastructure/environments/airflowv3/object_storage/.terraform.lock.hcl
  infrastructure/environments/airflowv3/object_storage/terraform.tfvars.example
  infrastructure/environments/airflowv3/object_storage/terragrunt.hcl
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
Due: none

Bump pygments from 2.19.2 to 2.20.0 in /docs
  docs/uv.lock
Due: none

Bump pygments from 2.19.2 to 2.20.0 in /docs (#2873)
  docs/uv.lock
Due: none

deploy: ac229893cf62ea4efb7376466e3cb5ff39dcce71
  .doctrees/environment.pickle
Due: none

fix(e2e): arm waitForResponse before click in empty-input combobox test
  webapp/e2e_tests/carte_address_combobox.spec.ts
Due: prettier

bump django-dsfr to fix data_attributes regression
  webapp/pyproject.toml
  webapp/uv.lock
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
