Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Affiche la mini carte sur mobile dans la fiche détaillée (re-merge) (#2797)
  webapp/e2e_tests/carte.spec.ts
  webapp/templates/ui/components/acteur/tabs/sections/adresse.html
Due: prettier

Ajout d'une Source généric à configurer entièrement selon un besoin spécifique (#2466)
  data-platform/dags/shared/config/tags.py
  data-platform/dags/sources/dags/source_generic.py
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
Due: ruff, ruff-format, djade

Calcule des différences de propositions de service entre acteur et revision (#2539)
  data-platform/dbt/models/base/acteurs/schema.yml
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_acteur.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_revision.sql
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/stats/int_propositionservice_sous_categories_with_revision.sql
  data-platform/dbt/models/intermediate/stats/int_propositonservices_with_revision.sql
  data-platform/dbt/models/intermediate/stats/int_revisionpropositonservice_sous_categories_with_acteur.sql
  data-platform/dbt/models/intermediate/stats/int_revisionpropositonservices_with_acteur.sql
  data-platform/dbt/models/intermediate/stats/schema.yml
  data-platform/dbt/models/marts/stats/marts_acteur_vs_revision_propositon_services.sql
  data-platform/dbt/models/marts/stats/schema.yml
  dbt/models/exposure/stats/schema.yml
Due: none

Ajout du filtre des suggestion groupe quand il a un suggestion unitaire sur un champ donné (#2796)
  webapp/data/admin.py
  webapp/data/models/suggestions/abstract.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

Suppression de fichier inutil (#2823)
  APPLICATION.md
  dbt/models/exposure/stats/schema.yml
  uv.lock
Due: prettier

Correction de tests e2e (#2806)
  webapp/e2e_tests/analytics.spec.ts
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/mode_liste.spec.ts
Due: prettier

SuggestionGroupe: ne pas remplacer la valeur éditée (#2802)
  webapp/data/models/suggestions/source.py
Due: ruff, ruff-format, djade

ababababa
  webapp/e2e_tests/produit_carte_ab.spec.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
Due: prettier

Ajout de filtre has_correction (#2801)
  webapp/data/admin.py
  webapp/data/models/suggestion.py
  webapp/unit_tests/data/models/test_suggestion.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

wip
  docs/reference/webapp/ab-testing.md
  webapp/e2e_tests/produit_carte_ab.spec.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/templates/templatetags/carte.html
Due: prettier

Éviter qu'une recherche synonyme ne soit conservée lors de la navigation
  webapp/e2e_tests/search.spec.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

Afficher les familles dans les résultats de recherche pour tous les utilisateurs
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result_searchtag.html
Due: none

Conserve le soulignement par ligne du lien dans les résultats de recherche
  webapp/templates/ui/components/search/search_result.html
Due: none

Renforcement de l'admin et adaptation des tests
  data-platform/dags/sources/tasks/business_logic/keep_acteur_changed.py
  data-platform/dags/tests/sources/tasks/transform/test_transform_column.py
  data-platform/dags/tests/utils/test_data_serialize_reconstruct.py
  webapp/qfdmo/admin/acteur.py
  webapp/unit_tests/qfdmo/acteur_factory.py
  webapp/unit_tests/qfdmo/test_acteur.py
  webapp/unit_tests/qfdmo/test_proposition_service.py
Due: ruff, ruff-format, djade

Update db_mapping.json
  data-platform/dags/sources/config/db_mapping.json
Due: none

Update db_mapping.json (#2829)
  data-platform/dags/sources/config/db_mapping.json
Due: none

deploy: b0b544f0050c427f7a9a3317553ec016545b58bb
  .doctrees/environment.pickle
Due: none

adaptation des tests
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/prepare.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_suggestions_prepare.py
  data-platform/dags/tests/shared/tasks/airflow_logic/test_packages_compatibility.py
  data-platform/dags/tests/utils/test_data_serialize_reconstruct.py
Due: ruff, ruff-format, djade

resolve uv conflict
  data-platform/uv.lock
Due: none

adaptation to avoid define a new XCom backend
  data-platform/dags/.env.template
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/shared/tasks/airflow_logic/trigger_dag_task.py
  data-platform/dags/shared/xcom/dataframe_xcom_backend.py
  data-platform/dags/shared/xcom/normalize.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  data-platform/dags/tools/dags/purge_log_db.py
  data-platform/scripts/db_cleanup.sh
  data-platform/scripts/infrastructure/purge_db_logs.sh
  docker-compose.yml
Due: ruff, ruff-format, djade

doc d'un cas specifique
  docs/how-to/troubleshooting.md
Due: prettier

quelques adaptations
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver-start.sh
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: none

adaptation des dockerfile
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
Due: none

add airflow infrastructure to preprod and prod
  infrastructure/environments/preprod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/airflow_containers/terraform.tfvars.example
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/container/terraform.tfvars.example
  infrastructure/environments/preprod/container/terragrunt.hcl
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/prod/airflow_containers/terraform.tfvars.example
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/container/terraform.tfvars.example
  infrastructure/environments/prod/container/terragrunt.hcl
  infrastructure/environments/prod/database/terragrunt.hcl
Due: none

cast column to avoid numpy error while save in DB
  data-platform/dags/sources/tasks/business_logic/db_data_prepare.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/sources/tasks/business_logic/source_data_validate.py
  data-platform/dags/sources/tasks/transform/sequence_utils.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

infrastructure
  docs/how-to/troubleshooting.md
  infrastructure/environments/airflowv3/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/airflowv3/airflow_containers/terraform.tfvars.example
  infrastructure/environments/airflowv3/airflow_containers/terragrunt.hcl
  infrastructure/environments/airflowv3/database/.terraform.lock.hcl
  infrastructure/environments/airflowv3/database/terraform.tfvars.example
  infrastructure/environments/airflowv3/database/terragrunt.hcl
  infrastructure/environments/airflowv3/object_storage/.terraform.lock.hcl
  infrastructure/environments/airflowv3/object_storage/terraform.tfvars.example
  infrastructure/environments/airflowv3/object_storage/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/airflow-webserver.tf
  infrastructure/modules/airflow_containers/namespace.tf
  infrastructure/modules/airflow_containers/variables.tf
  infrastructure/modules/database/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
  scripts/sql/create_remote_warehouse_in_webapp.sql
  scripts/sql/create_remote_webapp_in_warehouse.sql
Due: prettier

gestion des XCOM avec un backend custom
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_normalize.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  data-platform/dags/shared/xcom/__init__.py
  data-platform/dags/shared/xcom/dataframe_xcom_backend.py
Due: ruff, ruff-format, djade

relecure
  data-platform/dags/cluster/config/constants.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_prepare_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
Due: ruff, ruff-format, djade

Ajout des etapes de CI/CD pour dag-processor
  .github/workflows/_airflow-build-and-push-docker.yml
  .github/workflows/_deploy-airflow.yml
Due: none

Gestion des configurations des dags de type source
  data-platform/dags/sources/dags/source_aliapur.py
  data-platform/dags/sources/dags/source_batribox.py
  data-platform/dags/sources/dags/source_citeo.py
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_corepile.py
  data-platform/dags/sources/dags/source_cyclevia.py
  data-platform/dags/sources/dags/source_ecodds.py
  data-platform/dags/sources/dags/source_ecologic.py
  data-platform/dags/sources/dags/source_ecomaison.py
  data-platform/dags/sources/dags/source_ecopae.py
  data-platform/dags/sources/dags/source_ecosystem.py
  data-platform/dags/sources/dags/source_ocab.py
  data-platform/dags/sources/dags/source_ocad3e.py
  data-platform/dags/sources/dags/source_pharmacies.py
  data-platform/dags/sources/dags/source_pyreo.py
  data-platform/dags/sources/dags/source_refashion.py
  data-platform/dags/sources/dags/source_s3.py
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/dags/source_soren.py
  data-platform/dags/sources/dags/source_valdelia.py
Due: ruff, ruff-format, djade

format
  data-platform/dags/clone/config/__init__.py
  data-platform/dags/clone/tasks/airflow_logic/clone_config_create_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_old_tables_remove_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_table_create_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_table_validate_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_view_in_use_switch_task.py
  data-platform/dags/clone/tasks/business_logic/clone_table_validate.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/e2e_tests/e2e_utils.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_view_in_use_switch.py
  data-platform/dags/tests/cluster/config/test_model.py
Due: ruff, ruff-format, djade

Update de source généric
  data-platform/dags/sources/dags/source_generic.py
Due: ruff, ruff-format, djade

gestion des depreciations
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_model_table_consistency_task.py
  data-platform/dags/clone/dags/refresh_geo_models.py
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_read_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_failing_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_check_crawl_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_read_urls_from_db_task.py
  data-platform/dags/enrich/config/xcoms.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_model_suggest_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_refresh_task.py
  data-platform/dags/shared/tasks/airflow_logic/trigger_dag_task.py
  data-platform/dags/stats/dags/compute_stats.py
  data-platform/dags/suggestions/dags/apply_suggestions.py
  data-platform/dags/suggestions/dags/apply_suggestions_groupe.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

Migration airflow v3: docker et pyproject.toml
  data-platform/airflow-dag-processor-start.sh
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/dags/.airflowignore
  data-platform/dags/.env.template
  data-platform/pyproject.toml
  docker-compose.yml
Due: none

wip
  data-platform/dags/enrich/tasks/airflow_logic/enrich_config_create_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_model_suggest_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_refresh_task.py
  data-platform/dags/shared/types/serializers.py
  data-platform/dbt/models/marts/enrich/marts_enrich_acteurs_closed_candidates.sql
  docker-compose.yml
  docs/reference/data-platform/airflow.md
Due: ruff, ruff-format, djade, prettier

adapt deploiement
  data-platform/airflow-scheduler.Dockerfile
  data-platform/dags/.env.template
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  docker-compose.yml
  infrastructure/environments/airflowv3/airflow_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/airflow-webserver.tf
  infrastructure/modules/airflow_containers/variables.tf
Due: ruff, ruff-format, djade

gestion des xcom_pulls
  data-platform/dags/clone/config/xcoms.py
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/enrich/config/xcoms.py
  data-platform/dags/enrich/tasks/airflow_logic/db_write_cp_suggestions_task.py
  data-platform/dags/enrich/tasks/airflow_logic/normalize_acteur_cp_task.py
  data-platform/dags/shared/xcom/pull.py
  data-platform/dags/sources/config/xcoms.py
  data-platform/dags/sources/tasks/airflow_logic/db_data_prepare_task.py
  data-platform/dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  data-platform/dags/sources/tasks/airflow_logic/keep_acteur_changed_task.py
  data-platform/dags/sources/tasks/airflow_logic/source_data_normalize_task.py
  data-platform/dags/sources/tasks/airflow_logic/source_data_validate_task.py
Due: ruff, ruff-format, djade
