Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

deploy: c24df114d597fecdcf9167eec937d9094cd51bf3
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 503775bd4cca12c4c11629b596e9b08a23750129
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: f85776a718e2beb19c98f26f2115ff5b010219dd
  .doctrees/environment.pickle
Due: none

deploy: 3689fa2d997f17f8f7099a23adb209065fa2ae53
  .doctrees/environment.pickle
Due: none

deploy: 71bf991c4341e18d7b83d9b0bf4cd28e213e820d
  .doctrees/environment.pickle
Due: none

deploy: 1c195ff5f83e263093ca299db28c760a6b0c22e7
  .doctrees/environment.pickle
Due: none

deploy: 1984507ce445fab5ef8f6d201cd454195c103456
  .doctrees/environment.pickle
Due: none

deploy: e5aeabe6bec0fa34dde35b4da4ad2718b7f0e799
  .doctrees/environment.pickle
Due: none

deploy: d69988f7af1dc411ccb4c3cdd93e58da8aeae559
  .doctrees/environment.pickle
Due: none

deploy: bf9a73ee8af1bb0179c934ab92df64496644f85e
  .doctrees/environment.pickle
Due: none

deploy: ee1a81f83f4a76bcc4206276a353b7250c56bb68
  .doctrees/environment.pickle
Due: none

SuggestionGroupe: ne pas remplacer la valeur éditée
  webapp/data/models/suggestions/source.py
Due: ruff, ruff-format, djade

Ré-appliquer les splits par fuzzy et par distance après la division par intra-source
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters.py
Due: ruff, ruff-format, djade

SuggestionGroupe: ne pas remplacer la valeur éditée (#2802)
  webapp/data/models/suggestions/source.py
Due: ruff, ruff-format, djade

deploy: 6aaaa26c318fffd2b66fb5652c00ae8d56ed227d
  .doctrees/environment.pickle
Due: none

Ajout de filtre has_correction
  webapp/data/admin.py
  webapp/data/models/suggestion.py
  webapp/unit_tests/data/models/test_suggestion.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

Ajout de filtre has_correction (#2801)
  webapp/data/admin.py
  webapp/data/models/suggestion.py
  webapp/unit_tests/data/models/test_suggestion.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

deploy: 278cc375073c53e7818341aa23a954a7d04a4522
  .doctrees/environment.pickle
Due: none

Ajout du filtre des suggestion groupe quand il a un suggestion unitaire sur un champ donné
  webapp/data/admin.py
  webapp/data/models/suggestions/abstract.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

Ajout du filtre des suggestion groupe quand il a un suggestion unitaire sur un champ donné (#2796)
  webapp/data/admin.py
  webapp/data/models/suggestions/abstract.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

deploy: 17a82561bb5102edf1639ef19ad72a5fbd6b63cb
  .doctrees/environment.pickle
Due: none

Calcule des différences de propositions de service entre acteur et revision
  data-platform/dbt/models/base/acteurs/schema.yml
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_acteur.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_revision.sql
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/stats/int_propositionservice_sous_categories_with_revision.sql
  data-platform/dbt/models/intermediate/stats/int_propositonservices_with_revision.sql
  data-platform/dbt/models/intermediate/stats/int_revisionpropositonservice_sous_categories_with_acteur.sql
  data-platform/dbt/models/intermediate/stats/int_revisionpropositonservices_with_acteur.sql
  data-platform/dbt/models/intermediate/stats/schema.yml
  data-platform/dbt/models/marts/stats/marts_acteur_vs_revision_propositon_services.sql
  data-platform/dbt/models/marts/stats/schema.yml
  dbt/models/exposure/stats/schema.yml
Due: none

Calcule des différences de propositions de service entre acteur et revision (#2539)
  data-platform/dbt/models/base/acteurs/schema.yml
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_acteur.sql
  data-platform/dbt/models/exposure/stats/exposure_stats_proposionservice_only_on_revision.sql
  data-platform/dbt/models/exposure/stats/schema.yml
  data-platform/dbt/models/intermediate/stats/int_propositionservice_sous_categories_with_revision.sql
  data-platform/dbt/models/intermediate/stats/int_propositonservices_with_revision.sql
  data-platform/dbt/models/intermediate/stats/int_revisionpropositonservice_sous_categories_with_acteur.sql
  data-platform/dbt/models/intermediate/stats/int_revisionpropositonservices_with_acteur.sql
  data-platform/dbt/models/intermediate/stats/schema.yml
  data-platform/dbt/models/marts/stats/marts_acteur_vs_revision_propositon_services.sql
  data-platform/dbt/models/marts/stats/schema.yml
  dbt/models/exposure/stats/schema.yml
Due: none

deploy: 45f3be8912cc51f7d65c48930cefaf6825d91a6c
  .doctrees/environment.pickle
Due: none

deploy: 4f7080de567e3c343595e393702c5b27759624bf
  .doctrees/environment.pickle
Due: none

Mock BAN proxy in mode_liste e2e to stabilize address search
  webapp/e2e_tests/mode_liste.spec.ts
Due: prettier

Fix carte UTM e2e test by searching to surface pinpoint links
  webapp/e2e_tests/analytics.spec.ts
Due: prettier

Fix two carte e2e tests unrelated to autocomplete
  webapp/e2e_tests/carte.spec.ts
Due: prettier

deploy: e3db54bc18147eae32b90661b059d8079255756c
  .doctrees/environment.pickle
Due: none

Correction de tests e2e (#2806)
  webapp/e2e_tests/analytics.spec.ts
  webapp/e2e_tests/carte.spec.ts
  webapp/e2e_tests/mode_liste.spec.ts
Due: prettier

deploy: 97c71784dcd13823b013e0e37df5ef6fc5592c3e
  .doctrees/environment.pickle
Due: none

ci: shorten Actions cache lifetime to keep under the 10 GB budget
  .github/workflows/cleanup-pr-caches.yml
  .github/workflows/prune-old-caches.yml
Due: none

sites conformes upgrade
  webapp/core/settings.py
  webapp/pyproject.toml
  webapp/uv.lock
Due: ruff, ruff-format, djade

updateb
  webapp/pyproject.toml
  webapp/templates/sites_conformes_core/base.html
  webapp/uv.lock
Due: none

update
  webapp/templates/base.html
Due: none

Suppression de fichier inutil
  APPLICATION.md
  dbt/models/exposure/stats/schema.yml
  uv.lock
Due: prettier

missing migrations
  webapp/qfdmd/migrations/0083_alter_produitindexpage_body_alter_produitpage_body.py
Due: ruff, ruff-format, djade

Suppression de fichier inutil (#2823)
  APPLICATION.md
  dbt/models/exposure/stats/schema.yml
  uv.lock
Due: prettier

deploy: 6060038d17cd19dc399a5292c55f910feb91af4c
  .doctrees/environment.pickle
Due: none

Airflow Source : default False pour les booleens de la classe Acteur
  data-platform/dags/sources/tasks/business_logic/keep_acteur_changed.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  webapp/qfdmo/migrations/0191_alter_acteur_exclusivite_de_reprisereparation_and_more.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade
