Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

deploy: 8925fa710dbdb6205b5d53a30069bbaf56f4f7c9
  .doctrees/environment.pickle
Due: none

deploy: 6d6d0d05876c63947c70e0d70845048e4943d392
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: d61890e2f81bbebccd5695ef7a7e104e57c547b2
  .doctrees/environment.pickle
Due: none

deploy: 58282d0fd6213484fcdf29d6cb47fc31af5971c8
  .doctrees/environment.pickle
Due: none

Wip
  webapp/e2e_tests/search.spec.ts
Due: prettier

set up db port through env variable
  Makefile
  docker-compose.yml
  docs/how-to/development/installation.md
  webapp/.env.template
  webapp/Makefile
Due: prettier

replace suggestions
  webapp/previews/widgets.py
Due: ruff, ruff-format, djade

Use proper django forms
  webapp/assistant/forms.py
  webapp/assistant/views/geojson.py
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade

forward http to lookbook
  servers.conf.erb
  webapp/settings/base.py
Due: ruff, ruff-format, djade

Carte : suite de la revue
  webapp/assistant/apps.py
  webapp/assistant/tests/__init__.py
  webapp/assistant/views/geojson.py
  webapp/core/storage.py
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/previews/template_preview.py
  webapp/previews/widgets.py
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
  webapp/settings/base.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/controllers/assistant/chrono_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.test.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.ts
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/static/to_compile/maplibre-worker.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/django_lookbook/preview.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade, prettier

Update comments
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Use native geodjango for knn operator
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

read from db the gestes
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

Potential fix for pull request finding 'CodeQL / Information exposure through an exception'
  webapp/assistant/views/geojson.py
Due: ruff, ruff-format, djade

Assistant V2 : coquille (routes, vues, écrans)
  docs/reference/webapp/README.md
  docs/reference/webapp/assistant.md
  webapp/assistant/consignes.py
  webapp/assistant/forms.py
  webapp/assistant/lieu.py
  webapp/assistant/parcours.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/mixins.py
  webapp/assistant/views/pages.py
  webapp/package.json
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/quefaire.ts
  webapp/templates/django_lookbook/preview.html
  webapp/templates/sites_conformes_core/base.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/entete_parcours.html
  webapp/templates/ui/components/assistant/panneau_recherche.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/error.html
  webapp/templates/ui/layout/quefaire.html
  webapp/templates/ui/layout/turbo.html
  webapp/templates/ui/pages/assistant/home.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/produit.html
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/templates/ui/pages/home.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/pages/produit_index_page.html
  webapp/templates/ui/pages/produit_page.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/assistant/test_lieu.py
  webapp/unit_tests/assistant/test_pages.py
  webapp/unit_tests/assistant/test_recherche_parcours.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Formatage Black du fichier de previews
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

Assistant : corrections issues de la revue
  webapp/assistant/objets.py
  webapp/assistant/parcours.py
  webapp/assistant/views/pages.py
  webapp/qfdmo/models/acteur.py
  webapp/templates/ui/layout/quefaire.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade

Carte : rafraîchir dès la fin du déplacement, sans temporisation
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Carte : le message d'état prend le style du composant alerte
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
Due: prettier

Fiche objet : les trois blocs de la maquette, un bloc peut couvrir deux gestes
  webapp/assistant/consignes.py
  webapp/assistant/views/pages.py
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/assistant/test_geojson.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Assistant V2 : API publique v1, l'assistant en est le premier client
  docs/reference/apis/README.md
  docs/reference/apis/v1.md
  docs/reference/webapp/assistant.md
  webapp/assistant/adresses.py
  webapp/assistant/api.py
  webapp/assistant/forms.py
  webapp/assistant/objets.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/adresse.py
  webapp/assistant/views/geojson.py
  webapp/assistant/views/recherche.py
  webapp/core/api.py
  webapp/core/urls.py
  webapp/previews/template_preview.py
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/templates/ui/components/assistant/recherche_objet.md
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_adresse.py
  webapp/unit_tests/assistant/test_api.py
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade, prettier

Assistant : plus de largeur maximale sur les conteneurs d'écran
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Carte : afficher correctement les punaises « donner »
  webapp/static/to_compile/images/assistant/pinpoints/icone-don.svg
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Carte : conserver les lieux chargés au fil de l'exploration
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Carte : supprimer les sauts au dézoom
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.md
Due: prettier

Solutions : aligner l'écran sur la maquette (30141:8703)
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/images/assistant/ui/chevron-droite.svg
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/pages/assistant/solutions.html
Due: prettier

Assistant : plus d'aperçu depuis le cache Turbo, les transitions tenaient une seule visite
  docs/reference/webapp/assistant.md
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/templates/ui/layout/assistant.html
  webapp/unit_tests/assistant/test_pages.py
Due: ruff, ruff-format, djade, prettier

Assistant : les listes de suggestions repassent au-dessus de la carte
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Carte : les punaises apparaissent et disparaissent en fondu
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant : le champ d'adresse glisse d'un écran à l'autre, sans fondu
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Assistant : Turbo Drive, transitions d'écran et carte permanente
  docs/reference/webapp/assistant.md
  webapp/assistant/views/mixins.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
  webapp/templates/ui/components/assistant/carte_canvas.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/solutions.html
  webapp/unit_tests/assistant/test_pages.py
  webapp/unit_tests/assistant/test_solutions.py
Due: ruff, ruff-format, djade, prettier

Assistant : le bouton vert reste en place entre solutions et lieu
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bouton_changer_geste.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/solutions.html
Due: prettier

Compteur : servi par l'API v1
  docs/reference/apis/v1.md
  docs/reference/webapp/assistant.md
  webapp/assistant/api.py
  webapp/assistant/compte.py
  webapp/assistant/consignes.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/compte.py
  webapp/unit_tests/assistant/test_compte.py
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Compteur : les erreurs 400 ne renvoient plus le slug saisi
  webapp/assistant/views/compte.py
  webapp/unit_tests/assistant/test_compte.py
Due: ruff, ruff-format, djade

Carte : garder la vue de l'usager tant que l'adresse ne change pas
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
Due: prettier

Fiche : le nombre de solutions à proximité dans chaque bouton
  docs/reference/webapp/assistant.md
  webapp/assistant/consignes.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/compte.py
  webapp/static/to_compile/controllers/assistant/compteur_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
  webapp/unit_tests/assistant/test_compte.py
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Carte : cadrer la vue sur les premiers lieux trouvés autour de l'adresse
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
Due: prettier
