Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

a11y(carte): ajoute des légendes pertinentes dans la modale filtres
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/qfdmo/forms.py
  webapp/templates/dsfr/form_field_snippets/segmented_control_snippet.html
Due: ruff, ruff-format, djade, prettier

fix: stop pinpoint clicks from reloading the carte under A/B test
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
Due: prettier

a11y(carte): corrige le niveau de titre des sections de la fiche acteur
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/acteur/tabs/_section.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): nettoie les attributs restants du tooltip de partage
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/acteur/_action_share.html
Due: ruff, ruff-format, djade, prettier

a11y(carte): ajoute une alternative textuelle à l'illustration mode liste vide
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/carte/mode_liste.html
Due: prettier

a11y(carte): utilise une balise sémantique pour la date de mise à jour
  webapp/e2e_tests/a11y_rgaa.spec.ts
  webapp/templates/ui/components/acteur/tabs/sections/meta.html
Due: prettier

Ajout de la geodistance qui manquait
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/clustering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

simplify share following mockups
  webapp/previews/template_preview.py
  webapp/templates/ui/components/footer/base.iframe.html
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/pages/produit_page.html
  webapp/templates/ui/snippets/share_and_embed.html
Due: ruff, ruff-format, djade

Potential fix for code scanning alert no. 228: Cache Poisoning via execution of untrusted code
  .github/workflows/_e2e.yml
Due: none

Potential fix for code scanning alert no. 227: Cache Poisoning via execution of untrusted code
  .github/workflows/_e2e.yml
Due: none

Potential fix for code scanning alert no. 224: Cache Poisoning via execution of untrusted code
  .github/workflows/_e2e.yml
Due: none

Potential fix for code scanning alert no. 223: Cache Poisoning via execution of untrusted code
  .github/workflows/_e2e.yml
Due: none

Missing templates
  webapp/templates/ui/components/surfooter/base.html
  webapp/templates/ui/components/surfooter/base.iframe.html
  webapp/templates/ui/components/surfooter/surfooter.html
Due: none

Scripts de migartion des produits legacy
  webapp/Dockerfile
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Add genre/nombre assignment
  webapp/qfdmd/genre_nombre.csv
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

hmmm
  webapp/Dockerfile
Due: none

Remove useless commands
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
Due: ruff, ruff-format, djade

WIP
  webapp/qfdmd/wagtail_hooks.py
Due: ruff, ruff-format, djade

Improve spacing around carte block
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte.html
Due: prettier

Increase spacing around titles
  webapp/templates/ui/pages/produit_page.html
Due: none

Ajout d'un nouveau type de cluster dans la création du jeu de données
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/create_nearby_clusters_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/create_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/drop_nearby_clusters_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/nearby_clusters.sql
  ml_deduplication/ml_deduplication/dataset/sql/singleton_entities.sql
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
Due: ruff, ruff-format, djade

Correction oubli de méthode
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
Due: ruff, ruff-format, djade

Mis à jour du blocking pour de meilleures performances
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
Due: ruff, ruff-format, djade

Execution des commandes django dans webapp lors de la synchro des DB
  .github/workflows/sync_databases.yml
Due: none

use gthread workers for gunicorn on Scalingo
  bin/start
Due: none

Performances : utilisation des workers gunicorn gthread (#3362)
  bin/start
Due: none

deploy: 0056bfacbc8ee5eaa0e871ee1b1a14f522457ac1
  .doctrees/environment.pickle
Due: none

Make things a bit faster
  .github/workflows/sync_databases.yml
  Makefile
  scripts/infrastructure/backup-db.sh
Due: none

Passe d'optimisation
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
Due: ruff, ruff-format, djade

fix(settings): actually apply CONN_MAX_AGE to the default database
  webapp/settings/base.py
Due: ruff, ruff-format, djade

Execution des commandes django dans webapp lors de la synchro des DB (#3363)
  .github/workflows/sync_databases.yml
  Makefile
  scripts/infrastructure/backup-db.sh
Due: none

Performances : Appliquer CONN_MAX_AGE aux connexions en base de données (#3364)
  webapp/settings/base.py
Due: ruff, ruff-format, djade

Résolution de l'ordre des taches du compute_acteurs
  data-platform/dags/acteurs/dags/compute_acteur.py
Due: ruff, ruff-format, djade

deploy: 594da9f9d1bcdf1b56e302c25dbc150a6ac370d8
  .doctrees/environment.pickle
Due: none

deploy: 22a7f7701ea510d0c5e95267ada00e7c6e2deec6
  .doctrees/environment.pickle
Due: none

mise à jour de Apache Airflow en version 3.3.1
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  uv.lock
Due: none

deploy the webapp to Scaleway containers
  .github/workflows/_deploy-webapp-scaleway.yml
  .github/workflows/deploy-webapp-scaleway.yml
  infrastructure/environments/preprod/webapp_container/terragrunt.hcl
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/environments/prod/webapp_container/terragrunt.hcl
  infrastructure/modules/webapp_container/main.tf
  infrastructure/modules/webapp_container/namespace.tf
  infrastructure/modules/webapp_container/outputs.tf
  infrastructure/modules/webapp_container/variables.tf
  infrastructure/modules/webapp_container/worker.tf
  servers.conf.erb
  webapp/Dockerfile
  webapp/bin/entrypoint.sh
Due: none

Résolution de l'ordre des taches du compute_acteurs (#3366)
  data-platform/dags/acteurs/dags/compute_acteur.py
Due: ruff, ruff-format, djade

mise à jour de Apache Airflow en version 3.3.1 (#3351)
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  uv.lock
Due: none
