Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

utilisation des constantes définit dans Django
  dags/sources/dags/source_cma.py
Due: ruff, ruff-format, djade

Rename
  core/settings.py
  core/urls.py
  dags/acteurs/tasks/business_logic/copy_db_data.py
  previews/template_preview.py
  pyproject.toml
  qfdmd/blocks.py
  qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
  qfdmd/migrations/0037_produitpage_produitindexpage_reusablecontent_and_more.py
  qfdmd/migrations/0038_produitpage_infotri_alter_produitpage_body.py
  qfdmd/migrations/0043_alter_produitpage_body.py
  qfdmd/migrations/0046_alter_produitpage_body.py
  qfdmd/migrations/0047_alter_produitpage_body.py
  qfdmd/migrations/0048_alter_produitpage_body.py
  qfdmd/migrations/0049_alter_produitpage_body.py
  qfdmd/migrations/0050_bonus_produitpage_disable_bonus_inheritance_and_more.py
  qfdmd/migrations/0053_produitpage_sous_categorie_objet_and_more.py
  qfdmd/migrations/0056_alter_produitpage_body.py
  qfdmd/migrations/0058_alter_produitpage_body.py
  qfdmd/migrations/0059_alter_produitpage_body.py
  qfdmd/migrations/0060_alter_produit_options_alter_synonyme_options_and_more.py
  qfdmd/migrations/0064_alter_produitindexpage_body_alter_produitpage_body.py
  qfdmd/migrations/0071_remove_produitpage_bonus_and_more.py
  qfdmd/models.py
  qfdmd/signals.py
  templates/sites_conformes_content_manager/blocks/breadcrumbs.html
  templates/sites_conformes_content_manager/blocks/tabs.html
  templates/ui/pages/home.html
  templates/ui/pages/produit_page.html
  uv.lock
Due: ruff, ruff-format, djade

Use sites conformes
  pyproject.toml
  qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
  qfdmd/migrations/0074_alter_produitindexpage_body_alter_produitpage_body.py
  uv.lock
Due: ruff, ruff-format, djade

Improve
  qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
Due: ruff, ruff-format, djade

oubli
  bin/post_deploy
Due: none

Fix script for our usage
  qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
Due: ruff, ruff-format, djade

fix script
  qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
Due: ruff, ruff-format, djade

Mise à jour de Sites Faciles > Sites Conformes (#2544)
  core/settings.py
  core/urls.py
  dags/acteurs/tasks/business_logic/copy_db_data.py
  previews/template_preview.py
  pyproject.toml
  qfdmd/blocks.py
  qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
  qfdmd/migrations/0037_produitpage_produitindexpage_reusablecontent_and_more.py
  qfdmd/migrations/0038_produitpage_infotri_alter_produitpage_body.py
  qfdmd/migrations/0043_alter_produitpage_body.py
  qfdmd/migrations/0046_alter_produitpage_body.py
  qfdmd/migrations/0047_alter_produitpage_body.py
  qfdmd/migrations/0048_alter_produitpage_body.py
  qfdmd/migrations/0049_alter_produitpage_body.py
  qfdmd/migrations/0050_bonus_produitpage_disable_bonus_inheritance_and_more.py
  qfdmd/migrations/0053_produitpage_sous_categorie_objet_and_more.py
  qfdmd/migrations/0056_alter_produitpage_body.py
  qfdmd/migrations/0058_alter_produitpage_body.py
  qfdmd/migrations/0059_alter_produitpage_body.py
  qfdmd/migrations/0060_alter_produit_options_alter_synonyme_options_and_more.py
  qfdmd/migrations/0064_alter_produitindexpage_body_alter_produitpage_body.py
  qfdmd/migrations/0071_remove_produitpage_bonus_and_more.py
  qfdmd/migrations/0074_alter_produitindexpage_body_alter_produitpage_body.py
  qfdmd/models.py
  qfdmd/signals.py
  templates/sites_conformes_content_manager/blocks/breadcrumbs.html
  templates/sites_conformes_content_manager/blocks/tabs.html
  templates/ui/pages/home.html
  templates/ui/pages/produit_page.html
  uv.lock
Due: ruff, ruff-format, djade

deploy: 7fca43df0d288f6ac0c0a2077953ccb0df9defd9
  .doctrees/environment.pickle
Due: none

Pas besoin de modifier le sys.path
  dags/airflow_local_settings.py
Due: ruff, ruff-format, djade

Revert "add margin to see if this changes anything"
  templates/ui/components/produit/_infotri.html
Due: none

Remove useless upload
  .github/workflows/_e2e.yml
Due: none

merge
  templates/django_lookbook/preview.html
  templates/ui/layout/assistant.html
Due: none

enable notice
  templates/ui/layout/assistant.html
Due: none

Detection des corrections affichées avec des acteurs inactif (#2522)
  dbt/models/exposure/stats/exposure_stats_acteur_revision_statut.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/intermediate/stats/int_acteur_with_revision.sql
  dbt/models/intermediate/stats/int_revision_with_acteur.sql
  dbt/models/intermediate/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_revision_statut.sql
  dbt/models/marts/stats/schema.yml
Due: none

deploy: 91546ced9557bd1110bb3612927677dcb230cb24
  .doctrees/environment.pickle
Due: none

Corrige une erreur 500 au clic sur un synonyme
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/components/produit/heading.html
Due: ruff, ruff-format, djade

namespace sites conformes
  pyproject.toml
  templates/django_lookbook/preview.html
  templates/sites_conformes/base.html
  templates/ui/layout/assistant.html
  uv.lock
Due: none

wip
  pyproject.toml
  templates/base.html
  templates/django_lookbook/preview.html
  templates/ui/layout/assistant.html
Due: none

revert
  pyproject.toml
  uv.lock
Due: none

add e2e
  e2e_tests/search.spec.ts
Due: prettier

wip
  pyproject.toml
  uv.lock
Due: none

Add synonyme disabled
  qfdmd/migrations/0075_synonyme_disabled.py
  qfdmd/models.py
  search/models.py
  search/wagtail_hooks.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

Ajout de composants sites conformes manquants : bandeau, styles (#2545)
  templates/django_lookbook/preview.html
  templates/ui/layout/assistant.html
Due: none

Update templates/ui/tests/t_16_infotri_configurator.html
  templates/ui/tests/t_16_infotri_configurator.html
Due: none

deploy: 8f079a4d3425629bc975f31b6299ecdb6784e4f9
  .doctrees/environment.pickle
Due: none

Rollback sites conforme
  pyproject.toml
  uv.lock
Due: none

Correctifs Infotri : script, icône (#2543)
  core/templatetags/script_tags.py
  e2e_tests/infotri.spec.ts
  infotri/constants.py
  infotri/views.py
  previews/template_preview.py
  templates/ui/components/infotri/infotri.html
  templates/ui/components/infotri/svg/linge.html
  templates/ui/components/infotri/svg/textile.html
  templates/ui/pages/infotri.html
  templates/ui/tests/t_16_infotri_configurator.html
Due: ruff, ruff-format, djade, prettier

deploy: fd2ff4e05ea53f5bf9c49d82974a2c17142543bf
  .doctrees/environment.pickle
Due: none

add todo
  qfdmd/views.py
Due: ruff, ruff-format, djade

missing migration file
  qfdmd/migrations/0076_alter_synonyme_disabled.py
Due: ruff, ruff-format, djade

exclude synonymes added on other pages
  qfdmd/views.py
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Prevent deploy on production to not run necessary migrations for sites conformes
  bin/post_deploy
Due: none

Homepage
  tailwind.config.js
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
Due: prettier

Reapply "Passage de la recherche objet du header en version DSFR (#2257)" (#2471)
  core/context_processors.py
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/mixins.py
  qfdmd/urls.py
  qfdmd/views.py
  qfdmo/forms.py
  qfdmo/views/carte.py
  qfdmo/widgets.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/header/base.html
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/autocomplete_view.html
  templates/ui/forms/widgets/autocomplete/_results_item.html
  templates/ui/forms/widgets/autocomplete/input.html
  templates/ui/forms/widgets/autocomplete/results.html
  templates/ui/forms/widgets/autocomplete/results_item.html
  templates/ui/forms/widgets/autocomplete/synonyme.html
  templates/ui/forms/widgets/autocomplete/synonyme_results_item.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

add on homepage the dsfr header
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/models.py
  qfdmd/views.py
  templates/ui/components/search/autocomplete_results.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade

Improve styling
  core/context_processors.py
  core/widgets.py
  qfdmd/forms.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

almost perfect
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/search_result.html
  templates/ui/components/search/search_result_produitpage.html
  templates/ui/components/search/search_result_searchtag.html
  templates/ui/components/search/search_result_synonyme.html
Due: prettier

Improve styling
  core/context_processors.py
  qfdmd/forms.py
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/forms/widgets/autocomplete/results.html
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
