Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Revert
  .pre-commit-config.yaml
  data-platform/dags/clone/config/models.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/clone/tasks/business_logic/clone_table_validate.py
  data-platform/dags/clone/tasks/business_logic/clone_view_in_use_switch.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_view_in_use_switch.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, djade

Formatting
  .pre-commit-config.yaml
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_schema.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
  data-platform/pyproject.toml
  pyproject.toml
  uv.lock
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/previews/template_preview.py
  webapp/pyproject.toml
  webapp/qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/management/commands/populate_sous_cat.py
Due: ruff, ruff-format, djade

didadou
  .github/dependabot.yml
Due: none

didadou
  .github/actions/setup-backend/action.yml
  pyproject.toml
  uv.lock
Due: none

hum
  webapp/pyproject.toml
Due: none

Fix unit tests
  webapp/unit_tests/search_tests/test_purge_orphan_searchterm_index.py
Due: ruff, ruff-format, djade

deploy: fae652b88bdd4c79e0e6bed72b59cedc8d1c5589
  .doctrees/environment.pickle
Due: none

deploy: 565a78d7d89dd61e5b85bdccd036df6af8a30c83
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

re-lock
  webapp/uv.lock
Due: none

deploy: d3ca36ba4f83e091d7eb126e38768c9028e756da
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 7b94a4bdc25455b7e66b8a7f0b3f8d10725b6610
  .doctrees/environment.pickle
Due: none

Ajout d'une page qui liste les cohortes et permet d'y accéder
  webapp/data/admin.py
  webapp/data/services.py
  webapp/data/urls.py
  webapp/data/views.py
  webapp/integration_tests/data/test_cohorte_review_acteurs_views.py
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/controllers/admin/djangoql_builder.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/static/to_compile/tests/djangoql_builder.test.ts
  webapp/templates/data/_partials/cohorte_review_acteurs_list.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
  webapp/templates/data/cohorte_review.html
Due: ruff, ruff-format, djade, prettier

POC nouvelle version d'API
  webapp/core/api.py
  webapp/qfdmo/api.py
Due: ruff, ruff-format, djade

On calcule le sample de la DB Webapp à partir de la prod
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_is_prod_env.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_not_prod_env.py
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/database_sample/.terraform.lock.hcl
  infrastructure/environments/prod/database_sample/terraform.tfvars.example
  infrastructure/environments/prod/database_sample/terragrunt.hcl
  infrastructure/modules/database_sample/outputs.tf
Due: ruff, ruff-format, djade

fmt infrastructure
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
Due: none

On calcule le sample de la DB Webapp à partir de la prod (#3069)
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_is_prod_env.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_not_prod_env.py
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/database_sample/.terraform.lock.hcl
  infrastructure/environments/prod/database_sample/terraform.tfvars.example
  infrastructure/environments/prod/database_sample/terragrunt.hcl
  infrastructure/modules/database_sample/outputs.tf
Due: ruff, ruff-format, djade

deploy: db8483f5b27ee1845434c753425f7bf8843cfac8
  .doctrees/environment.pickle
Due: none

Recherche: Panneau debug du score pour les utilisateurs beta (#2852)
  webapp/qfdmd/views.py
  webapp/search/score_breakdown.py
  webapp/templates/ui/components/search/_score_breakdown.html
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/unit_tests/search_tests/test_score_breakdown.py
Due: ruff, ruff-format, djade

deploy: 111565f593fd727e386e3e1c3ffed7e017e63a6b
  .doctrees/environment.pickle
Due: none

processus de review régulière des comptes Django et Airflow
  docs/how-to/team/onboarding-offboarding.md
  docs/reference/security/authentication.md
  docs/reference/security/reviews.md
Due: prettier

deploy: 0d590bb21196909e66820ab34649f3104f9ba2d0
  .doctrees/environment.pickle
Due: none

deploy: ec2a3ae80323dbcdf3769b536cb459ddbed518fa
  .doctrees/environment.pickle
Due: none

add promptfoo
  .gitignore
  promptfoo-audit/.env.example
  promptfoo-audit/promptfooconfig.yaml
  promptfoo-audit/prompts/avec-page.txt
  promptfoo-audit/prompts/sans-page.txt
  promptfoo-audit/run.sh
Due: none

Add docs
  docs/how-to/development/README.md
  docs/how-to/development/promptfoo-audit.md
Due: prettier

wip
  .gitignore
  promptfoo-audit/.env.example
  promptfoo-audit/pages/bonus-reparation.txt
  promptfoo-audit/pages/emballages-verre.txt
  promptfoo-audit/pages/meubles.txt
  promptfoo-audit/promptfooconfig.yaml
  promptfoo-audit/prompts/avec-page.txt
  promptfoo-audit/prompts/sans-page.txt
  promptfoo-audit/run.sh
Due: none

renommage
  webapp/qfdmd/models.py
  webapp/qfdmd/utils.py
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_qfdmd_utils.py
Due: ruff, ruff-format, djade

Rename 'Lire plus sur cette fiche' to 'Voir plus de recommandations'
  .claude/settings.local.json
  .python-version
  promptfoo-audit/pages/emballages-verre.txt
  promptfoo-audit/pages/meubles.txt
  webapp/.claude/settings.local.json
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/integration_tests/assistant/test_synonyme_detail.py
  webapp/qfdmd/utils.py
  webapp/unit_tests/qfdmd/test_produit_page.py
  webapp/unit_tests/qfdmd/test_qfdmd_utils.py
Due: ruff, ruff-format, djade, prettier

bad merge
  .python-version
  webapp/.claude/settings.local.json
Due: none

add break block
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0085_add_break_block_to_streamfield.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

oopsy
  .claude/settings.local.json
  promptfoo-audit/pages/emballages-verre.txt
  promptfoo-audit/pages/meubles.txt
Due: none

Limiter le contenu sur la version iframe de l'assistant (#3013)
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/integration_tests/assistant/test_synonyme_detail.py
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0085_add_break_block_to_streamfield.py
  webapp/qfdmd/models.py
  webapp/qfdmd/utils.py
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_produit_page.py
  webapp/unit_tests/qfdmd/test_qfdmd_utils.py
Due: ruff, ruff-format, djade, prettier

deploy: fed58ae73c95bab6d6ffcef2b6e8b1e32fe018ed
  .doctrees/environment.pickle
Due: none

customise breadcrumb margin on produit page
  webapp/static/to_compile/styles/dsfr-overrides.css
  webapp/templates/ui/pages/produit_page.html
Due: prettier

Réduction des marges sur le fil d'ariane des pages produit (#2993)
  webapp/static/to_compile/styles/dsfr-overrides.css
  webapp/templates/ui/pages/produit_page.html
Due: prettier

deploy: 38a4fd1b30c7493e997872eec71b5c1cb1534a00
  .doctrees/environment.pickle
Due: none

Vérification des comptes Django et Airflow
  docs/reference/security/reviews.md
Due: prettier

Processus de review régulière des comptes Django et Airflow (#3070)
  docs/how-to/team/onboarding-offboarding.md
  docs/reference/security/authentication.md
  docs/reference/security/reviews.md
Due: prettier

deploy: 4052fd06f2ed37ea8f5e98ee458f79a8bc56e177
  .doctrees/environment.pickle
  .doctrees/how-to/team/onboarding-offboarding.doctree
  .doctrees/reference/security/authentication.doctree
  .doctrees/reference/security/reviews.doctree
  _sources/how-to/team/onboarding-offboarding.md.txt
  _sources/reference/security/authentication.md.txt
  _sources/reference/security/reviews.md.txt
  how-to/team/onboarding-offboarding.html
  reference/security/README.html
  reference/security/authentication.html
  reference/security/reviews.html
  searchindex.js
Due: prettier

Recherche: Améliorer le positionnement de l'autocomplete en iframe (#2854)
  webapp/e2e_tests/search.spec.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
  webapp/templates/ui/forms/widgets/autocomplete/results.html
  webapp/templates/ui/layout/assistant.html
Due: prettier

deploy: 76010ea4eefe4f2e7e19f60b51ef80f3b8d1fff0
  .doctrees/environment.pickle
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
