Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Make methods private
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

Remove leftover
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

add search on mobile as well
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
Due: none

Hide logo under a certain breakpoint
  templates/ui/components/header/header.html
Due: none

Ajout des liens d'évitement
  core/context_processors.py
  templates/ui/layout/assistant.html
Due: ruff, ruff-format, djade

Update anchor
  core/context_processors.py
  templates/ui/layout/assistant.html
Due: ruff, ruff-format, djade

Accessibilité : Ajout des liens d'évitement (#2400)
  core/context_processors.py
  templates/ui/layout/assistant.html
Due: ruff, ruff-format, djade

deploy: 24467be7e283a02fc2cc9dde50cf1ba0c6111099
  .doctrees/environment.pickle
Due: none

Permettre d'exporter les Sources et les Sous-catégories
  qfdmo/admin/acteur.py
  qfdmo/admin/categorie_objet.py
Due: ruff, ruff-format, djade

format
  qfdmo/admin/acteur.py
Due: ruff, ruff-format, djade

Permettre d'exporter les Sources et les Sous-catégories (#2380)
  qfdmo/admin/acteur.py
  qfdmo/admin/categorie_objet.py
Due: ruff, ruff-format, djade

deploy: 9fd03ace7ebc464100d633841b524f2dd3f0899f
  .doctrees/environment.pickle
Due: none

deploy: aea871da57205012d16034c597b0bfc0c247ea2f
  .doctrees/environment.pickle
Due: none

deploy: 1d21086249340aa1703903b989b4749b5d98fbf2
  .doctrees/environment.pickle
Due: none

Fix search label placement
  templates/ui/components/header/header.html
Due: none

Fix form not being rendered in modal
  templates/ui/components/header/header.html
Due: none

Améliorer la gestion du mode debug de posthog
  core/templatetags/analytics_tags.py
  templates/ui/analytics/posthog_data_attributes.html
Due: ruff, ruff-format, djade

Fix container id not being set in carte config tabs
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Improve resilience of geolocation
  static/to_compile/controllers/carte/address_autocomplete_controller.ts
Due: prettier

Skip legacy redirect if inside an iframe
  qfdmd/middleware.py
  static/to_compile/js/iframe_functions.ts
Due: ruff, ruff-format, djade, prettier

Ajout de la relation sous categories sur le formulaire d'édition d'un produit
  qfdmd/admin.py
Due: ruff, ruff-format, djade

Add in list view
  qfdmd/admin.py
Due: ruff, ruff-format, djade

Use same classname wrapper for the infotri
  previews/template_preview.py
  templates/ui/components/produit/legacy_heading.html
  templates/ui/components/produit/legacy_heading.md
  templates/ui/pages/produit.html
Due: ruff, ruff-format, djade, prettier

Apply last class
  templates/ui/pages/produit.html
Due: none

Remove leftover
  previews/template_preview.py
Due: ruff, ruff-format, djade

Ajoute le bouton infos à la modale des filtres
  templates/ui/components/modals/_modal_button.html
  templates/ui/components/modals/base.html
  templates/ui/components/modals/filtres.html
Due: none

Adapt the new approach
  core/templatetags/modal_tags.py
  templates/ui/components/carte/header.html
  templates/ui/components/carte/legend.html
  templates/ui/components/carte/mode_liste.html
Due: ruff, ruff-format, djade

Remove leftover
  templates/ui/components/modals/filtres.html
Due: none

WIP
  core/templatetags/carte_tags.py
  static/to_compile/controllers/shared/dsfr_controller.ts
  static/to_compile/js/carte.ts
  templates/ui/layout/assistant.html
  templates/ui/layout/base.html
Due: ruff, ruff-format, djade, prettier

revert
  core/templatetags/carte_tags.py
  static/to_compile/controllers/shared/dsfr_controller.ts
  static/to_compile/js/carte.ts
  templates/ui/layout/assistant.html
  templates/ui/layout/base.html
Due: ruff, ruff-format, djade, prettier

Update constants.py
  infotri/constants.py
Due: ruff, ruff-format, djade

Make acteur name clickable
  core/templatetags/carte_tags.py
  templates/ui/components/acteur/acteur_labels.html
  templates/ui/components/acteur/acteur_table_name.html
Due: ruff, ruff-format, djade

formatting
  infotri/constants.py
Due: ruff, ruff-format, djade

Nouvelle page d'accueil (#2402)
  Makefile
  core/settings.py
  integration_tests/assistant/test_home.py
  previews/template_preview.py
  qfdmd/admin.py
  qfdmd/fixtures/suggestions.json
  qfdmd/migrations/0069_delete_suggestion.py
  qfdmd/models.py
  qfdmd/views.py
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
  unit_tests/qfdmd/qfdmod_factory.py
Due: ruff, ruff-format, djade

deploy: be837573a5ec03cbb34ec4446d19001b8b7b07ce
  .doctrees/environment.pickle
Due: none

Améliorer le support de la carte bonus réparation legacy (#2392)
  e2e_tests/carte_config.spec.ts
  e2e_tests/helpers.ts
  previews/template_preview.py
  pyproject.toml
  qfdmo/admin/config.py
  qfdmo/forms.py
  qfdmo/migrations/0188_carteconfig_cacher_filtre_objet_carteconfig_test.py
  qfdmo/models/config.py
  qfdmo/views/carte.py
  templates/ui/tests/t_10_bonus_legacy_parameter_script.html
  templates/ui/tests/t_11_cacher_filtre_objet.html
  templates/ui/tests/t_12_default_filtre_objet.html
  templates/ui/tests/t_9_bonus_legacy_parameter_iframe.html
Due: ruff, ruff-format, djade, prettier

deploy: 61fa80f793576bd640a4f1c4607fd7b6722785ee
  .doctrees/environment.pickle
Due: none

deploy: 05dcaebf310b1627154fdbe80cc0f6536c9976b1
  .doctrees/environment.pickle
Due: none

deploy: 45b3a04e75dfc774d242851c0afb5f1b87bda53b
  .doctrees/environment.pickle
Due: none
