Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Ajout du fichier base_vueacteur_visible.sql mal commité dans la PR #2464
  dbt/models/base/base_vueacteur_visible.sql
Due: none

Ajout du fichier base_vueacteur_visible.sql mal commité dans la PR #2464 (#2470)
  dbt/models/base/base_vueacteur_visible.sql
Due: none

deploy: f814b1bd3a9eb4e9641a216060628ca873aba9b2
  .doctrees/environment.pickle
Due: none

La gestion des arguments de data_tests est modifiée (#2467)
  dbt/models/base/acteurs/schema.yml
  dbt/models/exposure/acteurs/carte/schema.yml
  dbt/models/exposure/acteurs/exhaustive/schema.yml
  dbt/models/exposure/acteurs/opendata/schema.yml
  dbt/models/exposure/acteurs/sample/schema.yml
  dbt/models/intermediate/acteurs/schema.yml
  dbt/models/intermediate/geo/schema.yml
  dbt/models/marts/acteurs/carte/schema.yml
  dbt/models/marts/acteurs/exhaustive/schema.yml
  dbt/models/marts/acteurs/opendata/schema.yml
  dbt/models/marts/enrich/schema.yml
Due: none

deploy: fd2b83c1a0ef6a45a998c7a5508193924ebceb64
  .doctrees/environment.pickle
Due: none

Revert "Passage de la recherche objet du header en version DSFR (#2257)"
  core/context_processors.py
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/mixins.py
  qfdmd/urls.py
  qfdmd/views.py
  qfdmo/forms.py
  qfdmo/views/carte.py
  qfdmo/widgets.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/header/base.html
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/autocomplete_view.html
  templates/ui/forms/widgets/autocomplete/_results_item.html
  templates/ui/forms/widgets/autocomplete/input.html
  templates/ui/forms/widgets/autocomplete/results.html
  templates/ui/forms/widgets/autocomplete/results_item.html
  templates/ui/forms/widgets/autocomplete/synonyme.html
  templates/ui/forms/widgets/autocomplete/synonyme_results_item.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

Fix sample webapp script
  .env.template
  dags/.env.template
  dags/acteurs/tasks/business_logic/copy_db_data.py
  dags/tests/acteurs/tasks/business_logic/test_copy_db_data.py
  dbt/models/marts/acteurs/sample/marts_sample_displayedacteur.sql
Due: ruff, ruff-format, djade

Revert "Passage de la recherche objet du header en version DSFR (#2257)" (#2471)
  core/context_processors.py
  core/widgets.py
  previews/template_preview.py
  qfdmd/forms.py
  qfdmd/mixins.py
  qfdmd/urls.py
  qfdmd/views.py
  qfdmo/forms.py
  qfdmo/views/carte.py
  qfdmo/widgets.py
  static/to_compile/controllers/shared/next_autocomplete_controller.ts
  templates/ui/components/header/base.html
  templates/ui/components/header/base.iframe.html
  templates/ui/components/header/combined_logos.html
  templates/ui/components/header/header.html
  templates/ui/components/search/autocomplete_header_view.html
  templates/ui/components/search/autocomplete_results.html
  templates/ui/components/search/autocomplete_view.html
  templates/ui/forms/widgets/autocomplete/_results_item.html
  templates/ui/forms/widgets/autocomplete/input.html
  templates/ui/forms/widgets/autocomplete/results.html
  templates/ui/forms/widgets/autocomplete/results_item.html
  templates/ui/forms/widgets/autocomplete/synonyme.html
  templates/ui/forms/widgets/autocomplete/synonyme_results_item.html
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

Fix
  e2e_tests/carte.spec.ts
  qfdmo/views/adresses.py
Due: ruff, ruff-format, djade, prettier

Add preview
  previews/template_preview.py
  templates/ui/tests/t_14_carte_mal_centree.html
Due: ruff, ruff-format, djade

Fix integration test
  integration_tests/carte/test_reemploi_solution.py
Due: ruff, ruff-format, djade

Carte sur mesure - filtrer par sources
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Corrige le problème du pinpoint home qui s'affiche sans qu'on le souhaite (#2472)
  e2e_tests/carte.spec.ts
  integration_tests/carte/test_reemploi_solution.py
  previews/template_preview.py
  qfdmo/views/adresses.py
  templates/ui/tests/t_14_carte_mal_centree.html
Due: ruff, ruff-format, djade, prettier

Suppression du champs source des modèles VueActeur et DisplayedActeur
  dbt/macros/table/macro_acteur.sql
  dbt/models/exposure/acteurs/carte/schema.yml
  qfdmo/migrations/0189_remove_displayedacteur_source_and_more.py
  qfdmo/models/acteur.py
  qfdmo/views/adresses.py
  unit_tests/qfdmo/acteur_factory.py
  unit_tests/qfdmo/test_acteur.py
Due: ruff, ruff-format, djade

Suppression des refs à source_id dans les tests du clustering
  dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters_prepare.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parents_choose_data.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_read_orphans.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_read_parents.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_suggestions_to_db_and_apply.py
Due: ruff, ruff-format, djade

Suppression de source dans admin et dbt
  dbt/macros/table/macro_acteur_labels.sql
  dbt/macros/table/macro_acteur_sources.sql
  dbt/models/marts/acteurs/exhaustive/schema.yml
  qfdmo/admin/acteur.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Carte sur mesure - filtrer par sources (#2474)
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

deploy: b5051e4443e0942895337c7079e5ebd5e6eef13f
  .doctrees/environment.pickle
Due: none

remove connection change
  dags/acteurs/tasks/business_logic/copy_db_data.py
Due: ruff, ruff-format, djade

Correction du script d'export de la base de données de test (#2473)
  .env.template
  dags/.env.template
  dags/acteurs/tasks/business_logic/copy_db_data.py
  dags/tests/acteurs/tasks/business_logic/test_copy_db_data.py
  dbt/models/marts/acteurs/sample/marts_sample_displayedacteur.sql
Due: ruff, ruff-format, djade

deploy: f7d6ce2dfae62d0f9e9ba95fa2ff0147da92662b
  .doctrees/environment.pickle
  _downloads/53cb3d4b862676d49a89882c7f33b7d6/.env.template
Due: none

deploy: 87d2387484b29eb37906af607ec6886b3df78f55
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 03d9cee57577bb40feb83f098b2133d47307644c
  .doctrees/environment.pickle
Due: none

deploy: d269807c7e20591ef092acbba9b61d809fe4a772
  .doctrees/environment.pickle
Due: none

deploy: 0c20c74ae709d01463474ccfdfad427d72efc83c
  .doctrees/environment.pickle
Due: none

deploy: 23d0e0605cffc36dbda47d485ba6458390a08765
  .doctrees/environment.pickle
Due: none

Fix missing app in extract script
  dags/acteurs/tasks/business_logic/copy_db_data.py
Due: ruff, ruff-format, djade

deploy: eff1c14eacd06f8cb062e9fd52e07c49d5688223
  .doctrees/environment.pickle
Due: none

deploy: 5b55c1a27f2de99bdf3793f8cf2afacb2fb61be8
  .doctrees/environment.pickle
Due: none

deploy: a3fafc45cb13e94d0528d169ffba390e75cb3799
  .doctrees/environment.pickle
Due: none

Ne prendre en compte que les Acteurs actifs pour clusteriser
  dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
Due: ruff, ruff-format, djade

Utilisation de est_parent plutôt que nombre_enfants
  dags/cluster/config/constants.py
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

update tests
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_clusters_prepare.py
  dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parents_choose_new.py
Due: ruff, ruff-format, djade

Possibilité d'ajouter du texte à un pinpoint
  core/templatetags/carte_tags.py
  templates/templatetags/acteur_pinpoint.html
Due: ruff, ruff-format, djade

resolution d'une alerte levée par Github Copilot : ne pas exposer la pile d'erreur
  data/views.py
Due: ruff, ruff-format, djade

Permettre l'édition de la correction même quand il y a un parent
  core/templatetags/admin_data_tags.py
  data/models/suggestion.py
  data/views.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  static/to_compile/js/solution_map.ts
  static/to_compile/styles/admin.css
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
  templates/data/_partials/suggestion_groupe_refresh_stream.html
  templates/templatetags/acteur_pinpoint.html
  templates/ui/components/acteur/tabs/sections/meta.html
  templates/ui/components/carte/pinpoints/svg/hand-pinpoint.html
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

Ajout d'un test spécific pour l'édition de la latitude
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

un peu plus gris le gris
  static/to_compile/styles/admin.css
Due: prettier

récupération de la valeur à éditer à partir du context
  data/views.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/data/_partials/suggestion_groupe_details.html
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
