Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Ajout de documentation user
  docs/how-to/README.md
  docs/how-to/team/README.md
  docs/how-to/team/onboarding-offboarding.md
  docs/reference/architecture/README.md
  docs/reference/architecture/external-services.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/README.md
  docs/reference/security/backups.md
  docs/reference/security/inventory.md
  docs/reference/security/pca.md
  docs/reference/security/pra.md
  docs/reference/security/providers.md
  docs/reference/security/reviews.md
Due: prettier

add promptfoo
  .gitignore
  promptfoo-audit/.env.example
  promptfoo-audit/promptfooconfig.yaml
  promptfoo-audit/prompts/avec-page.txt
  promptfoo-audit/prompts/sans-page.txt
  promptfoo-audit/run.sh
Due: none

Add docs
  docs/how-to/development/README.md
  docs/how-to/development/promptfoo-audit.md
Due: prettier

feat: écran de revue de cohorte en grille pivot (lecture seule)
  webapp/data/models/suggestions/source.py
  webapp/data/urls.py
  webapp/data/views.py
  webapp/package-lock.json
  webapp/package.json
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: annulation des actions de masse et portée « tout sauf »
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: revue au clavier, UI optimiste et accessibilité de la grille de revue
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
Due: prettier

feat: mode focus par champ sur l'écran de revue de cohorte
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
Due: prettier

feat: groupes de conditions dans le query builder du mode focus
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: clic sur une carte du mode focus pour ouvrir le groupe de suggestions
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
Due: prettier

a11y: corrections de l'audit accessibilité (RGAA / WCAG 2.1 AA)
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
Due: prettier

test: couverture e2e complète de la revue de cohorte + fixture sample DB
  webapp/Makefile
  webapp/data/management/commands/seed_review_e2e.py
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: filtres serveur et accès à la grille de revue depuis l'admin
  webapp/data/admin.py
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

fix: corrige exposition d'exception (CodeQL) - utilise user_message au lieu de str(e)
  webapp/data/views.py
Due: ruff, ruff-format, djade

feat: tiroir des suggestions d'un acteur depuis le mode focus
  webapp/data/urls.py
  webapp/data/views.py
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: accepter/rejeter les suggestions par champ depuis la grille de revue
  webapp/data/models/suggestions/source.py
  webapp/data/urls.py
  webapp/data/views.py
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: query builder sur la valeur suggérée en mode focus
  webapp/data/views.py
  webapp/static/to_compile/cohorte-review.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/static/to_compile/styles/cohorte-review.css
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

feat: action de masse sur tous les acteurs filtrés (portée filtre)
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/templates/data/cohorte_review.html
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

fix: corrections issues de la revue de code (sécurité, perf, robustesse)
  webapp/data/management/commands/seed_review_demo.py
  webapp/data/management/commands/seed_review_e2e.py
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade, prettier

test: tests e2e Playwright de la grille de revue de cohorte
  webapp/data/management/commands/seed_review_e2e.py
  webapp/e2e_tests/cohorte_review.spec.ts
  webapp/static/to_compile/controllers/admin/cohorte_review_controller.ts
Due: ruff, ruff-format, djade, prettier

fix: corrige l'exposition d'exception (CodeQL) et supprime le seed redondant
  webapp/data/management/commands/seed_review_demo.py
  webapp/data/management/commands/seed_review_e2e.py
  webapp/data/views.py
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade

fix: lien détail de la grille vers l'admin et commande de démo
  webapp/data/management/commands/seed_review_demo.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_cohorte_review_views.py
Due: ruff, ruff-format, djade

chore: sync package.json/lock with main after rebase
  webapp/package-lock.json
  webapp/package.json
Due: none

fix: indentation de new_statut hors du bloc else + regénération du package-lock.json
  webapp/data/views.py
  webapp/package-lock.json
Due: ruff, ruff-format, djade

feat(nginx): enable noindex header only when NGINX_NOINDEX is set
  webapp/servers.conf.erb
Due: none

docs(env): document NGINX_NOINDEX in .env.template
  webapp/.env.template
Due: none

test(a11y): consolidate and expand accessibility e2e tests (37 tests covering all RGAA NC)
  webapp/e2e_tests/a11y.spec.ts
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/e2e_tests/accessibility.spec.ts
Due: prettier

Ajout de documentation pour la sécurité et les Agents IA (#2495)
  docs/how-to/README.md
  docs/how-to/development/README.md
  docs/how-to/development/installation.md
  docs/how-to/development/secure_development.md
  docs/how-to/team/README.md
  docs/how-to/team/onboarding-offboarding.md
  docs/reference/README.md
  docs/reference/architecture/README.md
  docs/reference/architecture/data-flow.md
  docs/reference/architecture/external-services.md
  docs/reference/data-platform/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/data-platform/sources.md
  docs/reference/infrastructure/monitoring.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/README.md
  docs/reference/security/authentication.md
  docs/reference/security/backups.md
  docs/reference/security/inventory.md
  docs/reference/security/network.md
  docs/reference/security/pca.md
  docs/reference/security/pra.md
  docs/reference/security/providers.md
  docs/reference/security/reviews.md
  docs/reference/security/secrets.md
Due: prettier

fix(a11y): prefers-reduced-motion test — handle SVG className and spinner exclusion
  webapp/e2e_tests/a11y.spec.ts
Due: prettier

Suppression des espaces autour des emails (#3014)
  webapp/qfdmo/management/commands/trim_emails.py
Due: ruff, ruff-format, djade

deploy: 16b5e2eb0abaa3926c858a95bb5c2fe43491ef1c
  .doctrees/environment.pickle
Due: none

remove banner at top of page
  webapp/templates/ui/layout/assistant.html
Due: none

WIP
  webapp/.env.template
  webapp/servers.conf.erb
Due: none

Empêcher l'indexation de la preprod par une variable d'environnement (#3017)
  webapp/servers.conf.erb
Due: none

deploy: ce603d5523d940f6f518347c02640201983368af
  .doctrees/environment.pickle
Due: none

add break block
  webapp/qfdmd/blocks.py
  webapp/qfdmd/migrations/0085_add_break_block_to_streamfield.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

customise breadcrumb margin on produit page
  webapp/static/to_compile/styles/dsfr-overrides.css
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/produit_page.html
Due: prettier

force push
  coucou
Due: none

fix: deduplicate MainMenu records on every migrate
  webapp/qfdmd/apps.py
  webapp/qfdmd/management/commands/fix_duplicate_mainmenu.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
