Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Ajoute de la variable d'env WEBAPP_URL au container scheduler et dag_processor
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/variables.tf
Due: none

deploy: 828a86ba911611c00db701a10ecd584b7473eade
  .doctrees/environment.pickle
Due: none

Récupération des paramètres du DAG de clustering via API (#3246)
  data-platform/dags/.env.template
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
  data-platform/dags/tests/utils/test_webapp.py
  data-platform/dags/utils/webapp.py
  docker-compose.yml
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/variables.tf
  webapp/.env.template
  webapp/integration_tests/carte/test_qfdmo_api.py
  webapp/qfdmo/api.py
Due: ruff, ruff-format, djade

deploy: 85ea72916b1187dd15756e09b0e31e34d8295cf0
  .doctrees/environment.pickle
  _downloads/95c1cc2a3cf369594f0f2533889e0ba5/.env.template
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
Due: none

Fix des problèmes dans le script d'inférence
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/model.py
Due: ruff, ruff-format, djade

Ajout e davantage de logging
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
Due: ruff, ruff-format, djade

Ajout d'une nouvelle source pour la création du dataset
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_parent_change.sql
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
Due: ruff, ruff-format, djade

Modifie la CV à l'entraînement et rajoute des seuils à tester
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
Due: ruff, ruff-format, djade

Tentative de déploiement de la webapp avec les environnement uv
  .buildpacks
  .github/workflows/_backend-test-job.yml
  .python-version
  .slugignore
  Aptfile
  Procfile
  bin/post_compile
  bin/post_deploy
  bin/start
  docs/how-to/deployment/deployment.md
  docs/how-to/development/dependencies.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/pra.md
  docs/reference/webapp/django.md
  package.json
  pyproject.toml
  servers.conf.erb
  uv.lock
  webapp/Procfile
  webapp/bin/post_compile
  webapp/bin/start
Due: prettier

Suppression des fichiers uv.lock inutils
  docs/uv.lock
  webapp/uv.lock
Due: none

Simplification xgboost
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/modeling/xgb_model.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Ajout de l'entrainment avec XGBoost
  ml_deduplication/ml_deduplication/evaluation/metrics/pairwise.py
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/model.py
  ml_deduplication/ml_deduplication/modeling/xgb_model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Ajout de Splink dans le package
  .gitignore
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/notebooks/splink_experiment.ipynb
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/ml_deduplication/training/training_pipeline_dedupe.py
  ml_deduplication/ml_deduplication/training/training_pipeline_splink.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Modification de la génération du dataset pour plus de robustesse
  ml_deduplication/main.py
  ml_deduplication/ml_deduplication/dataset/__init__.py
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/pairs.py
  ml_deduplication/ml_deduplication/dataset/sql/cluster_entities.sql
  ml_deduplication/ml_deduplication/dataset/sql/create_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/drop_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/entities_features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/entities_from_suggestions.sql
  ml_deduplication/ml_deduplication/dataset/sql/pairs_features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/singleton_entities.sql
  ml_deduplication/ml_deduplication/dataset/utils.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/ml_deduplication/training/training_pipeline_splink.py
Due: ruff, ruff-format, djade

Amélioration du contrôleur d'AB-testing (#3123)
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/templates/templatetags/carte.html
  webapp/unit_tests/core/templatetags/test_carte_tag.py
Due: ruff, ruff-format, djade, prettier

deploy: 9b4a8e744bbbcac49bc9f620a4bfcb2c60e26940
  .doctrees/environment.pickle
Due: none

deploy: 094cd4cf11397c230d0c181a4cb04f7a8450f7de
  .doctrees/environment.pickle
Due: none

deploy: 72e4c80e20d4c27bcdf3c9fc4614d55777e431bf
  .doctrees/environment.pickle
Due: none

Corriger l'objet manquant dans les modales de partage des pages produit (#3174)
  webapp/core/templatetags/script_tags.py
  webapp/qfdmd/views.py
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/snippets/share_and_embed.html
  webapp/templates/ui/snippets/share_and_embed_produit.html
Due: ruff, ruff-format, djade

deploy: d1b4a042f8fe75116d10749b135770bda383e3e5
  .doctrees/environment.pickle
Due: none

rename search_placeholder to home_search_placeholder
  webapp/core/context_processors.py
  webapp/qfdmd/migrations/0089_rename_search_placeholder_searchsettings_home_search_placeholder.py
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

oubli
  webapp/core/context_processors.py
Due: ruff, ruff-format, djade

fix tests
  webapp/unit_tests/qfdmd/test_signals.py
Due: ruff, ruff-format, djade

Rendre le placeholder du champ de recherche configurable (#3198)
  webapp/core/context_processors.py
  webapp/qfdmd/forms.py
  webapp/qfdmd/migrations/0088_search_settings.py
  webapp/qfdmd/migrations/0089_rename_search_placeholder_searchsettings_home_search_placeholder.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_signals.py
Due: ruff, ruff-format, djade

deploy: 13d3ec48c5ae06050a102b1c04bd4f11e1a10828
  .doctrees/environment.pickle
Due: none

fix e2e
  webapp/Makefile
Due: none

add django tasks
  uv.lock
  webapp/pyproject.toml
  webapp/settings/base.py
Due: ruff, ruff-format, djade

Fix e2e
  webapp/e2e_tests/iframe_navigation.spec.ts
Due: prettier

Ajout des règles métiers à la clusterisation
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/ml_deduplication/training/training_pipeline_splink.py
Due: ruff, ruff-format, djade

Corrections diverses pour améliorer la robustesse des tests e2e (#3294)
  webapp/Makefile
  webapp/e2e_tests/iframe_navigation.spec.ts
Due: prettier

deploy: ba613676a100daf07c49a48dacb95ec5c04f7f23
  .doctrees/environment.pickle
Due: none

deploy: 9865556e36a365d68838b9376376d5b857009f64
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 9ca1baf7f2607533990e7b14e0adc1f013c524ba
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 18bc58e35a26d3fe746c01a21045cc1d16dc28ce
  .doctrees/environment.pickle
Due: none

deploy: a5c30ff5b511eff20edc9f70bf6ddde83d8483db
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: a13e57efeed7e4433dfecccd72bc57d6134c668a
  .doctrees/environment.pickle
Due: none

deploy: 23c72c7d61dd7c74587e06483ea80510625336b4
  .doctrees/environment.pickle
Due: none

deploy: 6cf6cf288be2cbeeca8905f9c9cbe8c6d24533fb
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
