Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

fix(recherche): commande pour purger les IndexEntry orphelines
  webapp/search/management/__init__.py
  webapp/search/management/commands/__init__.py
  webapp/search/management/commands/purge_orphan_searchterm_index.py
  webapp/unit_tests/search_tests/test_purge_orphan_searchterm_index.py
Due: ruff, ruff-format, djade

ci(recherche): purger les IndexEntry orphelines avec chaque rebuild
  webapp/Makefile
  webapp/bin/post_deploy
  webapp/search/management/commands/purge_orphan_searchterm_index.py
Due: ruff, ruff-format, djade

Besoin de trier les interval car on n'est pas garanti de l'ordre des plages horaires avant fusion
  data-platform/dags/sources/tasks/transform/opening_hours.py
  data-platform/uv.lock
Due: ruff, ruff-format, djade

Besoin de trier les interval car on n'est pas garanti de l'ordre (#2988)
  data-platform/dags/sources/tasks/transform/opening_hours.py
  data-platform/uv.lock
Due: ruff, ruff-format, djade

deploy: b9bb47eaf3274b0538d28eb2f8bf53d9f2ad04d1
  .doctrees/environment.pickle
Due: none

deploy: 8baa1dc95183c99b03c9933e186a0b7b24c4429d
  .doctrees/environment.pickle
Due: none

deploy: 2280570651c37178636ca158c0753695ab5f1c27
  .doctrees/environment.pickle
Due: none

deploy: dcf8a74af661615bfe1c0a2d6691cbe09162436f
  .doctrees/environment.pickle
Due: none

fix(iframe): mention du terme recherché manquante sur la fiche
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
Due: prettier

deploy: 942bfdaa38ea6726a4ac02a493c380e08c45407e
  .doctrees/environment.pickle
Due: none

deploy: 0d4a79d0e94c4eadaa3cab7171023cd0a4820c1d
  .doctrees/environment.pickle
Due: none

deploy: 391cb8b04d47bee4bfc7cf1d82c5c444d1c735cf
  .doctrees/environment.pickle
Due: none

feat(recherche): panneau debug score pour les utilisateurs beta
  webapp/qfdmd/views.py
  webapp/search/score_breakdown.py
  webapp/templates/ui/components/search/_score_breakdown_tooltip.html
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/unit_tests/search_tests/test_score_breakdown.py
Due: ruff, ruff-format, djade

Add another infotri outil
  webapp/e2e_tests/analytics.spec.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/templates/ui/tests/t_18_iframe_page_properties.html
Due: prettier

fix(recherche): doublons quand le terme matche via une variante de recherche
  webapp/search/models.py
  webapp/unit_tests/search_tests/test_search_term.py
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

deploy: 171f6f0555d78582c240833384d0df237201a2ba
  .doctrees/environment.pickle
Due: none

permettre la correction selon une liste de source
  webapp/qfdmo/management/commands/realign_acteur_and_revision_proposition_service.py
Due: ruff, ruff-format, djade

amélioration du script de réalignement
  webapp/qfdmo/management/commands/realign_acteur_and_revision_proposition_service.py
Due: ruff, ruff-format, djade

Commande pour aligner les propositions de service
  webapp/qfdmo/management/commands/realign_acteur_and_revision_proposition_service.py
Due: ruff, ruff-format, djade

[Stats] ne considérer que les correction qui ont un statut actif
  data-platform/dbt/models/intermediate/stats/int_acteur_with_revision.sql
Due: none

Commande pour aligner les propositions de service (#2866)
  data-platform/dbt/models/intermediate/stats/int_acteur_with_revision.sql
  webapp/qfdmo/management/commands/realign_acteur_and_revision_proposition_service.py
Due: ruff, ruff-format, djade

deploy: 4aa74535c769396018db3b26ee0a51ac8a4dacb3
  .doctrees/environment.pickle
Due: none

les float ne sont pas bien gérés dans l'interface Airflow v3
  data-platform/dags/cluster/config/models.py
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
  data-platform/dags/tests/cluster/config/test_model.py
Due: ruff, ruff-format, djade

les float ne sont pas bien gérés dans l'interface Airflow v3 (#2991)
  data-platform/dags/cluster/config/models.py
  data-platform/dags/cluster/dags/cluster_acteur_suggestions.py
  data-platform/dags/tests/cluster/config/test_model.py
Due: ruff, ruff-format, djade

deploy: 755451f0509ac3ea68fa75dc20ad80f6add6c306
  .doctrees/environment.pickle
Due: none

Encode et décode en json la clé DF_PARENTS_CHOOSE_DATA
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  data-platform/dags/cluster/tasks/business_logic/misc/parent_data_serde.py
  data-platform/dags/shared/xcom/normalize.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parent_data_serde.py
  data-platform/dags/tests/shared/xcom/test_xcom_normalize.py
  data-platform/uv.lock
Due: ruff, ruff-format, djade

wip
  webapp/templates/ui/components/search/_score_breakdown.html
  webapp/templates/ui/components/search/_score_breakdown_tooltip.html
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/unit_tests/search_tests/test_score_breakdown.py
Due: ruff, ruff-format, djade

déplacer les fonction de serialisation dans airflow_logic
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  data-platform/dags/cluster/tasks/airflow_logic/utils.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parent_data_serde.py
Due: ruff, ruff-format, djade

Encode et décode en json la clé DF_PARENTS_CHOOSE_DATA (#2992)
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  data-platform/dags/cluster/tasks/airflow_logic/utils.py
  data-platform/dags/shared/xcom/normalize.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parent_data_serde.py
  data-platform/dags/tests/shared/xcom/test_xcom_normalize.py
  data-platform/uv.lock
Due: ruff, ruff-format, djade

deploy: b42b207e72f38214966424165a853a6aaa49e4e8
  .doctrees/environment.pickle
Due: none

deploy: 9da065107584896707225ac8231f5f4c10462033
  .doctrees/environment.pickle
Due: none

deploy: 155ece0bd8d0d6978687422361dfb64b2804d732
  .doctrees/environment.pickle
Due: none

customise breadcrumb margin on produit page
  webapp/static/to_compile/styles/dsfr-overrides.css
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/produit_page.html
Due: prettier

Break content in iframe
  webapp/qfdmd/models.py
  webapp/templates/ui/components/produit/produit.html
  webapp/templates/ui/components/produit/voir_version_standalone.html
  webapp/templates/ui/pages/produit_page.html
Due: ruff, ruff-format, djade

improve
  webapp/templates/ui/components/produit/produit.html
  webapp/templates/ui/pages/produit_page.html
Due: none

better conformity to mockups
  webapp/qfdmd/models.py
  webapp/templates/ui/components/footer/base.iframe.html
  webapp/templates/ui/components/produit/produit.html
  webapp/templates/ui/components/produit/voir_version_standalone.html
  webapp/templates/ui/pages/produit_page.html
Due: ruff, ruff-format, djade

add to legacy fiche dechet
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
