Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

deploy: 1b20a516cbf648d30968d5f036d785187bf5104e
  .doctrees/environment.pickle
  _downloads/142aa9b9f39d5f22afba640e3a2ddc4e/create_extensions.sql
Due: none

fix: restauration preprod via DSN au lieu de Docker dans la synchro prod > preprod
  Makefile
Due: none

chore: désactivation temporaire de la comparaison visuelle e2e
  .github/workflows/e2e.yml
Due: none

force push
  coucou
Due: none

wip
  coucou
Due: none

Désactivation temporaire de la comparaison visuelle e2e (#3136)
  .github/workflows/e2e.yml
Due: none

deploy: c948a9441219da870a470c75de38d72830765dd6
  .doctrees/environment.pickle
Due: none

Augmenter la durée de rétention des backups de la webapp
  infrastructure/modules/database/main.tf
Due: none

Augmenter la durée de rétention des backups de la webapp (#3137)
  infrastructure/modules/database/main.tf
Due: none

deploy: 8570e053d6df07c972ebf1a46e8c358bbf0664a7
  .doctrees/environment.pickle
Due: none

deploy: fde38600095767b28d1a35d0117adc1345123bc8
  .doctrees/environment.pickle
Due: none

Correction de la synchro prod > preprod : restauration via DSN au lieu de Docker (#3135)
  Makefile
Due: none

deploy: 335e46d60f1189b466f6321451075b121be8f4af
  .doctrees/environment.pickle
Due: none

Enregistrement en DB des données des sources
  data-platform/dags/sources/tasks/airflow_logic/source_data_download_task.py
  data-platform/dags/sources/tasks/airflow_logic/source_data_normalize_task.py
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

Met à jour le docker-compose.yml pour passer les volumes en named volumes (#3130)
  docker-compose.yml
Due: none

deploy: 440ac20526f8883f3f50641cdea70a46ee0b8938
  .doctrees/environment.pickle
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
Due: none

ne supprimer les tables temporaires qu'après l'action principale
  data-platform/dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

Gestion des tables temporaires avec le pattern setup / teardown
  data-platform/dags/sources/config/tasks.py
  data-platform/dags/sources/tasks/airflow_logic/db_clean_temporary_tables_task.py
  data-platform/dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  data-platform/dags/sources/tasks/airflow_logic/operators.py
Due: ruff, ruff-format, djade

Ne supprimer les tables temporaires qu'après l'action principale (#3095)
  data-platform/dags/sources/config/tasks.py
  data-platform/dags/sources/tasks/airflow_logic/db_clean_temporary_tables_task.py
  data-platform/dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  data-platform/dags/sources/tasks/airflow_logic/operators.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

deploy: 6fec337fde23b26eabe4b01d3e714f19ab1539c9
  .doctrees/environment.pickle
Due: none

Mise à jour de la doc pour ajouter lanotion de django tasks
  docs/how-to/development/installation.md
  docs/reference/architecture/README.md
  docs/reference/architecture/data-flow.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/inventory.md
  docs/reference/security/pca.md
  docs/reference/webapp/README.md
  docs/reference/webapp/django.md
Due: prettier

update makefile
  webapp/Makefile
Due: none

passer en mode tache asynchrome quand plus de 1000 entrées sont sélectionnées
  webapp/data/admin.py
  webapp/data/tasks.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

debug tests
  webapp/unit_tests/search_tests/test_purge_orphan_searchterm_index.py
Due: ruff, ruff-format, djade

add django tasks
  webapp/Procfile
  webapp/data/admin.py
  webapp/data/tasks.py
  webapp/pyproject.toml
  webapp/settings/base.py
  webapp/settings/test.py
  webapp/uv.lock
Due: ruff, ruff-format, djade

Ajout d'actions en tâche de fond dans Django Admin (#3093)
  docs/how-to/development/installation.md
  docs/reference/architecture/README.md
  docs/reference/architecture/data-flow.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/inventory.md
  docs/reference/security/pca.md
  docs/reference/webapp/README.md
  docs/reference/webapp/django.md
  webapp/Makefile
  webapp/Procfile
  webapp/data/admin.py
  webapp/data/tasks.py
  webapp/pyproject.toml
  webapp/settings/base.py
  webapp/settings/test.py
  webapp/unit_tests/data/test_admin_actions.py
  webapp/unit_tests/search_tests/test_purge_orphan_searchterm_index.py
  webapp/uv.lock
Due: ruff, ruff-format, djade, prettier

deploy: f53268a8583493e2ec2ab72abb04d597bddef603
  .doctrees/environment.pickle
  .doctrees/how-to/development/installation.doctree
  .doctrees/reference/architecture/README.doctree
  .doctrees/reference/architecture/data-flow.doctree
  .doctrees/reference/data-platform/airflow.doctree
  .doctrees/reference/infrastructure/provisioning.doctree
  .doctrees/reference/security/inventory.doctree
  .doctrees/reference/security/pca.doctree
  .doctrees/reference/webapp/README.doctree
  .doctrees/reference/webapp/django.doctree
  _sources/how-to/development/installation.md.txt
  _sources/reference/architecture/README.md.txt
  _sources/reference/architecture/data-flow.md.txt
  _sources/reference/data-platform/airflow.md.txt
  _sources/reference/infrastructure/provisioning.md.txt
  _sources/reference/security/inventory.md.txt
  _sources/reference/security/pca.md.txt
  _sources/reference/webapp/README.md.txt
  _sources/reference/webapp/django.md.txt
  how-to/development/installation.html
  reference/architecture/README.html
  reference/architecture/data-flow.html
  reference/data-platform/airflow.html
  reference/infrastructure/provisioning.html
  reference/security/inventory.html
  reference/security/pca.html
  reference/webapp/README.html
  reference/webapp/django.html
  searchindex.js
Due: prettier

deploy: e25468cb3ab7e30ed2009843e6b6d1bf4b9365ee
  .doctrees/environment.pickle
Due: none

deploy: 2f8b97623129b5e1ee1cd4950fe3dae6be2b82ed
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 8cf35c8d6d3ae394c9548ef1e1997c0000857171
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 6e76a82f2185c5c646fb125f8b18c920c4d5764b
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: e66952a1b14fbafcd2f990c53abde17089f291eb
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 4ed241953fe8316b8e3dd4ab37f15ab415740aae
  .doctrees/environment.pickle
Due: none

deploy: b4b19dc39daeae58aa524f19ea445536d25481dd
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: ba8f6fbdc6a55c5c611893f72b2a4865fa821214
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: ce09f89ffd4abc6955004a0da829e70a2caf5603
  .doctrees/environment.pickle
Due: none

Fix e2e
  .github/workflows/_e2e.yml
  webapp/qfdmd/management/commands/populate_fake_search_tags.py
  webapp/qfdmd/management/commands/populate_search_terms.py
Due: ruff, ruff-format, djade

Correction des DAGs CMA et Généric (#3124)
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/dags/source_generic.py
Due: ruff, ruff-format, djade

deploy: 136a138342ad1cb25cc4196270ace0a389e5da29
  .doctrees/environment.pickle
Due: none

feat: recover deleted ProduitPages from a database backup
  webapp/Makefile
  webapp/qfdmd/management/commands/export_produit_pages.py
  webapp/qfdmd/management/commands/recreate_produit_pages.py
Due: ruff, ruff-format, djade
