Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

build(deps): regroupe les PRs dependabot npm et dedupe maplibre-gl 6.11.2 (#3450)
  package-lock.json
  package.json
  webapp/package.json
Due: none

deploy: 4eae9019d7ff4341408206ab81b37abe4760f05b
  .doctrees/environment.pickle
  _downloads/107ae6f6a70591a8435722bf4be2e286/package.json
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Adds batched preprocessing for large inputs
  data-platform/scripts/infrastructure/ml_deduplication_instance_create.sh
  ml_deduplication/Dockerfile
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/models/xgboost/calibrator.pkl
  ml_deduplication/models/xgboost/hyperparameters.json
  ml_deduplication/models/xgboost/model.json
  ml_deduplication/models/xgboost/training_results.json
  ml_deduplication/tests/modeling/test_blocking.py
  ml_deduplication/tests/modeling/test_model.py
  ml_deduplication/tests/modeling/test_preprocessing_entities.py
Due: ruff, ruff-format, djade

Updates duckdb memory limit config
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
Due: ruff, ruff-format, djade

deploy: b5f719d0257f61f3a5d44ef2bffea5386bf5f92a
  .doctrees/environment.pickle
Due: none

deploy: 4642312156fa3fdc9ba6f81f890fdf23339370a7
  .doctrees/environment.pickle
Due: none

Fix back button issue on formulaire
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
Due: prettier

Adds duckdb memory limit
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
Due: ruff, ruff-format, djade

Updates block storage size
  data-platform/scripts/infrastructure/ml_deduplication_instance_create.sh
Due: none

deploy: 2af4577439d510078d229ecfd922f900d83df7e5
  .doctrees/environment.pickle
Due: none

Fixes typo
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
Due: ruff, ruff-format, djade

Fixes batched use by default
  data-platform/dags/ml_deduplication/dags/ml_deduplication_inference.py
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
  data-platform/scripts/infrastructure/ml_deduplication_instance_destroy.sh
Due: ruff, ruff-format, djade

deploy: e4d39554dee7781972109162c340a711c2e46a95
  .doctrees/environment.pickle
Due: none

Deletes unused xcom causing crash
  data-platform/dags/ml_deduplication/config/xcoms.py
  data-platform/dags/ml_deduplication/tasks/airflow_logic/acteurs_select_task.py
Due: ruff, ruff-format, djade

Fixes non deleted XCOM
  data-platform/dags/ml_deduplication/config/xcoms.py
Due: ruff, ruff-format, djade

Fixes permission issue
  data-platform/scripts/infrastructure/ml_deduplication_inference_run.sh
Due: none

AIRFLOW_VERSION comme une variable basée sur la version de airflow dans pyproject.toml
  .github/workflows/_airflow-build-and-push-docker.yml
  Makefile
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  docker-compose.yml
  uv.lock
Due: none

aligner le reverse proxy PostHog avec la doc (#3426)
  servers.conf.erb
  webapp/nginx/test_nginx.py
Due: ruff, ruff-format, djade

deploy: 3a891ff324a98c5058d730317bcd62e355ddf95f
  .doctrees/environment.pickle
Due: none

Amélioration du scoring de la recherche objet (#3388)
  docs/reference/webapp/django.md
  webapp/.env.template
  webapp/qfdmd/views.py
  webapp/search/ranking.py
  webapp/settings/base.py
  webapp/templates/ui/components/search/_score_breakdown.html
  webapp/unit_tests/search_tests/test_ranking.py
Due: ruff, ruff-format, djade, prettier

deploy: e35a35acccdee7eea766790b4e25a17a30c68404
  .doctrees/environment.pickle
  .doctrees/reference/webapp/django.doctree
  _sources/reference/webapp/django.md.txt
  reference/webapp/README.html
  reference/webapp/django.html
  searchindex.js
Due: prettier

Détruire les environnements de preview plus proprement et garbage-collecter les PRs fermées (#3385)
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-down.yml
  .github/workflows/preview-up.yml
  docs/reference/infrastructure/preview-environments.md
  infrastructure/modules/webapp_container/main.tf
  scripts/infrastructure/preview_destroy.sh
Due: prettier

deploy: 4a80264650e82b6670aa114d01ee503cf9196769
  .doctrees/environment.pickle
  .doctrees/reference/infrastructure/preview-environments.doctree
  _sources/reference/infrastructure/preview-environments.md.txt
  reference/infrastructure/preview-environments.html
  searchindex.js
Due: prettier

Corrige un problème de bouton précédent sur le formulaire (#3433)
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
Due: prettier

deploy: e3350fc90fb823ac42d2c30739fb23e8dad21280
  .doctrees/environment.pickle
Due: none

S'assurer qu'il n'y a pas de doublons si un objet lié est déclaré sur le parrent
  data-platform/dbt/macros/table/macro_acteur_acteur_services.sql
  data-platform/dbt/macros/table/macro_acteur_labels.sql
  data-platform/dbt/macros/table/macro_acteur_sources.sql
Due: none

S'assurer qu'il n'y a pas de doublons si un objet lié est déclaré sur le parent (#3449)
  data-platform/dbt/macros/table/macro_acteur_acteur_services.sql
  data-platform/dbt/macros/table/macro_acteur_labels.sql
  data-platform/dbt/macros/table/macro_acteur_sources.sql
Due: none

deploy: 9d9cb41957772c3e793bfde46f86e412a681b668
  .doctrees/environment.pickle
Due: none

Ajout du build nginx sur la review
  .github/workflows/review.yml
Due: none

déploiement d'un serverless nginx devant metabase et airflow API + webserver
  .github/workflows/_deploy-nginx.yml
  .github/workflows/_nginx-build-and-push-docker.yml
  .github/workflows/cd.yml
  .github/workflows/deploy.yml
  docs/reference/infrastructure/provisioning.md
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/metabase_containers/terragrunt.hcl
  infrastructure/environments/preprod/nginx_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/nginx_containers/terraform.tfvars.example
  infrastructure/environments/preprod/nginx_containers/terragrunt.hcl
  infrastructure/environments/prod/airflow_containers/terragrunt.hcl
  infrastructure/environments/prod/metabase_containers/terragrunt.hcl
  infrastructure/environments/prod/nginx_containers/.terraform.lock.hcl
  infrastructure/environments/prod/nginx_containers/terraform.tfvars.example
  infrastructure/environments/prod/nginx_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-webserver.tf
  infrastructure/modules/airflow_containers/outputs.tf
  infrastructure/modules/airflow_containers/variables.tf
  infrastructure/modules/metabase_containers/metabase.tf
  infrastructure/modules/metabase_containers/outputs.tf
  infrastructure/modules/metabase_containers/variables.tf
  infrastructure/modules/nginx_containers/namespace.tf
  infrastructure/modules/nginx_containers/nginx.tf
  infrastructure/modules/nginx_containers/outputs.tf
  infrastructure/modules/nginx_containers/variables.tf
  nginx/generate-routes.sh
  nginx/nginx.Dockerfile
  nginx/nginx.conf
Due: prettier

Make it works
  infrastructure/environments/preprod/env.hcl
  infrastructure/environments/preprod/metabase_containers/terragrunt.hcl
  infrastructure/environments/preprod/nginx_containers/terragrunt.hcl
  infrastructure/modules/nginx_containers/nginx.tf
Due: none

AIRFLOW_VERSION comme une variable basée sur la version de airflow (#3447)
  .github/workflows/_airflow-build-and-push-docker.yml
  Makefile
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  docker-compose.yml
  uv.lock
Due: none

deploy: fef44e6e779cd6a94326a15039732e781331c06e
  .doctrees/environment.pickle
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
Due: none

Mise à jour de la fonction psql
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_csv_to_s3.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_export_opendata_csv_to_s3.py
Due: ruff, ruff-format, djade

Passer les secrets en variable d'environnement des commandes psql et ogr2ogr
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_csv_to_s3.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/shared/psql/utils.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_export_opendata_csv_to_s3.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/shared/psql/test_utils.py
Due: ruff, ruff-format, djade

Passer les secrets en variable d'environnement des commandes psql et ogr2ogr (#3448)
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_csv_to_s3.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/shared/psql/utils.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_export_opendata_csv_to_s3.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/shared/psql/test_utils.py
Due: ruff, ruff-format, djade

deploy: 49b96058b86325e966db9082e0ab88e753afa5ae
  .doctrees/environment.pickle
Due: none

Potential fix for code scanning alert no. 222: Checkout of untrusted code in a non-privileged context
  .github/workflows/_e2e.yml
Due: none

deploy: ca42361159d3b0a1970da1849f03f625a266b8be
  .doctrees/environment.pickle
Due: none
