Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Réparer les liens affichés dans le clustering (#2649)
  webapp/core/templatetags/admin_data_tags.py
Due: ruff, ruff-format, djade

deploy: ad45489836c04d4f88924ae5d6d2fa11436213d1
  .doctrees/environment.pickle
Due: none

deploy: 7b32a3a3899e72b3d9763b5df2718a60003f6c45
  .doctrees/environment.pickle
Due: none

deploy: 858a10caa75a32143676ace0a0d00b0f9decffe1
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 3e9724c201f64e000875c5e3d11a937d8467e14b
  .doctrees/environment.pickle
Due: none

Intégration des remarques de la review
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  webapp/data/models/suggestions/utils.py
  webapp/qfdmo/models/acteur.py
  webapp/unit_tests/qfdmo/test_acteur.py
Due: ruff, ruff-format, djade

mini-adaptation
  data-platform/dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  webapp/data/views.py
Due: ruff, ruff-format, djade

Ajout de robustesse à l'édition d'URL
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  webapp/data/migrations/0022_suggestionunitaire_data_su_revision_acteur_if_modele_revision_acteur_and_more.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/views.py
Due: ruff, ruff-format, djade

Passer les enrichissements d'URL sur la nouvelle architecture de SuggestionGroupe
  data-platform/dags/crawl/config/columns.py
  data-platform/dags/crawl/dags/crawl_urls.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_crawl_diff_other_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_dns_fail_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_syntax_fail_task.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  data-platform/dags/tests/crawl/tasks/business_logic/test_crawl_urls_suggest.py
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/admin.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

ajout de la fonction apply à la classe SuggestionGroupeTypeEnrichMulti
  webapp/data/models/apply_models/abstract_apply_model.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/abstract.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/data/models/suggestions/utils.py
  webapp/templates/data/_partials/suggestion_groupe_details.html
  webapp/unit_tests/data/models/apply_models/test_source_apply_model.py
  webapp/unit_tests/data/models/test_suggestion.py
Due: ruff, ruff-format, djade

fix tests
  data-platform/dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  webapp/unit_tests/qfdmo/acteur_factory.py
Due: ruff, ruff-format, djade

Ne pas afficher les tab pour les CRAWS URL
  webapp/data/models/suggestions/abstract.py
  webapp/data/models/suggestions/source.py
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

Passer les enrichissements d'URL sur la nouvelle architecture de SuggestionGroupe (#2621)
  data-platform/dags/crawl/config/columns.py
  data-platform/dags/crawl/dags/crawl_urls.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_crawl_diff_other_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_dns_fail_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_suggest_syntax_fail_task.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  data-platform/dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  data-platform/dags/tests/crawl/tasks/business_logic/test_crawl_urls_suggest.py
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/admin.py
  webapp/data/migrations/0022_suggestionunitaire_data_su_revision_acteur_if_modele_revision_acteur_and_more.py
  webapp/data/models/apply_models/abstract_apply_model.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/abstract.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/data/models/suggestions/utils.py
  webapp/data/views.py
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe_details.html
  webapp/unit_tests/data/models/apply_models/test_source_apply_model.py
  webapp/unit_tests/data/models/test_suggestion.py
  webapp/unit_tests/qfdmo/acteur_factory.py
  webapp/unit_tests/qfdmo/test_acteur.py
Due: ruff, ruff-format, djade, prettier

deploy: 9968820eae812829320a35261dd68c192375225f
  .doctrees/environment.pickle
Due: none

Essai pou résoudre le test playwright qui tombe en erreur
  webapp/e2e_tests/carte.spec.ts
Due: prettier

Essai pour résoudre le test playwright qui tombe en erreur (#2656)
  webapp/e2e_tests/carte.spec.ts
Due: prettier

deploy: 22115c2d1022e5fa0daecfd82fdc1ca9f84a79f0
  .doctrees/environment.pickle
Due: none

Nouveau contenu pour l'onglet annuaire entreprise
  webapp/data/views.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/annuaire_entreprise_controller.ts
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

Define redirects on a wagtail site
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
Due: ruff, ruff-format, djade

Support several hosts
  webapp/servers.conf.erb
Due: none

add tests
  webapp/integration_tests/carte/test_acteur_detail.py
  webapp/integration_tests/carte/test_adresses_view.py
  webapp/integration_tests/carte/test_use_carte_config.py
  webapp/integration_tests/formulaire/test_routes.py
Due: ruff, ruff-format, djade

fix formulaire
  webapp/qfdmo/views/adresses.py
  webapp/qfdmo/views/formulaire.py
Due: ruff, ruff-format, djade

fix bonus icon in fiche acteur
  webapp/core/constants.py
  webapp/templates/ui/components/acteur/tabs/sections/bonus.html
Due: ruff, ruff-format, djade

fix bonus
  webapp/core/templatetags/acteur_tags.py
  webapp/templates/ui/components/label_qualite/label_bonus.html
Due: ruff, ruff-format, djade

Add simple unit test
  webapp/unit_tests/core/templatetags/test_acteur_tags.py
Due: ruff, ruff-format, djade

coucou
  coucou
Due: none

remove migrate homepage in CI
  .github/actions/prepare-django-db/action.yml
Due: none

Fix e2e
  webapp/e2e_tests/carte.spec.ts
Due: prettier

Correction d'un test e2e pour le rendre plus résilient (#2661)
  webapp/e2e_tests/carte.spec.ts
Due: prettier

deploy: dddaa0fc87ddca7a889fa65d8e7530976eb42816
  .doctrees/environment.pickle
Due: none

Définir les redirections sur le site vitrine (#2658)
  webapp/qfdmd/management/commands/import_redirects_from_legacy_website.py
  webapp/servers.conf.erb
Due: ruff, ruff-format, djade

deploy: 9c74afd219a3b2911a46879f2f5a91fa233cb9a3
  .doctrees/environment.pickle
Due: none

L’icône bonus réparation n’est pas bonne (#2660)
  webapp/core/constants.py
  webapp/core/templatetags/acteur_tags.py
  webapp/templates/ui/components/acteur/tabs/sections/bonus.html
  webapp/templates/ui/components/label_qualite/label_bonus.html
  webapp/unit_tests/core/templatetags/test_acteur_tags.py
Due: ruff, ruff-format, djade

deploy: 67b117ad0eb6b8b3990d63cdd4c672b0ac7bcaa8
  .doctrees/environment.pickle
Due: none

Correction sur les couleurs dans la fiche acteur qui reprennent la couleur de l'action au lieu du groupe (#2654)
  webapp/integration_tests/carte/test_acteur_detail.py
  webapp/integration_tests/carte/test_adresses_view.py
  webapp/integration_tests/carte/test_use_carte_config.py
  webapp/integration_tests/formulaire/test_routes.py
  webapp/qfdmo/views/adresses.py
  webapp/qfdmo/views/formulaire.py
Due: ruff, ruff-format, djade

deploy: bc131e3047c5f0171e0e87f8b76f3c282f7551fb
  .doctrees/environment.pickle
Due: none

deploy: b8d410941f50ea8506b5480f1470b68f059936a3
  .doctrees/environment.pickle
Due: none
