Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Add e2e
  .github/workflows/chrome-extension-ci.yml
  e2e_tests/chrome_extension.spec.ts
  package.json
  playwright.config.ts
  playwright.extension.config.ts
Due: prettier

Fix ci
  chrome-extension/package-lock.json
  chrome-extension/package.json
Due: none

deploy: 54a918a5dd33e8733245f1ef46a76d8550340ad5
  .doctrees/environment.pickle
Due: none

Add missing depdenencies
  chrome-extension/package-lock.json
Due: none

deploy: 4fe51ac8d3ce414cc99fc88bc458aead8ac9fc25
  .doctrees/environment.pickle
Due: none

deploy: 4b2e040789a226a2de46282291eed8c33b4067b5
  .doctrees/environment.pickle
Due: none

deploy: d4565e7e391aa1c4e6f89a26e5468afdb57a0e21
  .doctrees/environment.pickle
Due: none

deploy: 3bb6023b03054b67b6fc528f7df8369968ea8c8d
  .doctrees/environment.pickle
Due: none

deploy: ceed8f7488146ab6db85a266e182012a8a87dd5f
  .doctrees/environment.pickle
Due: none

deploy: b80ae1a4c222cb8d8882b2b92a88c4058f1d3719
  .doctrees/environment.pickle
Due: none

Supprimer des modèles non utilisés
  qfdmd/blocks.py
  qfdmd/management/commands/merge_reusable_content.py
  qfdmd/management/commands/migrate_familypage_to_produitpage.py
  qfdmd/migrations/0071_remove_produitpage_bonus_and_more.py
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  templates/ui/blocks/bonus.html
Due: ruff, ruff-format, djade

Ne pas filtrer le CP et la Ville des acteurs à domicile
  dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
Due: none

Remove reusable content
  qfdmd/blocks.py
  qfdmd/management/commands/merge_reusable_content.py
  qfdmd/migrations/0071_remove_produitpage_bonus_and_more.py
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  templates/ui/blocks/reusable.html
Due: ruff, ruff-format, djade

Ne pas filtrer le CP et la Ville des acteurs à domicile (#2512)
  dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
Due: none

deploy: 460be4893f180de028f8a051d014e6f53d6615a8
  .doctrees/environment.pickle
Due: none

deploy: 56cdf5226d04bf257be0c7f6a00f54cbed06a47a
  .doctrees/environment.pickle
Due: none

deploy: ccb806d123751bd3a1f5fd3d8831bf377d24c3e8
  .doctrees/environment.pickle
Due: none

Calcul du taux d'acteur empilés vs la date
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/schema.yml
Due: none

Supprimer la variante touch n drag de la fiche acteur en mobile
  static/to_compile/controllers/carte/acteur_details.ts
  templates/ui/components/acteur/acteur_detail.html
  templates/ui/pages/carte.html
Due: prettier

Modification du pied de page de l'assistant en iframe
  qfdmd/middleware.py
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/combined_logos.html
  templates/ui/snippets/share_and_embed.html
Due: ruff, ruff-format, djade

WIP
  templates/ui/snippets/share_and_embed.html
Due: none

Update
  previews/template_preview.py
  templates/ui/components/footer/base.iframe.html
Due: ruff, ruff-format, djade

Remove relicat
  templates/ui/components/acteur/acteur_detail.html
Due: none

wip
  static/to_compile/controllers/carte/acteur_details.ts
  templates/ui/components/acteur/_actions.html
Due: prettier

Fix e2e
  e2e_tests/iframe_navigation.spec.ts
Due: prettier

Remove force iframe for now
  qfdmd/middleware.py
Due: ruff, ruff-format, djade

deploy: 04c079d63aab9773bbe08b50bb0c816557aa0061
  .doctrees/environment.pickle
Due: none

Calcul du taux d'acteur empilés vs la date (#2500)
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/schema.yml
Due: none

deploy: 3301996fc7b53d81ea1bf203486f1a16fca306e8
  .doctrees/environment.pickle
Due: none

Supprimer des modèles non utilisés : Familles, Bonus (#2513)
  qfdmd/blocks.py
  qfdmd/management/commands/merge_reusable_content.py
  qfdmd/management/commands/migrate_familypage_to_produitpage.py
  qfdmd/migrations/0071_remove_produitpage_bonus_and_more.py
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  templates/ui/blocks/bonus.html
  templates/ui/blocks/reusable.html
Due: ruff, ruff-format, djade

deploy: d805727381d959680c948baaefe349507f438568
  .doctrees/environment.pickle
Due: none

Supprimer le contenu de a description quand les consignes d'accès sont les mêmes
  qfdmo/management/commands/clean_description_if_equal_consignes_dacces.py
Due: ruff, ruff-format, djade

Supprimer le contenu de a description si égale aux consignes d'accès (#2517)
  qfdmo/management/commands/clean_description_if_equal_consignes_dacces.py
Due: ruff, ruff-format, djade

deploy: aa8986db4f1504429671332ea5de12a5d3039dca
  .doctrees/environment.pickle
Due: none

Use absolute positionning for fiche acteur instead of xied
  templates/ui/components/acteur/acteur_detail.html
Due: none

Modification du pied de page de l'assistant en iframe (#2516)
  e2e_tests/iframe_navigation.spec.ts
  previews/template_preview.py
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/combined_logos.html
Due: ruff, ruff-format, djade, prettier

deploy: 296f3dac9b624b0cb9247be0b0d28d703f368d56
  .doctrees/environment.pickle
Due: none

e2e test
  e2e_tests/acteur.spec.ts
  previews/template_preview.py
  templates/ui/tests/t_15_acteur_fiche_viewport.html
Due: ruff, ruff-format, djade, prettier

upgrade Django 5.11
  pyproject.toml
  uv.lock
Due: none

upgrade Django 5.11 (#2519)
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
