Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

deploy: 66e8a25c7238d8d9c44dc8976dbc17219f14d1ed
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 9ff88c7c00448f9558ca8165511b38d1aa73d3f9
  .doctrees/environment.pickle
Due: none

deploy: b85f52795e5d767ca4faf7a9d122e0d3826ec993
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 1fe0b399272a33f2eb17dfded9f7f28779469a2c
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

lockfile
  webapp/package-lock.json
Due: none

Corrige un bug dans la génération du dataset
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/cluster_entities.sql
  ml_deduplication/ml_deduplication/dataset/sql/create_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/entities_from_suggestions.sql
  ml_deduplication/ml_deduplication/inference/run_inference_splink.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Ajout de la possibilité de charger des embeddings pré-calculés
  ml_deduplication/ml_deduplication/modeling/splink_model.py
Due: ruff, ruff-format, djade

Regeneration du lockfile suite aux merge dependabot (#3299)
  webapp/package-lock.json
Due: none

deploy: 7900d452bd1c7697b719f8e00a52ad654df3f0df
  .doctrees/environment.pickle
Due: none

Revert "Regeneration du lockfile suite aux merge dependabot (#3299)"
  webapp/package-lock.json
Due: none

Revert "Regeneration du lockfile suite aux merge dependabot (#3299)" (#3301)
  webapp/package-lock.json
Due: none

deploy: 6bed115194e66a94e076014ab23a6ed1da4dcdee
  .doctrees/environment.pickle
Due: none

deploy: d88a8fe974721626244fa27e4c8469cdd4ebf42e
  .doctrees/environment.pickle
Due: none

[SINOE] Nouveau portail
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/tests/sources/tasks/business_logic/test_source_data_normalize.py
Due: ruff, ruff-format, djade

Interdire les lignes videpour les propositions de services du jeu de données opendata
  data-platform/dags/acteurs/dags/compute_acteur.py
  data-platform/dags/acteurs/dags/export_opendata.py
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur_published.sql
  data-platform/dbt/models/exposure/acteurs/opendata/schema.yml
  data-platform/dbt/tests/generic/test_at_least_one_not_empty.sql
Due: ruff, ruff-format, djade

Interdire les lignes vides pour les propositions de services du jeu de données opendata (#3311)
  data-platform/dags/acteurs/dags/compute_acteur.py
  data-platform/dags/acteurs/dags/export_opendata.py
  data-platform/dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur_published.sql
  data-platform/dbt/models/exposure/acteurs/opendata/schema.yml
  data-platform/dbt/tests/generic/test_at_least_one_not_empty.sql
Due: ruff, ruff-format, djade

deploy: 0666342cdd99af3deef230dc9d97d13483e6084e
  .doctrees/environment.pickle
Due: none

Remove prebuild
  package.json
Due: none

use npm workspace
  .gitignore
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Due: none

Prevent errors with airflow dockerfiles
  data-platform/airflow-dag-processor.Dockerfile
Due: none

Apply suggestion from @fabienheureux
  bin/post_deploy
Due: none

Prevent errors with airflow dockerfiles
  data-platform/airflow-scheduler.Dockerfile
Due: none

Suppression des fichiers uv.lock inutils
  docs/uv.lock
  webapp/uv.lock
Due: none

Remove docs uv lock update
  docs/uv.lock
Due: none

Tentative de déploiement de la webapp avec les environnement uv
  .buildpacks
  .github/workflows/_backend-test-job.yml
  .python-version
  .slugignore
  Aptfile
  Procfile
  bin/post_compile
  bin/post_deploy
  bin/start
  docs/how-to/deployment/deployment.md
  docs/how-to/development/dependencies.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/pra.md
  docs/reference/webapp/django.md
  package.json
  pyproject.toml
  servers.conf.erb
  uv.lock
  webapp/Procfile
  webapp/bin/post_compile
  webapp/bin/start
Due: prettier

More explicit doc regarding slugignore
  docs/how-to/development/dependencies.md
Due: prettier

Move prettier to root
  docs/how-to/development/dependencies.md
  docs/how-to/development/installation.md
  docs/how-to/development/tests_e2e.md
  docs/reference/coding/README.md
  docs/reference/webapp/README.md
  package-lock.json
  package.json
  webapp/package.json
Due: prettier

dsfr
  .npmrc
  package-lock.json
  package.json
  webapp/package.json
Due: none

debug scalingo
  bin/post_compile
Due: none

simplify script
  bin/post_compile
Due: none

Revert previous start script
  bin/start
  webapp/servers.conf.erb
Due: none

move servers.conf.erb
  bin/start
  servers.conf.erb
Due: none

set webapp in nginx config
  servers.conf.erb
Due: none

Suppression des fichiers uv.lock inutils (#3270)
  .buildpacks
  .github/workflows/_backend-test-job.yml
  .gitignore
  .npmrc
  .python-version
  .slugignore
  Aptfile
  Procfile
  bin/post_compile
  bin/post_deploy
  bin/start
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  docs/how-to/deployment/deployment.md
  docs/how-to/development/dependencies.md
  docs/how-to/development/installation.md
  docs/how-to/development/tests_e2e.md
  docs/reference/coding/README.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/security/pra.md
  docs/reference/webapp/README.md
  docs/reference/webapp/django.md
  package-lock.json
  package.json
  pyproject.toml
  servers.conf.erb
  uv.lock
  webapp/Procfile
  webapp/bin/post_compile
  webapp/bin/start
  webapp/package.json
  webapp/uv.lock
Due: prettier

deploy: 47548eded9ccdb9590d87f60853bfeda7cb7fcc3
  .doctrees/environment.pickle
  .doctrees/how-to/deployment/deployment.doctree
  .doctrees/how-to/development/dependencies.doctree
  .doctrees/how-to/development/installation.doctree
  .doctrees/how-to/development/tests_e2e.doctree
  .doctrees/reference/coding/README.doctree
  .doctrees/reference/infrastructure/provisioning.doctree
  .doctrees/reference/security/pra.doctree
  .doctrees/reference/webapp/README.doctree
  .doctrees/reference/webapp/django.doctree
  _downloads/107ae6f6a70591a8435722bf4be2e286/package.json
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
  _downloads/af4cdeaa20604a40e4332050288474d3/.slugignore
  _sources/how-to/deployment/deployment.md.txt
  _sources/how-to/development/dependencies.md.txt
  _sources/how-to/development/installation.md.txt
  _sources/how-to/development/tests_e2e.md.txt
  _sources/reference/coding/README.md.txt
  _sources/reference/infrastructure/provisioning.md.txt
  _sources/reference/security/pra.md.txt
  _sources/reference/webapp/README.md.txt
  _sources/reference/webapp/django.md.txt
  how-to/deployment/README.html
  how-to/deployment/deployment.html
  how-to/development/dependencies.html
  how-to/development/installation.html
  how-to/development/tests_e2e.html
  reference/coding/README.html
  reference/infrastructure/provisioning.html
  reference/security/pra.html
  reference/webapp/README.html
  reference/webapp/django.html
  searchindex.js
Due: prettier

attempt to fix ci
  .github/workflows/ci.yml
Due: none

debug airflow django tasks
  webapp/settings/airflow.py
Due: ruff, ruff-format, djade

Corrige un problème d'import de dépendances sur les dags depuis la mise à jour de Django Tasks (#3318)
  webapp/settings/airflow.py
Due: ruff, ruff-format, djade

deploy: d5abbb92e0dcdd7b64ef4e31566bd1661a5dc559
  .doctrees/environment.pickle
Due: none
