Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Assistant : embarquer @iframe-resizer/child dans le bundle (ADR 0013)
  webapp/static/to_compile/assistant.ts
Due: prettier

Fiche : compteur des boutons désactivé, hors MVP
  webapp/assistant/consignes.py
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade

Accueil : état d'erreur du champ objet, iso maquette
  webapp/assistant/forms.py
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/pages/assistant/home.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
Due: ruff, ruff-format, djade, prettier

Assistant : plafonner le cadre à 800 px, largeur max vérifiée dans le Figma
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Iframe : la hauteur suit chaque écran, et chaque écran s'ouvre en haut
  webapp/static/to_compile/assistant.ts
Due: prettier

Recherche : les coordonnées de l'adresse survivent au réaffichage du champ
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
Due: ruff, ruff-format, djade

Champs de recherche : retours de tests MVP
  webapp/static/to_compile/controllers/assistant/combobox_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
Due: ruff, ruff-format, djade, prettier

Champs de recherche : liste de suggestions iso maquette
  webapp/static/to_compile/styles/assistant.css
Due: prettier

Open data consignes : retrait des migrations 0095/0096 qui s'annulent
  webapp/qfdmd/migrations/0095_consignes_column_width_derived.py
  webapp/qfdmd/migrations/0095_seed_lieux_de_depot.py
  webapp/qfdmd/migrations/0096_consignes_column_width_back.py
Due: ruff, ruff-format, djade

Preview : la grille de consignes générée au démarrage du conteneur
  webapp/bin/entrypoint.sh
Due: none

Open data consignes : grille générée à chaque déploiement
  bin/post_deploy
  infrastructure/modules/preview_database/main.tf
  webapp/qfdmd/consignes_migration.py
  webapp/qfdmd/management/commands/generate_consignes.py
  webapp/unit_tests/qfdmd/test_consignes_migration.py
Due: ruff, ruff-format, djade

Open data consignes : bloc CMS typé, API v1, export hebdomadaire et conversion des fiches
  data-platform/dags/acteurs/dags/export_opendata.py
  data-platform/dags/acteurs/tasks/airflow_logic/config_management.py
  data-platform/dags/acteurs/tasks/airflow_logic/export_opendata_fiches_to_s3_task.py
  data-platform/dags/acteurs/tasks/business_logic/export_opendata_fiches_to_s3.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_export_opendata_fiches_to_s3.py
  docs/reference/apis/v1.md
  docs/reference/infrastructure/provisioning.md
  docs/reference/opendata/README.md
  docs/reference/opendata/exposure-opendata-fiches.md
  webapp/.env.template
  webapp/assistant/consignes.py
  webapp/core/api.py
  webapp/qfdmd/api.py
  webapp/qfdmd/blocks.py
  webapp/qfdmd/consignes_migration.py
  webapp/qfdmd/migrations/0094_lieudedepot_and_consignes_block.py
  webapp/qfdmd/migrations/0095_consignes_column_width_derived.py
  webapp/qfdmd/migrations/0096_consignes_column_width_back.py
  webapp/qfdmd/migrations/0097_seed_lieux_de_depot.py
  webapp/qfdmd/models.py
  webapp/qfdmd/opendata.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_generate_consignes.html
  webapp/templates/ui/blocks/consigne.html
  webapp/templates/ui/blocks/consignes.html
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/qfdmd/test_consignes_block.py
  webapp/unit_tests/qfdmd/test_consignes_migration.py
  webapp/unit_tests/qfdmd/test_opendata.py
Due: ruff, ruff-format, djade, prettier

Consignes : prêter et louer retirés du MVP
  webapp/assistant/consignes.py
  webapp/qfdmd/consignes_migration.py
  webapp/unit_tests/assistant/test_consignes.py
  webapp/unit_tests/qfdmd/test_consignes_migration.py
Due: ruff, ruff-format, djade

Fiche sans adresse : les boutons proposent la géolocalisation
  webapp/static/to_compile/controllers/assistant/geolocalisation_controller.ts
  webapp/static/to_compile/images/assistant/ui/chargement.svg
  webapp/static/to_compile/images/assistant/ui/localisation.svg
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/unit_tests/assistant/test_consignes.py
Due: ruff, ruff-format, djade, prettier

Recherche : l'adresse devient facultative
  webapp/assistant/forms.py
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
Due: ruff, ruff-format, djade

Recherche : le libellé du champ lieu indique (facultatif)
  webapp/templates/ui/components/assistant/panneau_recherche.html
Due: none

Fiche : une adresse saisie remplace la géolocalisation, même compteur coupé
  webapp/assistant/consignes.py
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
Due: ruff, ruff-format, djade, prettier

Recherche : une adresse saisie sans suggestion choisie est refusée
  webapp/assistant/forms.py
  webapp/unit_tests/assistant/test_recherche_parcours.py
Due: ruff, ruff-format, djade

Recherche : le formulaire ne valide plus que l'objet, l'adresse facultative passe par Parcours
  webapp/assistant/forms.py
  webapp/templates/ui/components/assistant/panneau_recherche.html
  webapp/unit_tests/assistant/test_recherche_parcours.py
Due: ruff, ruff-format, djade

Fiche lieu : distance depuis la position de l'usager
  webapp/assistant/views/pages.py
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/unit_tests/assistant/test_lieu.py
Due: ruff, ruff-format, djade

Fiche lieu : état ouvert des accordéons, iso maquette
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/unit_tests/assistant/test_lieu.py
Due: ruff, ruff-format, djade, prettier

fix: preview isoprod, lire l'ID du backup et masquer le mot de passe de la base
  infrastructure/modules/preview_database/main.tf
Due: none

Preview : label preview:isoprod, base de production et conteneur toujours actif
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/preview-up.yml
  docs/reference/infrastructure/preview-environments.md
  infrastructure/Makefile
  infrastructure/environments/preview/_template/container/terragrunt.hcl
  infrastructure/environments/preview/_template/database/terragrunt.hcl
  infrastructure/modules/preview_database/main.tf
  infrastructure/modules/preview_database/variables.tf
Due: prettier

Model update
  webapp/data/management/commands/seed_revue_suggestions.py
  webapp/data/migrations/0025_revue_suggestions_decision.py
  webapp/data/models/suggestion.py
  webapp/data/services/__init__.py
  webapp/data/services/suggestion_statut.py
  webapp/unit_tests/data/management/test_seed_revue_suggestions.py
  webapp/unit_tests/data/services/test_suggestion_statut.py
Due: ruff, ruff-format, djade

écran des cohortes
  webapp/core/api.py
  webapp/data/revue/api.py
  webapp/data/revue/cohortes.py
  webapp/data/revue/errors.py
  webapp/data/revue/filters.py
  webapp/data/revue/pagination.py
  webapp/data/revue/schemas.py
  webapp/integration_tests/revue/test_revue_cohortes_api.py
  webapp/revue-front/jest.config.ts
  webapp/revue-front/src/__mocks__/wa.tsx
  webapp/revue-front/src/api/openapi.json
  webapp/revue-front/src/api/queries.ts
  webapp/revue-front/src/api/schema.d.ts
  webapp/revue-front/src/api/types.ts
  webapp/revue-front/src/components/common/ErrorToaster.tsx
  webapp/revue-front/src/components/common/LogsButton.test.tsx
  webapp/revue-front/src/components/common/LogsButton.tsx
  webapp/revue-front/src/components/common/LogsDrawer.tsx
  webapp/revue-front/src/components/common/Pager.tsx
  webapp/revue-front/src/components/common/Pill.tsx
  webapp/revue-front/src/components/common/Segmented.tsx
  webapp/revue-front/src/components/common/StackBar.tsx
  webapp/revue-front/src/components/filters/FilterBuilder.test.tsx
  webapp/revue-front/src/components/filters/FilterBuilder.tsx
  webapp/revue-front/src/domain/filterModel.test.ts
  webapp/revue-front/src/domain/filterModel.ts
  webapp/revue-front/src/domain/format.ts
  webapp/revue-front/src/domain/statuts.ts
  webapp/revue-front/src/router.tsx
  webapp/revue-front/src/screens/cohortes/CohortesScreen.test.tsx
  webapp/revue-front/src/screens/cohortes/CohortesScreen.tsx
  webapp/revue-front/src/styles/revue.css
  webapp/revue-front/src/test-utils.tsx
  webapp/revue-front/src/wa.ts
  webapp/unit_tests/data/revue/test_filters.py
Due: ruff, ruff-format, djade, prettier

amélioration de l'affichage des metadata et export des logs
  webapp/data/revue/api.py
  webapp/data/revue/cohortes.py
  webapp/data/revue/exports.py
  webapp/data/revue/schemas.py
  webapp/integration_tests/revue/test_revue_cohortes_api.py
  webapp/revue-front/src/api/openapi.json
  webapp/revue-front/src/api/schema.d.ts
  webapp/revue-front/src/components/common/JsonValue.test.tsx
  webapp/revue-front/src/components/common/JsonValue.tsx
  webapp/revue-front/src/components/common/LogsDrawer.test.tsx
  webapp/revue-front/src/components/common/LogsDrawer.tsx
  webapp/revue-front/src/icons.ts
  webapp/revue-front/src/screens/cohortes/CohortesScreen.tsx
  webapp/revue-front/src/styles/revue.css
Due: ruff, ruff-format, djade, prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
