Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

merge uv.lock
  uv.lock
Due: none

cast column to avoid numpy error while save in DB
  data-platform/dags/sources/tasks/business_logic/db_data_prepare.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/sources/tasks/business_logic/source_data_validate.py
  data-platform/dags/sources/tasks/transform/sequence_utils.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade

quelques adaptations
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-webserver-start.sh
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  data-platform/uv.lock
  uv.lock
Due: none

relecure
  data-platform/dags/cluster/config/constants.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_prepare_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
Due: ruff, ruff-format, djade

doc d'un cas specifique
  docs/how-to/troubleshooting.md
Due: prettier

adapt deploiement
  data-platform/airflow-scheduler.Dockerfile
  data-platform/dags/.env.template
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  docker-compose.yml
  infrastructure/environments/airflowv3/airflow_containers/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/airflow-webserver.tf
  infrastructure/modules/airflow_containers/variables.tf
Due: ruff, ruff-format, djade

gestion des depreciations
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_model_table_consistency_task.py
  data-platform/dags/clone/dags/refresh_geo_models.py
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_read_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_failing_task.py
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_check_crawl_task.py
  data-platform/dags/crawl/tasks/airflow_logic/crawl_urls_read_urls_from_db_task.py
  data-platform/dags/enrich/config/xcoms.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_model_suggest_task.py
  data-platform/dags/enrich/tasks/airflow_logic/enrich_dbt_models_refresh_task.py
  data-platform/dags/shared/tasks/airflow_logic/trigger_dag_task.py
  data-platform/dags/stats/dags/compute_stats.py
  data-platform/dags/suggestions/dags/apply_suggestions.py
  data-platform/dags/suggestions/dags/apply_suggestions_groupe.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
Due: ruff, ruff-format, djade

gestion des xcom_pulls
  data-platform/dags/clone/config/xcoms.py
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/enrich/config/xcoms.py
  data-platform/dags/enrich/tasks/airflow_logic/db_write_cp_suggestions_task.py
  data-platform/dags/enrich/tasks/airflow_logic/normalize_acteur_cp_task.py
  data-platform/dags/shared/xcom/pull.py
  data-platform/dags/sources/config/xcoms.py
  data-platform/dags/sources/tasks/airflow_logic/db_data_prepare_task.py
  data-platform/dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  data-platform/dags/sources/tasks/airflow_logic/keep_acteur_changed_task.py
  data-platform/dags/sources/tasks/airflow_logic/source_data_normalize_task.py
  data-platform/dags/sources/tasks/airflow_logic/source_data_validate_task.py
Due: ruff, ruff-format, djade

Ajout des etapes de CI/CD pour dag-processor
  .github/workflows/_airflow-build-and-push-docker.yml
  .github/workflows/_deploy-airflow.yml
Due: none

infrastructure
  docs/how-to/troubleshooting.md
  infrastructure/environments/airflowv3/airflow_containers/.terraform.lock.hcl
  infrastructure/environments/airflowv3/airflow_containers/terraform.tfvars.example
  infrastructure/environments/airflowv3/airflow_containers/terragrunt.hcl
  infrastructure/environments/airflowv3/database/.terraform.lock.hcl
  infrastructure/environments/airflowv3/database/terraform.tfvars.example
  infrastructure/environments/airflowv3/database/terragrunt.hcl
  infrastructure/environments/airflowv3/object_storage/.terraform.lock.hcl
  infrastructure/environments/airflowv3/object_storage/terraform.tfvars.example
  infrastructure/environments/airflowv3/object_storage/terragrunt.hcl
  infrastructure/modules/airflow_containers/airflow-dag-processor.tf
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/airflow-webserver.tf
  infrastructure/modules/airflow_containers/namespace.tf
  infrastructure/modules/airflow_containers/variables.tf
  infrastructure/modules/database/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
  scripts/sql/create_remote_warehouse_in_webapp.sql
  scripts/sql/create_remote_webapp_in_warehouse.sql
Due: prettier

adaptation des tests
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/prepare.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_suggestions_prepare.py
  data-platform/dags/tests/shared/tasks/airflow_logic/test_packages_compatibility.py
  data-platform/dags/tests/utils/test_data_serialize_reconstruct.py
Due: ruff, ruff-format, djade

adaptation to avoid define a new XCom backend
  data-platform/dags/.env.template
  data-platform/dags/cluster/config/xcoms.py
  data-platform/dags/crawl/config/xcoms.py
  data-platform/dags/shared/tasks/airflow_logic/trigger_dag_task.py
  data-platform/dags/shared/xcom/dataframe_xcom_backend.py
  data-platform/dags/shared/xcom/normalize.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  data-platform/dags/tools/dags/purge_log_db.py
  data-platform/scripts/db_cleanup.sh
  data-platform/scripts/infrastructure/purge_db_logs.sh
  docker-compose.yml
Due: ruff, ruff-format, djade

adaptation des dockerfile
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
Due: none

gestion des XCOM avec un backend custom
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_normalize.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  data-platform/dags/shared/xcom/__init__.py
  data-platform/dags/shared/xcom/dataframe_xcom_backend.py
Due: ruff, ruff-format, djade

format
  data-platform/dags/clone/config/__init__.py
  data-platform/dags/clone/tasks/airflow_logic/clone_config_create_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_old_tables_remove_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_table_create_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_table_validate_task.py
  data-platform/dags/clone/tasks/airflow_logic/clone_view_in_use_switch_task.py
  data-platform/dags/clone/tasks/business_logic/clone_table_validate.py
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_new.py
  data-platform/dags/e2e_tests/e2e_utils.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_view_in_use_switch.py
  data-platform/dags/tests/cluster/config/test_model.py
  data-platform/uv.lock
Due: ruff, ruff-format, djade

amélioration des instructions d'utilisation
  webapp/mcp_server/server.py
  webapp/mcp_server/tools.py
Due: ruff, ruff-format, djade

A/B teste mode carte/liste par défaut sur les pages produit en mobile
  AGENTS.md
  docs/reference/webapp/ab-testing.md
  webapp/core/templatetags/carte_tags.py
  webapp/core/url_utils.py
  webapp/e2e_tests/produit_carte_ab.spec.ts
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/carte.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/templates/templatetags/carte.html
  webapp/unit_tests/core/templatetags/test_carte_tag.py
  webapp/unit_tests/core/test_url_utils.py
Due: ruff, ruff-format, djade, prettier

Limite l'A/B test mode carte/liste aux ProduitPage explicitement opt-in
  docs/reference/webapp/ab-testing.md
  webapp/core/templatetags/carte_tags.py
  webapp/e2e_tests/produit_carte_ab.spec.ts
  webapp/qfdmd/migrations/0083_produitpage_ab_test_carte_default_view.py
  webapp/qfdmd/models.py
  webapp/unit_tests/core/templatetags/test_carte_tag.py
Due: ruff, ruff-format, djade, prettier

Ajout du filtre des suggestion groupe quand il a un suggestion unitaire sur un champ donné
  webapp/data/admin.py
  webapp/data/models/suggestions/abstract.py
Due: ruff, ruff-format, djade

to be continued…
  infrastructure/environments/preprod/container/terragrunt.hcl
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/environments/preprod/database_sample/terragrunt.hcl
  infrastructure/environments/preprod/env.hcl
  infrastructure/environments/preprod/object_storage/terragrunt.hcl
  infrastructure/environments/preview/container/terragrunt.hcl
  infrastructure/environments/preview/container_nginx/terragrunt.hcl
  infrastructure/environments/preview/container_webapp/terragrunt.hcl
  infrastructure/environments/preview/database/.terraform.lock.hcl
  infrastructure/environments/preview/database/terragrunt.hcl
  infrastructure/environments/preview/env.hcl
  infrastructure/environments/preview/object_storage/.terraform.lock.hcl
  infrastructure/environments/preview/object_storage/terraform.tfvars.example
  infrastructure/environments/preview/object_storage/terragrunt.hcl
  infrastructure/environments/prod/container/terragrunt.hcl
  infrastructure/environments/prod/container_registry/terragrunt.hcl
  infrastructure/environments/prod/database/terragrunt.hcl
  infrastructure/environments/prod/env.hcl
  infrastructure/environments/prod/object_storage/terragrunt.hcl
  infrastructure/environments/root.hcl
  infrastructure/environments/variables.tf
  infrastructure/modules/backend/main.tf
  infrastructure/modules/backend/variables.tf
Due: none

déploiement de la webapp en serverless container
  SESSION_HANDOFF_preview_environment.md
  docker-compose.yml
  infrastructure/environments/preprod/container/terragrunt.hcl
  infrastructure/environments/preprod/container_namespace/terragrunt.hcl
  infrastructure/environments/preview/container/.terraform.lock.hcl
  infrastructure/environments/preview/container/terragrunt.hcl
  infrastructure/environments/preview/container_namespace/.terraform.lock.hcl
  infrastructure/environments/preview/container_namespace/terraform.tfvars.example
  infrastructure/environments/preview/container_namespace/terragrunt.hcl
  infrastructure/environments/preview/container_nginx/terragrunt.hcl
  infrastructure/environments/preview/container_webapp/.terraform.lock.hcl
  infrastructure/environments/preview/container_webapp/terragrunt.hcl
  infrastructure/environments/preview/env.hcl
  infrastructure/environments/prod/container/terragrunt.hcl
  infrastructure/environments/prod/container_namespace/terragrunt.hcl
  infrastructure/environments/root.hcl
  infrastructure/modules/container/airflow-scheduler.tf
  infrastructure/modules/container/airflow-webserver.tf
  infrastructure/modules/container/variables.tf
  infrastructure/modules/container_namespace/namespace.tf
  infrastructure/modules/container_namespace/outputs.tf
  infrastructure/modules/container_namespace/variables.tf
  infrastructure/modules/container_webapp/main.tf
  infrastructure/modules/container_webapp/secrets.tf
  infrastructure/modules/container_webapp/variables.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database_sample/outputs.tf
  uv.lock
Due: prettier

continue…
  infrastructure/environments/preview/container_nginx/.terraform.lock.hcl
  infrastructure/environments/preview/container_nginx/terraform.tfvars.example
  infrastructure/environments/preview/container_webapp/terraform.tfvars.example
  infrastructure/environments/preview/container_webapp/terragrunt.hcl
  infrastructure/modules/container/secrets.tf
  infrastructure/modules/container_nginx/main.tf
  infrastructure/modules/container_webapp/main.tf
  infrastructure/modules/container_webapp/secrets.tf
Due: none

Ajout d'une Source généric à configurer entièrement selon un besoin spécific
  data-platform/dags/shared/config/tags.py
  data-platform/dags/sources/dags/source_generic.py
Due: ruff, ruff-format, djade

fetch raw data from url
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
Due: ruff, ruff-format, djade

deploy: f4226c9130cd2cbff3a32dd1ab3f3b71d81535dc
  .doctrees/environment.pickle
Due: none

Affiche la mini carte sur mobile dans la fiche détaillée
  webapp/e2e_tests/carte.spec.ts
  webapp/templates/ui/components/acteur/tabs/sections/adresse.html
Due: prettier

Affiche la mini carte sur mobile dans la fiche détaillée (re-merge) (#2797)
  webapp/e2e_tests/carte.spec.ts
  webapp/templates/ui/components/acteur/tabs/sections/adresse.html
Due: prettier

deploy: e95ae763445c52d20dad23b457afd8ca6b7be597
  .doctrees/environment.pickle
Due: none

deploy: 2fee6f8386da634aaf75a87d55c6d090827ecaab
  .doctrees/environment.pickle
Due: none

deploy: 51c83b6f0d66af66f9e402471f2b99acefe0f7f5
  .doctrees/environment.pickle
Due: none

Ajout d'une Source généric à configurer entièrement selon un besoin spécifique (#2466)
  data-platform/dags/shared/config/tags.py
  data-platform/dags/sources/dags/source_generic.py
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
Due: ruff, ruff-format, djade

deploy: 1d1bbfa9fb500fe98b458d1bf6dbfb019c5c77b1
  .doctrees/environment.pickle
Due: none

deploy: b3bd187171df2e877794f0398a791ba7fad9cab9
  .doctrees/environment.pickle
Due: none

deploy: 74c94f5633e4a7a61fa53706d6588de36c78fd30
  .doctrees/environment.pickle
Due: none

deploy: 71e0a3cf6db379889397e6b1d3fba4dee3c2af8d
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 92503a8fd7378271a21c5b0de8e1ec5d2706e947
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 62d1fd6d403d7c6c2a60793affbfd6ac44d034c3
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 61f7747fb764088d77238619773d05699776760f
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
