Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

refactorisation des tables exposure_stats pour réduire le nombre de table à maintenir
  dbt/models/exposure/stats/exposure_stats_acteur_siren_siret_history.sql
  dbt/models/exposure/stats/exposure_stats_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/schema.yml
Due: none

les taux de siret et siren actif sont par rapport aux acteurs avec siren ou siret
  dbt/models/exposure/stats/exposure_stats_acteur_siren_siret_history.sql
  dbt/models/exposure/stats/schema.yml
Due: none

Refactorisation des tables exposure_stats : facilite la maintenance (#2523)
  dbt/models/exposure/stats/exposure_stats_acteur_siren_siret_history.sql
  dbt/models/exposure/stats/exposure_stats_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_nb_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_stacked_rounded_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siren_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_actif_history.sql
  dbt/models/exposure/stats/exposure_stats_rate_acteur_visible_with_siret_history.sql
  dbt/models/exposure/stats/schema.yml
Due: none

deploy: 1d17a8e3bd3fa9228592c06f99debf3594556653
  .doctrees/environment.pickle
Due: none

Comparaison SIREN et SIRET de Acteur et révision
  dbt/models/exposure/stats/exposure_stats_acteur_revision_siren.sql
  dbt/models/exposure/stats/exposure_stats_acteur_revision_siret.sql
  dbt/models/exposure/stats/exposure_stats_acteur_revision_statut.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_revision.sql
  dbt/models/marts/stats/marts_acteur_revision_statut.sql
  dbt/models/marts/stats/schema.yml
Due: none

Comparaison SIREN et SIRET de Acteur et révision (#2524)
  dbt/models/exposure/stats/exposure_stats_acteur_revision_siren.sql
  dbt/models/exposure/stats/exposure_stats_acteur_revision_siret.sql
  dbt/models/exposure/stats/exposure_stats_acteur_revision_statut.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_revision.sql
  dbt/models/marts/stats/marts_acteur_revision_statut.sql
  dbt/models/marts/stats/schema.yml
Due: none

deploy: e04c2565aff6d0768e04d7b3a8ae73a382304548
  .doctrees/environment.pickle
Due: none

Correction des icônes du générateur d'infotri
  templates/ui/components/infotri/svg/linge.html
  templates/ui/components/infotri/svg/textile.html
Due: none

missing template
  templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

Correction des icônes du générateur d'infotri (#2548)
  templates/ui/components/infotri/svg/linge.html
  templates/ui/components/infotri/svg/textile.html
Due: none

deploy: 4c8a42e70dc8c811175fa9108d0801bd48a064bf
  .doctrees/environment.pickle
Due: none

Remove parcel purgecss
  package-lock.json
  package.json
  parcel-transformers/dsfr.ts
Due: prettier

lockfile
  pyproject.toml
  uv.lock
Due: none

wip
  .parcelrc
Due: none

Rename migrations
  qfdmd/migrations/0072_alter_produitindexpage_body_alter_produitpage_body.py
Due: ruff, ruff-format, djade

Suppression de purgecss (#2551)
  .parcelrc
  package-lock.json
  package.json
  parcel-transformers/dsfr.ts
Due: prettier

deploy: 7b3f23d2e2dd83e58531cd0180e00680d3af245e
  .doctrees/environment.pickle
Due: none

Disable cache for db in CI|
  .github/actions/prepare-django-db/action.yml
Due: none

Pas besoin de modifier le sys.path
  dags/airflow_local_settings.py
Due: ruff, ruff-format, djade

utilisation des constantes définit dans Django
  dags/sources/dags/source_cma.py
Due: ruff, ruff-format, djade

Suppression de django_setup_full() quand c'est possible
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/sources/tasks/transform/transform_column.py
  dags/utils/django.py
Due: ruff, ruff-format, djade

Changer le sys.path pour inclure les packages django pour tous les DAGs Airflow
  core/models/constants.py
  core/validators.py
  dags/airflow_local_settings.py
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/sources/config/airflow_params.py
  dags/sources/config/shared_constants.py
  dags/sources/dags/source_pharmacies.py
  dags/sources/dags/source_sinoe.py
  dags/sources/tasks/business_logic/db_data_prepare.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  dags/sources/tasks/transform/transform_column.py
  dags/suggestions/tasks/business_logic/db_apply_suggestion.py
  dags/suggestions/tasks/business_logic/db_check_suggestion_to_process.py
  dags/tests/crawl/fixtures.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_dns.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_check_syntax.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_read_from_db.py
  dags/tests/crawl/tasks/business_logic/test_crawl_urls_suggest_prepare.py
  data/models/suggestion.py
  qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

pyproject à la racine
  pyproject.toml
  uv.lock
Due: none

test dags
  .github/workflows/ci.yml
  data-platform/dags/tests/conftest.py
  uv.lock
  webapp/Makefile
Due: ruff, ruff-format, djade

suppression des variable CELLAR
  data-platform/dags/.env.template
Due: none

CI et Makefile
  .github/actions/prepare-django-db/action.yml
  .github/actions/setup-frontend/action.yml
  .github/actions/setup-playwright/action.yml
  .github/workflows/_airflow-build-and-push-docker.yml
  .github/workflows/ci.yml
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  docker-compose.yml
  webapp/Makefile
Due: none

update cache management pour CI
  .github/actions/setup-frontend/action.yml
Due: none

gestion de working-directory dans .github/actions/setup-frontend/action.yml
  .github/actions/setup-frontend/action.yml
  .github/workflows/ci.yml
Due: none

Adapation de la documentation à la nouvelle architecture
  AGENTS.md
  CLAUDE.md
  README.md
  api.AGENTS.md
  docs/comment-faire/development/create_webapp_sample_db.md
  docs/comment-faire/development/installation.md
  docs/comment-faire/development/tests_e2e.md
  docs/explications/data/README.md
  docs/explications/data/flux-dbt.md
  docs/explications/data/ingestion-de-source.md
  docs/reference/apis/qfdmo.md
  docs/reference/data/organisation-des-fichiers.md
  pyproject.toml
  webapp/pyproject.toml
Due: prettier

update api and webapp documentation
  AGENTS.md
  api.AGENTS.md
  docs/reference/README.md
  docs/reference/apis/README.md
  docs/reference/apis/qfdmo.md
  docs/reference/apis/stats.md
  docs/reference/coding/francais-vs-anglais.md
  docs/reference/coding/french-vs-english.md
  docs/reference/frontend/README.md
  docs/reference/frontend/parcel.md
  docs/reference/frontend/tailwind.md
  docs/reference/frontend/templates.md
  docs/reference/webapp/README.md
  docs/reference/webapp/look-and-feel.md
  docs/reference/webapp/templates.md
Due: prettier

partage de uv lock et pyproject.toml entre root et webapp
  uv.lock
  webapp/uv.lock
Due: none

debug e2e
  e2e_tests/carte.spec.ts
  e2e_tests/formulaire.spec.ts
  e2e_tests/helpers.ts
Due: prettier

update docs
  docs/explanations/iframe/README.md
  docs/how-to/development/tests_e2e.md
  docs/how-to/infrastructure/create_db.md
  docs/reference/README.md
  docs/reference/apis/stats.md
  docs/reference/data-platform/clustering-deduplication.md
  docs/reference/webapp/templates.md
Due: prettier

debug e2e
  e2e_tests/carte.spec.ts
  e2e_tests/formulaire.spec.ts
  e2e_tests/helpers.ts
  playwright.config.ts
Due: prettier

coucou
  coucou
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
