Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Ajout d'un test pour d'affichage de l'acteur en mode liste (#2521)
  e2e_tests/acteur.spec.ts
  e2e_tests/helpers.ts
  templates/ui/components/acteur/acteur_detail.html
  templates/ui/components/acteur/acteur_table_name.html
Due: prettier

deploy: ef6a88b18cbb0d778ac1e2442c655ef52ac2e46c
  .doctrees/environment.pickle
Due: none

Detection des corrections affichées alors que les acteurs ont été désactivés ou supprimés
  dbt/models/exposure/stats/exposure_stats_acteur_revision_statut.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/intermediate/stats/int_acteur_with_revision.sql
  dbt/models/intermediate/stats/int_revision_with_acteur.sql
  dbt/models/intermediate/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_revision_statut.sql
  dbt/models/marts/stats/schema.yml
Due: none

WIP
  qfdmd/forms.py
  qfdmd/management/commands/populate_search_terms.py
  qfdmd/migrations/0072_searchtag_and_synonyme_inheritance.py
  qfdmd/models.py
  search/models.py
  uv.lock
Due: ruff, ruff-format, djade

Update import script
  qfdmd/models.py
  qfdmd/views.py
Due: ruff, ruff-format, djade

Comparaison SIREN et SIRET de Acteur et révision
  dbt/models/exposure/stats/exposure_stats_acteur_revision_siren.sql
  dbt/models/exposure/stats/exposure_stats_acteur_revision_siret.sql
  dbt/models/exposure/stats/exposure_stats_acteur_revision_statut.sql
  dbt/models/exposure/stats/schema.yml
  dbt/models/marts/stats/marts_acteur_revision.sql
  dbt/models/marts/stats/marts_acteur_revision_statut.sql
  dbt/models/marts/stats/schema.yml
Due: none

Improve comment
  search/models.py
Due: ruff, ruff-format, djade

Rewrite tests
  unit_tests/qfdmd/test_import_legacy_synonymes.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

Fix comma in tags
  qfdmd/views.py
Due: ruff, ruff-format, djade

Revert "Modification du pied de page de l'assistant en iframe (#2516)"
  e2e_tests/iframe_navigation.spec.ts
  previews/template_preview.py
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/combined_logos.html
Due: ruff, ruff-format, djade, prettier

Fix search tag indexing, comma escaping, URL params, and align tests
  qfdmd/views.py
  templates/ui/components/search/search_result_searchtag.html
  templates/ui/components/search/view.html
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Fix unit test
  qfdmd/models.py
  unit_tests/qfdmd/test_import_legacy_synonymes.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

refine tests
  e2e_tests/search.spec.ts
  unit_tests/conftest.py
  unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade, prettier

add sample script
  .env.template
  .github/workflows/ci.yml
  Makefile
  scripts/restore_sample_locally.sh
Due: none

Add comment
  .github/workflows/ci.yml
Due: none

debug e2e
  e2e_tests/search.spec.ts
Due: prettier

wip
  .github/workflows/ci.yml
  e2e_tests/search.spec.ts
Due: prettier

disable cache temporarily
  .github/workflows/ci.yml
Due: none

Missing command
  qfdmd/management/commands/populate_fake_search_tags.py
Due: ruff, ruff-format, djade

lockfiel
  uv.lock
Due: none

dump and cache
  .github/workflows/ci.yml
Due: none

wip
  .github/workflows/ci.yml
Due: none

Rebuild index before searching
  unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

Disable e2e for now
  .github/workflows/chrome-extension-ci.yml
  e2e_tests/chrome_extension.spec.ts
Due: prettier

Revert "Modification du pied de page de l'assistant en iframe (#2516)" (#2525)
  e2e_tests/iframe_navigation.spec.ts
  previews/template_preview.py
  templates/ui/components/footer/base.iframe.html
  templates/ui/components/footer/combined_logos.html
Due: ruff, ruff-format, djade, prettier

deploy: 456d85ca5a8ceb990e75f493ca573779dfd7ddf1
  .doctrees/environment.pickle
Due: none

Apply suggestions from code review
  .github/workflows/cd.yml
  .github/workflows/review.yml
Due: none

Proposition pour tagger différemment les versions à déployer en preprod
  .github/workflows/cd.yml
  .github/workflows/review.yml
Due: none

Proposition pour tagger différemment les versions à déployer en preprod (#2494)
  .github/workflows/cd.yml
  .github/workflows/review.yml
Due: none

deploy: 91e8b0071737c23eb3f9ac697acb51e8a7da020e
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 405a9e085c48789a444b32c19c8f123e35f320ee
  .doctrees/environment.pickle
Due: none

deploy: 4c432b4deec1c3b07abbc453766d35f12269c4bb
  .doctrees/environment.pickle
Due: none

Add testand search term support in heading
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/components/search/_search_term.html
  unit_tests/search/__init__.py
  unit_tests/search/test_search_term.py
Due: ruff, ruff-format, djade

Import at the top of the file
  previews/template_preview.py
Due: ruff, ruff-format, djade

Add comment regarding fake search terms
  qfdmd/management/commands/populate_fake_search_tags.py
Due: ruff, ruff-format, djade

Rename make command
  Makefile
Due: none

Add modelsearch command regarding custom version used
  pyproject.toml
Due: none

Revert
  unit_tests/conftest.py
Due: ruff, ruff-format, djade

deploy: 6e05c869a307aa65a55166ae999cec1cc7fd6671
  .doctrees/environment.pickle
Due: none

deploy: 90f500a02fb4d5529c4181d62511b6b1b138ed3c
  .doctrees/environment.pickle
Due: none
