Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Fix bad rebase
  Makefile
  webapp/Makefile
  webapp/templates/ui/components/search/search_result_produitpage.html
  webapp/templates/ui/components/search/search_result_searchtag.html
  webapp/templates/ui/components/search/search_result_synonyme.html
Due: none

Add migrations
  webapp/qfdmd/migrations/0080_remove_synonyme_disabled.py
  webapp/qfdmd/models.py
  webapp/search/migrations/0002_searchterm_disabled.py
  webapp/search/models.py
  webapp/search/wagtail_hooks.py
Due: ruff, ruff-format, djade

WIP
  webapp/qfdmd/migrations/0080_remove_synonyme_disabled.py
  webapp/qfdmd/models.py
  webapp/search/models.py
  webapp/search/wagtail_hooks.py
Due: ruff, ruff-format, djade

Faster CI/CD (#2583)
  .github/workflows/_backend-test-job.yml
  .github/workflows/ci.yml
Due: none

deploy: 65a4a14c306fa73a09dba552c02ef945ae954572
  .doctrees/environment.pickle
Due: none

Amélioration du moteur de recherche : administration (#2584)
  webapp/qfdmd/migrations/0080_remove_synonyme_disabled.py
  webapp/qfdmd/models.py
  webapp/search/migrations/0002_searchterm_disabled.py
  webapp/search/models.py
  webapp/search/wagtail_hooks.py
Due: ruff, ruff-format, djade

deploy: 01e021a02a0f9e5ca104ba2c349f299e30db3fa7
  .doctrees/environment.pickle
Due: none

Use sites conformes 2.5.3
  uv.lock
  webapp/pyproject.toml
Due: none

Use sites conformes 2.5.3 (#2585)
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: 891400e362806b3611b74a716023e3bffe3a2eff
  .doctrees/environment.pickle
Due: none

rc2
  uv.lock
  webapp/pyproject.toml
Due: none

Mise à jour de Sites Conformes - rc2 (#2586)
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: d0c8c6c434a6f04ba7c04fb29ffbda6744ac9af0
  .doctrees/environment.pickle
Due: none

rollback django version
  uv.lock
  webapp/pyproject.toml
Due: none

Rollback django - retour bug menu principal wagtail #2587
  uv.lock
  webapp/pyproject.toml
Due: none

deploy: 5bd9d1f74a895cfe574bee353aaa47f38a37bc04
  .doctrees/environment.pickle
Due: none

Upgrade to django 6.0
  uv.lock
  webapp/pyproject.toml
  webapp/static/to_compile/admin-map-widget.ts
  webapp/templates/admin/custom-openlayers-with-search.html
  webapp/templates/admin/custom-openlayers.html
Due: prettier

Add e2e test on django admin
  .github/workflows/_e2e.yml
  webapp/e2e_tests/django-admin.spec.ts
Due: prettier

improve e2e test
  webapp/e2e_tests/django-admin.spec.ts
Due: prettier

wip
  webapp/e2e_tests/debug-search.spec.ts
Due: prettier

Do not create superuser twice
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
  Makefile
Due: none

Use more stimulus controller
  webapp/e2e_tests/django-admin.spec.ts
  webapp/static/to_compile/controllers/admin/map_search_controller.ts
  webapp/templates/admin/custom-openlayers-with-search.html
Due: prettier

deploy: e066c9c4ae2a2f0449041b31080488b49e16a516
  .doctrees/environment.pickle
Due: none

WIP
  webapp/e2e_tests/django-admin.spec.ts
  webapp/templates/admin/custom-openlayers-with-search.html
Due: prettier

Add types and tests
  webapp/e2e_tests/django-admin.spec.ts
  webapp/static/to_compile/controllers/admin/map_search_controller.ts
  webapp/static/to_compile/ol.d.ts
  webapp/static/to_compile/tests/map_search_controller.test.ts
Due: prettier

update test
  webapp/static/to_compile/tests/map_search_controller.test.ts
Due: prettier

Django 6.0 upgrade + ajout de tests sur la carte custom dans django admin (#2588)
  .github/actions/prepare-django-db/action.yml
  Makefile
  uv.lock
  webapp/e2e_tests/django-admin.spec.ts
  webapp/pyproject.toml
  webapp/static/to_compile/admin-map-widget.ts
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/map_search_controller.ts
  webapp/static/to_compile/ol.d.ts
  webapp/static/to_compile/tests/map_search_controller.test.ts
  webapp/templates/admin/custom-openlayers-with-search.html
  webapp/templates/admin/custom-openlayers.html
Due: prettier

deploy: 597fae0b63d587cb895865673713b091bcbb1323
  .doctrees/environment.pickle
Due: none

Fix redirect
  webapp/qfdmd/admin.py
Due: ruff, ruff-format, djade

More fixes
  webapp/data/admin.py
Due: ruff, ruff-format, djade

La fonctionnalité de redirection django admin > wagtail fonctionne de nouveau (#2589)
  webapp/data/admin.py
  webapp/qfdmd/admin.py
Due: ruff, ruff-format, djade

deploy: bb73f29725ea5c9464180b493e7bd9b79e1eabae
  .doctrees/environment.pickle
Due: none

deploy: d914077ca25d5c697cabefe75a16424ad732fb99
  .doctrees/environment.pickle
Due: none

Faster e2e
  .github/workflows/_e2e.yml
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Fix translation
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Wip
  .github/actions/prepare-django-db/action.yml
  webapp/qfdmd/management/commands/fix_searchtag_names_from_synonymes.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

wip
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Wip
  .gitignore
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Debug sample script not generating data for synonyme table
  data-platform/dags/acteurs/tasks/business_logic/copy_utils.py
Due: ruff, ruff-format, djade

truncate fix
  data-platform/dags/acteurs/tasks/business_logic/copy_utils.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
