Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Remove dead code
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

suppression de l'infra metabase en preprod
  infrastructure/environments/preprod/metabase_containers/.terraform.lock.hcl
  infrastructure/environments/preprod/metabase_containers/terraform.tfvars.example
  infrastructure/environments/preprod/metabase_containers/terragrunt.hcl
Due: none

Restauration du style de django admin en version 6.0
  webapp/static/to_compile/styles/admin.css
Due: prettier

Fix visiteur orienté mode liste
  webapp/templates/ui/components/acteur/acteur_lien.html
  webapp/templates/ui/components/acteur/acteur_table_name.html
Due: none

deploy: 8154e8c83d802ffa09c45d4661e301bb41bad9d0
  .doctrees/environment.pickle
Due: none

add e2e test
  webapp/e2e_tests/mode_liste.spec.ts
Due: prettier

fix: destroy preview environments reliably and garbage-collect closed PRs
  .github/workflows/_terragrunt-apply.yml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-down.yml
  .github/workflows/preview-up.yml
  docs/reference/infrastructure/preview-environments.md
  infrastructure/modules/webapp_container/main.tf
  scripts/infrastructure/preview_destroy.sh
Due: prettier

docs
  docs/reference/webapp/django.md
Due: prettier

deploy: bdb73e5fc5287c465fc0382967423052369cced5
  .doctrees/environment.pickle
Due: none

feat: images infotri décoratives par défaut
  webapp/qfdmd/blocks.py
  webapp/qfdmd/management/commands/mark_infotri_decorative.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

deploy: ef8245e54e32bb94a4174bac23a72620a439dab8
  .doctrees/environment.pickle
Due: none

deploy: 2ad7d37ddb5d0fff805d22a027aba04b80351ec3
  .doctrees/environment.pickle
Due: none

deploy: 17e44738f7006009adf8ba33625bde422fe63dcf
  .doctrees/environment.pickle
Due: none

deploy: 56acdc65ecc00a5a2216291a078db45c332bfc27
  .doctrees/environment.pickle
Due: none

deploy: 2f18b807cf4dc8bca3a24c34b0fe1bab0d9d8790
  .doctrees/environment.pickle
Due: none

deploy: 06719eb2b1db3cc760155969b0d005388ed24bf1
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

fix(nginx): align PostHog reverse proxy with updated PostHog docs
  servers.conf.erb
  webapp/nginx/test_nginx.py
Due: ruff, ruff-format, djade

Restauration du style de django admin en version 6.0 (#3410)
  webapp/static/to_compile/styles/admin.css
Due: prettier

deploy: 1d452030cbdceef90994db55392940b3368ef7a3
  .doctrees/environment.pickle
Due: none

deploy: ffb9b5f8a597733da011a24e41da9ac47727eb76
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Remove maplibre 6
  package-lock.json
Due: none

deploy: eb1ddd87c369fa335826844dded6fa08194a2fc9
  .doctrees/environment.pickle
Due: none

Suppression de code mort (#3408)
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

deploy: 1d5943cf67d69a7f821b1bb6d75bcf293a04f021
  .doctrees/environment.pickle
Due: none

Fix visiteur orienté mode liste (#3411)
  webapp/e2e_tests/mode_liste.spec.ts
  webapp/templates/ui/components/acteur/acteur_lien.html
  webapp/templates/ui/components/acteur/acteur_table_name.html
Due: prettier

deploy: 6ec1edeea86cf03df73fa17623a4b824fe010c9f
  .doctrees/environment.pickle
Due: none

replace suggestions
  webapp/previews/widgets.py
Due: ruff, ruff-format, djade

Carte : suite de la revue
  webapp/assistant/apps.py
  webapp/assistant/tests/__init__.py
  webapp/assistant/views/geojson.py
  webapp/core/storage.py
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/previews/template_preview.py
  webapp/previews/widgets.py
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
  webapp/settings/base.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/controllers/assistant/chrono_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.test.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.ts
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/static/to_compile/maplibre-worker.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/django_lookbook/preview.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade, prettier

set up db port through env variable
  Makefile
  docker-compose.yml
  docs/how-to/development/installation.md
  webapp/.env.template
  webapp/Makefile
Due: prettier

Use native geodjango for knn operator
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

forward http to lookbook
  servers.conf.erb
  webapp/settings/base.py
Due: ruff, ruff-format, djade

read from db the gestes
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

Use proper django forms
  webapp/assistant/forms.py
  webapp/assistant/views/geojson.py
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade

Potential fix for pull request finding 'CodeQL / Information exposure through an exception'
  webapp/assistant/views/geojson.py
Due: ruff, ruff-format, djade

Update comments
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Formatage Black du fichier de previews
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
