Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Add constants
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

WIP
  webapp/templates/ui/components/search/autocomplete_results.html
Due: none

Adjust paddings
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

Add 600px height specific layout
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/home.html
Due: none

wip
  .secrets.baseline
  webapp/qfdmd/management/commands/migrate_homepage.py
Due: ruff, ruff-format, djade

Restore regression
  webapp/templates/ui/components/header/base.iframe.html
Due: none

Remove legacy code
  webapp/previews/template_preview.py
  webapp/qfdmd/forms.py
Due: ruff, ruff-format, djade

Visual fixes
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

CSS tweaks
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/forms/widgets/autocomplete/results.html
Due: prettier

prevent p from being sized in subtitle
  webapp/templates/ui/pages/home.html
Due: none

Adapt scripts
  webapp/Makefile
Due: none

Adjust paddings
  webapp/templates/ui/pages/home.html
Due: none

Wip
  webapp/Makefile
Due: none

WIP
  .github/actions/prepare-django-db/action.yml
Due: none

Remove margin on p in intro
  webapp/templates/ui/pages/home.html
Due: none

homepage fixes
  webapp/core/context_processors.py
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/search.spec.ts
  webapp/templates/ui/components/header/base.html
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

test 600px iframe better layout
  webapp/previews/template_preview.py
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade

Add e2e
  webapp/e2e_tests/homepage.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/pages/home.html
Due: ruff, ruff-format, djade, prettier

Improve nouvelle recherche buttons
  webapp/templates/ui/components/header/base.html
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/components/produit/nouvelle_recherche.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/templates/ui/pages/produit.html
Due: none

Rewrite migrations
  webapp/qfdmd/migrations/0081_homepage.py
  webapp/qfdmd/migrations/0081_merge_0075_homepage_0080_remove_synonyme_disabled.py
Due: ruff, ruff-format, djade

CSS tweaks
  webapp/qfdmd/views.py
  webapp/templates/ui/components/footer/base.iframe.html
  webapp/templates/ui/components/footer/combined_logos.html
  webapp/templates/ui/layout/assistant.html
Due: ruff, ruff-format, djade

Add comments
  .github/actions/prepare-django-db/action.yml
  webapp/Makefile
Due: none

deploy: 3896f74355b1213cff1d6aff0e99b97685bb5d61
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

Do not cache identically bsae page and iframe version
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Ne pas mettre en cache la version iframe et standalone d'une page avec la même clé (#2629)
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

deploy: bac9a3a240822b7d10fa2189f083824014f03afb
  .doctrees/environment.pickle
Due: none

Lire aussi la première ligne du CSV (hors-entête)
  data-platform/notebooks/clustering_from_file.ipynb
Due: none

Documentation et Makefile pour la partie DBT
  Makefile
  data-platform/dbt/Makefile
  docs/reference/data-platform/dbt.md
Due: prettier

adjust tests
  webapp/unit_tests/core/templatetags/test_qfdmo_tags.py
Due: ruff, ruff-format, djade

Update templating
  webapp/core/templatetags/carte_tags.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/views/carte.py
  webapp/templates/ui/pages/acteur.html
Due: ruff, ruff-format, djade

Better scope latitude / longitude
  webapp/core/templatetags/carte_tags.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/views/adresses.py
  webapp/qfdmo/views/carte.py
  webapp/unit_tests/core/templatetags/test_qfdmo_tags.py
Due: ruff, ruff-format, djade

add e2e
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/mode_liste.spec.ts
  webapp/templates/ui/pages/acteur.html
Due: prettier

Update db_mapping.json
  data-platform/dags/sources/config/db_mapping.json
Due: none

Lire aussi la première ligne du CSV (hors-entête) (#2630)
  data-platform/notebooks/clustering_from_file.ipynb
Due: none

Documentation et Makefile pour la partie DBT (#2631)
  Makefile
  data-platform/dbt/Makefile
  docs/reference/data-platform/dbt.md
Due: prettier

deploy: c939b379bd59e2cf9d9a87dd530fbfc9fb9a134f
  .doctrees/environment.pickle
Due: none

suppression de l'accent du code mélange_d_inertes_produits… des sous_cat
  data-platform/dags/sources/config/db_mapping.json
  webapp/qfdmo/fixtures/carte_configs.json
  webapp/qfdmo/fixtures/categories.json
  webapp/qfdmo/management/commands/rename_souscategorieobjet_code.py
  webapp/qfdmo/migrations/fixtures/souscategorieobjets.json
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
