Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

[SINOE] Nouveau portail
  data-platform/dags/sources/config/airflow_params.py
  data-platform/dags/sources/config/db_mapping.json
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/tests/sources/tasks/business_logic/test_source_data_normalize.py
Due: ruff, ruff-format, djade

feat: images infotri décoratives par défaut
  webapp/qfdmd/blocks.py
  webapp/qfdmd/management/commands/mark_infotri_decorative.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

[SINOE] Nouveau portail (#3312)
  data-platform/dags/sources/config/airflow_params.py
  data-platform/dags/sources/config/db_mapping.json
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/tests/sources/tasks/business_logic/test_source_data_normalize.py
Due: ruff, ruff-format, djade

deploy: dc15fcadf5ffd497e2346fde5273286826153bd4
  .doctrees/environment.pickle
Due: none

Fix sample db + e2e tests
  .github/actions/setup-playwright/action.yml
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  docs/how-to/development/create_webapp_sample_db.md
  docs/how-to/development/installation.md
  docs/how-to/development/tests_e2e.md
  docs/reference/db/db_organisation.md
  docs/reference/webapp/README.md
  scripts/e2e_prepare.sh
  scripts/e2e_run_sample_dag.sh
  scripts/restore_sample_locally.sh
  webapp/.env.template
  webapp/Makefile
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/helpers.ts
Due: ruff, ruff-format, djade, prettier

Carte : suite de la revue
  webapp/assistant/apps.py
  webapp/assistant/tests/__init__.py
  webapp/assistant/views/geojson.py
  webapp/core/storage.py
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/previews/template_preview.py
  webapp/previews/widgets.py
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
  webapp/settings/base.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/controllers/assistant/chrono_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.test.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.ts
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/js/assistant/visible_places.test.ts
  webapp/static/to_compile/js/assistant/visible_places.ts
  webapp/static/to_compile/maplibre-worker.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/django_lookbook/preview.html
  webapp/templates/ui/components/assistant/carte.html
  webapp/unit_tests/assistant/test_geojson.py
Due: ruff, ruff-format, djade, prettier

Move notebooks on dedicated folder
  .gitignore
  data-platform/notebooks/deduplication.ipynb
  data-platform/notebooks/deduplication/.python-version
  data-platform/notebooks/deduplication/README.md
  data-platform/notebooks/deduplication/Untitled.ipynb
  data-platform/notebooks/deduplication/__init__.py
  data-platform/notebooks/deduplication/deduplication_old.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
  uv.lock
Due: ruff, ruff-format, djade, prettier

Adds first version of dataset creation
  .gitignore
  data-platform/notebooks/deduplication/Untitled.ipynb
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
Due: none

Updates gitignore
  .gitignore
Due: none

Adds feature engineering notebook
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
Due: none

First complete version of dataset creation notebook
  data-platform/notebooks/deduplication/dataset_creation.ipynb
Due: none

Adds WIP training notebook
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
Due: none

Updates dataset creation and training notebook
  .gitignore
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
  data-platform/notebooks/deduplication/training.ipynb
Due: none

Adds business rules to dataset creation
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
Due: none

Updates dataset creation and adds training pipeline
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
  data-platform/notebooks/deduplication/training_pipeline.py
Due: ruff, ruff-format, djade

Updates notebooks
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
Due: none

Updates dataset creation to have a cluster_id
  .gitignore
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
Due: none

Modification de dataset_creation pour supprimer une des méthodes de création du jeu de donnée qui était bancale.
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/evaluation/metrics/cluster.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Refactore la classe du modèle pour pouvoir sauvegarder/charger un modèle entraîné.
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/pairs_query.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
Due: ruff, ruff-format, djade

Initialisation courbe d'apprentissage
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
Due: ruff, ruff-format, djade

Updates model selection and logging
  .vscode/settings.json
  ml_deduplication/README.md
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
Due: ruff, ruff-format, djade, prettier

Inits ml_deduplication package
  ml_deduplication/.gitignore
  ml_deduplication/.python-version
  ml_deduplication/README.md
  ml_deduplication/main.py
  ml_deduplication/ml_deduplication/__init__.py
  ml_deduplication/ml_deduplication/dataset/__init__.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_parent_change.sql
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/pairs_query.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/training/__init__.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade, prettier

Refactoring of the package
  ml_deduplication/.gitignore
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/sql/features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/utils.py
  ml_deduplication/ml_deduplication/evaluation/__init__.py
  ml_deduplication/ml_deduplication/evaluation/metrics/__init__.py
  ml_deduplication/ml_deduplication/evaluation/metrics/pairwise.py
  ml_deduplication/ml_deduplication/training/business_rules.py
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
Due: ruff, ruff-format, djade

Adds cluster metrics nd hyperparameter tuning
  ml_deduplication/ml_deduplication/evaluation/metrics/cluster.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Implémente la courbe d'apprentissage
  ml_deduplication/.gitignore
  ml_deduplication/README.md
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade, prettier

Ajout d'une nouvelle source pour la création du dataset
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_parent_change.sql
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
Due: ruff, ruff-format, djade

Fix des problèmes dans le script d'inférence
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/model.py
Due: ruff, ruff-format, djade

Modifie la CV à l'entraînement et rajoute des seuils à tester
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
Due: ruff, ruff-format, djade

Ajout e davantage de logging
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
Due: ruff, ruff-format, djade

Ajout du module d'inférence
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/model.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Ajout d'un clustering amélioré et découpage par département
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/clustering.py
  ml_deduplication/ml_deduplication/modeling/model.py
Due: ruff, ruff-format, djade

Ajout de Splink dans le package
  .gitignore
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/notebooks/splink_experiment.ipynb
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/ml_deduplication/training/training_pipeline_dedupe.py
  ml_deduplication/ml_deduplication/training/training_pipeline_splink.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Ajout de l'entrainment avec XGBoost
  ml_deduplication/ml_deduplication/evaluation/metrics/pairwise.py
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/modeling/model.py
  ml_deduplication/ml_deduplication/modeling/xgb_model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Simplification xgboost
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/modeling/xgb_model.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Corrige un bug dans la génération du dataset
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/cluster_entities.sql
  ml_deduplication/ml_deduplication/dataset/sql/create_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/entities_from_suggestions.sql
  ml_deduplication/ml_deduplication/inference/run_inference_splink.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Modification de la génération du dataset pour plus de robustesse
  ml_deduplication/main.py
  ml_deduplication/ml_deduplication/dataset/__init__.py
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/pairs.py
  ml_deduplication/ml_deduplication/dataset/sql/cluster_entities.sql
  ml_deduplication/ml_deduplication/dataset/sql/create_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/drop_singleton_entities_tmp_tables.sql
  ml_deduplication/ml_deduplication/dataset/sql/entities_features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/entities_from_suggestions.sql
  ml_deduplication/ml_deduplication/dataset/sql/pairs_features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/singleton_entities.sql
  ml_deduplication/ml_deduplication/dataset/utils.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/ml_deduplication/training/training_pipeline_splink.py
Due: ruff, ruff-format, djade

Mise en place de XGBoost fonctionelle
  .gitignore
  ml_deduplication/ml_deduplication/dataset/features_creation.py
  ml_deduplication/ml_deduplication/evaluation/learning_curve.py
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/dedupe/clustering.py
  ml_deduplication/ml_deduplication/modeling/dedupe/model.py
  ml_deduplication/ml_deduplication/modeling/dedupe/xgb_model.py
  ml_deduplication/ml_deduplication/modeling/splink/schemas.py
  ml_deduplication/ml_deduplication/modeling/splink/splink_model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/features_engineering.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/modeling/xgboost/utils.py
  ml_deduplication/ml_deduplication/notebooks/xgboost_experiment.ipynb
  ml_deduplication/ml_deduplication/training/dedupe/business_rules.py
  ml_deduplication/ml_deduplication/training/dedupe/features.py
  ml_deduplication/ml_deduplication/training/dedupe/model_selection.py
  ml_deduplication/ml_deduplication/training/dedupe/training_pipeline_dedupe.py
  ml_deduplication/ml_deduplication/training/settings.py
  ml_deduplication/ml_deduplication/training/splink/splink_config.py
  ml_deduplication/ml_deduplication/training/splink/training_pipeline_splink.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/ml_deduplication/training/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
  ml_deduplication/ml_deduplication/training/xgboost/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

Ajout de la possibilité de charger des embeddings pré-calculés
  ml_deduplication/ml_deduplication/modeling/splink_model.py
Due: ruff, ruff-format, djade

Ajout des règles métiers à la clusterisation
  ml_deduplication/ml_deduplication/dataset/clusters.py
  ml_deduplication/ml_deduplication/modeling/splink_model.py
  ml_deduplication/ml_deduplication/training/splink_config.py
  ml_deduplication/ml_deduplication/training/training_pipeline_splink.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
