Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

deploy: 00f4d5991e7d9eb2df68414c57e91d60c86b93b8
  .doctrees/environment.pickle
Due: none

deploy: 5bac00893d98e3e5bea26178adc91c5766f06f3c
  .doctrees/environment.pickle
Due: none

deploy: 8afacc87481ca91eadabf1dd902289b5dc8a85c2
  .doctrees/environment.pickle
Due: none

deploy: 39d34f979c32b27dbb5a211faf214f29701d772e
  .doctrees/environment.pickle
Due: none

deploy: 276c2b7a47730ca1851cea503fcf58b8a7608a29
  .doctrees/environment.pickle
Due: none

deploy: e16330b8082d0ea8f943b73dcb9e787b03d40853
  .doctrees/environment.pickle
Due: none

Mise à jour des labels affichés pour l'infotri (#2426)
  infotri/constants.py
Due: ruff, ruff-format, djade

deploy: d1afd4d58b1549e5db4ce80a09471e2db575e8b0
  .doctrees/environment.pickle
Due: none

deploy: 2dacb0dd49d797943bc81773fe21b3fe6a96f452
  .doctrees/environment.pickle
Due: none

deploy: a68fbde01f67ebae200c010ea9ea78ab415491f2
  .doctrees/environment.pickle
Due: none

deploy: 77aca9af557292b37ceba6d0701999336d7f4527
  .doctrees/environment.pickle
Due: none

deploy: 1d9dae8484484c2ad1468edf3558a019f836217c
  .doctrees/environment.pickle
Due: none

Ne pas filtrer les anciens acteurs de LVAO dans Open-Data
  dbt/models/marts/acteurs/opendata/marts_opendata_filtered_acteur.sql
Due: none

Rendre le nom de l'acteur cliquable dans le mode liste (#2413)
  core/templatetags/carte_tags.py
  templates/ui/components/acteur/acteur_labels.html
  templates/ui/components/acteur/acteur_table_name.html
Due: ruff, ruff-format, djade

deploy: db0895441d7c406df0217c964a888a607398da32
  .doctrees/environment.pickle
Due: none

Apply suggestion from @fabienheureux
  templates/ui/components/modals/filtres.html
Due: none

deploy: 2def175f96a654fef6b6beb205276d0951ca4eaf
  .doctrees/environment.pickle
Due: none

remove useless tag
  templates/ui/components/modals/base.html
  templates/ui/components/modals/filtres.html
Due: none

Revert "Ne pas filtrer les anciens acteurs de LVAO dans Open-Data"
  dbt/models/marts/acteurs/opendata/marts_opendata_filtered_acteur.sql
Due: none

Corrige un problème d'alignement de l'infotri (#2411)
  previews/template_preview.py
  templates/ui/components/produit/legacy_heading.html
  templates/ui/components/produit/legacy_heading.md
  templates/ui/pages/produit.html
Due: ruff, ruff-format, djade, prettier

deploy: 1c33f707f4b52e6c31644e1c5fd35cc48ef9c70d
  .doctrees/environment.pickle
Due: none

Revert "Ne pas filtrer les anciens acteurs de LVAO dans Open-Data" (#2430)
  dbt/models/marts/acteurs/opendata/marts_opendata_filtered_acteur.sql
Due: none

deploy: 8d3e65120bd20da0992616071ad8789e15331af5
  .doctrees/environment.pickle
Due: none

Améliorer la gestion du mode debug de posthog (#2406)
  core/templatetags/analytics_tags.py
  templates/ui/analytics/posthog_data_attributes.html
Due: ruff, ruff-format, djade

deploy: 8246f3e20cf15c19c369c138082274be9196140d
  .doctrees/environment.pickle
Due: none

Ajoute le bouton infos à la modale des filtres en mobile (#2412)
  core/templatetags/modal_tags.py
  templates/ui/components/carte/header.html
  templates/ui/components/carte/legend.html
  templates/ui/components/carte/mode_liste.html
  templates/ui/components/modals/_modal_button.html
  templates/ui/components/modals/filtres.html
Due: ruff, ruff-format, djade

deploy: 22eb04aac89dfe09caac90c90634f1fb347ee4d8
  .doctrees/environment.pickle
Due: none

Update uv.lock
  uv.lock
Due: none

Remove unused template tag parameter
  previews/template_preview.py
Due: ruff, ruff-format, djade

Use inlines
  qfdmd/admin.py
Due: ruff, ruff-format, djade

Corrige le `map_container_id` mal défini sur les cartes sur mesure (dans les onglets) (#2408)
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

deploy: c9ab7093937fe79374b3e32bc66073070fedc8e3
  .doctrees/environment.pickle
Due: none

Affichage des sous-catégories dans l'admin Django pour Produit (#2410)
  qfdmd/admin.py
Due: ruff, ruff-format, djade

deploy: 15184d5b5a10053dcff8fc5260abb4fd596a115a
  .doctrees/environment.pickle
Due: none

Alignement de la config opentofu avec la prod
  .pre-commit-config.yaml
  infrastructure/environments/prod/container/.terraform.lock.hcl
  infrastructure/environments/prod/container/terragrunt.hcl
  infrastructure/environments/prod/container_registry/.terraform.lock.hcl
  infrastructure/environments/prod/database/.terraform.lock.hcl
  infrastructure/environments/prod/object_storage/.terraform.lock.hcl
  infrastructure/environments/root.hcl
  infrastructure/modules/container/airflow-scheduler.tf
  infrastructure/modules/container/airflow-webserver.tf
Due: none

Alignement de la config opentofu avec la prod (#2431)
  .pre-commit-config.yaml
  infrastructure/environments/prod/container/.terraform.lock.hcl
  infrastructure/environments/prod/container/terragrunt.hcl
  infrastructure/environments/prod/container_registry/.terraform.lock.hcl
  infrastructure/environments/prod/database/.terraform.lock.hcl
  infrastructure/environments/prod/object_storage/.terraform.lock.hcl
  infrastructure/environments/root.hcl
  infrastructure/modules/container/airflow-scheduler.tf
  infrastructure/modules/container/airflow-webserver.tf
Due: none

deploy: e005bc383df1c8b00795ec2cac8ee565916cc468
  .doctrees/environment.pickle
Due: none

Correction de la suppression des vieilles tables Clonées
  dags/clone/tasks/business_logic/clone_old_tables_remove.py
Due: ruff, ruff-format, djade

Correction de la suppression des vieilles tables clonées (#2404)
  dags/clone/tasks/business_logic/clone_old_tables_remove.py
Due: ruff, ruff-format, djade

deploy: e904cc0ffa5fec49b590bb35360bbae0ee41863c
  .doctrees/environment.pickle
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
