Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

remove
  webapp/servers.conf.erb
Due: none

add crm sync
  webapp/servers.conf.erb
Due: none

REmove gzip
  webapp/servers.conf.erb
Due: none

Suppression de directives nginx en double sur scalingo (#2718)
  webapp/servers.conf.erb
Due: none

deploy: 03d5521426862f8eb570a48f9f9942756e354b31
  .doctrees/environment.pickle
Due: none

add posthog proxy
  webapp/e2e_tests/search.spec.ts
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/qfdmd/views.py
  webapp/servers.conf.erb
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
  webapp/templates/ui/components/search/search_result_produitpage.html
  webapp/templates/ui/components/search/search_result_searchtag.html
  webapp/templates/ui/components/search/search_result_synonyme.html
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade, prettier

more generic approach
  webapp/core/widgets.py
  webapp/e2e_tests/search.spec.ts
  webapp/qfdmd/templatetags/qfdmd_tags.py
  webapp/qfdmd/views.py
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
  webapp/templates/ui/components/search/search_result_produitpage.html
  webapp/templates/ui/components/search/search_result_searchtag.html
  webapp/templates/ui/components/search/search_result_synonyme.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade, prettier

move legacy controller
  webapp/static/to_compile/controllers/formulaire/ss_cat_object_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/templates/ui/pages/carte.html
Due: prettier

Track field name
  webapp/core/widgets.py
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: ruff, ruff-format, djade, prettier

Improve pageview tracking
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

Proxy PostHog via notre domaine pour contourner les bloqueurs de pub
  webapp/servers.conf.erb
Due: none

Configure le client PostHog pour utiliser le proxy /ph
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

Proxy PostHog via notre domaine (#2720)
  webapp/servers.conf.erb
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

deploy: c3f946ac96c87a29f31dc6f82d009a8a2d8abfdf
  .doctrees/environment.pickle
Due: none

Refactor iframe tracking: viewport detection via postMessage, interaction tracking renamed
  webapp/e2e_tests/analytics.spec.ts
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/templates/ui/tests/t_17_iframe_page_viewed.html
Due: ruff, ruff-format, djade, prettier

Plus besoin de déployerun container après une mise à jour
  .github/workflows/_scaleway-container-deploy.yml
Due: none

Première itération d'un modèle ML pour la déduplication
  data-platform/notebooks/deduplication.ipynb
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: none

Execution du clustering via un Notebook
  data-platform/notebooks/clustering.ipynb
Due: none

Déployer l'application webapp avec docker
  docker-compose.yml
  webapp/.dockerignore
  webapp/Dockerfile
  webapp/bin/entrypoint.sh
Due: none

WIP
  data-platform/dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  docker-compose.yml
  webapp/Dockerfile
  webapp/bin/entrypoint.sh
Due: ruff, ruff-format, djade

Plus besoin de déployer un container après une mise à jour (#2724)
  .github/workflows/_scaleway-container-deploy.yml
Due: none

deploy: 8995f46a662f53bf4c81d1236dcfb0454eec26ea
  .doctrees/environment.pickle
Due: none

refonte du tracking : pageView et events (#2721)
  webapp/e2e_tests/analytics.spec.ts
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/templates/ui/tests/t_17_iframe_page_viewed.html
Due: ruff, ruff-format, djade, prettier

deploy: ee11253f27a9b4ed52b888ddada464fa5026c0fd
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

Execution du clustering via un Notebook (#2662)
  data-platform/notebooks/clustering.ipynb
Due: none

deploy: 8ff62fef2b3aebd85ae41a882f83a86fadd918c3
  .doctrees/environment.pickle
Due: none

deploy: 3a3ecf57ca34413c9cead3ba1a99a2cddfa0bdbd
  .doctrees/environment.pickle
Due: none

deploy: 77601d1cbd45e5827c05fd71635db2486fb053f6
  .doctrees/environment.pickle
Due: none

deploy: 8086f506033629d7a020ebe8fdc3c92840591e57
  .doctrees/environment.pickle
Due: none

Première itération d'un modèle ML pour la déduplication (#2727)
  data-platform/notebooks/deduplication.ipynb
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: none

deploy: 2927d8e671502a380f23c73b8a905a9e57a05644
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 5a08a6685d762292967d680cf7a808d2fd2cdd6f
  .doctrees/environment.pickle
Due: none

deploy: 591edf8503fddcfaab5bafde4f70ca854e282ca5
  .doctrees/environment.pickle
Due: none

deploy: ec63e47e59e6dc93cf4b893dd0835158b9ec2ddd
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: c9400feb53fd9dbf9a906c8e87b77fdae21c5858
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 56acd1ffdc031c3a335d4a5441cd9ddd71eaa05d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 1d6213f6842d9727620d72630729fecae5e95328
  .doctrees/environment.pickle
Due: none

deploy: 339d2d798173cc9d84bd541288d16a7bf3c49043
  .doctrees/environment.pickle
Due: none

deploy: 006259716b2aee1e4c15ca8bf01d1f10806ac3dd
  .doctrees/environment.pickle
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
