Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Updates notebooks
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
Due: none

Adds WIP training notebook
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
  data-platform/notebooks/deduplication/training.ipynb
Due: none

Adds first version of dataset creation
  .gitignore
  data-platform/notebooks/deduplication/Untitled.ipynb
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/pyproject.toml
  data-platform/pyproject.toml
  data-platform/uv.lock
Due: none

Adds feature engineering notebook
  data-platform/notebooks/deduplication/dataset_creation.ipynb
  data-platform/notebooks/deduplication/feature_engineering.ipynb
Due: none

deploy: ca4a556a8a4882e63f6a19e9b196f1a597546fec
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 90eae0c1634673d1d83083e8c4c824ddc96011a6
  .doctrees/environment.pickle
Due: none

deploy: ac35fb893bb3a6719ae9360aeaf088881511a395
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

fix(carte): bbox geolocation flush old adress (#3131)
  webapp/qfdmo/views/adresses.py
Due: ruff, ruff-format, djade

fix(produit-page): corrige data-objet manquant et couleurs modale share/embed
  webapp/core/templatetags/script_tags.py
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/snippets/share_and_embed.html
  webapp/templates/ui/snippets/share_and_embed_produit.html
Due: ruff, ruff-format, djade

fix(synonyme): ajoute cache_control pour éviter cache stale des consignes (#3297)
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

fix(synonyme): ajoute vary_on_headers pour bypasser cache admin (#3297)
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Fix header color issue
  webapp/templates/ui/components/produit/heading.html
Due: none

fix(carte): exclut le pinpoint home du calcul du fitBounds
  webapp/static/to_compile/js/solution_map.ts
Due: prettier

Inits ml_deduplication package
  ml_deduplication/.gitignore
  ml_deduplication/.python-version
  ml_deduplication/README.md
  ml_deduplication/main.py
  ml_deduplication/ml_deduplication/__init__.py
  ml_deduplication/ml_deduplication/dataset/__init__.py
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_parent_change.sql
  ml_deduplication/ml_deduplication/dataset/sql/negatives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/sql/pairs_query.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/training/__init__.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade, prettier

Publication d la doc générée par DBT
  .pre-commit-config.yaml
  data-platform/dbt/Makefile
  docs/dbt/catalog.json
  docs/dbt/index.html
  docs/dbt/manifest.json
  docs/reference/data-platform/dbt.md
Due: prettier

deploy: 8c08c67f88446e1e2e8563cc447920980d2a6a7e
  .doctrees/environment.pickle
  .doctrees/reference/data-platform/dbt.doctree
  _downloads/f7d990db7be3f6c40758602a8c077d03/index.html
  _downloads/fbcee37c4e63cbea564f55ebb821c84e/.pre-commit-config.yaml
  _sources/reference/data-platform/dbt.md.txt
  reference/data-platform/dbt.html
  searchindex.js
Due: prettier

Refactoring of the package
  ml_deduplication/.gitignore
  ml_deduplication/ml_deduplication/dataset/dataset_creation.py
  ml_deduplication/ml_deduplication/dataset/features_engineering.py
  ml_deduplication/ml_deduplication/dataset/sql/features_generation.sql
  ml_deduplication/ml_deduplication/dataset/sql/positives_pairs_via_random_sampling.sql
  ml_deduplication/ml_deduplication/dataset/utils.py
  ml_deduplication/ml_deduplication/evaluation/__init__.py
  ml_deduplication/ml_deduplication/evaluation/metrics/__init__.py
  ml_deduplication/ml_deduplication/evaluation/metrics/pairwise.py
  ml_deduplication/ml_deduplication/training/business_rules.py
  ml_deduplication/ml_deduplication/training/model.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
Due: ruff, ruff-format, djade

Airflow Source : default False pour les booleens de la classe Acteur
  data-platform/dags/sources/tasks/business_logic/keep_acteur_changed.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  webapp/qfdmo/migrations/0191_alter_acteur_exclusivite_de_reprisereparation_and_more.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

Renforcement de l'admin et adaptation des tests
  data-platform/dags/sources/tasks/business_logic/keep_acteur_changed.py
  data-platform/dags/tests/sources/tasks/transform/test_transform_column.py
  data-platform/dags/tests/utils/test_data_serialize_reconstruct.py
  webapp/qfdmo/admin/acteur.py
  webapp/unit_tests/qfdmo/acteur_factory.py
  webapp/unit_tests/qfdmo/test_acteur.py
  webapp/unit_tests/qfdmo/test_proposition_service.py
Due: ruff, ruff-format, djade

tentative pour faire passer la migration plus vite :)
  webapp/qfdmo/management/commands/default_false_acteur_boolean_fields.py
  webapp/qfdmo/migrations/0191_alter_acteur_exclusivite_de_reprisereparation_and_more.py
  webapp/qfdmo/migrations/0192_alter_acteur_exclusivite_de_reprisereparation_and_more.py
Due: ruff, ruff-format, djade

Adds cluster metrics nd hyperparameter tuning
  ml_deduplication/ml_deduplication/evaluation/metrics/cluster.py
  ml_deduplication/ml_deduplication/training/features.py
  ml_deduplication/ml_deduplication/training/model_selection.py
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade

fix(infotri): widget scales properly at narrow embed widths
  webapp/templates/ui/components/infotri/infotri.html
  webapp/templates/ui/components/infotri/svg/backlink.html
Due: none

Updates model selection and logging
  .vscode/settings.json
  ml_deduplication/README.md
  ml_deduplication/ml_deduplication/training/training_pipeline.py
  ml_deduplication/ml_deduplication/training/utils.py
Due: ruff, ruff-format, djade, prettier

Use uv workspaces
  .github/actions/setup-backend/action.yml
  AGENTS.md
  data-platform/airflow-dag-processor.Dockerfile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/airflow-webserver.Dockerfile
  data-platform/pyproject.toml
  pyproject.toml
  uv.lock
  webapp/pyproject.toml
Due: prettier

lint
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/clone/config/models.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/clone/tasks/business_logic/clone_table_validate.py
  data-platform/dags/clone/tasks/business_logic/clone_view_in_use_switch.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_schema.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_view_in_use_switch.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
Due: ruff, ruff-format, djade

remove uv lock
  webapp/settings/base.py
  webapp/uv.lock
Due: ruff, ruff-format, djade

peut etre srupprimé
  webapp/qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
Due: ruff, ruff-format, djade

add djade to dependencies
  pyproject.toml
  uv.lock
Due: none

Formatting
  .pre-commit-config.yaml
  data-platform/dags/acteurs/tasks/business_logic/copy_db_schema.py
  data-platform/dags/acteurs/tasks/business_logic/replace_acteur_table.py
  data-platform/dags/e2e_tests/test_e2e_dag_cluster_acteurs_airflow.py
  data-platform/dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data-platform/dags/sources/tasks/business_logic/source_config_validate.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_schema.py
  data-platform/dags/tools/dags/airflow_logs.py
  data-platform/dags/utils/airflow_params.py
  data-platform/pyproject.toml
  pyproject.toml
  uv.lock
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/source.py
  webapp/previews/template_preview.py
  webapp/pyproject.toml
  webapp/qfdmd/management/commands/migrate_from_sites_faciles_experiment.py
  webapp/qfdmo/forms.py
  webapp/qfdmo/management/commands/populate_sous_cat.py
Due: ruff, ruff-format, djade

Revert
  .pre-commit-config.yaml
  data-platform/dags/clone/config/models.py
  data-platform/dags/clone/tasks/business_logic/clone_table_create.py
  data-platform/dags/clone/tasks/business_logic/clone_table_validate.py
  data-platform/dags/clone/tasks/business_logic/clone_view_in_use_switch.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_table_create.py
  data-platform/dags/tests/clone/tasks/business_logic/test_clone_view_in_use_switch.py
  data-platform/dags/tools/dags/airflow_cleanup_db.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, djade

revert
  .github/dependabot.yml
  SECURITY.md
  webapp/settings/base.py
Due: ruff, ruff-format, djade, prettier

didadou
  data-platform/pyproject.toml
  pyproject.toml
  uv.lock
  webapp/Makefile
  webapp/pyproject.toml
Due: none

didadou
  .github/dependabot.yml
Due: none

didadou
  .github/actions/setup-backend/action.yml
  pyproject.toml
  uv.lock
Due: none

hum
  webapp/pyproject.toml
Due: none

re-lock
  webapp/uv.lock
Due: none

Fix unit tests
  webapp/unit_tests/search_tests/test_purge_orphan_searchterm_index.py
Due: ruff, ruff-format, djade

fix(tests): force settings.test via pytest --ds
  webapp/pyproject.toml
Due: none

Moves GDAL/GEOS settings to base settings
  uv.lock
  webapp/settings/base.py
  webapp/settings/dev.py
Due: ruff, ruff-format, djade

Go up a level for dependencies
  .github/actions/setup-backend/action.yml
  .github/actions/setup-e2e-tools/action.yml
  .github/workflows/_backend-test-job.yml
  .github/workflows/ci.yml
  Makefile
  data-platform/pyproject.toml
  docs/explanations/data/README.md
  docs/how-to/development/dependencies.md
  docs/how-to/development/installation.md
  docs/reference/coding/README.md
  docs/reference/data-platform/airflow.md
  docs/reference/infrastructure/ci-cd.md
  docs/reference/webapp/README.md
  pyproject.toml
  uv.lock
  webapp/Makefile
  webapp/pyproject.toml
Due: prettier
