Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Ajout du champ parent_revision_acteur aux models Suggestion et usage de SuggestionSourceModel dans Airflow
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data/migrations/0021_suggestiongroupe_parent_revision_acteur_and_more.py
  data/models/suggestion.py
  data/models/suggestions/source.py
Due: ruff, ruff-format, djade

récupération de la valeur à éditer à partir du context
  data/views.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/data/_partials/suggestion_groupe_details.html
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

Ajout d'un test spécific pour l'édition de la latitude
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

Possibilité d'ajouter du texte à un pinpoint
  core/templatetags/carte_tags.py
  templates/templatetags/acteur_pinpoint.html
Due: ruff, ruff-format, djade

Permettre l'édition de la correction même quand il y a un parent
  core/templatetags/admin_data_tags.py
  data/models/suggestion.py
  data/views.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  static/to_compile/js/solution_map.ts
  static/to_compile/styles/admin.css
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
  templates/data/_partials/suggestion_groupe_refresh_stream.html
  templates/templatetags/acteur_pinpoint.html
  templates/ui/components/acteur/tabs/sections/meta.html
  templates/ui/components/carte/pinpoints/svg/hand-pinpoint.html
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade, prettier

un peu plus gris le gris
  static/to_compile/styles/admin.css
Due: prettier

resolution d'une alerte levée par Github Copilot : ne pas exposer la pile d'erreur
  data/views.py
Due: ruff, ruff-format, djade

Permettre de reporter certaines suggestion selon le modèle cible
  core/templatetags/admin_suggestion_tags.py
  data/models/suggestions/source.py
  data/views.py
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

Affichage des valeurs même quand elles ne sont pas éditables
  core/templatetags/admin_suggestion_tags.py
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade

Ne pas exporter les adresses pour des acteurs uniquement à domicile dans le jeu de données Open-Data
  dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
Due: none

Remove leftover
  qfdmo/views/adresses.py
Due: ruff, ruff-format, djade

Use single prefix for all usage
  qfdmo/views/adresses.py
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Use mixin for map prefix
  qfdmo/views/adresses.py
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Fix
  templates/ui/components/acteur/tabs/sections/adresse.html
Due: none

leftover
  qfdmo/views/carte.py
Due: ruff, ruff-format, djade

Variables rename
  qfdmo/constants.py
  templates/ui/components/acteur/tabs/sections/adresse.html
  templates/ui/components/mini_carte/mini_carte.html
Due: ruff, ruff-format, djade

Le pinpoint de la fiche acteur en mode liste n'affiche pas la bonne localisation
  qfdmo/views/adresses.py
  templates/ui/components/acteur/tabs/sections/adresse.html
  templates/ui/components/mini_carte/mini_carte.html
Due: ruff, ruff-format, djade

add e2e tests
  e2e_tests/carte.spec.ts
  e2e_tests/helpers.ts
Due: prettier

wip
  templates/ui/components/acteur/tabs/sections/adresse.html
Due: none

Add e2e
  e2e_tests/carte.spec.ts
  previews/template_preview.py
  templates/ui/tests/t_13_itineraire_button_carte_sur_mesure.html
Due: ruff, ruff-format, djade, prettier

Feedback
  qfdmo/urls.py
  qfdmo/views/adresses.py
  static/to_compile/js/solution_map.ts
Due: ruff, ruff-format, djade, prettier

Update
  previews/template_preview.py
  templates/ui/components/mini_carte/mini_carte.html
Due: ruff, ruff-format, djade

Add e2e
  e2e_tests/carte.spec.ts
  templates/ui/components/acteur/tabs/sections/adresse.html
Due: prettier

Add testand search term support in heading
  previews/template_preview.py
  qfdmd/templatetags/qfdmd_tags.py
  templates/ui/components/produit/heading.html
  templates/ui/components/search/_search_term.html
  unit_tests/search/__init__.py
  unit_tests/search/test_search_term.py
Due: ruff, ruff-format, djade

Reset migrations
  search/migrations/0001_initial.py
  search/migrations/0002_rename_fields.py
  search/migrations/0003_remove_searchterm_search_sear_linked__a1b2c3_idx_and_more.py
  search/migrations/0004_searchterm_legacy.py
Due: ruff, ruff-format, djade

Reset qfdmd migrations
  qfdmd/migrations/0071_alter_produitpage_search_tags.py
  qfdmd/migrations/0071_searchtag_taggedsearchtag_produitpage_search_tags.py
  qfdmd/migrations/0072_alter_taggedsearchtag_content_object.py
  qfdmd/migrations/0073_produitpage_search_variants_and_more.py
  qfdmd/migrations/0074_alter_taggedsearchtag_options_and_more.py
  qfdmd/migrations/0075_remove_produitpage_search_variants.py
Due: ruff, ruff-format, djade

fix
  qfdmd/forms.py
  qfdmd/templatetags/qfdmd_tags.py
  search/models.py
Due: ruff, ruff-format, djade

Correction du pinpoint de la fiche acteur en mode liste qui n'affiche pas la bonne localisation ni le bouton "Itinéraire" (#2414)
  e2e_tests/carte.spec.ts
  e2e_tests/helpers.ts
  previews/template_preview.py
  qfdmo/constants.py
  qfdmo/urls.py
  qfdmo/views/adresses.py
  qfdmo/views/carte.py
  static/to_compile/js/solution_map.ts
  templates/ui/components/acteur/tabs/sections/adresse.html
  templates/ui/components/mini_carte/mini_carte.html
  templates/ui/tests/t_13_itineraire_button_carte_sur_mesure.html
Due: ruff, ruff-format, djade, prettier

deploy: 5563730ca78439485b3d574d44f817735725c1ea
  .doctrees/environment.pickle
Due: none

suppression du dossier etl
  etl/README.md
Due: prettier
