Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Makefile can be simpler
  Makefile
  docker-compose.yml
  scripts/db_restore.sh
Due: none

A change was removed in a merge
  webapp/templates/ui/layout/assistant.html
Due: none

deploy: 1a6858eeb3b2c4cd1f7b302517a568c7ce8f709b
  .doctrees/environment.pickle
Due: none

deploy: d2fc509936041591a7f04788041026fa61fd4bd5
  .doctrees/environment.pickle
  _downloads/a401ca10cc404dd2f0bb7e9104f6b9b0/cd.yml
Due: none

deploy: 23bf244cdfa8f32167cb8af28e10a4334c4c2c6c
  .doctrees/environment.pickle
Due: none

deploy: 0ed3111e5c356c648bd9e256a130f4de01780a0a
  .doctrees/environment.pickle
Due: none

deploy: 2bb354683795cfe271f77e13ae4cdbdac33e0cf4
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 7a0ae22d3880fc40894c102fbd705accd4718611
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 775c7ca66e3f5a29f3f5b93c5334b26997f44dae
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 1546fcb2cb5f22d8513ececd03621e80a570b32d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

fix(ci): pass BASE_URL when building frontend in e2e job
  .github/workflows/_e2e.yml
Due: none

fix: deduplicate MainMenu records on every migrate
  webapp/qfdmd/apps.py
  webapp/qfdmd/management/commands/fix_duplicate_mainmenu.py
Due: ruff, ruff-format, djade

debug e2e
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

useless change
  webapp/qfdmd/apps.py
Due: ruff, ruff-format, djade

debug e2e
  .github/actions/prepare-django-db/action.yml
Due: none

fix(e2e): add explicit waitFor and timeout to navigation test
  webapp/e2e_tests/navigation.spec.ts
Due: prettier

missing file
  scripts/sql/create_wagtail_french_config.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
Due: ruff, ruff-format, djade

wIP
  Makefile
  docs/how-to/development/tests_e2e.md
  docs/reference/webapp/README.md
  scripts/sql/create_extensions.sql
  webapp/.env.template
  webapp/Makefile
  webapp/playwright.config.ts
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
  webapp/qfdmo/management/commands/create_webapp_sample_db.py
Due: ruff, ruff-format, djade, prettier

Simplify
  webapp/e2e_tests/navigation.spec.ts
Due: prettier

fix(e2e): revert search spec to original — simplified version was unstable
  webapp/e2e_tests/search.spec.ts
Due: prettier

fixtests
  webapp/e2e_tests/search.spec.ts
Due: prettier

fix tests backend
  scripts/sql/create_extensions.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
Due: ruff, ruff-format, djade

didadou
  scripts/sql/create_extensions.sql
Due: none

fix(e2e): measure turbo-frame boundingBox not inner listbox
  webapp/e2e_tests/search.spec.ts
Due: prettier

various improvements
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/search.spec.ts
  webapp/playwright.config.ts
Due: prettier

fix waiting in e2e
  webapp/e2e_tests/helpers.ts
Due: prettier

wip
  .github/workflows/_e2e.yml
  webapp/qfdmd/management/commands/fix_duplicate_mainmenu.py
Due: ruff, ruff-format, djade

WIP
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/navigation.spec.ts
Due: prettier

reduce duplication
  Makefile
  scripts/sql/create_extensions.sql
  scripts/sql/create_wagtail_french_config.sql
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
  webapp/qfdmo/management/commands/create_webapp_sample_db.py
Due: ruff, ruff-format, djade

auto code review
  Makefile
  scripts/db_restore.sh
Due: none

Increase nginx timeoutst
  webapp/servers.conf.erb
Due: none

REmove condition
  webapp/servers.conf.erb
Due: none

Increase connect timeout
  webapp/servers.conf.erb
Due: none

serialiser et déserialiser les relations et locations dans les df partagées entre job d'un DAG
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/utils.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parent_data_serde.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_suggestions_prepare.py
  data-platform/dags/tests/utils/test_data_serialize_reconstruct.py
  data-platform/dags/utils/data_serialize_reconstruct.py
  webapp/data/models/changes/utils.py
  webapp/qfdmo/models/utils.py
Due: ruff, ruff-format, djade

Augmentation des timeouts nginx (#3091)
  webapp/servers.conf.erb
Due: none

deploy: c0d3a22e206576f67fb2941dd18e68ed14761f0d
  .doctrees/environment.pickle
Due: none

Mise à jour de la doc d'onboarding concernant les accès à donner ou retirer selon les applications tierces
  docs/how-to/team/onboarding-offboarding.md
Due: prettier

serialiser et déserialiser les relations et locations dans les df partagées entre job d'un DAG (#3092)
  data-platform/dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_prepare_task.py
  data-platform/dags/cluster/tasks/airflow_logic/utils.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_parent_data_serde.py
  data-platform/dags/tests/cluster/tasks/business_logic/test_cluster_acteurs_suggestions_prepare.py
  data-platform/dags/tests/utils/test_data_serialize_reconstruct.py
  data-platform/dags/utils/data_serialize_reconstruct.py
  webapp/data/models/changes/utils.py
  webapp/qfdmo/models/utils.py
Due: ruff, ruff-format, djade

deploy: bc53a3a7c9c7e7cd69cac2551124ea58c8c72d6a
  .doctrees/environment.pickle
Due: none

ne supprimer les tables temporaires qu'après l'action principale
  data-platform/dags/sources/tasks/airflow_logic/db_write_type_action_suggestions_task.py
  data-platform/dags/utils/db_tmp_tables.py
Due: ruff, ruff-format, djade
