Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Simplify code
  webapp/static/to_compile/controllers/carte/acteur_details.ts
Due: prettier

Fix e2e test
  webapp/e2e_tests/acteur.spec.ts
Due: prettier

Exclure les champs lors de la copie pour éviter des erreurs 500
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

ajout de la fonction apply à la classe SuggestionGroupeTypeEnrichMulti
  webapp/data/models/apply_models/abstract_apply_model.py
  webapp/data/models/suggestion.py
  webapp/data/models/suggestions/abstract.py
  webapp/data/models/suggestions/enrich_multi.py
  webapp/data/models/suggestions/source.py
  webapp/data/models/suggestions/utils.py
  webapp/templates/data/_partials/suggestion_groupe_details.html
  webapp/unit_tests/data/models/apply_models/test_source_apply_model.py
  webapp/unit_tests/data/models/test_suggestion.py
Due: ruff, ruff-format, djade

deploy: 49083adbc48a4c424c93d4fc763d5a52c6ddd535
  .doctrees/environment.pickle
Due: none

Exclure les champs lors de la copie de pages produit pour éviter des erreurs 500 (#2623)
  webapp/qfdmd/models.py
Due: ruff, ruff-format, djade

deploy: 0944932f9050258bfb5c917428bba3512ab3cd6a
  .doctrees/environment.pickle
Due: none

Suppression du controller suggestion_groupe_row
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/models/comparison_table.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/static/to_compile/controllers/admin/suggestion_status_controller.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

Suppression de l'attribut update-url
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

refacto
  webapp/data/admin.py
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

remove vvalues and group fields
  webapp/core/templatetags/comparison_table_tags.py
  webapp/data/views.py
  webapp/static/to_compile/js/solution_map.ts
  webapp/templates/data/_partials/suggestion_groupe.html
Due: ruff, ruff-format, djade, prettier

Refactoring de la gestion du tableau des suggestion groupe
  webapp/data/views.py
  webapp/static/to_compile/admin.ts
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  webapp/templates/data/_partials/suggestion_groupe.html
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

refacto + tests
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
  webapp/unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

move values and group
  webapp/data/views.py
  webapp/static/to_compile/controllers/admin/cell_edit_controller.ts
  webapp/static/to_compile/controllers/admin/report_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_map_update_controller.ts
  webapp/static/to_compile/controllers/admin/suggestion_post.ts
  webapp/templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

mini update
  webapp/data/models/suggestions/source.py
Due: ruff, ruff-format, djade

refactorisation
  webapp/data/models/suggestions/source.py
  webapp/data/views.py
Due: ruff, ruff-format, djade

Upgrade sites faciles
  uv.lock
  webapp/pyproject.toml
Due: none

Remove translations
  webapp/locale/fr/LC_MESSAGES/django.po
Due: none

Add back english supported lang
  webapp/core/settings.py
Due: ruff, ruff-format, djade

Correctif de bugs sur la fermeture d'une fiche acteur (#2622)
  webapp/e2e_tests/acteur.spec.ts
  webapp/static/to_compile/controllers/carte/acteur_details.ts
  webapp/templates/ui/components/acteur/acteur_detail.html
Due: prettier

deploy: ab14995dd33be1671119df031d18bf59057c61f4
  .doctrees/environment.pickle
Due: none

add back link to logo
  webapp/templates/ui/components/header/header.html
Due: none

Add e2e test
  webapp/e2e_tests/navigation.spec.ts
Due: prettier

Reapply "Moteur de recherches : synonymes, variantes (#2435)" (#2550)
  pyproject.toml
  uv.lock
  webapp/qfdmd/migrations/0072_searchtag_and_synonyme_inheritance.py
  webapp/qfdmd/migrations/0073_produitpagesearchterm.py
  webapp/qfdmd/migrations/0074_alter_produitindexpage_body_alter_produitpage_body.py
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Cleanup templates
  webapp/templates/ui/components/search/_search_term.html
  webapp/templates/ui/components/search/search_result_produitpage.html
Due: none

Visual fixes
  webapp/templates/ui/pages/home.html
Due: none

Empty iframe header
  webapp/templates/ui/components/header/base.iframe.html
Due: none

Adapt scripts
  .github/actions/prepare-django-db/action.yml
Due: none

Fix e2e
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/search.spec.ts
Due: prettier

wip
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/search.spec.ts
Due: prettier

Improve e2e coverage
  .github/workflows/e2e.yml
  webapp/e2e_tests/search.spec.ts
Due: prettier

Fix lint
  webapp/qfdmd/forms.py
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Fix escape closes search results
  webapp/e2e_tests/search.spec.ts
Due: prettier

Visual fixes
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

Remove margin on p in intro
  webapp/templates/ui/pages/home.html
Due: none

Adjust paddings
  webapp/templates/ui/forms/widgets/autocomplete/input.qf.html
Due: none

Adjust paddings
  webapp/templates/ui/pages/home.html
Due: none

Fix e2e
  webapp/e2e_tests/search.spec.ts
Due: prettier

prevent p from being sized in subtitle
  webapp/templates/ui/pages/home.html
Due: none
