Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

fix: « Content missing » au clic sur « Je découvre les solutions »
  webapp/assistant/tests/test_consignes.py
  webapp/templates/ui/components/assistant/bloc_geste.html
Due: ruff, ruff-format, djade

perf: afficher la carte sans attendre les tuiles
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/controllers/assistant/prechargement_controller.ts
Due: prettier

fix: une URL partagée ouvre la fiche au lieu de bloquer
  webapp/assistant/forms.py
  webapp/assistant/tests/test_recherche_parcours.py
  webapp/assistant/views/pages.py
  webapp/assistant/views/recherche.py
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/panneau_recherche.html
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
Due: ruff, ruff-format, djade, prettier

Réorganisation des imports
  ml_deduplication/ml_deduplication/inference/run_inference.py
  ml_deduplication/ml_deduplication/inference/run_inference_splink.py
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/dedupe/model.py
  ml_deduplication/ml_deduplication/modeling/dedupe/xgb_model.py
  ml_deduplication/ml_deduplication/modeling/splink/splink_model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/blocking.py
  ml_deduplication/ml_deduplication/modeling/xgboost/model.py
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/modeling/xgboost/schema.py
  ml_deduplication/ml_deduplication/notebooks/splink_experiment.ipynb
  ml_deduplication/ml_deduplication/training/dedupe/model_selection.py
  ml_deduplication/ml_deduplication/training/dedupe/training_pipeline_dedupe.py
  ml_deduplication/ml_deduplication/training/splink/training_pipeline_splink.py
  ml_deduplication/ml_deduplication/training/xgboost/preprocessing.py
  ml_deduplication/ml_deduplication/training/xgboost/training.py
  ml_deduplication/ml_deduplication/training/xgboost/training_pipeline_xgboost.py
  ml_deduplication/ml_deduplication/training/xgboost/utils.py
  ml_deduplication/pyproject.toml
Due: ruff, ruff-format, djade

refactor: la fiche visée devient un ModelChoiceField
  webapp/assistant/forms.py
  webapp/assistant/objets.py
  webapp/assistant/tests/test_recherche_parcours.py
  webapp/assistant/views/pages.py
  webapp/assistant/views/recherche.py
  webapp/templates/ui/components/assistant/panneau_recherche.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/templates/ui/pages/assistant/solutions.html
Due: ruff, ruff-format, djade

3615 problème server et amélioration opentofu
  docs/how-to/troubleshooting.md
  infrastructure/environments/prod/metabase_containers/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
Due: prettier

3615 problème server et amélioration opentofu (#3387)
  docs/how-to/troubleshooting.md
  infrastructure/environments/prod/metabase_containers/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
Due: prettier

deploy: 1774468d672e35c63b46b80f5c673c24d7fa8cf8
  .doctrees/environment.pickle
  .doctrees/how-to/troubleshooting.doctree
  _sources/how-to/troubleshooting.md.txt
  how-to/troubleshooting.html
  searchindex.js
Due: prettier

fix: « Revenir » retrouve la fiche depuis le libellé
  webapp/assistant/tests/test_solutions.py
  webapp/assistant/views/pages.py
Due: ruff, ruff-format, djade

Amélioration des performances docker pour les DBs Postgis (#3376)
  Makefile
  data-platform/dags/.env.template
  docker-compose.yml
  scripts/db_restore.sh
Due: none

deploy: 4bbd30502efcfd27a67ec399c30111d54750ec4f
  .doctrees/environment.pickle
  _downloads/95c1cc2a3cf369594f0f2533889e0ba5/.env.template
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
Due: none

[SINOE] Nouveau portail
  data-platform/dags/sources/config/airflow_params.py
  data-platform/dags/sources/config/db_mapping.json
  data-platform/dags/sources/dags/source_sinoe.py
  data-platform/dags/sources/tasks/business_logic/source_data_download.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/tests/sources/tasks/business_logic/test_source_data_normalize.py
Due: ruff, ruff-format, djade

Suppression de l'instance de DB airflow et de Metabase en preprod
  infrastructure/environments/preprod/database/terraform.tfvars.example
  infrastructure/environments/preprod/database/terragrunt.hcl
  infrastructure/modules/database/main.tf
Due: none

deploy: 1d2df8a496222be7361d2ffa059817c0c9c4e879
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: c0d7ea20caf14827f6dba4184341ce3766d925cf
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 7e66bba47efd35dc9ba869936bfed187ddf6e229
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: 83540c63227a13406b85833dbed3e6da7a41136d
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

Hide autocapture behind a faeture flag
  webapp/static/to_compile/controllers/shared/analytics.ts
Due: prettier

Update db_mapping.json
  data-platform/dags/sources/config/db_mapping.json
Due: none

Transformer l'erreur d'interprétation des sous-cat en warning
  data-platform/dags/sources/dags/source_cma.py
  data-platform/dags/sources/tasks/business_logic/source_data_normalize.py
  data-platform/dags/sources/tasks/transform/exceptions.py
  data-platform/dags/sources/tasks/transform/transform_column.py
  data-platform/dags/tests/sources/tasks/transform/test_transform_column.py
Due: ruff, ruff-format, djade

Nouveau EO : LEKO
  data-platform/dags/shared/config/tags.py
  data-platform/dags/sources/config/db_mapping.json
  data-platform/dags/sources/dags/source_leko.py
Due: ruff, ruff-format, djade

Dockerisation de l'inference
  ml_deduplication/.dockerignore
  ml_deduplication/Dockerfile
  ml_deduplication/Makefile
  ml_deduplication/README.md
  ml_deduplication/ml_deduplication/inference/xgboost/run_inference.py
  ml_deduplication/ml_deduplication/modeling/dedupe/README.md
  ml_deduplication/ml_deduplication/modeling/splink/README.md
  ml_deduplication/ml_deduplication/modeling/xgboost/README.md
  ml_deduplication/ml_deduplication/modeling/xgboost/preprocessing.py
  ml_deduplication/models/xgboost/calibrator.pkl
  ml_deduplication/models/xgboost/hyperparameters.json
  ml_deduplication/models/xgboost/model.json
  ml_deduplication/models/xgboost/training_results.json
  ml_deduplication/pyproject.toml
  ml_deduplication/uv.lock
Due: ruff, ruff-format, djade, prettier

Ajout de la CI
  .github/workflows/ml-deduplication-inference-build-and-push.yml
Due: none

deploy: cfdb51b49d6c285faa8b87e9da2675410470a8ed
  .doctrees/environment.pickle
  _downloads/4340ad243ec8d978d0d45b263ac9521d/package.json
Due: none

deploy: c526b8e4680de7d7dbf21608b667136572adcb2a
  .doctrees/environment.pickle
Due: none

Fix sample db + e2e tests
  Makefile
  data-platform/airflow-scheduler.Dockerfile
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  docs/how-to/development/create_webapp_sample_db.md
  docs/how-to/development/installation.md
  docs/how-to/development/tests_e2e.md
  docs/reference/db/db_organisation.md
  docs/reference/webapp/README.md
  scripts/e2e_prepare.sh
  scripts/e2e_run_sample_dag.sh
  scripts/restore_sample_locally.sh
  webapp/.env.template
  webapp/Makefile
  webapp/e2e_tests/acteur.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/helpers.ts
Due: ruff, ruff-format, djade, prettier

ci: read package-lock.json from repo root in setup-playwright
  .github/actions/setup-playwright/action.yml
Due: none

Remove useless commands
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
Due: ruff, ruff-format, djade

capitalize only first letter
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Add todos
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
Due: ruff, ruff-format, djade

fix: corrections de migration des produits legacy
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

feat: images infotri décoratives par défaut
  bin/post_deploy
  infrastructure/modules/preview_database/main.tf
  webapp/qfdmd/blocks.py
  webapp/qfdmd/management/commands/mark_infotri_decorative.py
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

test: aligner le test d'intégration sur les couleurs de badge blue-cumulus / purple-glycine
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
Due: ruff, ruff-format, djade

Migrate on run
  webapp/bin/entrypoint.sh
Due: none

Improve spacing around carte block
  webapp/static/to_compile/styles/qfdmd.css
  webapp/templates/ui/blocks/carte.html
Due: prettier

feat: finalisation de la migration d'un produit (déplacement dans /categories)
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/templates/admin/qfdmd/confirm_finalize_migration.html
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
Due: ruff, ruff-format, djade

Rewrite migrations
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/migrations/0093_merge_20260911_1210.py
  webapp/qfdmd/migrations/0093_produit_legacy_imported_as_produit_page_and_more.py
Due: ruff, ruff-format, djade

Increase spacing around titles
  webapp/templates/ui/pages/produit_page.html
Due: none

wip
  webapp/qfdmd/models.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Scripts de migartion des produits legacy
  webapp/Dockerfile
  webapp/integration_tests/qfdmd/test_sync_from_legacy.py
  webapp/qfdmd/genre_nombre_classification.py
  webapp/qfdmd/legacy_migration.py
  webapp/qfdmd/management/commands/migrate_produits_legacy.py
  webapp/qfdmd/management/commands/report_genre_nombre_migrated_pages.py
  webapp/qfdmd/management/commands/report_genre_nombre_synonymes.py
  webapp/qfdmd/migrations/0088_produit_legacy_imported_as_produit_page_and_more.py
  webapp/qfdmd/migrations/0090_merge_20260825_0854.py
  webapp/qfdmd/models.py
  webapp/qfdmd/urls.py
  webapp/qfdmd/views.py
  webapp/qfdmd/wagtail_hooks.py
  webapp/search/models.py
  webapp/settings/base.py
  webapp/settings/dev.py
  webapp/templates/admin/qfdmd/confirm_migrate_produit.html
  webapp/templates/admin/qfdmd/confirm_revert_produit.html
  webapp/templates/admin/qfdmd/confirm_sync_produit.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_migrate.html
  webapp/templates/qfdmd/bulk_actions/confirm_bulk_revert.html
  webapp/unit_tests/qfdmd/fixtures/produits_legacy.json
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
  webapp/unit_tests/qfdmd/test_legacy_migration_service.py
  webapp/unit_tests/qfdmd/test_migrate_produits_legacy.py
  webapp/unit_tests/qfdmd/test_produit_page.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
