Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

debug script
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/acteurs/tasks/business_logic/copy_utils.py
Due: ruff, ruff-format, djade

mock
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_data.py
Due: ruff, ruff-format, djade

Correction du script de génération de la base de données de test (#2592)
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/acteurs/tasks/business_logic/copy_utils.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_data.py
Due: ruff, ruff-format, djade

deploy: fcb22e8dc08e9b4033ffec9c6e7837363732b61a
  .doctrees/environment.pickle
Due: none

Fix lint
  webapp/qfdmd/management/commands/fix_searchtag_names_from_synonymes.py
Due: ruff, ruff-format, djade

disable cache for e2e
  .github/actions/prepare-django-db/action.yml
Due: none

Better debug e2e
  .github/workflows/_e2e.yml
Due: none

reindent
  .github/workflows/_e2e.yml
Due: none

Lower retries
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
  webapp/playwright.config.ts
Due: prettier

WIP
  .github/workflows/_e2e.yml
Due: none

Set working directory
  .github/workflows/_e2e.yml
Due: none

Fix working directory
  .github/workflows/_e2e.yml
Due: none

Use blob report in CI
  webapp/playwright.config.ts
Due: prettier

Dynamic sharding report
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

Fx e2e gh actions
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
Due: none

Disable cache
  .github/actions/prepare-django-db/action.yml
Due: none

Fix blob name
  .github/workflows/_e2e.yml
Due: none

Compare
  .github/workflows/_e2e.yml
Due: none

fix playwright config
  .github/workflows/_e2e.yml
Due: none

Improve artifacts naming
  .github/workflows/_e2e.yml
Due: none

full ci
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
Due: none

Remove useless
  .github/workflows/_e2e.yml
Due: none

Do not upload report for compare
  .github/workflows/_e2e.yml
Due: none

Correctifs sur le moteur de recherche (#2591)
  .github/actions/prepare-django-db/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
  .gitignore
  webapp/core/settings.py
  webapp/playwright.config.ts
  webapp/qfdmd/management/commands/fix_searchtag_names_from_synonymes.py
  webapp/qfdmd/models.py
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade, prettier

deploy: 255bb16e2e3e9d3a5413e9731b7c6c3e4e64f11c
  .doctrees/environment.pickle
Due: none

Reapply "Moteur de recherches : synonymes, variantes (#2435)" (#2550)
  pyproject.toml
  uv.lock
  webapp/qfdmd/migrations/0072_searchtag_and_synonyme_inheritance.py
  webapp/qfdmd/migrations/0073_produitpagesearchterm.py
  webapp/qfdmd/migrations/0074_alter_produitindexpage_body_alter_produitpage_body.py
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

Review
  webapp/core/context_processors.py
  webapp/previews/template_preview.py
Due: ruff, ruff-format, djade

Fix lint
  webapp/qfdmd/forms.py
  webapp/qfdmd/views.py
Due: ruff, ruff-format, djade

WIP
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

Fix tests
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

Better e2e setup
  webapp/Makefile
  webapp/core/management/__init__.py
  webapp/core/management/commands/__init__.py
  webapp/core/management/commands/createsuperuser_example.py
Due: ruff, ruff-format, djade

Improve e2e coverage
  .github/workflows/_e2e.yml
  .github/workflows/e2e.yml
  webapp/Makefile
  webapp/e2e_tests/search.spec.ts
Due: prettier

Improve e2e coverage
  .github/workflows/e2e.yml
  webapp/Makefile
Due: none

wip
  webapp/e2e_tests/helpers.ts
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/search.spec.ts
Due: prettier

Fix e2e
  webapp/e2e_tests/iframe_navigation.spec.ts
  webapp/e2e_tests/search.spec.ts
Due: prettier

Disable cache for now
  .github/actions/prepare-django-db/action.yml
  webapp/templates/ui/components/header/base.iframe.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/produit_page.html
Due: none

Fix escape closes search results
  webapp/e2e_tests/search.spec.ts
Due: prettier

WIP
  webapp/e2e_tests/search.spec.ts
  webapp/qfdmd/forms.py
  webapp/templates/ui/components/header/base.iframe.html
Due: ruff, ruff-format, djade, prettier

re-enable regression
  webapp/e2e_tests/fixtures.ts
Due: prettier
