Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

Reset qfdmd migrations
  qfdmd/migrations/0071_alter_produitpage_search_tags.py
  qfdmd/migrations/0071_searchtag_taggedsearchtag_produitpage_search_tags.py
  qfdmd/migrations/0072_alter_taggedsearchtag_content_object.py
  qfdmd/migrations/0073_produitpage_search_variants_and_more.py
  qfdmd/migrations/0074_alter_taggedsearchtag_options_and_more.py
  qfdmd/migrations/0075_remove_produitpage_search_variants.py
Due: ruff, ruff-format, djade

Updates
  qfdmd/migrations/0071_searchtag_remove_synonyme_id_and_more.py
  qfdmd/migrations/0072_synonyme_imported_as_search_tag.py
  search/migrations/0002_alter_searchterm_options.py
  templates/ui/components/search/_search_result_searchtag.html
  templates/ui/components/search/_search_result_synonyme.html
Due: ruff, ruff-format, djade

WIP
  qfdmd/forms.py
  qfdmd/migrations/0073_produitpage_search_term.py
  templates/ui/components/search/_search_result_produitpage.html
Due: ruff, ruff-format, djade

add migration
  qfdmd/migrations/0071_searchtag_synonyme_inheritance.py
Due: ruff, ruff-format, djade

fix imports
  Makefile
  core/airflow_settings.py
  core/settings.py
  scripts/sql/create_extensions.sql
Due: ruff, ruff-format, djade

WIP
  qfdmd/views.py
Due: ruff, ruff-format, djade

add fork as dependency
  core/constants.py
  core/settings.py
  package-lock.json
  pyproject.toml
  qfdmd/forms.py
  qfdmd/views.py
  search/models.py
  uv.lock
Due: ruff, ruff-format, djade

WIP
  qfdmd/models.py
  templates/ui/components/search/_search_result_searchtag.html
Due: ruff, ruff-format, djade

Move search fields in wagtail admin
  qfdmd/models.py
  search/wagtail_hooks.py
Due: ruff, ruff-format, djade

remove useless method
  qfdmd/models.py
Due: ruff, ruff-format, djade

add index to e2e in CI
  .github/actions/prepare-django-db/action.yml
  Makefile
Due: none

Rewrite tests
  core/settings.py
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

Mauvais rebase.....
  qfdmd/templatetags/qfdmd_tags.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
Due: ruff, ruff-format, djade

Refactor synonymes migration
  qfdmd/migrations/0074_merge_20260211_1237.py
  qfdmd/migrations/0075_produitpage_migree_depuis_synonymes_legacy.py
  qfdmd/models.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  search/models.py
  templates/admin/qfdmd/confirm_import_synonymes.html
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Supprimer la variante touch n drag de la fiche acteur en mobile (#2515)
  e2e_tests/acteur.spec.ts
  previews/template_preview.py
  static/to_compile/controllers/carte/acteur_details.ts
  templates/ui/components/acteur/_actions.html
  templates/ui/components/acteur/acteur_detail.html
  templates/ui/pages/carte.html
  templates/ui/tests/t_15_acteur_fiche_viewport.html
Due: ruff, ruff-format, djade, prettier

deploy: 8e69e9651a4137572c66f22830d00c51ac81a42e
  .doctrees/environment.pickle
Due: none

Add more e2e test cases
  e2e_tests/search.spec.ts
Due: prettier

Cleanup
  qfdmd/migrations/0072_searchtag_and_synonyme_inheritance.py
  qfdmd/migrations/0072_searchtag_legacy_existing_synonyme.py
  qfdmd/migrations/0073_remove_produitpage_search_variants.py
  qfdmd/migrations/0074_merge_20260211_1237.py
  qfdmd/migrations/0075_produitpage_migree_depuis_synonymes_legacy.py
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
Due: ruff, ruff-format, djade

review
  qfdmd/views.py
Due: ruff, ruff-format, djade

Cleanup
  qfdmd/views.py
  search/admin.py
  search/management/__init__.py
  search/management/commands/__init__.py
  search/management/commands/sync_synonymes_to_search_terms.py
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Implement todo
  search/models.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/migrations/0072_searchtag_and_synonyme_inheritance.py
  qfdmd/models.py
  search/models.py
  templates/ui/components/search/search_result.html
  templates/ui/components/search/search_result_produitpage.html
  templates/ui/components/search/search_result_searchtag.html
  templates/ui/components/search/search_result_synonyme.html
  unit_tests/search_tests/test_search_term.py
Due: ruff, ruff-format, djade

Simplfication du code
  qfdmd/migrations/0073_produitpagesearchterm.py
  qfdmd/models.py
  search/models.py
Due: ruff, ruff-format, djade

remove useless tests
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Revert "remove useless tests"
  unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

Simplify controller
  qfdmd/models.py
  search/models.py
Due: ruff, ruff-format, djade

Simplify
  search/models.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/models.py
  qfdmo/models/config.py
  search/wagtail_hooks.py
Due: ruff, ruff-format, djade

Ajout de la section comment tester dans le template des PR
  .github/pull_request_template.md
Due: prettier

Ajout d'un test pour d'affichage de l'acteur en mode liste
  e2e_tests/acteur.spec.ts
  e2e_tests/helpers.ts
  templates/ui/components/acteur/acteur_detail.html
  templates/ui/components/acteur/acteur_table_name.html
Due: prettier

Apply suggestions from code review
  e2e_tests/acteur.spec.ts
Due: prettier

Main classes are not overriden anymore in base.html
  templates/ui/layout/assistant.html
  templates/ui/layout/base.html
Due: none

Ajout de la section comment tester dans le template des PR (#2520)
  .github/pull_request_template.md
Due: prettier

deploy: 00c4ba124b5b791dce5f7590445fa7824a9033a4
  .doctrees/environment.pickle
Due: none

move fr container inside the produit template
  templates/ui/layout/assistant.html
  templates/ui/pages/produit.html
Due: none

Correctifs visuels : centrage sur la homepage, espacements sur les fiches produit (#2499)
  e2e_tests/homepage.spec.ts
  templates/ui/components/produit/heading.html
  templates/ui/layout/assistant.html
  templates/ui/layout/base.html
  templates/ui/pages/home.html
  templates/ui/pages/produit.html
  templates/ui/pages/produit_page.html
Due: prettier

deploy: 1cd02798eb150537448d808e8114785d662d6b9f
  .doctrees/environment.pickle
Due: none

add migrate script
  Makefile
  qfdmd/management/commands/import_legacy_synonymes.py
  search/models.py
Due: ruff, ruff-format, djade

Move data migration to django admin command
  qfdmd/management/commands/import_legacy_synonymes.py
  qfdmd/migrations/0072_searchtag_and_synonyme_inheritance.py
Due: ruff, ruff-format, djade

Refactor command
  qfdmd/management/commands/populate_search_terms.py
Due: ruff, ruff-format, djade
