Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Mise à jour du nom de la connexion pour stocker les logs airflow
  dags/.env.template
  docs/explications/data/README.md
Due: prettier

Mise à jour du nom de la connexion pour stocker les logs airflow (#2403)
  dags/.env.template
  docs/explications/data/README.md
Due: prettier

deploy: 78f104e045109f4ee349f3bdead43bd82a4a817a
  .doctrees/environment.pickle
  .doctrees/explications/data/README.doctree
  _downloads/53cb3d4b862676d49a89882c7f33b7d6/.env.template
  _sources/explications/data/README.md.txt
  explications/data/README.html
  searchindex.js
Due: prettier

WIP
  qfdmd/management/commands/migrate_familypage_to_produitpage.py
  qfdmd/migrations/0070_produitpage_est_famille.py
  qfdmd/models.py
Due: ruff, ruff-format, djade

Remove max width on homepage
  templates/ui/pages/home.html
Due: none

Feedbacks
  templates/ui/components/acteur/acteur_table_name.html
  templates/ui/components/carte/header.html
  templates/ui/layout/assistant.html
Due: none

Remove infos when branding is disabled
  templates/ui/components/carte/mode_liste.html
  templates/ui/components/modals/filtres.html
Due: none

Rewrite migrations
  qfdmd/migrations/0070_produitpage_est_famille.py
Due: ruff, ruff-format, djade

Refactor
  qfdmd/models.py
Due: ruff, ruff-format, djade

Finish implementation
  core/settings.py
  qfdmd/forms.py
  qfdmd/migrations/0070_searchtag_taggedsearchtag_produitpage_search_tags.py
  qfdmd/migrations/0071_alter_produitpage_search_tags.py
  qfdmd/migrations/0072_alter_taggedsearchtag_content_object.py
  qfdmd/migrations/0073_produitpage_search_variants_and_more.py
  qfdmd/migrations/0074_alter_taggedsearchtag_options_and_more.py
  qfdmd/models.py
  qfdmd/templatetags/qfdmd_tags.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
  search/__init__.py
  search/admin.py
  search/apps.py
  search/management/__init__.py
  search/management/commands/__init__.py
  search/management/commands/sync_synonymes_to_search_terms.py
  search/migrations/0001_initial.py
  search/migrations/0002_rename_fields.py
  search/migrations/0003_remove_searchterm_search_sear_linked__a1b2c3_idx_and_more.py
  search/migrations/0004_searchterm_legacy.py
  search/migrations/__init__.py
  search/mixins.py
  search/models.py
  templates/ui/components/search/_search_term.html
  templates/ui/components/search/view.html
Due: ruff, ruff-format, djade

WIP
  qfdmd/models.py
  search/mixins.py
  search/models.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/templatetags/qfdmd_tags.py
Due: ruff, ruff-format, djade

WIP
  qfdmd/migrations/0075_remove_produitpage_search_variants.py
  qfdmd/models.py
  qfdmd/views.py
  qfdmd/wagtail_hooks.py
Due: ruff, ruff-format, djade

Update constants.py
  infotri/constants.py
Due: ruff, ruff-format, djade

Correctifs de la v7.9.0 : suppression de la largeur max sur la homepage et autres (#2437)
  templates/ui/components/acteur/acteur_table_name.html
  templates/ui/components/carte/header.html
  templates/ui/components/carte/mode_liste.html
  templates/ui/components/modals/filtres.html
  templates/ui/layout/assistant.html
  templates/ui/pages/home.html
Due: none

deploy: f5858a33ad0766336a8b37ab30472be6c14f0948
  .doctrees/environment.pickle
Due: none

Correction de l'url de health check du scheduler
  infrastructure/modules/container/airflow-scheduler.tf
Due: none

Correction de l'url de health check du scheduler (#2434)
  infrastructure/modules/container/airflow-scheduler.tf
Due: none

deploy: 0c7a2c951f7ba67dbde7a6179f5b2009c396844d
  .doctrees/environment.pickle
Due: none

Mise à jour du change log
  docs/reference/opendata/changelog.md
Due: prettier

Ajout de la colonne rapporter dans le jeu de données open-data
  dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
  dbt/models/exposure/acteurs/opendata/schema.yml
Due: none

Ajout de la colonne rapporter dans le jeu de données open-data (#2428)
  dbt/models/exposure/acteurs/opendata/exposure_opendata_acteur.sql
  dbt/models/exposure/acteurs/opendata/schema.yml
  docs/reference/opendata/changelog.md
Due: prettier

deploy: 68cbfe134282c6dd0c3c19e5a775111920f09566
  .doctrees/environment.pickle
  .doctrees/reference/opendata/changelog.doctree
  _sources/reference/opendata/changelog.md.txt
  reference/opendata/README.html
  reference/opendata/changelog.html
  searchindex.js
Due: prettier

Update infotri.html
  templates/ui/pages/infotri.html
Due: none

Update views.py
  core/views.py
Due: ruff, ruff-format, djade

retour à la ligne
  core/views.py
Due: ruff, ruff-format, djade

Modifs textes et hyperliens contenu info-tri (#2440)
  core/views.py
  templates/ui/pages/infotri.html
Due: ruff, ruff-format, djade

deploy: 832dfce141ac5ab62ea3c800440c9e3e20354861
  .doctrees/environment.pickle
Due: none

Hide content of homepage on iframe mode
  previews/template_preview.py
  qfdmd/views.py
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade

Cacher le contenu de la page d'accueil en mode iframe (#2441)
  previews/template_preview.py
  qfdmd/views.py
  templates/ui/pages/home.html
Due: ruff, ruff-format, djade

deploy: 6a7db55480b82c9601919b50fedc09a48ddd9ab7
  .doctrees/environment.pickle
Due: none

WIP
  core/templatetags/admin_data_tags.py
  data/models/suggestion.py
  data/views.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/ui/components/acteur/tabs/sections/meta.html
Due: ruff, ruff-format, djade, prettier

continue
  core/templatetags/carte_tags.py
  data/views.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  static/to_compile/js/solution_map.ts
  templates/data/_partials/suggestion_groupe_details.html
  templates/templatetags/acteur_pinpoint.html
Due: ruff, ruff-format, djade, prettier

WIP
  data/models/suggestion.py
  data/views.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
  templates/data/_partials/suggestion_groupe_refresh_stream.html
Due: ruff, ruff-format, djade, prettier

WIP
  data/models/suggestion.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

Différencier les notions de acteur, révision et parent au sein de suggestions
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data/migrations/0021_suggestiongroupe_parent_revision_acteur_and_more.py
  data/models/suggestion.py
  data/models/suggestions/source.py
  static/to_compile/controllers/admin/suggestion_groupe_row_controller.ts
Due: ruff, ruff-format, djade, prettier

display the suggestion from suggestion_groupe
  .github/workflows/sync_databases.yml
  .gitignore
  Makefile
  core/notion.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_clusters_validate_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_normalize_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_data_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_parents_choose_new_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_read_task.py
  dags/cluster/tasks/airflow_logic/cluster_acteurs_suggestions_to_db_task.py
  dags/cluster/tasks/business_logic/cluster_acteurs_clusters_prepare.py
  dags/cluster/tasks/business_logic/cluster_acteurs_parents_choose_data.py
  dags/cluster/tasks/business_logic/cluster_acteurs_read/for_clustering.py
  dags/cluster/tasks/business_logic/cluster_acteurs_suggestions/to_db.py
  dags/crawl/tasks/business_logic/crawl_urls_check_crawl.py
  dags/crawl/tasks/business_logic/crawl_urls_check_dns.py
  dags/crawl/tasks/business_logic/crawl_urls_check_syntax.py
  dags/crawl/tasks/business_logic/crawl_urls_read_urls_from_db.py
  dags/crawl/tasks/business_logic/crawl_urls_suggest.py
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  dags/tools/dags/airflow_cleanup_db.py
  data/views.py
  docs/comment-faire/development/fixture_generation.md
  docs/comment-faire/development/installation.md
  docs/comment-faire/development/useful_command.md
  qfdmo/management/commands/source_code_modification.py
  scripts/infrastructure/backup-db.sh
  templates/data/_partials/suggestion_groupe.html
  templates/data/_partials/suggestion_groupe_details.html
Due: ruff, ruff-format, djade, prettier

Tests
  dags/sources/tasks/business_logic/db_write_type_action_suggestions.py
  data/views.py
  unit_tests/data/test_suggestion_views.py
Due: ruff, ruff-format, djade

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
