Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
            args: ['--maxkb=600']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          exclude: ^dbt/package-lock\.yml$|^qfdmo/migrations/fixtures/objets\.json$
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: local
      hooks:
        # Ruff hooks
        - id: ruff
          name: ruff (lint)
          entry: uvx ruff check
          language: system
          types: [python]
          args: [--fix]
        - id: ruff-format
          name: ruff (format)
          entry: uvx ruff format
          language: system
          types: [python]
        # Djade hook
        - id: djade
          name: djade
          entry: uvx djade
          language: system
          types: [python]
          args: [--target-version, "5.1"]
        # Prettier hook
        - id: prettier
          name: prettier
          entry: npx prettier --write
          language: system
          files: \.(js|ts|css|md)$
        # OpenTofu hooks
        - id: tofu_fmt
          name: tofu fmt
          entry: tofu fmt
          language: system
          types: [hcl]
        - id: tofu_docs
          name: tofu docs
          entry: tofu fmt
          language: system
          types: [hcl]

command pour réparer les Suggestions avec des mauvaise lat, long et type
  webapp/data/management/commands/fix_cluster_point_suggestions.py
  webapp/data/management/commands/fix_recursion_suggestions.py
  webapp/qfdmo/models/acteur.py
  webapp/unit_tests/qfdmo/test_acteur.py
Due: ruff, ruff-format, djade

fix(preview): add pg_restore error logging, table row counts, force re-seed
  infrastructure/modules/preview_database/main.tf
Due: none

Command pour réparer les Suggestions avec des mauvaise lat, long et type (#3097)
  webapp/data/management/commands/fix_cluster_point_suggestions.py
  webapp/data/management/commands/fix_recursion_suggestions.py
  webapp/qfdmo/models/acteur.py
  webapp/unit_tests/qfdmo/test_acteur.py
Due: ruff, ruff-format, djade

deploy: 0e61c94180380f430781956d94effa4424ae4e8d
  .doctrees/environment.pickle
Due: none

Mise à jour de la doc d'onboarding concernant les accès à donner ou retirer (#3094)
  docs/how-to/team/onboarding-offboarding.md
Due: prettier

deploy: 782d1be300bcff51227f21fd429a20e8759829e7
  .doctrees/environment.pickle
  .doctrees/how-to/team/onboarding-offboarding.doctree
  _sources/how-to/team/onboarding-offboarding.md.txt
  how-to/team/onboarding-offboarding.html
  searchindex.js
Due: prettier

fix(preview): remove --clean from pg_restore (redundant, breaks extension-dependent tables)
  infrastructure/modules/preview_database/main.tf
Due: none

chore: tofu fmt
  infrastructure/modules/preview_database/main.tf
Due: none

fix: remove redundant --clean from pg_restore where schema is already dropped
  Makefile
  scripts/restore_sample_locally.sh
Due: none

debug(preview): add --terragrunt-log-level debug to diagnose silent tofu failure
  .github/workflows/_terragrunt-apply.yml
Due: none

fix(preview): add --terragrunt-include-external-dependencies so first deploy works
  .github/workflows/_terragrunt-apply.yml
Due: none

Revert "fix(preview): add --terragrunt-include-external-dependencies so first deploy works"
  .github/workflows/_terragrunt-apply.yml
Due: none

fix(preview): apply modules individually to avoid run-all dependency deadlock on first deploy
  .github/workflows/_terragrunt-apply.yml
Due: none

fix(preview): also run init individually to avoid dependency deadlock on first deploy
  .github/workflows/_terragrunt-apply.yml
Due: none

fix(preview): use relname instead of tablename in pg_stat_user_tables query
  infrastructure/modules/preview_database/main.tf
Due: none

fix(preview): check SAMPLE_DB_URI is set before pg_dump, escape Terraform interpolation
  infrastructure/modules/preview_database/main.tf
Due: none

fix(preview): restore SAMPLE_DB_URI to provisioner environment (not inherited from CI)
  infrastructure/modules/preview_database/main.tf
Due: none

fix: inline wagtail_french SQL in migration (file not in Docker image)
  webapp/qfdmd/migrations/0045_auto_20250717_1317.py
Due: ruff, ruff-format, djade

Corrige les script et permet des les passer par cohorte
  webapp/data/management/commands/fix_cluster_point_suggestions.py
  webapp/data/management/commands/fix_recursion_suggestions.py
Due: ruff, ruff-format, djade

Corrige les script et permet des les passer par cohorte (#3100)
  webapp/data/management/commands/fix_cluster_point_suggestions.py
  webapp/data/management/commands/fix_recursion_suggestions.py
Due: ruff, ruff-format, djade

deploy: ff136f0c2abd3db317c1d5d2dcc94576165c51b8
  .doctrees/environment.pickle
Due: none

suppression check_is_prod_env et ajout de la DB SAMPLE en preprod
  data-platform/dags/acteurs/tasks/airflow_logic/check_is_prod_env.py
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/database_sample/.terraform.lock.hcl
  infrastructure/environments/preprod/database_sample/terraform.tfvars.example
  infrastructure/environments/preprod/database_sample/terragrunt.hcl
Due: ruff, ruff-format, djade

perf: pipe pg_dump directly into pg_restore instead of temp file
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  data-platform/dags/acteurs/tasks/business_logic/copy_utils.py
Due: ruff, ruff-format, djade

fix: update test assertion for data_suggestion exclusion
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_data.py
Due: ruff, ruff-format, djade

perf: exclude suggestion and migration tables from sample DB copy
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
Due: ruff, ruff-format, djade

passer en mode tache asynchrome quand plus de 1000 entrées sont sélectionnées
  webapp/data/admin.py
  webapp/data/tasks.py
  webapp/unit_tests/data/test_admin_actions.py
Due: ruff, ruff-format, djade

debug tests
  webapp/unit_tests/search_tests/test_purge_orphan_searchterm_index.py
Due: ruff, ruff-format, djade

update makefile
  webapp/Makefile
Due: none

add django tasks
  webapp/Procfile
  webapp/core/settings.py
  webapp/core/test_settings.py
  webapp/data/admin.py
  webapp/data/tasks.py
  webapp/pyproject.toml
  webapp/uv.lock
Due: ruff, ruff-format, djade

Optimisations du script de restore de la db sample (#3090)
  data-platform/dags/acteurs/dags/compute_sample_acteur.py
  data-platform/dags/acteurs/tasks/airflow_logic/check_is_prod_env.py
  data-platform/dags/acteurs/tasks/business_logic/copy_db_data.py
  data-platform/dags/acteurs/tasks/business_logic/copy_utils.py
  data-platform/dags/tests/acteurs/tasks/business_logic/test_copy_db_data.py
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/database_sample/.terraform.lock.hcl
  infrastructure/environments/preprod/database_sample/terraform.tfvars.example
  infrastructure/environments/preprod/database_sample/terragrunt.hcl
Due: ruff, ruff-format, djade

deploy: b051b281fcb587ef18a7c6fae7cc8ef764cbdc98
  .doctrees/environment.pickle
Due: none

POC nouvelle version d'API
  webapp/core/api.py
  webapp/qfdmo/api.py
Due: ruff, ruff-format, djade
