Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Backup des DB via github
  .github/workflows/backup-databases.yml
  docs/reference/infrastructure/ci-cd.md
  docs/reference/security/backups.md
  scripts/infrastructure/backup-db.sh
Due: prettier

Rename quefaire
  webapp/templates/sites_conformes_core/base.html
  webapp/templates/ui/layout/error.html
  webapp/templates/ui/layout/quefaire.html
  webapp/templates/ui/pages/home.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/pages/produit_index_page.html
  webapp/templates/ui/pages/produit_page.html
Due: none

docs: plan d'implémentation de l'assistant V2
  docs/explanations/README.md
  docs/explanations/assistant/00-synthese.md
  docs/explanations/assistant/01-vue-ensemble.md
  docs/explanations/assistant/02-architecture.md
  docs/explanations/assistant/03-turbo-frames.md
  docs/explanations/assistant/04-stimulus.md
  docs/explanations/assistant/05-donnees-et-cache.md
  docs/explanations/assistant/06-decoupage-pr.md
  docs/explanations/assistant/07-tests-et-qualite.md
  docs/explanations/assistant/08-demarrage.md
  docs/explanations/assistant/09-etats-degrades.md
  docs/explanations/assistant/10-contrat-url.md
  docs/explanations/assistant/README.md
  docs/explanations/assistant/adr/0001-pas-de-dsfr.md
  docs/explanations/assistant/adr/0002-geler-noms-tables.md
  docs/explanations/assistant/adr/0003-geojson-plutot-que-html.md
  docs/explanations/assistant/adr/README.md
Due: prettier

feat: endpoint GeoJSON des lieux pour la carte de l'assistant
  webapp/assistant/__init__.py
  webapp/assistant/apps.py
  webapp/assistant/tests/__init__.py
  webapp/assistant/tests/test_geojson.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/geojson.py
  webapp/core/urls.py
  webapp/qfdmo/geo_expressions.py
  webapp/qfdmo/models/acteur.py
  webapp/settings/base.py
Due: ruff, ruff-format, djade

feat: restreindre les lieux à l'objet de la fiche
  webapp/assistant/tests/test_geojson.py
  webapp/assistant/views/geojson.py
  webapp/qfdmo/models/acteur.py
Due: ruff, ruff-format, djade

docs: consigner les décisions issues de l'implémentation
  docs/explanations/assistant/05-donnees-et-cache.md
  docs/explanations/assistant/07-tests-et-qualite.md
  docs/explanations/assistant/10-contrat-url.md
  docs/explanations/assistant/adr/0004-tri-knn-sans-borne-de-distance.md
  docs/explanations/assistant/adr/0005-bboverlaps-pour-la-zone-visible.md
  docs/explanations/assistant/adr/0006-strategie-adaptative-geste-objet.md
  docs/explanations/assistant/adr/README.md
Due: prettier

feat: carte de l'assistant
  webapp/e2e_tests/assistant_carte.spec.ts
  webapp/previews/template_preview.py
  webapp/static/to_compile/assistant.ts
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.test.ts
  webapp/static/to_compile/js/assistant/lieux_visibles.ts
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/components/assistant/carte.md
Due: ruff, ruff-format, djade, prettier

fix: transmettre le protocole à Django derrière nginx
  servers.conf.erb
Due: none

fix: rendre la carte visible et supprimer la requête en double
  webapp/assistant/views/geojson.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/controllers/assistant/chrono_controller.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/django_lookbook/preview.html
  webapp/templates/ui/components/assistant/carte.html
Due: ruff, ruff-format, djade, prettier

feat: recherche d'objet avec suggestions
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/recherche.py
  webapp/previews/template_preview.py
  webapp/previews/widgets.py
  webapp/static/to_compile/controllers/assistant/recherche_objet_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/templates/previews/widgets/adresse_datalist.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/templates/ui/components/assistant/recherche_objet.md
Due: ruff, ruff-format, djade, prettier

docs: consigner le choix d'un endpoint JSON pour la recherche
  docs/explanations/assistant/02-architecture.md
  docs/explanations/assistant/06-decoupage-pr.md
  docs/explanations/assistant/10-contrat-url.md
  docs/explanations/assistant/adr/0007-endpoint-json-pour-la-recherche.md
  docs/explanations/assistant/adr/README.md
Due: prettier

feat: coquille de l'assistant (PR 1)
  docs/explanations/assistant/06-decoupage-pr.md
  webapp/assistant/README.md
  webapp/assistant/tests/test_pages.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/mixins.py
  webapp/assistant/views/pages.py
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/assistant/home.html
  webapp/templates/ui/pages/assistant/lieu.html
  webapp/templates/ui/pages/assistant/produit.html
  webapp/templates/ui/pages/assistant/solutions.html
Due: ruff, ruff-format, djade, prettier

feat: pinpoints conformes au Figma
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/images/assistant/pinpoints/bonus-ellipse.svg
  webapp/static/to_compile/images/assistant/pinpoints/bonus-outils.svg
  webapp/static/to_compile/images/assistant/pinpoints/bonus-pourcent.svg
  webapp/static/to_compile/images/assistant/pinpoints/bonus-union-stroke.svg
  webapp/static/to_compile/images/assistant/pinpoints/bonus-union.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-don.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-loc-fond.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-loc.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-reparation-fond.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-reparation.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-tri-fond.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-tri.svg
  webapp/static/to_compile/images/assistant/pinpoints/geste-vente.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-loc.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-reparation.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-tri.svg
  webapp/static/to_compile/images/assistant/pinpoints/icone-vente.svg
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/styles/assistant.css
Due: prettier

docs: consigner les jetons relevés dans le Figma
  docs/explanations/assistant/adr/0008-jetons-de-design.md
  docs/explanations/assistant/adr/README.md
Due: prettier

feat: composants de l'assistant (PR 2-3)
  webapp/previews/template_preview.py
  webapp/static/to_collect/assistant/logos/ademe.svg
  webapp/static/to_collect/assistant/logos/que-faire.svg
  webapp/static/to_collect/assistant/logos/republique-francaise.svg
  webapp/static/to_compile/images/assistant/gestes/etiquette-deposer.svg
  webapp/static/to_compile/images/assistant/gestes/etiquette-donner.svg
  webapp/static/to_compile/images/assistant/gestes/etiquette-preter.svg
  webapp/static/to_compile/images/assistant/gestes/etiquette-reparer.svg
  webapp/static/to_compile/images/assistant/gestes/etiquette-vendre.svg
  webapp/static/to_compile/images/assistant/gestes/geste-deposer.svg
  webapp/static/to_compile/images/assistant/gestes/geste-donner-main.svg
  webapp/static/to_compile/images/assistant/gestes/geste-donner.svg
  webapp/static/to_compile/images/assistant/gestes/geste-preter.svg
  webapp/static/to_compile/images/assistant/gestes/geste-reparer.svg
  webapp/static/to_compile/images/assistant/gestes/geste-vendre.svg
  webapp/static/to_compile/images/assistant/ui/accordeon-chevron.svg
  webapp/static/to_compile/images/assistant/ui/alerte-info.svg
  webapp/static/to_compile/images/assistant/ui/badge-bonus.svg
  webapp/static/to_compile/images/assistant/ui/fleche-droite.svg
  webapp/static/to_compile/images/assistant/ui/lien-externe.svg
  webapp/static/to_compile/images/assistant/ui/recherche-loupe.svg
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/accordeon.html
  webapp/templates/ui/components/assistant/accordeon.md
  webapp/templates/ui/components/assistant/alerte.html
  webapp/templates/ui/components/assistant/alerte.md
  webapp/templates/ui/components/assistant/badge.html
  webapp/templates/ui/components/assistant/badge.md
  webapp/templates/ui/components/assistant/bloc_geste.html
  webapp/templates/ui/components/assistant/bloc_geste.md
  webapp/templates/ui/components/assistant/bloc_gestes.html
  webapp/templates/ui/components/assistant/bloc_gestes.md
  webapp/templates/ui/components/assistant/bouton_changer_geste.html
  webapp/templates/ui/components/assistant/bouton_changer_geste.md
  webapp/templates/ui/components/assistant/etiquette_geste.html
  webapp/templates/ui/components/assistant/etiquette_geste.md
  webapp/templates/ui/components/assistant/footer.html
  webapp/templates/ui/components/assistant/footer.md
  webapp/templates/ui/components/assistant/icone_geste.html
  webapp/templates/ui/components/assistant/icone_geste.md
Due: ruff, ruff-format, djade, prettier

perf: retirer Tailwind du bundle de l'assistant
  docs/explanations/assistant/adr/0008-jetons-de-design.md
  docs/explanations/assistant/adr/0009-questions-a-trancher.md
  docs/explanations/assistant/adr/README.md
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/layout/assistant.html
Due: prettier

feat: embarquer Public Sans, la police du Figma
  docs/explanations/assistant/adr/0009-questions-a-trancher.md
  package-lock.json
  webapp/package.json
  webapp/static/to_compile/styles/assistant.css
Due: prettier

feat: appliquer les arbitrages Q4 à Q6
  docs/explanations/assistant/05-donnees-et-cache.md
  docs/explanations/assistant/06-decoupage-pr.md
  docs/explanations/assistant/10-contrat-url.md
  docs/explanations/assistant/README.md
  docs/explanations/assistant/adr/0008-jetons-de-design.md
  docs/explanations/assistant/adr/0009-questions-a-trancher.md
  webapp/previews/template_preview.py
  webapp/qfdmo/migrations/0192_groupe_action_libelle_court.py
  webapp/qfdmo/models/action.py
  webapp/static/to_compile/images/assistant/gestes/geste-vendre.svg
  webapp/static/to_compile/quefaire.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/badge.md
  webapp/templates/ui/components/assistant/etiquette_geste.md
Due: ruff, ruff-format, djade, prettier

feat: écran d'accueil et recherche d'adresse (PR 4)
  .claude/plans/loop-assistant-pr-4-5-8.md
  webapp/assistant/parcours.py
  webapp/assistant/tests/test_adresse.py
  webapp/assistant/tests/test_recherche_parcours.py
  webapp/assistant/urls.py
  webapp/assistant/views/__init__.py
  webapp/assistant/views/adresse.py
  webapp/assistant/views/pages.py
  webapp/assistant/views/recherche.py
  webapp/previews/template_preview.py
  webapp/static/to_compile/controllers/assistant/combobox_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_adresse.md
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/templates/ui/layout/quefaire.html
  webapp/templates/ui/pages/assistant/home.html
Due: ruff, ruff-format, djade, prettier

feat: fiche objet avec consignes statiques (PR 5)
  webapp/assistant/consignes.py
  webapp/assistant/tests/test_consignes.py
  webapp/assistant/views/pages.py
  webapp/qfdmo/fixtures/actions.json
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/entete_parcours.html
  webapp/templates/ui/layout/turbo.html
  webapp/templates/ui/pages/assistant/produit.html
Due: ruff, ruff-format, djade, prettier

feat: détail d'un lieu (PR 8)
  .claude/plans/loop-assistant-pr-4-5-8.md
  webapp/assistant/lieu.py
  webapp/assistant/tests/test_lieu.py
  webapp/assistant/views/pages.py
  webapp/qfdmo/models/acteur.py
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/pages/assistant/lieu.html
Due: ruff, ruff-format, djade, prettier

fix: aligner les composants sur les mesures du Figma
  webapp/static/to_compile/styles/assistant.css
Due: prettier

feat: aligner les écrans sur les maquettes
  webapp/assistant/tests/test_consignes.py
  webapp/static/to_compile/controllers/assistant/soumission_controller.ts
  webapp/static/to_compile/images/assistant/ui/bouton-recherche.svg
  webapp/static/to_compile/js/assistant/application.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/panneau_recherche.html
  webapp/templates/ui/components/assistant/recherche_adresse.html
  webapp/templates/ui/components/assistant/recherche_objet.html
  webapp/templates/ui/pages/assistant/home.html
  webapp/templates/ui/pages/assistant/produit.html
Due: ruff, ruff-format, djade, prettier

feat: aligner la fiche d'un lieu sur la maquette
  webapp/assistant/lieu.py
  webapp/assistant/tests/test_lieu.py
  webapp/assistant/views/pages.py
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/pages/assistant/lieu.html
Due: ruff, ruff-format, djade, prettier

feat: écran solutions et carte (PR 7)
  webapp/assistant/tests/test_solutions.py
  webapp/assistant/views/pages.py
  webapp/static/to_compile/controllers/assistant/carte_controller.ts
  webapp/static/to_compile/images/assistant/ui/adresse-cercle.svg
  webapp/static/to_compile/images/assistant/ui/adresse-pin.svg
  webapp/static/to_compile/js/assistant/pinpoint.ts
  webapp/static/to_compile/styles/assistant.css
  webapp/templates/ui/components/assistant/carte.html
  webapp/templates/ui/pages/assistant/solutions.html
Due: ruff, ruff-format, djade, prettier

feat: préchargement et arbitrage du comptage (PR 9)
  docs/explanations/assistant/03-turbo-frames.md
  docs/explanations/assistant/adr/0010-pas-de-comptage-par-geste.md
  docs/explanations/assistant/adr/README.md
  webapp/static/to_compile/controllers/assistant/prechargement_controller.ts
  webapp/static/to_compile/js/assistant/application.ts
  webapp/templates/ui/components/assistant/bloc_geste.html
Due: prettier

Simplification des boutons de partage de l'assistant (#3354)
  webapp/core/constants.py
  webapp/core/templatetags/script_tags.py
  webapp/previews/template_preview.py
  webapp/templates/ui/components/code/code.html
  webapp/templates/ui/components/footer/base.iframe.html
  webapp/templates/ui/components/modals/embed.html
  webapp/templates/ui/components/modals/share.html
  webapp/templates/ui/components/produit/heading.html
  webapp/templates/ui/components/surfooter/base.html
  webapp/templates/ui/components/surfooter/base.iframe.html
  webapp/templates/ui/components/surfooter/surfooter.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/pages/produit.html
  webapp/templates/ui/pages/produit_page.html
Due: ruff, ruff-format, djade

deploy: d579161c43783cb4c5233890c240c5b875575cc8
  .doctrees/environment.pickle
  _downloads/592f5a299b2b46af70832e1a7adcae77/template_preview.py
Due: ruff, ruff-format, djade

Remove useless disconnect
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

Fix autocomplete
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/forms/widgets/autocomplete/results.html
Due: prettier

Remove scroll listener
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

Autocomplete : corriger le positionnement des suggestions sur mobile iOS (#3380)
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/forms/widgets/autocomplete/results.html
Due: prettier

deploy: a8b9d747f3b5f4e6571b896bc143cd68f74e06b9
  .doctrees/environment.pickle
Due: none

Fix maplibre
  webapp/static/to_compile/js/solution_map.ts
Due: prettier

Corrige la carte grise depuis la mise à jour de maplibre (#3383)
  webapp/static/to_compile/js/solution_map.ts
Due: prettier

deploy: a93e05fa2b40192b305fbcf6adcca2729f5a8f1e
  .doctrees/environment.pickle
Due: none

déplacer le model base_action dans dbt/models/base/acteurs
  data-platform/dags/shared/config/dag_names.py
  data-platform/dbt/models/base/acteurs/base_action.sql
  data-platform/dbt/models/base/acteurs/schema.yml
  data-platform/dbt/models/base/stats/base_action.sql
  data-platform/dbt/models/base/stats/schema.yml
  data-platform/dbt/models/source/source_stats.yml
  docs/reference/data-platform/dbt.md
Due: ruff, ruff-format, djade, prettier

Déplacement des DB airflow, création d'un metabase sur Scaleway
  infrastructure/modules/metabase_containers/variables.tf
Due: none

déplacer le model base_action dans dbt/models/base/acteurs (#3386)
  data-platform/dags/shared/config/dag_names.py
  data-platform/dbt/models/base/acteurs/base_action.sql
  data-platform/dbt/models/base/acteurs/schema.yml
  data-platform/dbt/models/base/stats/base_action.sql
  data-platform/dbt/models/base/stats/schema.yml
  data-platform/dbt/models/source/source_stats.yml
  docs/reference/data-platform/dbt.md
  infrastructure/modules/metabase_containers/variables.tf
Due: ruff, ruff-format, djade, prettier

deploy: 02450859710be53333ff6872e6016874cddbb897
  .doctrees/environment.pickle
  .doctrees/reference/data-platform/dbt.doctree
  _sources/reference/data-platform/dbt.md.txt
  reference/data-platform/dbt.html
  searchindex.js
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
