Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Rename
  .github/workflows/_regression-job.yml
  .github/workflows/regression.yml
Due: none

download file
  .github/workflows/_regression-job.yml
Due: none

fix path
  .github/workflows/_regression-job.yml
Due: none

Silent copilot
  .github/workflows/_regression-job.yml
Due: none

add back setup
  .github/workflows/_regression-job.yml
Due: none

remove unnecessary changes
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
Due: none

replace ref for main
  .github/workflows/_regression-job.yml
Due: none

wait less time
  .github/workflows/_regression-job.yml
Due: none

Setup playwright
  .github/workflows/_regression-job.yml
Due: none

Suppression de la lib tqdm qui n'est plus utilisée
  pyproject.toml
  uv.lock
Due: none

Collect
  .github/actions/setup-e2e-tools/action.yml
  .github/actions/start-django-server/action.yml
  .github/workflows/_regression-job.yml
  .github/workflows/ci.yml
  e2e_tests/regression.spec.ts
Due: prettier

debug missing file
  .github/workflows/_regression-job.yml
Due: none

add comment
  .github/workflows/_regression-job.yml
Due: none

use tag based approach
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
  .gitignore
  e2e_tests/acteur.spec.ts
  e2e_tests/carte.spec.ts
  playwright.config.ts
  playwright.regression.ts
Due: prettier

debug
  e2e_tests/regression.spec.ts
Due: prettier

add better status check
  e2e_tests/regression.spec.ts
Due: prettier

add more regression tests
  e2e_tests/acteur.spec.ts
  e2e_tests/carte.spec.ts
Due: prettier

add real tests
  .gitignore
  e2e_tests/regression.spec.ts
Due: prettier

update timeout
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
  e2e_tests/regression.spec.ts
  playwright.regression.ts
  previews/template_preview.py
Due: ruff, ruff-format, djade, prettier

debug
  .github/workflows/_regression-job.yml
Due: none

add check on status codes
  .github/workflows/_regression-job.yml
  .github/workflows/non-regression.yml
  .gitignore
  e2e_tests/regression.spec.ts
  playwright.regression.ts
Due: prettier

upgrade regression testing artifcats to dedicated gh branch
  .github/workflows/non-regression.yml
Due: none

Revamp playwright config
  .github/workflows/_regression-job.yml
  .github/workflows/ci.yml
  .github/workflows/non-regression.yml
  playwright.config.ts
  playwright.regression.ts
Due: prettier

fix dependencies
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/_e2e.yml
  .github/workflows/review.yml
Due: none

give permissiosn
  .github/workflows/review.yml
Due: none

Refactor regression testing
  .github/workflows/_e2e.yml
  e2e_tests/fixtures.ts
  e2e_tests/helpers.ts
  e2e_tests/iframe.spec.ts
  e2e_tests/regression.spec.ts
Due: prettier

use playwright fixtures
  e2e_tests/acteur.spec.ts
  e2e_tests/carte.spec.ts
  e2e_tests/fixtures.ts
Due: prettier

Fix input required
  .github/workflows/_e2e.yml
Due: none

debug workflow
  .github/workflows/ci.yml
Due: none

syntax error in yaml
  .github/workflows/_e2e.yml
  .github/workflows/ci.yml
Due: none

move to dedicated workflow file for e2e
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

remove dsfr transformer
  parcel-transformers/dsfr.ts
Due: prettier

rename job
  .github/workflows/_e2e.yml
Due: none

invert logic
  .github/workflows/e2e.yml
Due: none

remove dsfr transformer
  .github/workflows/_e2e.yml
  .github/workflows/cd.yml
  .github/workflows/e2e.yml
  .github/workflows/review.yml
  .parcelrc
Due: none

rename with png extension
  e2e_tests/fixtures.ts
Due: prettier

Disable sharding for now
  .github/workflows/_e2e.yml
Due: none

WIP
  e2e_tests/fixtures.ts
  playwright.config.ts
Due: prettier

update fixture
  .github/workflows/_e2e.yml
  e2e_tests/fixtures.ts
Due: prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
