Repository incubateur-ademe/quefairedemesobjets: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, djade, prettier

ruff:
  name: ruff (lint)
  entry: uvx ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff (format)
  entry: uvx ruff format
  language: system

djade:
  name: djade
  entry: uvx djade
  language: system
  args:
  - --target-version
  - '5.1'

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

deploy: dbfa2ec221cf3223a332c6799b745f8405ce6b8e
  .doctrees/environment.pickle
  .doctrees/explanations/data/ingestion-de-source.doctree
  .doctrees/how-to/troubleshooting.doctree
  .doctrees/reference/data-platform/airflow.doctree
  _downloads/1664eb09008d8800e0c3ece83b4625a7/config_management.py
  _downloads/95c1cc2a3cf369594f0f2533889e0ba5/.env.template
  _downloads/f0f45a183f8765773a1d775882cc3b53/docker-compose.yml
  _sources/explanations/data/ingestion-de-source.md.txt
  _sources/how-to/troubleshooting.md.txt
  _sources/reference/data-platform/airflow.md.txt
  explanations/data/ingestion-de-source.html
  how-to/troubleshooting.html
  reference/data-platform/README.html
  reference/data-platform/airflow.html
  searchindex.js
Due: ruff, ruff-format, djade, prettier

Accessibilité RGAA : retours bloquants (#2777)
  webapp/core/settings.py
  webapp/previews/template_preview.py
  webapp/pyproject.toml
  webapp/templates/ui/components/acteur/_action_share.html
  webapp/templates/ui/components/carte/shared/disclaimers/no_local_solution.html
  webapp/templates/ui/components/produit/heading.html
  webapp/unit_tests/core/test_accessibilite_previews.py
  webapp/uv.lock
Due: ruff, ruff-format, djade

Add BAN proxy view, carte combobox controller, and per-page adresse partials
  webapp/qfdmo/views/autocomplete.py
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/templates/ui/components/formulaire/adresse_input_form.html
  webapp/templates/ui/forms/widgets/autocomplete/address_results.html
Due: ruff, ruff-format, djade, prettier

Fix e2e helpers to match the new carte address combobox selectors
  webapp/e2e_tests/helpers.ts
Due: prettier

Add screen-reader hooks and keyboard tests for the carte combobox
  webapp/e2e_tests/carte_address_combobox.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/templates/ui/components/carte/adresse_input_form.html
  webapp/templates/ui/forms/widgets/autocomplete/address_results.html
  webapp/templates/ui/forms/widgets/autocomplete/results.html
Due: prettier

Fix carte address reload loop and route formulaire to its own partial
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/components/formulaire/search_form.html
  webapp/templates/ui/forms/widgets/autocomplete/input.html
Due: prettier

Add carte autocomplete e2e + BAN view and widget unit tests
  webapp/e2e_tests/carte_address_combobox.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/unit_tests/qfdmo/test_autocomplete_address_view.py
  webapp/unit_tests/qfdmo/test_carte_address_widget.py
Due: ruff, ruff-format, djade, prettier

Align combobox with W3C APG combobox-autocomplete-list keyboard model
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/unit_tests/qfdmo/test_carte_address_widget.py
Due: ruff, ruff-format, djade, prettier

rewrite
  webapp/qfdmo/forms.py
  webapp/qfdmo/urls.py
  webapp/qfdmo/widgets.py
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/carte/adresse_input_form.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
Due: ruff, ruff-format, djade, prettier

Reset stale bbox before submitting the carte form after an address pick
  webapp/e2e_tests/carte_address_combobox.spec.ts
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/templates/ui/pages/carte.html
Due: prettier

pr feedbacks
  webapp/e2e_tests/carte_address_combobox.spec.ts
  webapp/qfdmo/urls.py
  webapp/qfdmo/views/autocomplete.py
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/templates/ui/components/carte/adresse_input_form.html
  webapp/unit_tests/qfdmo/test_autocomplete_address_view.py
Due: ruff, ruff-format, djade, prettier

Utilisation du nouvel autocomplete pour le champ adresse de la carte (#2793)
  webapp/e2e_tests/carte_address_combobox.spec.ts
  webapp/e2e_tests/helpers.ts
  webapp/qfdmo/forms.py
  webapp/qfdmo/urls.py
  webapp/qfdmo/views/autocomplete.py
  webapp/qfdmo/widgets.py
  webapp/static/to_compile/controllers/assistant/state.ts
  webapp/static/to_compile/controllers/carte/carte_address_autocomplete_controller.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/carte.ts
  webapp/templates/ui/components/carte/adresse_input_form.html
  webapp/templates/ui/components/formulaire/adresse_input_form.html
  webapp/templates/ui/components/formulaire/search_form.html
  webapp/templates/ui/forms/widgets/autocomplete/address_results.html
  webapp/templates/ui/forms/widgets/autocomplete/input.html
  webapp/templates/ui/forms/widgets/autocomplete/results.html
  webapp/templates/ui/layout/assistant.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/carte.html
  webapp/unit_tests/qfdmo/test_autocomplete_address_view.py
  webapp/unit_tests/qfdmo/test_carte_address_widget.py
Due: ruff, ruff-format, djade, prettier

Mise à jour Sites Conformes (#2825)
  webapp/core/settings.py
  webapp/pyproject.toml
  webapp/qfdmd/migrations/0083_alter_produitindexpage_body_alter_produitpage_body.py
  webapp/templates/base.html
  webapp/templates/sites_conformes_core/base.html
  webapp/uv.lock
Due: ruff, ruff-format, djade

deploy: 86121b77e0b90bde387dfa93010838de7e309676
  .doctrees/environment.pickle
Due: none

fix(a11y): aria-hidden=\"true\" sur les SVG décoratifs (logos, illustrations)
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/logo/ademe.html
  webapp/templates/ui/components/logo/republique_francaise.html
  webapp/templates/ui/components/logo/site_logo_mini.html
  webapp/templates/ui/layout/_partials/header_logos.html
Due: none

fix(a11y): rendre explicites les intitulés des liens du header et de la modale d'intégration
  webapp/templates/ui/components/header/header.html
  webapp/templates/ui/components/modals/embed.html
Due: none

fix(a11y): titre d'iframe distinct par route + data-title configurable
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
Due: prettier

fix(a11y): ajouter le skip link sur les pages utilisant base.html
  webapp/templates/ui/layout/base.html
Due: none

fix(a11y): rôles ARIA banner/main, nav du surfooter et nettoyage des landmarks
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/components/carte/mode_carte.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/formulaire/header.html
  webapp/templates/ui/components/formulaire/main.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/infotri.html
Due: none

fix(e2e): align iframe title and search keyboard tests with APG model
  webapp/e2e_tests/iframe.spec.ts
  webapp/e2e_tests/search.spec.ts
Due: prettier

fix(e2e): use lookbook preview route for integration modal a11y test
  webapp/e2e_tests/a11y_mineurs.spec.ts
Due: prettier

test(a11y): previews Lookbook + tests e2e/unit pour le lot Mineurs
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/previews/template_preview.py
  webapp/templates/ui/components/accessibilite/iframe_titles_demo.html
  webapp/templates/ui/components/accessibilite/landmarks_demo.html
  webapp/templates/ui/components/accessibilite/liens_explicites_demo.html
  webapp/templates/ui/components/accessibilite/skip_link_demo.html
  webapp/templates/ui/components/accessibilite/svg_decoratifs_demo.html
  webapp/unit_tests/core/test_accessibilite_mineurs_previews.py
Due: ruff, ruff-format, djade, prettier

Affiche la famille dans les résultats de recherche pour tous les utilisateurs (#2827)
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/templates/ui/components/search/search_result.html
  webapp/templates/ui/components/search/search_result_searchtag.html
Due: none

Purger périodiquement le cache GitHub Actions (#2824)
  .github/workflows/cleanup-pr-caches.yml
  .github/workflows/prune-old-caches.yml
Due: none

remove e2e and add unit test
  webapp/e2e_tests/produit_carte_ab.spec.ts
  webapp/unit_tests/core/templatetags/test_carte_tag.py
Due: ruff, ruff-format, djade, prettier

A/B test mode carte/liste par défaut sur les pages produit en mobile (#2795)
  AGENTS.md
  docs/reference/webapp/ab-testing.md
  webapp/core/templatetags/carte_tags.py
  webapp/core/url_utils.py
  webapp/qfdmd/migrations/0083_produitpage_ab_test_carte_default_view.py
  webapp/qfdmd/models.py
  webapp/static/to_compile/controllers/shared/ab_test_controller.ts
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/carte.ts
  webapp/static/to_compile/tests/ab_test_controller.test.ts
  webapp/templates/templatetags/carte.html
  webapp/unit_tests/core/templatetags/test_carte_tag.py
  webapp/unit_tests/core/test_url_utils.py
Due: ruff, ruff-format, djade, prettier

remove e2e and add unit test
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/e2e_tests/iframe.spec.ts
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/templates/ui/components/accessibilite/iframe_titles_demo.html
  webapp/unit_tests/core/test_accessibilite_mineurs_previews.py
Due: ruff, ruff-format, djade, prettier

correctifs des non-conformités RGAA mineures (#2794)
  webapp/e2e_tests/a11y_mineurs.spec.ts
  webapp/e2e_tests/iframe.spec.ts
  webapp/e2e_tests/search.spec.ts
  webapp/previews/template_preview.py
  webapp/static/to_compile/js/iframe_functions.ts
  webapp/static/to_compile/tests/iframe_functions.test.ts
  webapp/templates/ui/components/accessibilite/iframe_titles_demo.html
  webapp/templates/ui/components/accessibilite/landmarks_demo.html
  webapp/templates/ui/components/accessibilite/liens_explicites_demo.html
  webapp/templates/ui/components/accessibilite/skip_link_demo.html
  webapp/templates/ui/components/accessibilite/svg_decoratifs_demo.html
  webapp/templates/ui/components/carte/header.html
  webapp/templates/ui/components/carte/mode_carte.html
  webapp/templates/ui/components/carte/mode_liste.html
  webapp/templates/ui/components/footer/base.html
  webapp/templates/ui/components/formulaire/header.html
  webapp/templates/ui/components/formulaire/main.html
  webapp/templates/ui/components/header/header.html
  webapp/templates/ui/components/logo/ademe.html
  webapp/templates/ui/components/logo/republique_francaise.html
  webapp/templates/ui/components/logo/site_logo_mini.html
  webapp/templates/ui/components/modals/embed.html
  webapp/templates/ui/layout/_partials/header_logos.html
  webapp/templates/ui/layout/base.html
  webapp/templates/ui/pages/infotri.html
  webapp/unit_tests/core/test_accessibilite_mineurs_previews.py
Due: ruff, ruff-format, djade, prettier

Adaptation pour Airflow v3
  data-platform/dags/.env.template
  data-platform/dags/sources/dags/source_generic.py
  data-platform/uv.lock
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/airflow-webserver.tf
Due: ruff, ruff-format, djade

fix(recherche): doublons quand le terme matche via une variante de recherche
  webapp/search/models.py
  webapp/unit_tests/search_tests/test_search_term.py
  webapp/unit_tests/search_tests/test_search_view.py
Due: ruff, ruff-format, djade

fix(iframe): mention du terme recherché manquante sur la fiche
  webapp/static/to_compile/controllers/shared/analytics.ts
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
Due: prettier

feat(recherche): panneau debug score pour les utilisateurs beta
  webapp/qfdmd/views.py
  webapp/search/score_breakdown.py
  webapp/templates/ui/components/search/_score_breakdown_tooltip.html
  webapp/templates/ui/components/search/autocomplete_results.html
  webapp/unit_tests/search_tests/test_score_breakdown.py
Due: ruff, ruff-format, djade

fix(cms): 500 sur l'import des synonymes legacy avec données malformées
  webapp/qfdmd/views.py
  webapp/unit_tests/qfdmd/test_import_legacy_synonymes.py
Due: ruff, ruff-format, djade

feat(recherche): clamp de l'autocomplete dans la hauteur disponible
  webapp/e2e_tests/search.spec.ts
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
  webapp/static/to_compile/js/helpers.ts
  webapp/static/to_compile/tests/helpers.test.ts
  webapp/templates/ui/forms/widgets/autocomplete/results.html
Due: prettier

fix(recherche): autocomplete colle à la largeur du widget visible et marge plus large
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

fix(recherche): autocomplete top s'aligne sous la box visible, pas sous l'input
  webapp/static/to_compile/controllers/shared/next_autocomplete_controller.ts
Due: prettier

Adaptation pour Airflow v3 (#2832)
  data-platform/dags/.env.template
  data-platform/dags/sources/dags/source_generic.py
  data-platform/uv.lock
  infrastructure/environments/preprod/airflow_containers/terragrunt.hcl
  infrastructure/environments/preprod/database/.terraform.lock.hcl
  infrastructure/modules/airflow_containers/airflow-scheduler.tf
  infrastructure/modules/airflow_containers/airflow-webserver.tf
Due: ruff, ruff-format, djade

deploy: a847bf02a0bdbbf69f6d2f7633fed6102d8a3d38
  .doctrees/environment.pickle
  _downloads/95c1cc2a3cf369594f0f2533889e0ba5/.env.template
Due: none

Adaptation de github CD à la version v1 du CLI scw
  .github/workflows/_scaleway-container-deploy.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  djade: any of: \.py$
  prettier: any of: \.(js|ts|css|md)$
